<script language="javascript" src="<{$config.weburl}>/script/jquery.flexslider-min.js"></script>
<!-- 内容开始 -->
<div class="buyer-shop">
    <!--banner start-->
    <div class="pos_re newclear">
        <script src='<{$config.weburl}>/api/ad.php?id=1&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
    </div>
    <!--banner end-->
    <!-- 承诺开始 -->
    <div class="w promise">
        <ul class="clear">
            <li><span class="icon1">海外优选</span></li>
            <li><span class="icon2">正品保证</span></li>
            <li><span class="icon3">跨境直发</span></li>
            <li><span class="icon4">专业配送</span></li>
            <li class="w242"><span class="icon5">售后保障</span></li>
        </ul>
    </div>
    <!-- 承诺结束 -->
    <!-- 热门品牌开始 -->
    <div class="hotclass">
        <div class="brand">
            <{foreach item=list from=$brand key=key}>
            <{if ($key+1)%8 ==0 }>
            <div class="mr0">
                <a href="<{$config.weburl}>/product-list.html&brand=<{$list.name}>">
                    <img src="<{$list.logo}>" alt="<{$list.name}>" />
                </a>
            </div>
            <{else}>
                <div>
                    <a href="<{$config.weburl}>/product-list.html&brand=<{$list.name}>">
                        <img src="<{$list.logo}>" alt="<{$list.name}>" />
                    </a>
                </div>
            <{/if}>
            <{/foreach}>
            <span>热门品牌分类</span>
        </div>
    </div>
    <!-- 热门品牌结束 -->
    <!-- 热门商品开始 -->
    <div class="hotpro">
        <ul class="clear">
            <{foreach item=list from=$cproducts key=key}>
            <li>
                <div>
                    <a href="<{$config.weburl}>/product-detail-<{$list.id}>.html" class="goods_img"><img src="<{$list.pic}>" alt="<{$list.name}>"></a>
                    <p class="goods_price"><var>￥<{$list.price}></var><s>￥<{$list.market_price}></s></p>
                    <p class="goods_text">
                        <img src="<{$config.weburl}>/product-detail-<{$list.id}>.html">
                        <a href="<{$config.weburl}>/product-detail-<{$list.id}>.html" title="<{$list.name}>"><{$list.name}></a>
                    </p>
                    <p class="goods_option clear"><a class="fl" href="#">0</a><a class="fr" href="#">加入购物车</a></p>
                </div>
                <i></i>
            </li>
            <{/foreach}>
        </ul>
        <span>热卖推荐</span>
    </div>
    <!-- 热门商品结束 -->
    <!-- 广告位开始 -->
    <div class="ad">
        <script src='<{$config.weburl}>/api/ad.php?id=49'></script>
    </div>
    <!-- 广告位结束 -->
    <!-- 纸尿裤专区开始 -->
    <{foreach item=list from=$products key=key}>
    <div class="section">
        <div class="title znk"><{$catids.$key.cat}><span><a href="<{$config.weburl}>/product-list-<{$key}>.html">查看分类</a></span></div>
        <ul class="clear">
            <{foreach item=lists from=$list}>
            <li>
                <div>
                    <a href="<{$config.weburl}>/product-detail-<{$lists.id}>.html" class="goods_img"><img src="<{$lists.pic}>" alt="<{$lists.name}>"></a>
                    <p class="goods_price"><var>￥<{$lists.price}></var><s>￥<{$lists.market_price}></s></p>
                    <p class="goods_text">
                        <img src="<{$lists.img}>">
                        <a href="<{$config.weburl}>/product-detail-<{$lists.id}>.html" title="<{$lists.name}>"><{$lists.name}></a>
                    </p>
                    <p class="goods_option clear">
                        <a class="fl" href="<{$config.weburl}>/product-detail-<{$lists.id}>.html"><{if ($lists.nums)>0}><{$lists.nums}><{else}>0<{/if}></a>
                        <a class="fr" href="<{$config.weburl}>/product-detail-<{$lists.id}>.html">加入购物车</a>
                    </p>
                </div>
                <i></i>
            </li>
            <{/foreach}>
        </ul>
    </div>
    <{/foreach}>
</div>
<!-- 内容结束 -->
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $(".flexslider").flexslider({slideshowSpeed: 4000,animationSpeed: 400,touch: true,pauseOnHover:true});
    });
    // 补全品牌
    appendDiv();
    function appendDiv(){
        var a = 8-($(".brand div").length%8);
        var b="";
        for(var i= 0; i< a;i++){
            b = b + "<div></div>"
        }
        $(".brand span").before(b);
        $(".brand div:last").addClass("mr0");
    }
</script>