<div class="consult-bd">
	<ul>
		<{foreach item = list from = $re.list}>
		<li class="clear">
			<div class="buyer">
				<img width="40" height="40" src="<{$list.logo}>">
				<p><{$list.user}></p>
				<p><{$list.question_time|date_format}></p>
			</div>
			<dl>
				<dt>问:<{$list.question}></dt>
				<dd>答:<{$list.answer}></dd>
			</dl>
		</li>
		<{foreachelse}>
		<li class="no-result">购买之前，如有问题，请提问</a></li>
		<{/foreach}>
	</ul>
	<div class="pages"><{$re.page}></div>
</div>
<script type="text/javascript">
$(".pages a").click(function(){
	$("body,html").animate({scrollTop:$(".inner").offset().top});
	$('#consult').load($(this).attr("href"));
	return false;
});
</script>