<!-- <p>商品与描述相符<{$score.a|number_format:1}>分</p> -->
<!-- <div class="links"><a target="_blank" href="shop.php?uid=<{$smarty.get.uid}>&action=credit&m=shop"><i></i>店铺评价</a></div> -->
<div class="filter">
	<ul class="clear">
    	<li><input type="radio" name="reviews-type" <{if !$smarty.get.catid}> checked="checked"<{/if}> value="0" />全部</li>
    	<li><input type="radio" name="reviews-type" <{if $smarty.get.catid == 3}> checked="checked"<{/if}>value="3" />好评</li>
    	<li><input type="radio" name="reviews-type" <{if $smarty.get.catid == 2}> checked="checked"<{/if}>value="2" />中评</li>
    	<li><input type="radio" name="reviews-type" <{if $smarty.get.catid == 1}> checked="checked"<{/if}>value="1" />差评</li>
	</ul>
</div>
<div class="reviews-bd">
    <ul>
        <{foreach item = list from = $re.list}>
        <li class="clear">
            <div class="buyer">
                <img width="40" height="40" src="<{$list.logo}>">
                <p><{$list.user}></p>
                <img src="image/points/<{$list.buyerpoints}>" />
            </div>
            <dl>
                <dt><{$list.con}></dt>
                <dd><{$list.uptime}></dd>
            </dl>
        </li>
        <{foreachelse}>
    	<li class="no-result">没有找到结果</li>
        <{/foreach}>
    </ul>
    <div class="pages"><{$re.page}></div>
</div>
<script type="text/javascript">
$(".pages a").click(function(){
	$("body,html").animate({scrollTop:$(".inner").offset().top});
	$('#comment').load($(this).attr("href"));
	return false;
});
$(".filter input").click(function(){
	$('#comment').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=reviews&catid='+$(this).val());
})
</script>