<script src="<{$config.weburl}>/script/jqzoom.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/mbox.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" href="<{$config.weburl}>/script/layer/skin/layer.ext.css" id="layui_layer_skinlayerextcss">
<!--商品详情start-->
<div class="pro_detail clear">
<!-- 商品信息开始 -->
    <div class="item_info clear">
      <div class="head">蚂蚁首页><{$de.name}></div>
      <!--图片放大start-->
      <div class="gallery">
        <div>
          <a href="#"><img src="https://gd1.alicdn.com/bao/uploaded/i6/TB1yfVwJVXXXXbdXFXXYXGcGpXX_M2.SS2" class="jqzoom"/></a>
        </div>
        <ul class="clear">
          <li class="selected"><img src="https://gd1.alicdn.com/bao/uploaded/i6/TB1yfVwJVXXXXbdXFXXYXGcGpXX_M2.SS2"></li>
          <li><img src="https://gd1.alicdn.com/imgextra/i1/380101244/TB2YclEoVXXXXXCXFXXXXXXXXXX_!!380101244.jpg" ></li>
          <li><img src="https://gd3.alicdn.com/imgextra/i3/380101244/TB2J7duoVXXXXagXFXXXXXXXXXX_!!380101244.jpg" ></li>
          <li><img src="https://gd4.alicdn.com/imgextra/i4/380101244/TB2RW5ooVXXXXXmXXXXXXXXXXXX_!!380101244.jpg" ></li>
          <li class="mr0"><img src="https://gd2.alicdn.com/imgextra/i2/380101244/TB2I6kRqVXXXXabXpXXXXXXXXXX_!!380101244.jpg"></li>
        </ul>
        <div class="fixed"></div>
      </div>
      <!--图片放大end-->
      <!-- 商品属性开始 -->
      <div class="property">
        <div class="title">
          <h3><{$de.name}>
            <{if $de.national_info }>
                <span><img src="<{$de.national_info.img}>"><{$de.national_info.title}>品牌 海外直采</span>
            <{/if}>
          </h3>
          <p>美国原装进口，海关监管，保证正品，蚂蚁海淘提供安全保障</p>
        </div>
        <div class="price">
          <p><span>店头价</span><i>¥</i><em id="price"><{$de.price|number_format:2}></em></p>
        </div>
        <div class="service">
          <p><span>该商品</span>由蚂蚁海淘日本仓发货&nbsp预计5-15天送达</p>
          <p><span class="ls1">关税</span>若在清关中产生的税费和手续费需要收件人缴纳，请知悉</p>
          <p><span class="ls1">服务</span>不支持7天无理由退货，仅支持物流中损坏的物品</p>
        </div>
        <form action="<{$config.weburl}>/?m=product&s=<{if $de.is_virtual}>confirm_virtual_order<{else}>confirm_order<{/if}><{if $smarty.get.shop_id}>&dist_user_id=<{$smarty.get.shop_id}><{/if}>" method="post">
            <input name="dist_user_id" type="hidden" value="<{$smarty.get.shop_id}>" />
            <input name="id" type="hidden" value="<{$de.id}>" />
            <input name="sid" id="sid" type="hidden" value="0" />
            <{if $de.is_virtual}>
            <input name="is_virtual" type="hidden" value="1" />
            <{if $de.discounts}>
            <input name="discounts" type="hidden" value="<{$de.discounts}>" />
            <{/if}>
            <{/if}>
            <!-- <p class="categorys"><span class="ls1">规格</span>
            <a href="">6~12月</a><a href="">12~24月</a><a href="">一段奶粉</a>
            </p> -->
            <{if $de.rest==0}>
            <{if $de.stock > 0 }>
            <p class="stock"><span class="ls1">数量</span>
            <a href="javascript:void(0);" id="low_num">-</a><input onkeyup="check_nums();" size="3" name="nums" id="nums" type="text" value="1"><a href="javascript:void(0);" id="add_num">+</a>件（库存 <span id="stock">99</span> 件）
            </p>
            <{/if}>
            <{/if}>
            <div class="btn-choose">
                <a href="" class="btn-buy"></a>
                <a href="" class="add-cart"></a>  
            </div>
        </form>
        <div id="cart_show"></div>
        <ul class="social clear">
          <li><a href="javascript:collect_goods('<{$de.id}>');" class="fav">收藏商品</a></li>
          <li><a href="javascript:distribute_goods('<{$de.id}>');" class="fx">立即分销赚佣金</a></li>
          <li><a href="#" class="share">分享</a>
            <div class="bshare-custom icon-medium">
            <div class="bsPromo bsPromo2"></div>
            <a title="分享到微信" class="bshare-weixin" id="shopcode" href="javascript:void(0);"></a>
            <a title="分享到QQ空间" onclick="shareTo('qzone')" href="javascript:void(0);" class="bshare-qzone"></a>
            <a title="分享到新浪微博" onclick="shareTo('sinaminiblog')" href="javascript:void(0);" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" onclick="shareTo('renren')" href="javascript:void(0);" class="bshare-renren"></a>
            <a title="分享到腾讯微博" onclick="shareTo('qqmb')" href="javascript:void(0);" class="bshare-qqmb"></a>
            <a title="分享到豆瓣" onclick="shareTo('douban')" href="javascript:void(0);" class="bshare-douban"></a>
            </div>
          </li>
        </ul>
      </div>
      <!-- 商品属性结束 -->
  </div>
<!-- 商品信息结束 -->
<!-- 流程图开始 -->
<div class="flow"><img src="/templates/user_templates_default/img/haitao_icon13.png"></div>
<!-- 流程图结束 -->
<!-- 下半部分开始 -->
<div class="inner clear">
  <!-- 下左部分开始 -->
    <div class="inner-left">
        <!-- 店铺信息开始 -->
        <div class="shop-info">
            <a target="_blank" href="shop.php?uid=<{$smarty.get.uid}>">食品保健全球购</a>
            <div class="shop-rate clear">
                <p>店铺动态评分&nbsp<img src="/templates/user_templates_default/img/haitao_icon06.png"></p>
                <dl>
                    <dt>描述</dt>
                    <dd>5.0<span></span></dd>
                </dl>
                <dl>
                    <dt>物流</dt>
                    <dd>5.0<span></span></dd>
                </dl>
                <dl>
                    <dt>服务</dt>
                    <dd>5.0<span></span></dd>
                </dl>
            </div>
        </div>
        <!-- 店铺信息结束 -->
        <!-- 服务保障开始 -->
        <div class="promise">
            <h3>服务保障</h3>
            <span class="zp">正品保证</span>
            <span class="zc">店头直采</span>
        </div>
        <!-- 服务保障结束 -->
        <!-- 可能喜欢开始 -->
        <div class="like">
            <h3>你可能喜欢</h3>
            <div class="like-p">
                <a href="" class="p-img"><img src="https://www.mayihaitao.com/uploadfile/product/91/2016/05/13/1463131913.jpg_220X220.jpg"></a>
                <p class="p-name"><a href="">德国本土奶粉</a></p>
                <p class="p-price">¥334</p>
                <span>海外直采</span>
            </div>
            <div class="like-p">
                <a href="" class="p-img"><img src="https://www.mayihaitao.com/uploadfile/product/91/2016/05/13/1463131913.jpg_220X220.jpg"></a>
                <p class="p-name"><a href="">德国本土奶粉</a></p>
                <p class="p-price">¥334</p>
                <span>海外直采</span>
            </div>
        </div>
        <!-- 可能喜欢结束 -->
    </div>
    <!-- 下左部分结束 -->
    <!-- 下右部分开始 -->
    <div class="inner-right">
        <ul class="banner clear">
        <li class="cur">商品详细</li>
        <li>累计评论</li>
        <li>成交记录</li>
        <li>商品问答</li>
        </ul>
        <div class="content">
            <div class="details">
                <div class="attributes">
                    <p>商品参数</p>
                    <ul class="clear">
                        <li>商品名称：德国本土奶粉</li>
                        <li>商品名称：德国本土奶粉</li>
                        <li>商品名称：德国本土奶粉</li>
                        <li>商品名称：德国本土奶粉</li>
                        <li>商品名称：德国本土奶粉</li>
                    </ul>
                </div>
                <div class="desc">
                    <p>商品详情</p>
                    <{$de.detail}>
                </div>
                <div class="notice">
                    <p>消费者告知书</p>
                    <img src="/templates/user_templates_default/img/haitao_icon14.png">
                </div>
                <div class="send-flow">
                    <p>海外直发</p>
                    <img src="/templates/user_templates_default/img/haitao_icon15.png">
                </div>
            </div>
            <div id="comment" class="comment"></div>
            <div id="record" class="record"></div>
            <div id="consult" class="consult"></div>
        </div>
    </div>
</div>
  <!-- 下半部分结束 -->
</div>
<!--商品详情end-->
<script>
// 图片放大
$(".jqzoom").imagezoom();
$(".gallery li").on('mouseenter',function(){
    $(this).addClass("selected").siblings().removeClass("selected");
    $(".jqzoom").attr('src',$(this).find("img").attr("src"));
});
// 商品数量
$("#low_num").click(function(){
    var num=$('#nums').val()*1;
    if(num>1)
      $('#nums').val(num-1);
    check_nums()
});
$("#add_num").click(function(){
    var num=$('#nums').val()*1;
    if(num<$('#stock').html())
        $('#nums').val(num+1);
    check_nums()
});
function check_nums()
{
    var v=document.getElementById('nums').value*1;
    var stock = $('#stock').html()*1;
    var maxbuy = "<{$de.maxbuy}>"

    if(maxbuy > 0 && maxbuy<stock)
    {
        stock = maxbuy;
    }
    if(!v)
        document.getElementById('nums').value=1;
    if(v>stock)
    {
        document.getElementById('nums').value=stock;
        return false;
    }
}
// 加入购物车
$(".add-cart").click(function(event) {
    if ('<{$shop_user}>' == '<{$smarty.cookies.USER}>') {
        layer.msg("不能购买自己店铺的商品！",{icon:0});
        return;
    }
    var price = $('#price').html();
    var num = $('#nums').val();
    $("#cart_num").text(parseInt($('#nums').val())+parseInt($('#cart_num').text()));
    var sid = $('#sid').val();
    var pid = '<{$smarty.get.id}>';
    var dist_user_id = '<{$smarty.get.shop_id}>';
    $('#cart_show').load('<{$config.weburl}>/?m=product&s=cart&add_cart=1&price=' + price + '&nums=' + num + '&id=' + pid + '&sid=' + sid + '&dist_user_id=' + dist_user_id);
    $('#cart_show').css("display","none");
    layer.msg('添加成功！');
    return false;
});
// 购买
$(".btn-buy").click(function(){
    $("#form").submit();
});
// 分享
function shareTo(site){
  var e = encodeURIComponent, s = screen, d = document, wd = 640, hg = 480, u = d.location;
  var uuid = '';
  var img =$(".jqzoom").attr("src");
  var ctxt = $(".summary .title>p").text();
  var url = "//api.bshare.cn/share/"+site+"?url="+e("https://www.mayihaitao.com/?m=product&s=detail&id=<{$de.id}>")+"&title="+e(d.title)+"&publisherUuid="+uuid+"&summary="+ctxt+"&pic="+img;
  window.open(url, 'bshare', ['toolbar=0,status=0,resizable=1,width='+ wd +',height='+ hg +',left='+ (s.width - wd) / 2+ ',top='+ (s.height - hg) / 2]);
}
// 分销
function distribute_goods(id){
    var url = '<{$config.weburl}>/module/distribution/add.php';
    var uname='<{$smarty.cookies.USER}>';
    if(uname=='')
    {
        layer.msg('请先登录！');
        return false;
    }
    var pars = 'pid='+id+'&uname='+uname;
    $.post(url, pars,showResponse);
    function showResponse(originalRequest)
    {
        if(originalRequest>1)
            layer.msg('成功添加至我的分销!');
        else if (originalRequest>0)
            layer.msg('该内容已经在你的分销中心，请勿重复添加！');
        else
            layer.msg('参数传递错误，无法完成操作!');
    }
}
// 收藏商品
function collect_goods(id){
    var url = '<{$config.weburl}>/module/sns/ajax_update.php';
    var uname = '<{$smarty.cookies.USER}>';
    if(uname=='')
    {
        layer.msg('请先登录！');
        return false;
    }
    var pars = 'pid='+id+'&uname='+uname;
    $.post(url, pars,showResponse);
    function showResponse(data)
    {
        var data = JSON.parse(data);
        if(data.statu == 1){
            $(".fav").html('取消收藏');
            layer.msg('成功添加至我的收藏夹!');
        }else{
            $(".fav").html('收藏商品');
            layer.msg('成功取消商品收藏！');
        }
    }
}
// 微信二维码
$("#shopcode").bind("click", function (e) {
    var e = e || window.event;
    var curEl = e.srcElement || e.target;
    mbox(curEl.id);
});
// 切换选项卡
$(".banner li").on("click",function(){
  var _this=$(this).index();
  $(this).addClass("cur").siblings().removeClass("cur");
  $(".content>div").eq(_this).show().siblings().hide();

});
$('#comment').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=reviews');
$('#record').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=deal-record');
$('#consult').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=consult');
// 滚动
$(window.document).scroll(function () {
    var scrolltop = $(document).scrollTop();
    if (scrolltop>700) {
    };
});
</script>