<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{if $com.shop_title!=''}><{$com.shop_title}> - <{$config.company}><{else}><{$title}> - <{$config.company}><{/if}></title>
<meta name="description" content="<{if $com.shop_keywords!=''}><{$com.shop_keywords}><{else}><{$keyword}><{/if}>">
<meta name="keywords" content="<{if $com.shop_description!=''}><{$com.shop_description}><{else}><{$de.description|truncate:100:"...":true}><{/if}>">
<link rel="stylesheet" type="text/css" href="<{$config.weburl}>/templates/user_templates_default/space.css"/>
<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/page.css" rel="stylesheet" type="text/css" />
<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<script language="javascript" src="<{$config.weburl}>/templates/user_templates_default/jquery.Sonline.js"></script>
<script language="javascript" src="<{$config.weburl}>/script/jquery.flexslider-min.js"></script>
<script type="text/javascript">
function getfavshop()
{	
	var url = '<{$config.weburl}>/module/sns/ajax_update.php';
	
	var uname='<{$smarty.cookies.USER}>';
	if(uname=='')
	{
		alert('<{$lang.no_logo}>');
		window.location.href='<{$config.weburl}>/login.php?forward=shop.php?uid=<{$smarty.get.uid}>';
		return false;
	}
	var shopid='<{$smarty.get.uid}>';
	var shopname="<{$com.company|regex_replace:"/[\r\t\n]/":""}>";
	var pars = 'uname='+uname+'&shopid='+shopid+'&shopname='+shopname;
	$.post(url, pars,showResponse);
	function showResponse(originalRequest)
	{
		if(originalRequest>1)
			alert('<{$lang.fav_ok}>');
		else if (originalRequest>0)
			alert('<{$lang.fav_isbing}>');
		else
			alert('<{$lang.error}>');
	 }
	
}
$(function(){
	$("body").Sonline({
		<{if !$cs}>
		DefaultsOpen:false,
		<{/if}>
		Qqlist:"<{$cs}>" //多个QQ用','隔开，QQ和客服名用'|'隔开
	});
})	
</script>
</head>
<body>

<div class="site-nav">
    <div class="w fn-clear">
        <ul class="fn-left">
            <li class="nav">
                    <span class="icon4"></span>
                    <div class="nav-fore1"><a href="<{$config.weburl}>/?temp=wap">手机蚂蚁</a></div>
            </li>
            <li class="nav">
                <span class="icon7"></span>
                <div class="nav-fore1">400-010-1977</div>
            </li>
        </ul>
        <ul class="fn-right">
            <li class="nav<{if $smarty.cookies.USER}> drop-down<{/if}> user">
                <script src="<{$config.weburl}>/login_statu.php?m=index"></script>
            </li>
            <{if $current != 'index'}>
            <li class="nav">
                <div class="nav-fore1">
                    <a href="<{$config.weburl}>"><{$config.company}>首页</a>
                </div>
            </li>
            <{/if}>
            <li class="nav drop-down">
                <div class="nav-fore1">
                    <a href="main.php?cg_u_type=1">我的商城</a>
                    <i><em></em></i>
                </div>
                <div class="nav-fore2">
                    <ul>
                        <li><a href="main.php?m=product&s=admin_buyorder&cg_u_type=1">已买到的商品</a></li>
                        <li><a href="main.php?m=product&s=admin_footprint&cg_u_type=1">我的足迹</a></li>
                        <li><a href="<{$config.pay_url}>"><{$config.pay_name}></a></li>
                    </ul>
                </div>
            </li>
            <li class="site-nav-pipe">|</li>
            <li class="nav drop-down">
                <div class="nav-fore1">
                    <{if $cominfo.shop_type eq 1}>
                    <a href="<{$config.weburl}>/main.php?m=shop&s=admin_step&shop_type=2&cg_u_type=2">卖家中心</a>
                    <{else}>
                    <a href="<{$config.weburl}>/main.php?cg_u_type=2">卖家中心</a>
                    <{/if}>
                    <i><em></em></i>
                </div>
                <div class="nav-fore2">
                    <ul>
                        <li><a href="main.php?m=shop&s=admin_step&cg_u_type=2">免费开店</a></li>
                        <li><a href="main.php?m=product&s=admin_sellorder&cg_u_type=2">已卖出的商品</a></li>
                        <li><a href="main.php?m=product&s=admin_product_list&cg_u_type=2">出售中的商品</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav collect drop-down">
                <div class="nav-fore1">
                    <a href="main.php?m=sns&s=admin_share_product&cg_u_type=1">
                    <span>收藏夹</span>
                    </a>
                    <i><em></em></i>
                </div>
                <div class="nav-fore2">
                    <ul>
                        <li><a href="main.php?m=sns&s=admin_share_product&cg_u_type=1">收藏的商品</a></li>
                        <li><a href="main.php?m=sns&s=admin_share_shop&cg_u_type=1">收藏的店铺</a></li>
                    </ul>
                </div>
            </li>
            
        </ul>
    </div>
</div>
<script type="text/javascript">
$('.drop-down').hover(function(){
    $(this).addClass("hover");                   
    if($(this).hasClass("cart"))
    {
        $('.cart .nav-fore2').load('<{$config.weburl}>/?m=product&s=cart_number&act=list');
    }
},function(){
    $(this).removeClass("hover");   
});
$(".fn-left li:first").bind("mouseenter mouseleave",function(){
       $(".fn-left .sjmy").toggleClass("fn-hide");
    });
</script>
    <div class="newheader">
        <!--顶部广告位 start-->
        <div class="m_top_ban"></div>
        <!--顶部广告位 end-->
        <!--head start-->
        <div class="w head newclear">
            <a href="<{$config.weburl}>" class="icon_logo ml10 mid"></a>
            <ul class="m_commitment ml60 newclear mid">
                <li><i class="icon_commitment_01"></i><em class="mid">品质<br>保证</em></li>
                <li><i class="icon_commitment_02"></i><em class="mid">全球<br>直供</em></li>
                <li><i class="icon_commitment_03"></i><em class="mid">无忧<br>售后</em></li>
            </ul>
            <div class="m_t_search ml40 mid">
                <form action="<{$config.weburl}>" method="get" accept-charset="utf-8">
                    <input type="hidden" value="product" name="m" id="m">
                    <input type="hidden" value="list" name="s" id="s">
                    <input type="text" id="key" name="key" autocomplete="off" placeholder="搜索您需要的商品" onkeyup="get_search_word(this.value);" value="<{$smarty.get.key}>"><input type="submit" name="s_submit" value="搜索">
                </form>
            </div>
            <div class="m_shop_cart mid pos_re">
                <div class="cart_box"><a href="<{$config.weburl}>?m=product&s=cart"><span class="mid">我的购物车</span><i class="icon_cart"></i><span id="cart_num" ><script  src='<{$config.weburl}>/?m=product&s=cart_number'></script></span></a></div>
                <div class="cart_list">
                </div>
            </div>
        </div>
        <!--head end-->
        <!--导航 start-->
        <div class="m_nav">
            <div class="w pos_re">
                <!--menu start-->
                <dl class="m_menu">
                    <dt><i class="icon_menu"></i><span class="mid">全部商品分类</span></dt>
                    <dd class="newclear hidden">
                        <div class="m_goods_list">
                            <ul <{if $smarty.get.m=='product' && $smarty.get.s=='index'}><{/if}>>
                                <{insert name="label" type="cat" temp="pro_cat_shop_left"}>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <!--menu end-->
                <!--nav start-->
                <ul class="nav ml20 newclear">
                    <{foreach item=list key=num from=$menus name=nav}>
                    <li <{if $list.identifier==$current}>class="current"<{/if}>>
                    <a href="<{if $list.url|truncate:4:''=='http'}><{$list.url}><{else}><{$config.weburl}>/<{$list.url}><{/if}>"><{$list.name}></a>
                    <{if $list.scat}>
                    <div class="i-items">
                        <{foreach item=slist from=$list.scat}>
                        <a href="<{if $slist.url|truncate:4:''=='http'}><{$slist.url}><{else}><{$config.weburl}>/<{$slist.url}><{/if}>"><{$slist.name}></a>
                        <{/foreach}>
                    </div>
                    <{/if}>
                    </li>
                    <{/foreach}>
                </ul>
                <!--nav end-->
                <div class="m_gz">
                    <i class="icon_wx_gray"></i><span class="mid">微信蚂蚁海淘</span>
                    <div class="sjmy fn-hide">
                        <img src="../../../image/default/code.jpg" />
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <!--导航 end-->
    </div>
    <!--header end-->
<script>
$('.menu-items li').hover(function(){                    
    $(this).addClass("hover");
},function(){
    $(this).removeClass("hover");   
});
function get_search_word(k)
{
    if(k!='')
    {
        var url = '<{$config.weburl}>/ajax_back_end.php';
        var sj = Math.random();
        var pars = 'shuiji=' + sj+'&search_flag=1&key='+k;
        $.post(url, pars,showResponse);
    }

    function showResponse(originalRequest)
    {
        if(originalRequest)
        {
            $('#key_select').show();
            //$('#key_select').css("display",'block');
            $('#key_select').html(originalRequest);
        }
        else
            $('#key_select').hide();
    }

}
function select_word(v)
{
    $('#key').val(v);
    $('#key_select').hide();
}
$(".m_menu").bind("mouseenter mouseleave",function(){
    $(".m_menu dd").toggleClass("hidden");
});
</script>

<!-- <div class="site-nav">
	<div class="w">
    	<ul class="left">
			<li><script src="<{$config.weburl}>/login_statu.php"></script></li>
        </ul>
    	<ul class="right">
			<li class="nbr"><a href="<{$config.weburl}>/main.php?m=message&s=admin_message_list_inbox" class="note"><{$lang.news_station}></a></li>
			<li><a href="<{$config.weburl}>/main.php?m=sns&s=admin_share_product">收藏夹</a></li>
			<li><a href="<{$config.weburl}>/?m=product&s=cart" class="shopping">购物车<span><script src="<{$config.weburl}>/?m=product&s=cart_number"></script></span>件</a></li>
            <li><a href="<{$config.weburl}>/main.php?cg_u_type=2">卖家中心</a></li>
            <li><a href="<{$config.weburl}>/main.php?cg_u_type=1">我的商城</a></li>
            <li><a href="<{$config.weburl}>" class="index"><{$config.company}>首页</a></li>
        </ul>
    </div>
</div>


<div class="header">
	<div class="w">
        <div class="logo">
        <a href="<{$config.weburl}>/shop.php?uid=<{$smarty.get.uid}>">
       
        <img width="180" height="40" src="<{if $com.shop_logo}><{$com.shop_logo}><{else}><{if $config.logo}><{$config.logo}><{else}><{$config.weburl}>/image/logo.gif<{/if}><{/if}>" >
        </a>
        </div>
         
         <div class="shop_info">
        	<div class="shop_info_simple">
            	<p><a class="shop_name" href="#"><{$com.company}></a> <{if $chat_open_flag}>&nbsp; <a href="javascript:void(0);" onclick="return chat(<{$com.shop_id}>);"><span class="iconfont" style="color: #FF6600;font-size: 16px;">&#xe635;</span></a><{/if}></p>
                <div class="shop_credit">
                    <span><{if $com.sellerpointsimg}><img alt="<{$com.sellerpoints}>" title="<{$com.sellerpoints}>" align="absmiddle" src="<{$config.weburl}>/image/points/<{$com.sellerpointsimg}>"><{else}><{$com.sellerpoints}><{/if}></span>
                </div>
            </div>
            <div class="shop_info_details">
            	<dl style="width:190px">
                	<dt>描述相符：</dt>
                    <dd><span class="star"><em style=" width:<{$score.aw}>%"><{$score.a|number_format:1}></em></span><span class="num"><{$score.a|number_format:1}>分</span></dd>
                    <dt>服务态度：</dt>
                    <dd><span class="star"><em style=" width:<{$score.bw}>%"><{$score.b|number_format:1}></em></span><span class="num"><{$score.b|number_format:1}>分</span></dd>
                    <dt>发货速度：</dt>
                    <dd><span class="star"><em style=" width:<{$score.cw}>%"><{$score.c|number_format:1}></em></span><span class="num"><{$score.c|number_format:1}>分</span></dd>
                </dl>
                <dl style="width:160px">
                	<{if $com.name}>
                    <dt>店主：</dt>
                    <dd><{$com.name}></dd>
                    <{/if}>
                    <dt>创店时间：</dt>
                    <dd><{$com.regtime|strip_tags|truncate:10:""}></dd>
				</dl>
              	<dl style="width:150px">
					<dt>商品数量：</dt>
                    <dd><{$com.count}></dd>
                   
                </dl>
                <dl style="width:320px">
                    <dt>所在地区：</dt>
                    <dd><{$com.area}></dd>
                </dl>
            </div>
        </div>
        
		<div class="shop-search">
            <div>
            <form action="<{$config.weburl}>/shop.php" method="get" id="search_form">
                <input type="text" autocomplete="off" onkeyup="get_search_word(this.value);" value="<{$smarty.get.keyword}>" id="keyword"  name="keyword" class="search_input">
                <input type="submit" value="搜本店" class="search_btn">
                <input type="submit" value="搜平台" class="search_btn_platform">
                <input id="search" type="hidden" name="search" value="search" />
                <input id="uid" name="uid" type="hidden" value="<{$smarty.get.uid}>" />
                <input id="action" name="action" type="hidden" value="product_list" />
                <input id="s" name="s" type="hidden" value="list" />
                <input id="m" name="m" type="hidden" value="product" />

            </form>
            </div>
            <div id="key_select"></div>
		</div>
    </div>
</div>

<div style="background:url(<{if $com.shop_banner}><{$com.shop_banner}><{else}><{$config.weburl}>/templates/user_templates_default/img/ad.gif<{/if}>) center top no-repeat;">
	<div id="nav">
		<div class="banner"></div>
		<div class="nav_bg">
            <div class="w">
            <ul class="clearfix">
                <a href="javascript:getfavshop();" class="collection"></a>
                <{foreach item=list from=$nav_menu}>
                <{if $list.menu_show=='1'}>
                    <{if $list.menu_link!=''}>
                        <li class="<{if $list.menu_link==$smarty.get.action}>active<{else}>normal<{/if}>"  ><a href="shop.php?uid=<{$com.userid}>&action=<{$list.menu_link}>&m=<{$list.module}>"><span><{$list.menu_name}></span></a></li>
                        <{else}>
                        <li class="<{if $smarty.get.action==''}>active<{else}>normal<{/if}>" ><a href="<{geturl user=$com.number uid=$com.userid com=$com.company}>"><span><{$list.menu_name}></span></a></li>
                    <{/if}>
                <{/if}>
                <{/foreach}>
                <{foreach item=list key=key from=$shop_nav}>
                	<{if $key < 4}>
                    <li class="<{if $smarty.get.action=='public' and $smarty.get.id==$list.id }>active<{else}>normal<{/if}>"  ><a <{if $list.new_open==1}>target="_blank"<{/if}> href="<{if $list.url}><{$list.url}><{else}>shop.php?uid=<{$com.userid}>&action=public&m=shop&id=<{$list.id}><{/if}>"><span><{$list.title}></span></a></li>
                    <{/if}>
                <{/foreach}>
            </ul>
            </div>
        </div>
    </div>
</div> -->

<div class="w">
    <{if $smarty.get.m=='product' and $smarty.get.s=='detail'}>
    <{$output}>
    <{else}>
    <{if !$smarty.get.action}>
    <div class="flexslider clearfix">
        <ul class="slides">
            <{if $com.slide.0}>
            <{foreach item=list key=num from=$com.slide}>
            <li style="width: 100%; float: left; margin-right: -100%; display: <{if $num==0}>list-item<{else}>none<{/if}>;"><{if $com.slideurl.$num}><a target="_blank" href="<{$com.slideurl.$num}>"><img src="<{$list}>"></a><{else}><img src="<{$list}>"><{/if}></li>
            <{/foreach}>  
            <{else}> 
            <li style="width: 100%; float: left; margin-right: -100%; display: list-item;"> <img src="<{$config.weburl}>/templates/user_templates_default/img/f01.jpg"> </li>
            <li style="width: 100%; float: left; margin-right: -100%; display: none;"> <img src="<{$config.weburl}>/templates/user_templates_default/img/f02.jpg"> </li>
            <li style="width: 100%; float: left; margin-right: -100%; display: none;"> <img src="<{$config.weburl}>/templates/user_templates_default/img/f03.jpg"> </li>
            <li style="width: 100%; float: left; margin-right: -100%; display: none;"> <img src="<{$config.weburl}>/templates/user_templates_default/img/f04.jpg"> </li>
           <{/if}>
        </ul>
    </div>
    <script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider();
	}); 
	</script> 
    <{/if}>
    <div id="left">
        <div class="user clearfix">
            <div class="user_photo">
                <h2><{$com.company}> <{if $chat_open_flag}>&nbsp; <a href="javascript:void(0);" onclick="return chat(<{$com.shop_id}>);"><span class="iconfont" style="color: #FF6600;font-size: 18px;">&#xe635;</span></a><{/if}></h2>
                <dl>
                    <dt>
                        <{if $com.logo}>
                            <img width="65" height="60" src="<{$com.logo}>">
                        <{else}>
                            <img src="image/default/nopic.gif" width="65" height="60" />
                        <{/if}>
                    </dt>
                    <dd><b><a target="_blank" href="home.php?uid=<{$com.userid}>"><{$com.name}></a></b></dd>
					<dd><img title="<{$lang.credit_of_seller}><{$com.sellerpoints}>" align="absmiddle" src="<{$config.weburl}>/image/points/<{$com.sellerpointsimg}>"></dd>
                    <dd>好评率：<{if $com.favorablerate=='100'}><{$com.favorablerate|number_format:0}><{else}><{$com.favorablerate|number_format:2}><{/if}>%</dd>
                </dl> 
            </div>
            <div class="clear"></div>
            <div class="user_data">
                <h2>动态评价</h2>
                <p>描述相符：<span class="star"><em style=" width:<{$score.aw}>%"><{$score.a|number_format:1}></em></span><span class="num"><{$score.a|number_format:1}>分</span></p>
                <p>服务态度：<span class="star"><em style=" width:<{$score.bw}>%"><{$score.b|number_format:1}></em></span><span class="num"><{$score.b|number_format:1}>分</span></p>
                <p>发货速度：<span class="star"><em style=" width:<{$score.cw}>%"><{$score.c|number_format:1}></em></span><span class="num"><{$score.c|number_format:1}>分</span></p>
                <p>物流速度：<span class="star"><em style=" width:<{$score.dw}>%"><{$score.d|number_format:1}></em></span><span class="num"><{$score.d|number_format:1}>分</span></p>			
				<h2>店铺信息</h2>
                <p>认证信息：
                <img src="image/default/certification<{if $com.shop_auth!='1'}>_no<{/if}>.gif" />
                <img src="image/default/certautonym<{if $com.shopkeeper_auth!='1'}>_no<{/if}>.gif" />
                </p>
                <p>保证金：<{$com.earnest}></p>
                <p>商品数量：<{$com.count}></p>
                <p>创店时间：<{$com.regtime|strip_tags|truncate:10:""}></p>
            </div>
            <div class="shop_other">
                <ul>
                    <li class="info_qrcode">
                        <a href="javascript:void(0)">
                        <span>店铺二维码</span><b></b>
                        <!--<p class="qrcode"><img src="<{$config.weburl}>/uploadfile/phpqrcode/<{$smarty.get.uid}>.jpg"></p>-->
                        <p class="qrcode"><img src="api/share_qrcode.php?type=shop&shop_id=<{$smarty.get.uid}>&rand=<{math equation=rand(1,10000)}>"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="i-search">
            <h2>店内搜索</h2>
            <div class="con">
                <form method="get" action="shop.php" name="" id="">
                	<table>
                    	<tr>
                        	<td width="40">商品：</td>
                        	<td><input type="text" name="keyword" value="<{$smarty.get.keyword}>" class="text w112"></td>
                        </tr>
                    	<tr>
                        	<td>价格：</td>
                        	<td>
                            <input type="text" name="price1" value="<{$smarty.get.price1}>" class="text w48">
                            -
                            <input type="text" name="price2" value="<{$smarty.get.price2}>" class="text w48">
                            </td>
                        </tr>
                    	<tr>
                        	<td></td>
                        	<td><input type="submit" value="搜索" class="btn"></td>
                        </tr>
                    </table>
                    <input id="search" type="hidden" value="search" />
                    <input id="uid" name="uid" type="hidden" value="<{$smarty.get.uid}>" />
                    <input id="action" name="action" type="hidden" value="product_list" />
                    <input id="m" name="m" type="hidden" value="product" />
                </form>
            </div>
        </div>
        <{if $custom_cat}>
        <div class="module_common">
            <h2>分类</h2>
            <div class="con">
                <ul class="submenu">
                    <li><a class="block_ico" href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product" title="<{$lang.whole}>">全部</a>
                    </li></li>
                    <{foreach item=list from=$custom_cat}>
                    <li>
                    <a class="<{if $list.con}>none_ico<{else}>block_ico<{/if}>" href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$list.id}>" title="<{$list.name}>"><{$list.name}></a>
                    <{if $list.con}>
                    <ul>
                        <{foreach item=lists from=$list.con}>
                            <li><a href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$lists.id}>" title="<{$lists.name}>"><{$lists.name}></a></li>
                        <{/foreach}>
                    </ul>
                    <{/if}>
                    </li>
                    <{/foreach}>
                </ul>
            </div>
        </div>
        <{/if}>
        <{if count($ulink)>0}>
        <div class="module_common">
            <h2>友情链接</h2>
            <div class="con">
                <div class="con_child">
                    <ul class="submenu">
                        <{foreach item=link from=$ulink}>
                        <li><a target="_blank" class="link_ico" href="<{$link.url}>" title="<{$link.desc}>"><{$link.name}></a></li>
                        <{/foreach}>
                    </ul>
                </div>
            </div>
        </div>
        <{/if}>
    </div>
	<div id="right"><{$output}></div>
    <div class="clear"></div>
	<{/if}>
</div>
<script type="text/javascript">
    $(".block_ico,.none_ico").click(function(e){
        var xx = e.originalEvent.x || e.originalEvent.layerX || 0; 
        var lo = $(this).offset().left

        if($(this).parents("li").find("ul").length > 0)
        {
            if($(this).parents("li").find("ul").is(":visible"))
            {

                $(this).parents("li").find("ul").slideUp()
                $(this).removeClass("none_ico").addClass("block_ico")
            }
            else
            {
                $(this).parents("li").find("ul").slideDown()
                 $(this).removeClass("block_ico").addClass("none_ico")
            }
        }
        
        if(xx*1 - lo*1 < 22)
        {
            return false
        }
    })


    $(".search_btn").mouseover(function(e){
        $('#search_form').attr('action', "<{$config.weburl}>/shop.php");
    })

    $(".search_btn_platform").mouseover(function(e){
        $('#search_form').attr('action', "<{$config.weburl}>/?m=product&s=list");
    })


    function get_search_word(k)
    {
        if(k!='')
        {
            var url = '<{$config.weburl}>/ajax_back_end.php';
            var sj = Math.random();
            var pars = 'shuiji=' + sj+'&search_flag=1&key='+k;
            $.post(url, pars,showResponse);
        }

        function showResponse(originalRequest)
        {
            if(originalRequest)
            {
                $('#key_select').show();
                //$('#key_select').css("display",'block');
                $('#key_select').html(originalRequest);
            }
            else
                $('#key_select').hide();
        }

    }
    function select_word(v)
    {
        $('#keyword').val(v);
        $('#key_select').hide();
    }

</script>

    <div class="newfooter">
        <div class="m_b_commitment">
            <div class="w"><img src="/image/default/b_commitment.png" alt="品质保证 全球直供 优质品牌 售后保障"></div>
        </div>
        <div class="foot">
            <div class="w">
                <i class="icon_b_logo fl"></i>
                <ul class="fl">
                    <{insert name="label" type="ftlink" temp="ftlink_list"}>
                    <li>
                        <span>关注我们</span>
                        <div class="attention">
                            <a href="" title="" class="weibo">
                                <div class="dia-wb fn-hide">
                                    <img src="../../../image/default/Logo1.png" />
                                    <span>新浪微博</span>
                                    <span>mayihaitao_wb</span>
                                    <span class="focus">立即关注</span>
                                    <span class="arr"></span>
                                </div>
                            </a>
                            
                            <a href="" title="" class="weixin">
                                <div class="dia-wx fn-hide">
                                    <img src="../../../image/default/code.jpg" />
                                    <span>微信供公众号</span>
                                    <span>mayihaitao_wx</span>
                                    <span class="arr"></span>
                                </div>
                            </a>
                           
                            <div class="qq">
                                <div class="dia-qq fn-hide">
                                    <p>客服QQ：</p>
                                    <a href=""><img src="../../../image/default/qq2.png" />3033872410</a>
                                    <a href=""><img src="../../../image/default/qq2.png" />3361232531</a>
                                    <a href=""><img src="../../../image/default/qq2.png" />3269255163</a>
                                    <!-- <hr>
                                    <p>官方交流技术群：</p>
                                    <a href=""><img src="../../../image/default/qun.png" />123456</a>
                                    <a href=""><img src="../../../image/default/qun.png" />123456</a> -->
                                    <span class="arr"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="footer">
            <p class="copytight"><{$bt}></p>
        </div>
    </div>
    <!--footer end-->
    <script type="text/javascript">
    $(".weibo").bind("mouseenter mouseleave",function(){
       $(".dia-wb").toggleClass("fn-hide");
    });
    $(".weixin").bind("mouseenter mouseleave",function(){
       $(".dia-wx").toggleClass("fn-hide");
    });
    $(".qq").bind("mouseenter",function(){
       $(".dia-qq").removeClass("fn-hide");
    });
    $(".qq").bind("mouseleave",function(){
        if(!($(".dia-qq").hasClass("fn-hide")))
       $(".dia-qq").addClass("fn-hide");
    });
    $(".m_gz").bind("mouseenter mouseleave",function(){
       $(".m_gz .sjmy").toggleClass("fn-hide");
    });

    $(function(){
        if($("#cart_num").text() > 0){
            $("#cart_num").css("display","inline-block");
        }else{
            $("#cart_num").css("display","none");
        }
    });

</script>
<!-- <div id="footer">
    <p><{$web_con}></p><{$bt}> 
</div> -->
<{$chat_html}>

</body>
</html>
