@charset "utf-8";/* CSS Document */
body{font:12px 'Microsoft Yahei',Arial, Helvetica, sans-serif;background:#fff;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th{padding:0;margin:0;}
h1, h2, h3, h4, h5, h6{font-size:14px;}
em{font-style:normal;}
img{border:0;}
ul, ol{list-style-type:none;}
.clear{clear:both;}
li{list-style-type:none;}
a{color:#666;text-decoration:none;}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.w{width:1212px;margin:auto;}
.left,.fl{float:left;}
.right,.fr{float:right;}
.nbr{border-right:none !important;}
.mr0{margin-right:0px !important;}
.mt20{margin-top:20px;}
.w112{width:112px !important;}
.w48{width:48px !important;}
/*.pl15{padding-left:15px !important;;}*/
.pt0{padding-top:0px !important;;}
.ac{text-align:center !important;}
.red{color:#F00 !important;}
.hidden{display:none;}
.p-img, .p-name, .p-price, .p-market, .p-detail{overflow:hidden;}
.p-name, .p-detail{word-break:break-all;word-wrap:break-word;margin: 5px 0px;}
.p-price{color:#999999;}
.p-price strong, .p-market strong{color:#ff5c5c;font-family:verdana;font-size: 24px;}
/*********Lemons 20150528 字体*******/
@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";font-style:normal;}

/* --------------- */
/*.site-nav{background:#F5F5F5;border-bottom:1px solid #EEE;padding:8px 0;height:16px;line-height:16px;}
.site-nav .left a{margin-right:5px;}
.site-nav .right{width:600px;}
.site-nav .right li{float:right;border-right:1px solid #DDD;padding:0 10px 0 10px}
.site-nav .right span{color:#F00;margin:0 3px;}
.site-nav .shopping{background:url(img/cart.png) 0 -1px no-repeat;padding-left:25px;}
.site-nav .index{color:#FF6600;}*/
/* --------------- */
.header{background-color:#FFFFFF;height:60px;border-bottom:1px solid #EEE;position:relative;z-index:199;}
.logo{border-right:1px solid #EEEEEE;float:left;height:40px;padding:12px 10px 8px 0px;}
.shop_info{border-right:1px solid #EEEEEE;float:left;height:60px;width:250px;z-index:2;position:relative;}
.shop_info_simple{height:40px;padding:10px 0 10px 10px;}
.shop_name{float:left;height:20px;max-width:230px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.shop_credit{float:left;width:130px;}
.shop_info_details{background:#FFF;border:1px solid #EEEEEE;border-radius:0 4px 4px 4px;box-shadow:2px 2px 0 0 rgba(0, 0, 0, 0.1);display:none;height:84px;left:-1px;padding:2px 8px 8px;position:absolute;top:59px;width:532px;}
.shop_info_details dl{display:block;float:left;line-height:28px;padding:0 5px;}
.shop_info_details dt{clear:left;color:#555555;float:left;text-align:right;width:60px;margin-right:5px;}
.shop_info_details dd{color:#555555;overflow:hidden;white-space:nowrap;}
.shop_info_details .num{color:#FF6600;font-weight:600;padding-left:8px;}
.shop_info_details .star{margin-left:0;}
.shop_info:hover .shop_info_details{display:block;}
/* --------------- */
.shop-search{float:right;border-right:1px solid #EEE;height:36px;padding:12px 10px;}
.search_input{border:2px solid #DDD;background:#FFF;color:#333333;display:inline-block;font-size:14px;height:16px;line-height:16px;padding:8px 0;text-indent:3px;vertical-align:middle;width:400px;float:left;}
.search_btn{background:-moz-linear-gradient(center top,#E43A3D, #CB3034) repeat;background:#E43A3D;border:0 none;border-radius:2px 2px 2px 2px;color:#FFFFFF;cursor:pointer;font-weight:700;height:36px;overflow:hidden;width:75px;float:left;margin:0 0px 0 10px;}
.search_btn_platform{background:-moz-linear-gradient(center top,#E43A3D, #CB3034) repeat;background:#E43A3D;border:0 none;border-radius:2px 2px 2px 2px;color:#FFFFFF;cursor:pointer;font-weight:700;height:36px;overflow:hidden;width:75px;float:left;margin:0 20px 0 10px;}
/* --------------- */
#nav{margin:0px auto 15px;position:relative;}
#nav .banner{width:961px;height:150px;}
.nav_bg{background:#EF3739;height:40px;}
.nav_bg li{width:90px;float:left;height:40px;font-size:14px;}
.nav_bg li a{color:#FFF;padding:10px 13px 10px 17px;height:20px;line-height:20px;display:block;}
.nav_bg li.active{background:#FF494B;}
.nav_bg .collection{width:124px;height:40px;line-height:40px;background:url(img/collection.png) no-repeat #FF494B;float:right;}
/* --------------- */
#left{width:208px;float:left;}
.user-shop{border:1px solid #DDDDDD;background-color:#F5F5F5;width:206px;margin-bottom:15px;line-height:20px;background-color: #fff;}
.user_photo{width:206px;}
.user_photo h2{color:#3D3F3E;font-size:14px;margin:13px 0 10px 0;padding-left:15px;}
.user_photo p{margin-top:6px;}
.user_photo p a{color:#285BCC;}
.user_photo dl{display:block;line-height:24px;padding:0 15px;}
.user_photo dl dt{float:left;width:66px;height:58px;border:1px solid #D8D8D8;box-shadow:1px 1px 1px 1px #E7E7E7;padding:5px 4px;}
.user_photo dl dd{float:right;line-height:24px;width:90px;color:#555555;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.user_photo dl dd a{cursor:pointer;}
.user_data h2{font-size:12px;padding-bottom:5px;}
.user_data{color:#666666;margin:8px 0 0 17px;padding-bottom:10px;width:189px;}
.user_data p{padding-bottom:5px;}
.user_data img{vertical-align:middle;}
.user_data .star{margin-left:2px;background-image:url(img/star.gif);}
.user_data .star em{background-image:url(img/star.gif);}
.user_data .num{color:#FF6600;font-weight:600;padding-left:8px;}
.star{margin-left:10px;background:url(img/star.gif);background-position:0 -11px;display:inline-block;height:12px;overflow:hidden;text-align:left;vertical-align:inherit;width:60px;font-size:0px;}
.star em{background:url(img/star.gif);display:inline-block;height:12px;overflow:hidden;text-indent:-99em;vertical-align:top;float:left;}
.shop_other{height:36px;width:206px;}
.info_qrcode{border-top:1px solid #E7E7E7;float:left;height:36px;width:206px;margin-bottom:5px;}
.info_qrcode a{color:#555555;float:left;height:20px;line-height:20px;padding:9px 1px 10px 29px;position:relative;width:176px;z-index:999;text-decoration:none;}
.shop_other p{background:#FFF;border-color:#E7E7E7;border-image:none;border-style:solid;border-width:0 1px 1px;display:none;padding:5px;position:absolute;text-align:center;top:35px;width:196px;left:-1px}
.info_qrcode a:hover{background-color:#FFFFFF;color:#000000;padding-left:28px;text-decoration:none;}
.info_qrcode:hover .qrcode{display:block;height:196px;right:-1px;z-index:1;}
/* --------------- */
.i-search{border:1px solid #DDDDDD;padding:15px 15px 10px 15px;background:#fff;width:176px;margin-bottom:15px;}
.i-search h2{border-bottom:1px solid #DDD;padding-bottom:8px;margin-bottom:8px;}
.i-search td{padding:5px 2px;}
.i-search .text{border:1px solid #A5A5A5;padding:2px;height:16px;line-height:16px;background:#FFF;}
.i-search .btn{background:#FFB65A;border:0 none;border-radius:2px 2px 2px 2px;color:#FFFFFF;cursor:pointer;float:left;font-weight:700;height:30px;overflow:hidden;width:75px;}
/* --------------- */
.module_common{margin-bottom:15px;}
.module_common h2{border:1px solid #F34D51;background:#F34D51;height:32px;line-height:32px;color:#FFF;padding-left:10px;}
.module_common .con{border:1px solid #DDDDDD;border-top:none;background:#FFFFFF;}
.submenu{padding:15px;overflow:hidden;}
.submenu li{line-height:24px;}
.submenu li a{color:#666666;padding-left:22px;text-decoration:none;}
.submenu ul{padding-left:22px;}
.submenu ul li a{padding-left:6px;}
.none_ico{background:url(img/ico.gif) no-repeat 0 -208px;}
.link_ico{background:url(img/ico.gif) no-repeat 3px -276px;}
.block_ico{background:url(img/ico.gif) no-repeat 0 -178px;}
#right{float :right;width:920px;overflow:hidden }
/* --------------- */ 
.module_special{margin-bottom:15px;width:920px;}
.module_special h2{border:1px solid #F34D51;background:#F34D51;height:36px;line-height:36px;color:#FFF;padding-left:10px;}
.module_special .list{margin:15px 0;overflow:hidden;width:933px;}
.module_special .list li{float:left;margin-right:13px;overflow:hidden;height:300px;width:220px;}
.module_special .pic{margin:0 auto;width:240px;}
.module_special .pic a{display:block;height:220px;width:220px;}
.module_special h3{font-size:12px;font-weight:normal;height:40px;line-height:20px;margin:5px auto 8px auto;overflow:hidden;width:220px;}
.module_special h3 a{color:#646464;text-decoration:none;}
.module_special td p{width:240px;}
/* --------------- */
.module_special .info{padding:0 5px;}
.module_special .info p{font-size:14px;line-height:26px;margin-top:20px;}
.module_special .search{float: none; width: auto;min-height: auto;overflow: hidden;position: static;}
.module_special .search .button{height: 20px;position: static;width: 60px;font-size: 12px;vertical-align: top;}
.module_special .filter{margin: 15px 0;}
/* --------------- */
.search{border:1px solid #DDD;}
.search h4{border-bottom:1px solid #E0E0E0;height:25px;color:#737373;line-height:25px;padding:5px 0 5px 12px;}
.search h4 span{float:left;}
.search h4 s{background:url(img/ico.gif) right 0 no-repeat;float:left;height:25px;width:21px;}
.search_result{color:#666666;line-height:46px;padding:0 10px;position: static;}
.search_form{float:right;width:420px;}
.search_form ul{line-height:21px;padding:13px 10px 0;}
.search_form li{float:left;list-style:none;height:25px;}
.search_form li label{float:left;text-align:right;width:50px;}
.search_form li input{background:#FFF;border:1px solid #A5A5A5;padding:2px 0 1px 3px;}
.search_form .keyword input{width:109px;}
.search_form .price input{width:40px;}
.search_form .button{border:1px solid #ccc;color:#000000;font-size:12px;font-weight:100;height:20px;width:60px;margin-left:10px;background-color:#FFFFFF;}
/* --------------- */
.page{float:right;margin:0 10px 10px;}
.page a,.page b{float:left;height:20px;line-height:20px;margin:0 3px 0 0;overflow:hidden;padding:0 5px;text-align:center;vertical-align:middle;white-space:nowrap;background-color:#FFFFFF;border:1px solid #CCCCCC;color:#000000;text-decoration:none;}
.page b{border-color:#FFFFFF;color:cursor:default;font-weight:700;}
/* --------------- */
.filter{border:1px solid #DDD;height:30px;line-height:30px;overflow:hidden;}
.filter span{float:left;width:38px}
.sort{float:left;margin-left:10px;}
.sort a{background-color:#FFFFFF;color:#333333;float:left;height:16px;line-height:16px;padding:7px 8px;text-decoration:none;border-right:1px solid #DDD;}
.sort .icon{display:inline-block;height:16px;overflow:hidden;vertical-align:middle;width:16px;background:url(img/arrow.png) 2px 2px no-repeat;margin-left:2px;}
.sort .fav .icon{background-position:-14px 2px;}
.sort .up .icon{background-position:-30px 2px;}
.sort .down .icon{background-position:-46px 2px;}
.filter .page{margin:4px 0 0;}
.filter .page span{float:left;height:20px;line-height:20px;margin-right:10px;}
.filter .page .disable{background-color:#FFFFFF;color:#A7A0AB;cursor:no-drop;}
/* --------------- */
.credit,.comment{line-height:36px;border-collapse:collapse;}
.credit .title,.comment .title{background-color:#F8F8F8;}
.credit th,.comment th{color:#A9A9A9;font-weight:normal;border-top:1px solid #D7D7D7;}
.credit td{background-color:#FFF;color:#666666;text-align:center;}
.credit th,.credit td{border-bottom:1px solid #D7D7D7;}
.cg{color:#FF0000;}
.cm{color:#569636;}
.cb{color:#3E3E3E;}
.cz{color:#275BCB;}
.comment a{text-decoration:none;color:#3366CC;}
.comment td{background-color:#FFF;color:#666666;padding:10px 5px 8px;border-bottom:1px solid #E2E2E2;vertical-align:top;line-height:18px;}
.comment td p{color:#FF6600;font-weight:bold;line-height:14px;}
.product_commnet{able-layout:fixed;}
.product_commnet td{padding:25px 10px 0;vertical-align:top;}
.product_commnet .baseline td{padding:0 10px 30px;vertical-align:top;border-bottom:1px solid #E9E9E9;}
.buy_info{border-collapse:collapse;border-spacing:0;}
.buy_info th{background-color:#F6F9FC;border-bottom:2px solid #DDE4EA;font-weight:700;height:30px;text-align:center;}
.buy_info td{border-bottom:1px solid #EEF1F4;padding:3px 5px;}
.con_tit{background-color:#EBEBEB;border:1px solid #DDDDDD;height:30px;line-height:30px;padding-left:16px;font-weight:bold;margin-top:10px;}
.score{border:1px solid #EEE;width:918px;padding:10px 0;margin-bottom:10px;}
.score p{color:#FF6600;font-weight:bold;font-size:14px;margin:2px 0;}
/* --------------- */
#footer{border-top:1px solid #D5D2D2;color:#AAAAAA;line-height:20px;margin:10px auto;text-align:center;}
#footer p{color:#666666;padding:10px 0;word-spacing:5px;}
#footer a{color:#666666;text-decoration:none;}
#footer em{padding:0 10px;}
/* 幻灯片 */
.flexslider{width:1212px;overflow:hidden;background:#FFFFFF;position:relative;clear:both;margin:15px auto;padding:0;height: auto !important;}
.slides:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.slides li{position:relative;}
.slides img{display:block;max-width:100%;}
.flex-control-nav{bottom:30px;right:30px;position:absolute;text-align:center;}
.flex-control-nav li{display:inline-block;margin:0 0 0 9px;}
.flex-control-nav li a{background-color:#EEEEEE;border-radius:5px 5px 5px 5px;cursor:pointer;display:block;height:10px;line-height:10px;text-indent:-9999px;width:10px;}
.flex-control-nav li a.active{background-color:#FF6600;box-shadow:1px 1px 1px #CC3300 inset;cursor:default;}
.flex-direction-nav li a{background-color:transparent;cursor:pointer;display:block;margin:-8px 0 0;opacity:0.3;position:absolute;text-indent:-9999px;top:45%;}
/* 商品详细页 */
.detail{color:#3c3c3c;margin:20px auto 0;position:relative;font-family:'Microsoft Yahei',tahoma,arial;}
.detail-bd{margin-bottom:20px;}
.summary{display:inline;float:left;width:950px;border:1px solid #ccc;padding: 0px 20px;background-color: #fff;}
.sidebar{display:inline;float:right;width:202px;}
.item-info{/*border-right:1px solid #e8e8e8;margin-right:198px;*/}
.item-info .left{display:inline;float:left;padding:30px 0 0 15px;width:350px;position:relative;}
.item-info .right{display:inline;float:left;padding:30px 0px 0 30px;width: 555px;font-size: 14px;}
.item-info .left .gallery{margin-bottom:18px;overflow:hidden;width:350px;}
.item-info .left .main-pic{position:relative;margin-bottom:10px;z-index:1;background:#f7f7f7;height:348px;overflow:hidden;width:348px;border:1px solid #ccc;}
.item-info .left .main-pic .fix{position: absolute;top: 0;left: 0;width: 30px;height: 30px;padding: 10px;background: #c0c;font-size: 14px;color: #fff;line-height: 15px;}
.item-info .left ul li{display:inline;float:left;text-align: center;vertical-align: middle; margin-right:10px;width:58px;height:58px;border:1px solid #ccc;padding:10px;-webkit-transition-property:border-color;-moz-transition-property:border-color;-o-transition-property:border-color;transition-property:border-color;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;-o-transition-duration:.2s;transition-duration:.2s;overflow:hidden;}
.item-info .left ul li.hover{border-color:#f40;}
.item-info .right .wrap{position:relative;z-index:22;}
.item-info .flow{float: left;margin-top: 20px;}
.item-info .right .qrcode{text-align:center;z-index:7;background-clip: padding-box;background-color: #FFFFFF;border: 1px solid rgba(0, 0, 0, 0.3);border-radius: 6px 6px 6px 6px;box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);left: 50%;margin: -200px 0 0 -200px;overflow: hidden;position: fixed;top: 50%;width: 200px;height: 200px;overflow: hidden;padding: 10px 0;}
.item-info .right .qrcode p{line-height: 30px;border-bottom: 1px solid #ccc;padding: 0 10px;}
.item-info .right .qrcode p a{margin-top: 2px; color: #000000; float: right;  font-size: 20px;  font-weight: bold; cursor:pointer;line-height: 20px; opacity: 0.2; text-shadow: 0 1px 0 #FFFFFF;}
.item-info .right .title{padding:0 0 10px 20px;border-bottom:1px dotted #d9d9d9;}
.item-info .right .title img{height: 15px;margin-right: 10px;}
.item-info .right .title p{line-height: 20px;}
.item-info .right .title h3{font-size:24px;line-height: 45px;font-weight:normal;}
.item-info .right .promo-meta{border-bottom:1px dotted #ccc;padding: 10px 0 10px 20px;}
.item-info .right .promo-meta li{line-height:26px;font-size: 14px;}
.item-info .right .promo-meta li span{color:#6c6c6c;font-size: 14px;}
.item-info .right .promo-meta strong{vertical-align:middle;font-size:30px;font-weight:500;color: #ff5c5c;}
.item-info .right .promo-meta li strong .rmb{font-weight:400;font-size: 18px;margin-right: -5px;}
.item-info .right .promo-meta li strong .icon{background: url(img/icon10.png) no-repeat;display: inline-block;width: 83px;height: 20px;}
.item-info .right .promo-meta .fore2 b{display:inline;float:left;margin-right:10px;padding:0 8px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background:#f40;font-weight:normal;}
.item-info .right .promo-meta .counter{line-height:24px;margin-bottom:2px;position:absolute;top:5px;right:0;width:auto;}
.item-info .right .promo-meta .counter div{display:inline;float:left;text-align:center;}
.item-info .right .promo-meta .sell-counter{border-right:1px dashed #ccc;padding-right:30px;}
.item-info .right .promo-meta .rate-counter{padding-left:30px;}
.item-info .right .promo-meta .counter a{color:#6c6c6c;display:block;}
.item-info .right .promo-meta .counter a b{display:block;font-size:24px;font-weight:400;margin-bottom: 8px;}
.item-info .right .promo-service{border-bottom:1px dotted #ccc;padding: 5px 0 5px 20px;}
.item-info .right .promo-service li{font-size: 14px;line-height: 25px;}
.item-info .right .promo-service li b{color: #ff5c5c;}
.item-info .right .promo-service li .icon{background: url(img/free.png) no-repeat 5px;display: inline-block;width: 39px;height: 16px;vertical-align: -3px;}
.sep-line{height:0;border-bottom:1px dotted #d9d9d9;margin:10px 0;position:relative;z-index:1;clear:both;overflow:hidden;zoom:1}
.buy_box{margin:10px 0 10px 20px;position:relative;z-index:6;padding:1px;}
.select_style{position:relative;background:#FFFFFF;}
.select_style dl{padding-bottom:6px;float:left;height: auto;overflow: visible;}
.select_style dt{color:#6D6D6D;font-family:Microsoft YaHei;float:left;width:50px;line-height:24px;display: inline-block;font-size: 14px;}
.select_style dd{color:#404040;float:left;width:410px;font-size: 14px;}
.select_style ul{clear:both;display:block;overflow: hidden;}
.select_style li{background-color:#FFFFFF;float:left;line-height:20px;margin:0 4px 6px 0;padding:1px;position:relative;vertical-align:middle;display: inline-block;}
.select_style li a{background-color:#FFFFFF;border:1px solid #E2E1E3;color:#000000;display:block;min-width:10px;padding:5px 10px;text-align:center;text-decoration:none;white-space:nowrap;width:auto!important;cursor:pointer;color:#404040;}
.select_style li i{display:none} 
.select_style li .checked{border:2px solid #DF0001;margin:-1px;} 
.select_style li .checked i{background:url(img/checked.gif);bottom:0;display:block;height:12px;overflow:hidden;position:absolute;right:0;margin:0px;width:12px;} 
.select_style .stock a{color:#000;display:block;_display:inline;*zoom:1;float:left;width:26px;height:26px;border:1px solid #ccc;line-height:26px;padding:0;vertical-align:top;overflow:hidden;text-align:center;background-color:#ededed;overflow:hidden;}
.select_style #nums{width:48px;float:left;height:26px;line-height:26px;margin:0;padding:0;font-size:16px;text-align:center;color:#666;background-color:#fff;border:1px solid #ccc;outline:0;ime-mode:disabled;}
.select_style #low_num{border-right:0;font-size:14px;}
.select_style #add_num{border-left:0;font-size:16px;}
.select_style .stock em{float:left;line-height:28px;margin-left:8px;}
.choose_result{border-bottom:none;color:#E4393C;float:left;line-height:30px;padding-left:60px;display:none;}
.choose_btn{padding:10px 0 0 0;}
.choose_btn a{float:left;cursor:pointer;display:block;height:41px;width:136px;font-size: 16px;text-align: center;line-height: 40px;border-radius: 3px;}
.choose_btn .btn-buy{background: #ffa23e;color: #fff;}
.choose_btn .add-cart{margin-left:10px;width:162px;background: #ff5c5c;color: #fff;}
.choose_btn .add-cart span{background: url(../../image/default/cart/add-cart.png) no-repeat;display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-right: 10px;}
.choose_btn .add-cart:hover{background:#ed4f4f;}
.choose_btn .btn-buy:hover{background:#ec9a42;}
.jqzoom-img{vertical-align: middle;}
.social{padding-top:10px;position:relative;z-index:5;margin-left: 20px;}
.social li{float:left;position:relative;display:inline}
.social a{display:inline-block;vertical-align:middle;margin-right:15px;background:0;height:auto;padding-left:20px;position:relative;font-size: 14px;}
.social a i{background:url(img/ico.gif) no-repeat;display:inline-block;width:13px;height:12px;position:absolute;}
.social .like i{background-position:0 -309px;top:5px;left:0;} 
.social .fav i{background-position:-14px -309px;top:4px;left:0;} 
.social .share i{background-position:-31px -309px;top:5px;left:0;}
.social .share>a{float: left;}
.social .ercode span{margin-right: 4px;}
@keyframes icon-jump{0%{margin-top:0}100%{margin-top:4px}}@-o-keyframes icon-jump{0%{margin-top:0}100%{margin-top:4px}}@-moz-keyframes icon-jump{0%{margin-top:0}100%{margin-top:4px}}@-webkit-keyframes icon-jump{0%{margin-top:0}100%{margin-top:4px}}
.social a:hover i{animation:icon-jump .2s;-o-animation:icon-jump .2s;-moz-animation:icon-jump .2s;-webkit-animation:icon-jump .2s;}
.bshare-custom{float: left;margin-top: -8px;}
.bshare-custom a{margin-top:5px;margin-right: 0;}

.shelves{padding:15px 0 5px;}
.shelves h5{font-size:14px;padding:0 5px;}
.shelves p{color:#808080;padding:0 5px;font-size:12px;line-height:25px;}
.shelves p a{color:#000;font-weight:bold;}
.shelves .mt{border:none;padding-top:10px;font-size:12px;font-weight:700;}
.shelves .mc{border:none;padding-top:15px;margin-bottom:0;height:auto;}
.shelves .mc li{display:block;float:left;height:170px;width:112px;}
.shelves .mc li.fore2,.shelves .mc li.fore5{margin:0 30px;}
.shelves .mc .p-img{border:1px solid #E1E1E1;padding:2px 0 0;text-align:center;}
.shelves .mc .p-name{height:32px;line-height:16px;margin:4px 0;}
.shelves .sep-line{background:#EAEAEA;}

.tabbar-wrap{height:46px;overflow:hidden;padding:0;margin:0 auto 16px;width:1140px;}
.tabbar-wrap .shop-search{width:188px;height:44px;border:1px solid #E5E5E5;background:#F4F4F4;overflow:hidden;display:inline-block;float:left;padding:0;}
.tabbar-wrap .search-panel{width:165px;height:26px;line-height:26px;vertical-align:middle;margin:9px auto;overflow:hidden;overflow:hidden;}
.tabbar-wrap .search-btn{float:right;width:30px;height:26px;line-height:26px;vertical-align:middle;overflow:hidden;right:0;z-index:9;}
.tabbar-wrap .search-btn input{width:100%;height:26px;background:url(img/search.gif) 6px 6px no-repeat #F40;border:none;outline:0;border-top-right-radius:5px;border-bottom-right-radius:5px;color:#FFF;font-size:16px;display:inline-block;margin-top:0;cursor:pointer;}
.tabbar-wrap .search-fields{float:left;overflow:hidden;width:134px;height:24px;line-height:24px;vertical-align:middle;border:1px solid #C5C5C5;background:#FFF;border-right:none;}
.tabbar-wrap .search-fields input{font-size:12px;height:20px;line-height:20px;vertical-align:middle;background-color:#FFF;margin:2px 0 0 5px;_margin:0 0 0 5px;border:none;width:120px;}
.inner-wrap{height:44px;line-height:44px;padding:0;float:left;margin-bottom: 24px;width: 950px;margin-right: auto; border-bottom: 2px solid #ccc;margin-top: 20px;}
.inner-wrap ul{height:44px;font-size:16px;display:inline-block;}
.inner-wrap ul li{display:inline;float:left;width:126px;height:44px;line-height:16px;position:relative;border-right: 1px solid #ccc;}
.inner-wrap ul li a{display:block;color:#3C3C3C;outline:0;line-height:44px;text-align: center;font-weight: bold;}
.inner-wrap ul li.cur a{background:#FFF;height:44px;/*color:#f40;*//*position:absolute;top:-1px;*/border-bottom:2px solid #ff5c5c;color: #ff5c5c;background-color: #f5f5f5;}

.layout{/*position:relative;*/}
.layout .left{width:186px;float:left;border:1px solid #DDD;margin-bottom:15px;overflow:hidden;}
.layout .left .mt{height:38px;line-height:38px;padding-left:15px;background:#F5F5F5;}
.layout .left .mc{height:auto;padding:15px 10px 0;width:166px;overflow:hidden;}
.layout .left .mc li{margin-bottom:15px;_margin-left:-15px;text-align:center;width:166px;overflow:hidden;}
.layout .left .mc .p-name{margin:5px 0;line-height:20px;height:40px;overflow:hidden;}
.layout .left .mc img{width:160px;}
.layout .con{width:950px;float:left;text-align: center;position: relative;}
.layout .con img{max-width:730px;}
.layout #deal-record,.layout #reviews,.layout #consult{padding-bottom:17px;}
.layout .right{position:absolute;right:0;height:100%;_height:1285px;width:200px;overflow:hidden;top:-17px;z-index:2;border:1px solid #E5E5E5;}
.layout .right ul{background:#FAFAFA;height:100%;float:left;width:200px;}
.layout .attributes{margin-bottom:10px;padding:10px;border-bottom:solid 1px #eee;}
.layout .attributes ul{padding:0 15px 10px;}
.layout .attributes li{display:inline;float:left;width:206px;height:24px;margin-right:20px;overflow:hidden;text-indent:5px;line-height:24px;white-space:nowrap;text-overflow:ellipsis;}
.layout .description{margin-bottom: 30px;}
.layout .description p{margin:1.12em 0;}
.layout .notice,.layout .send-flow{margin-bottom: 10px;}
.layout .description h3,.layout .attributes h3,.layout .notice h3,.layout .send-flow h3{text-align: left;border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-bottom: 20px;background: url(img/ic_arr_right.png) no-repeat;padding-left: 20px;background-position: 0 3px;}

.reviews-hd-fore1{border:1px solid #d7d7d7;padding:15px 30px;background-color:#f6f6f6;}
.reviews-hd-fore1 .score{width:auto;border:none;margin:0;padding:0;float:left;}
.reviews-hd-fore1 .score span{color:#404040;font-size:18px;}
.reviews-hd-fore1 .score strong{color:#f40;font:400 16px Tahoma,Arial,Helvetica,sans-serif;vertical-align:text-bottom;margin:0 2px;}
.reviews-hd-fore1 .links{float:right;margin-top:3px;}
.reviews-hd-fore1 .links a{color:#404040;font-size: 18px;}
.reviews-hd-fore1 .links a i{height:23px;margin-top:1px;margin-right:7px;vertical-align:text-top;width:23px;background:url(img/mayi_pingjia.png) 0 0px no-repeat;display:inline-block;}
.reviews-hd-fore2 .filter{position:relative;padding:10px;font-size: 14px; z-index:1;background:#FCFCFC;color:#404040;height:auto;margin-bottom:0;border:none; border-bottom:1px solid #ccc;}
.reviews-hd-fore2 .filter li{float:left;margin-right:10px;line-height:20px;}
.reviews-hd-fore2 .filter label{float:left;}
.reviews-hd-fore2 .filter input{float:left;margin:4px 8px 0 0;}
.reviews-hd-fore2 .filter span{float:left;}
.reviews-bd{min-height:120px;font:12px/1.5 tahoma Arial;}
.reviews-bd li{padding-bottom:10px;border-bottom:1px solid #D4D4D4;}
.reviews-bd li.no-result{height:80px;padding:20px;}
.reviews-bd li .buyer{padding-top:20px;margin-right:10px;float:left;width:100px;}
.reviews-bd li .buyer .avatar{line-height:1.5;text-align:center;}
.reviews-bd li .buyer span img{margin-bottom:2px;}
.reviews-bd li dl{zoom:1;overflow:hidden;padding:20px 0 10px;min-height:60px;}
.reviews-bd li dt{font-size:14px;word-wrap:break-word;color:#3f3f3f;}
.reviews-bd li dd{margin:10px 0;color:#b0b0b0;font-size:12px}

.consult-hd{border:1px solid #d7d7d7;/*background:url(img/consult.gif) 15px 20px no-repeat;*/padding:16px 25px 16px 40px;line-height:32px;font-size: 18px;background-color: #f5f5f5;}
.consult-hd a{ float:right;color:#535353;background:url(img/mayi_wenda.png) 0px 4px no-repeat;padding-left: 39px;height: 32px;line-height: 32px;}
.consult-hd-haoqi{color: #ff5c5c;padding: 0px 5px}
.consult-bd{min-height:120px;font:12px/1.5 tahoma Arial;}
.consult-bd li{padding-bottom:10px;border-bottom:1px solid #D4D4D4;}
.consult-bd li.no-result{padding:20px 6px;}
.consult-bd li.no-result a{margin:0 2px;color:#06c;}
.consult-bd li .buyer{padding-top:20px;margin-right:10px;float:left;width:100px;}
.consult-bd li .buyer .avatar{line-height:1.5;text-align:center;}
.consult-bd li .buyer span img{margin-bottom:2px;}
.consult-bd li .buyer em{color:#999;font-family:tohoma;}
.consult-bd li dl{font-size:14px;zoom:1;overflow:hidden;padding:20px 0 10px;min-height:60px;}
.consult-bd li dt{word-wrap:break-word;color:#3f3f3f;}
.consult-bd li dd{margin:10px 0}
.consult-bd li dl em{font-family:Tahoma;font-weight:bold;margin-right:5px;}
.consult-bd li dt em{color:#5aa5ff;}
.consult-bd li dd em{color:#ff6400;}

.consult-box{position:absolute;top:0;left:100px;z-index:999;width:730px;height:360px;background-color:rgba(130, 130, 130, 0.25);box-shadow:0 0 12px rgba(0, 0, 0, 0.75);border-radius:5px;}
.consult-form{height:360px;width:730px;background:#FFF;border-radius:5px;}
.consult-form .consult-mt{height:36px;padding:0 10px 0 15px;background:#ef3739;color:#FFF;border-radius:5px 5px 0 0;}
.consult-form .consult-mt h2{font-size:16px;font-weight:normal;line-height:36px;}
.consult-form .consult-mt a{height:25px;width:25px;float:right;background:url(img/closeBtnImg.gif) no-repeat;margin:6px 0 5px;}
.consult-form .consult-mc{padding:20px 15px 15px;position:relative;}
.consult-form .consult-mc label{font-size:14px;display:inline-block;margin-bottom:15px;}
.consult-form .consult-mc textarea{width:98%;border:1px solid #e4e4e4;height:100px;padding:5px;resize:none;line-height:20px;border-radius:5px;}
.consult-form .consult-mc textarea:focus{border-color:#ef3739;-webkit-box-shadow:0 0 10px rgba(255,0,0,.6);-moz-box-shadow:0 0 10px rgba(255,0,0,.6);box-shadow:0 0 10px rgba(255,0,0,.6);}
.consult-form .consult-mc .count{position:absolute;top:12px;right:15px;color:#808080;}
.consult-form .consult-mc .count .counter span{font-family:Constantia,Georgia;font-size:22px;font-style:italic;font-weight:700;margin:0 4px;}
.consult-form .consult-mc .count .error span{color:#e44443;}
.consult-form .consult-mc input[type="submit"]{height:28px;line-height:26px;margin-top:15px;background:#ef3739;border:0 none;color:#FFF;padding:0 10px;border-radius:5px;}
.consult-form dl{border-top:1px dashed #ccc;color:#666;line-height:20px;padding:18px 15px;}

.layout .pages{float:right;margin:10px 0 0;overflow:hidden;text-align:right;}
.layout .pages a,.layout .pages b{display:inline;float:left;height:24px;margin-right:3px;padding:0 8px;line-height:24px;text-align:center;border:1px solid #DDD;}
.layout .pages b{background-color:#ffede1;border:1px solid #fd6d01;color:#fd6d01;font-weight:700;}
.record{table-layout:fixed;width:100%;color:#404040;}
.record thead td{padding:8px 10px;border-bottom:1px solid #d7d7d7;background:#f9f9f9;}
.record thead td b{cursor:pointer;color:#2658b4;font-weight:700;margin:0 4px;}
.record thead td em{color:#f50;font-weight:700;font-family:verdana,arial;margin-left:5px;}
.record thead td span{color:gray;margin-left:15px;}
.record tbody th{height:60px;line-height: 60px;font-size: 16px; text-align:center;}
/*.record tbody .pl15{text-align:left;}*/
.pl_nav{background-color: #f5f5f5;border:1px solid #ccc!important;}
.record tbody td{border-bottom:1px solid #ccc;padding:10px 5px 10px 0;text-align:center;font-size: 14px;}
.record tbody .pl15 p{margin-bottom:4px;}
.record tbody td span{color:#f50;font-weight:700;}
.record tbody td span b{margin-left:4px;font-family:verdana,arial;}
.record tbody .no-result{padding:20px;}

.shop-info{position:relative;top:-1px;left:1px;border:1px solid #ccc;border-top: 0px;padding-bottom: 20px;margin-bottom: 20px;background-color: #fff;}
.shop-info-bg{height:auto;/*min-height:45px;*/display:block;height: 40px;line-height: 40px;color: #ff5c5c !important;font-size: 18px;text-align: center;border-top: 3px solid #ff5c5c;border-bottom: 1px dashed #ccc;}
.shop-info-wrap{color:#666;background:#fff;}
.shop-info-hd{padding: 20px 0px 20px 30px;width:170px;border-bottom: 1px dashed #ccc;font-size: 14px; }
.shop-info-hd dl{margin-bottom:5px;overflow:hidden;line-height:20px;}
.shop-info-hd dt{display:inline;float:left;height:20px;}	
.shop-info-hd dd{height:20px;overflow:hidden;color:#3c3c3c;}
.shop-info-hd .shop-icon span{border:1px solid #00ba97;color:#00ba97;height:13px;line-height:12px;font-size:12px;margin-top:2px;display:inline;float:left;padding:1px 2px 0 20px;background:url(img/ico.gif) 0 -376px no-repeat;overflow:hidden;}

.shop-info-hd .shop-icon a{display:inline;float:left;margin-right:5px;width:16px;height:16px;overflow:hidden;margin-top:2px;margin-right:5px;background:url(img/ico.gif) no-repeat;}
.shop-info-hd .shop-icon .personal{background-position:-22px -343px;}
.shop-info-hd .shop-icon .shop{background-position:-42px -343px;}
.shop-info-bd{margin-bottom:16px;padding-top:13px;overflow:hidden;}
/*.shop-rate{width:196px;overflow:hidden;margin:0 0 0 -28px;}
.shop-rate dl{display:inline;float:left;padding-left:14px;margin-left:14px;border-left:1px solid #ebebeb;}*/
.shop-rate{width:198px;overflow:hidden;}
.shop-rate dl{display:inline;float:left;width: 65px;border-right:1px solid #ebebeb;text-align: center;}
.shop-rate dt{font-size:12px;line-height:12px;}
.shop-rate dd{line-height:14px;font-size:12px;margin-top:5px;}
.shop-rate dd b{color:#f40;font-weight:500;}
.shop-info-fd a{display:inline;float:left;margin-right:9px;width:86px;height:30px;text-align:center;color:#fff !important;line-height:30px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background:#ff5c5c;}
.shop-info-fd a:hover{background: #ed4f4f;}
.shop-info-fd a.fr{margin-right: 0px;}
.shop-info-fd{padding: 0px 9px;}
.pine{border:1px solid #ccc;border-top: none; margin-left:1px;width:198px;margin-bottom: 20px;background-color: #fff;}
.pine-hd{color:#ff5c5c;height: 40px;line-height: 40px;text-align: center;font-size: 18px;border-top: 3px solid #ff5c5c;border-bottom: 1px dashed #ccc;}
.hotsell .p-name,.pine .p-name{height: 20px;line-height: 20px;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pine-bd li{overflow:hidden;    text-align: center;
    border-bottom: 1px dashed #ccc;
    padding: 20px 20px 18px;}
.pine-bd img{width:80px;}
/*.pine-bd .p-name{display:none;}*/
.pine-bd .p-price{margin-top:4px;}
.mt{padding: 0 !important;color:#ff5c5c;height: 40px !important;line-height: 40px !important;text-align: center;font-size: 18px;border-top: 3px solid #ff5c5c;border-bottom: 1px dashed #ccc !important;}
.hotsell{border:1px solid #ccc;border-top: none;margin-bottom: 20px;background-color: #fff;}
.m .mc li{text-align: center;border-bottom: 1px dashed #ccc;padding: 20px 20px 18px;}
.loading{text-align:center;height:72px;padding-top:40px;+position:relative;}
.loading p{height:32px;line-height:32px;padding-left:42px;background:url(../../image/default/loading.gif) no-repeat 0 50%;color:#f50;display:inline-block;_display:inline;_height:14px;_line-height:14px;_padding:9px 0 9px 42px;_background-position-y:0;+position:absolute;+left:50%;+margin-left:-55px;}

.zoomDiv{z-index:999;position:absolute;top:248px !important;left:0px;width:460px!important;height:460px !important;background:#FFF;border:1px solid #ccc;display:none;text-align:center;overflow:hidden;}
.zoomMask{position:absolute;background:url(img/mask.png) repeat;cursor:move;z-index:1;width:200px!important;height:200px!important;}

/* 购物车 */
#cart_show{overflow:hidden;padding:7px;position:absolute;z-index:99999999;}
.cartbg{background-color:#333333;height:999px;left:0;opacity:0.5;position:absolute;top:0;width:500px;z-index:1;}
.cartinfo{background:#FFFFFF;min-width:380px;padding:15px;position:relative;z-index:2;}
.cart-shut{background:url(img/cart_show.png);background-position:0 -136px;display:block;height:18px;overflow:hidden;position:absolute;right:15px;top:15px;width:19px;z-index:5;}
.cart-head{background:url(img/cart_show.png) no-repeat;background-position:0 -65px;font-size:14px;font-weight:700;height:32px;line-height:14px;padding:1px 0 0 40px;z-index:1;position:relative;}
.cart-text{padding-left:40px;z-index:3;position:relative;}
.cart-stats{margin:-10px 0 10px;}
.cart-text a{color:#3366CC;}
.cart-text .cart-checkout{background:url(img/cart_show.png) 0 0 no-repeat;color:#FFFFFF;display:inline-block;height:32px;line-height:30px;margin-right:10px;text-align:center;width:112px;}
.cart-checkout:hover{background-position:0 -32px;}
.nobuy{color:#F00;padding:10px;font-weight:bold;}
/*--快照--*/
.snap .item-info .left .gallery{margin-bottom:0;}
.snap .item-info .left .main-pic{margin-bottom:0;}
.snap .inner-wrap{width:1138px;}
.snapbar{border:1px dashed #DDD;padding:10px 10px 10px 38px;margin:10px 0 15px;background:url(img/snap.png) 378px 30px no-repeat #F5F5F5;}
.snapbar .msg{background:url(img/snap.png) 0 -82px no-repeat;left:-25px;padding:2px 10px 6px 25px;position:relative;}
.snapbar a{display:inline-block;height:20px;line-height:20px;margin-top:8px;color:#36c;}
.properties{line-height:20px;margin:15px 0 15px;background:#fff8f6;border:1px solid #f6ebe9;padding:10px 15px;}
/*----*/
.SonlineBox{width:162px;font-size:12px;overflow:hidden;z-index:222;}
.SonlineBox .openTrigger{width:31px;height:110px;position:absolute;top:0px; z-index:1;cursor:pointer; background:#7b7b7b url(img/grayOpen.jpg) no-repeat;} 
.SonlineBox .titleBox{width:158px;height:35px;line-height:35px;background:#00a91c url(img/grayTitleBg.gif) repeat-x;border-bottom:2px solid #7b7b7b;}
.SonlineBox .titleBox span{margin-left:10px;color:#fff;font-size:14px;font-family:'微软雅黑','黑体';}
.SonlineBox .contentBox{width:158px;height:auto;border:2px solid #7b7b7b;background:#fff;position:absolute;z-index:2;}
.SonlineBox .contentBox .closeTrigger{width:25px;height:25px;display:block;cursor:pointer; position:absolute;top:5px;right:5px;-webkit-transition:all 0.8s ease-out;}
.SonlineBox .contentBox .closeTrigger:hover{-webkit-transform:scale(1) rotate(360deg);}
.SonlineBox .contentBox .listBox{overflow:hidden;margin-bottom:10px;}
.SonlineBox .contentBox .listBox .QQList{display:block;width:86%;height:32px;margin:10px auto 0px auto;border-bottom: 1px solid #E6E6E6;line-height:22px;}
.SonlineBox .contentBox .listBox .QQList span{float:left;line-height:22px;}
.SonlineBox .contentBox .listBox .QQList a{float:left;}


.shop-search #key_select{  background-color: #FFFFFF;border: 1px solid #CCCCCC;border-top: none; margin-top:38px;  width: 564px;height: auto;float: left;z-index: 10000;position: absolute;display: none; }
.shop-search #key_select a{width: 100%;display: block;line-height: 22px;height: 22px;}