<script src="<{$config.weburl}>/script/jquery.ui.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/dialog/dialog.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/jquery.imagezoom.min.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/jquery.fly.min.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" href="<{$config.weburl}>/script/layer/skin/layer.ext.css" id="layui_layer_skinlayerextcss">
<script type="text/javascript">
$(document).ready(function(){
    $(".add-cart").click(function(event) {
        if ('<{$shop_user}>' == '<{$smarty.cookies.USER}>') {
            layer.msg("不能购买自己店铺的商品！",{icon:0});
            return;
        }
        flag = buy();
        if (flag) {
            var offset = $("#cart_num").offset();
            var img = $(".jqzoom").attr('src');
            var flyer = $('<img class="u-flyer" src="' + img + '">');
            flyer.fly({
                start: {
                    left: event.pageX,//开始位置（必填）#fly元素会被设置成position: fixed
                    top: event.pageY //开始位置（必填
                },
                end: {
                    left: offset.left + 10,//结束位置（必填）
                    top: offset.top + 10,//结束位置（必填）
                    width: 0,//结束时宽度
                    height: 0 //结束时高度
                },
                onEnd: function() { //结束回调
                    var price = $('#price').html();
                    var num = $('#nums').val();
                    $("#cart_num").text(parseInt($('#nums').val())+parseInt($('#cart_num').text()));
                    var sid = $('#sid').val();
                    var pid = '<{$smarty.get.id}>';
                    var dist_user_id = '<{$smarty.get.shop_id}>';
                    $('#cart_show').load('<{$config.weburl}>/?m=product&s=cart&add_cart=1&price=' + price + '&nums=' + num + '&id=' + pid + '&sid=' + sid + '&dist_user_id=' + dist_user_id);
                    $('#cart_show').css("display","none");
                    return false;
                }
            });
        }
    });
    $("#low_num").click(function(){
        var num=$('#nums').val()*1;
        if(num>1)
          $('#nums').val(num-1);
        check_nums()
    });
    $("#add_num").click(function(){
        var num=$('#nums').val()*1;
        if(num<$('#stock').html())
            $('#nums').val(num+1);
        check_nums()
    });
});
function collect_goods(id){
    var url = '<{$config.weburl}>/module/sns/ajax_update.php';
    var uname = '<{$smarty.cookies.USER}>';
    if(uname=='')
    {
        layer.msg('请先登录！');
        return false;
    }
    var pars = 'pid='+id+'&uname='+uname;
    $.post(url, pars,showResponse);
    function showResponse(data)
    {
        var data = JSON.parse(data);
        if(data.statu == 1){
            $(".fav a").html('<i></i>取消收藏');
            layer.msg('成功添加至我的收藏夹!');
        }else{
            $(".fav a").html('<i></i>收藏商品');
            layer.msg('成功取消商品收藏！');
        }
    }
}
function distribute_goods(id){
    var url = '<{$config.weburl}>/module/distribution/add.php';
    var uname='<{$smarty.cookies.USER}>';
    if(uname=='')
    {
        layer.msg('请先登录！');
        return false;
    }
    var pars = 'pid='+id+'&uname='+uname;
    $.post(url, pars,showResponse);
    function showResponse(originalRequest)
    {
        if(originalRequest>1)
            layer.msg('成功添加至我的分销!');
        else if (originalRequest>0)
            layer.msg('该内容已经在你的分销中心，请勿重复添加！');
        else
            layer.msg('参数传递错误，无法完成操作!');
    }
}
function getfavshop(){
        var url = '<{$config.weburl}>/module/sns/ajax_update.php';
        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            layer.msg('请先登录！');
            return false;
        }
        var shopid = '<{$smarty.get.uid}>';
        var shopname = "<{$com.company|regex_replace:"/[\r\t\n]/":""}>";
        var pars = 'uname='+uname+'&shopid='+shopid+'&shopname='+shopname;
        $.post(url, pars,showResponse,"json");
        function showResponse(data)
        {
            if(data.statu==1){
                $(".favshop").html("取消收藏");
                layer.msg('收藏店铺成功！');
            }
            else {
                $(".favshop").html("收藏店铺");
                layer.msg('已取消店铺收藏！');
            }
        }
}
function buy()
{
    var flag = false;
    $('ul[genre="property"]').each(function(){
        if(!$(this).find('a').hasClass('checked')){
            flag = true;
        }
    });
    if (goodsspec.getSpec() == null || flag)
    {
        layer.msg('请选择相关规格！');
        return !flag;
    }else
    {
        return !flag;
    }
}
</script>
<div class="detail">
    <div class="detail-bd clearfix">
        <div class="summary clearfix">
            <div class="item-info clearfix">
                <div class="left">
                    <div class="gallery">
                        <div class="main-pic">
                            <a target="_blank" href="<{$de.pic}>"><img class="jqzoom" height="350" width="350" alt="<{$de.pname}>" src="<{$de.pic}>" rel="<{$de.pic}>" title="<{$de.pname}>"></a>
                            <div class="fix">免税包邮</div>
                            <div class="zoom-icon" id="J_ZoomIcon">ő</div>
                        </div>
                        <ul id="jqzoom" class="clearfix">
                            <{foreach item=pic key=num from=$de.pic_more}>
                                <{if $num < 4}>
                            <li class="<{if $num==0}>hover<{/if}><{if $num==3}>mr0<{/if}>"><img src="<{$pic}>_60X60.jpg" big="<{$pic}>" height="60" width="60" class="jqzoom-img"></li>
                                <{/if}>
                            <{/foreach}>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="wrap">
                        <div class="title">
                            <p style="color:#144487;">
                                <{if $de.national_info }>
                                    <span><img src="<{$de.national_info.img}>"></span><{$de.national_info.title}>品牌&nbsp海外直采
                                <{/if}>
                            </p>
                            <h3><{$de.name}></h3>
                            <{if $de.subhead}><p style="color:#ff5c5c;"><{$de.subhead}></p><{/if}>
                        </div>
                        <ul class="promo-meta clearfix">
                            <li>
                                <span class="mr10">国内价</span>
                                <s><{$config.money}><{$de.market_price|number_format:2}></s>
                            </li>
                            <li>
                                <span class="mr10" style="vertical-align:-6px;">蚂蚁价</span>
                                <strong class="promo-price">
                                    <em class="rmb"><{$config.money}></em>
                                    <em id="price" class="rmb-num"><{$de.price|number_format:2}></em>
                                    <em class="icon"></em>
                                </strong>
                            </li>
                        </ul>
                        <ul class="promo-service">
                            <li><span class="mr10">该商品</span>由<strong>郑州保税仓</strong>发货  预计3-5天送达</li>
                            <li><span class="mr10">进口税</span>由<b><{$com.company}></b>承担</li>
                            <li><span class="mr10">服&nbsp&nbsp&nbsp务</span>支持14天退换货&nbsp<em class="help"><p class="registerNotice1"><span class="tipcon">只支持在物流中损坏的商品</span><span class="rownotice"><img src="/image/default/tipnamebg.png"></span></p></em><em class="icon"></em><span style="color:#ff5c5c;">免运费</span> </li>
                        </ul>
                        <div class="buy_box clearfix">
                                <form id="form" onsubmit="return buy()" action="<{$config.weburl}>/?m=product&s=<{if $de.is_virtual}>confirm_virtual_order<{else}>confirm_order<{/if}><{if $smarty.get.shop_id}>&dist_user_id=<{$smarty.get.shop_id}><{/if}>" method="post">
                                    <input name="dist_user_id" type="hidden" value="<{$smarty.get.shop_id}>" />
                                    <input name="id" type="hidden" value="<{$de.id}>" />
                                    <input name="sid" id="sid" type="hidden" value="0" />
                                    <{if $de.is_virtual}>
                                    <input name="is_virtual" type="hidden" value="1" />
                                    <{if $de.discounts}>
                                    <input name="discounts" type="hidden" value="<{$de.discounts}>" />
                                    <{/if}>
                                    <{/if}>
                                    <div class="select_style clearfix">
                                        <{if $de.porperty}>
                                        <{foreach item=list from=$de.extfiled.d}>
                                        <{$list}>
                                        <{/foreach}>
                                        <{/if}>
                                        <{if $de.rest==0}>
                                        <dl>
                                            <dt>数量</dt>
                                            <dd class="stock">
                                                <a href="javascript:void(0);" id="low_num">-</a>
                                                <input onkeyup="check_nums();" size="3" name="nums" id="nums" type="text" value="1" />
                                                <a href="javascript:void(0);" id="add_num">+</a>
                                                <em>件 （库存 <span id="stock"><{$de.stock}></span> 件）</em>
                                            </dd>
                                        </dl>
                                        <{/if}>
                                    </div>
                                    <div class="choose_btn clearfix">
                                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                                        <{if $de.is_virtual neq 1}>
                                        <a href="javascript:void(0);" class="add-cart"><span></span>加入购物车</a>
                                        <{/if}>
                                    </div>
                                </form>
                         </div>
                        <ul class="social clearfix">
                            <li class="fav"><a href="javascript:collect_goods('<{$de.id}>');"><i></i><{if $spro neq 1}>收藏商品<{else}>取消收藏<{/if}></a></li>
                            <{if $dist_user_row.distribution_user_state eq -3 AND $is_distribution_product eq true}><li class="fyc"><a href="javascript:distribute_goods('<{$de.id}>');"><i></i>分销赚佣金</a></li><{/if}>
                            <li class="ercode iconfont"><a href="javascript:void(0);" style="padding-left: 0"><span style="color:orange">&#xe626</span>二维码</a></li>
                            <li class="share"><a href="javascript:void(0);"><i></i>分享</a>
                                <div class="bshare-custom icon-medium">
                                    <div class="bsPromo bsPromo2"></div>
                                    <!-- <a title="分享到微信" class="bshare-weixin" onclick="shareTo('weixin')" href="javascript:void(0);"></a> -->
                                    <a title="分享到QQ空间" onclick="shareTo('qzone')" href="javascript:void(0);" class="bshare-qzone"></a>
                                    <a title="分享到新浪微博" onclick="shareTo('sinaminiblog')" href="javascript:void(0);" class="bshare-sinaminiblog"></a>
                                    <a title="分享到人人网" onclick="shareTo('renren')" href="javascript:void(0);" class="bshare-renren"></a>
                                    <a title="分享到腾讯微博" onclick="shareTo('qqmb')" href="javascript:void(0);" class="bshare-qqmb"></a>
                                    <!-- <a title="分享到网易微博" onclick="shareTo('neteasemb')" href="javascript:void(0);"class="bshare-neteasemb"></a> -->
                                    <a title="分享到豆瓣" onclick="shareTo('douban')" href="javascript:void(0);" class="bshare-douban" href="javascript:void(0);"></a>
                                    <!-- <a title="分享到开心网" onclick="shareTo('kaixin001')" href="javascript:void(0);" class="bshare-kaixin001" href="javascript:void(0);"></a>
                                    <a title="分享到天涯" onclick="shareTo('tianya')" href="javascript:void(0);" class="bshare-tianya" href="javascript:void(0);"></a>
                                    <a title="分享到朋友网" onclick="shareTo('qqxiaoyou')" href="javascript:void(0);" class="bshare-qqxiaoyou" href="javascript:void(0);"></a>
                                    <a title="分享到淘江湖" onclick="shareTo('taojianghu')" href="javascript:void(0);" class="bshare-taojianghu" href="javascript:void(0);"></a>
                                    <a title="分享到飞信" onclick="shareTo('feixin')" href="javascript:void(0);" class="bshare-feixin" href="javascript:void(0);"></a> -->
                                </div>
                            </li>
                        </ul>
                        <div class="qrcode" style="display: none;">
                        <p>分享到微信朋友圈<a>×</a></p>
                        <img src="api/share_qrcode.php?type=product&pid=<{$smarty.get.id}>&rand=<{math equation=rand(1,10000)}>">
                        </div>
                        <div class="clear"></div>
                        <div id="cart_show"></div>
                    </div>
                </div>
                <div class="flow">
                    <img src="/templates/user_templates_default/img/flow.png">
                </div>
                <div class="inner-wrap">
                    <ul class="clearfix">
                        <li class="cur"><a href="javascript:void(0);">商品详情</a></li>
                        <li><a href="javascript:void(0);">累计评论&nbsp&nbsp<{$de.count}></a></li>
                        <li><a href="javascript:void(0);">成交记录&nbsp&nbsp <span id="chengjiao1"></span></a></li>
                        <li><a href="javascript:void(0);">商品问答</a></li>
                    </ul>
                </div>
                <div class="layout clearfix">
                    <div class="con clearfix">
                        <div class="i-con">
                            <{if $de.brand || $de.extfiled.s}>
                            <div class="attributes clearfix">
                                <h3><span></span>商品参数</h3>
                                <ul class="clearfix">
                                    <li>品牌：<{$de.brand}></li>
                                    <{foreach item=list from=$de.extfiled.s}><{$list}><{/foreach}>
                                </ul>
                            </div>
                            <{/if}>
                            <div class="description">
                                <h3><span></span>商品详情</h3>
                                <{$de.detail}>
                            </div>
                            <div class="notice">
                                <h3><span></span>消费者告知书</h3>
                                <img src="/templates/user_templates_default/img/notice.png">
                            </div>
                            <div class="send-flow">
                                <h3><span></span>海外直发</h3>
                                <img src="/templates/user_templates_default/img/send-flow.png">
                            </div>
                        </div>
                        <div id="reviews" class="i-con hidden"></div>
                        <div id="deal-record" class="i-con hidden"></div>
                        <div id="consult" class="i-con hidden"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar clearfix">
            <div class="shop-info">
                <a class="shop-info-bg"><{$com.company}></a>
                <div class="shop-info-wrap clearfix">
                    <div class="shop-info-hd">
                        <dl>
                            <dt>信誉：</dt>
                            <dd><img align="absmiddle" src="image/points/<{$com.sellerpointsimg}>" /></dd>
                        </dl>
                        <dl>
                            <dt>掌柜：</dt>
                            <dd><a target="_blank" href="home.php?uid=<{$de.member_id}>"><{$com.name}></a></dd>
                        </dl>
                        <dl class="shop-icon">
                            <dt>资质：</dt>
                            <dd>
                                <{if $com.shop_auth}><a title="个人认证" class="personal" href="javascript:void(0);"></a><{/if}>
                                <{if $com.shopkeeper_auth}><a class="shop" title="店铺认证" href="javascript:void(0);"></a><{/if}>
                                <span title="已缴纳<{$com.earnest}>元保证金"><{if $com.earnest > 999}><{$com.earnest|number_format:0}><{else}><{$com.earnest}><{/if}> 元</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="shop-info-bd clearfix">
                        <div class="shop-rate clearfix">
                            <dl>
                                <dt>描述</dt>
                                <dd><b><{$score.aw|number_format:1}></b></dd>
                            </dl>
                            <dl>
                                <dt>物流</dt>
                                <dd><b><{$score.cw|number_format:1}></b></dd>
                            </dl>
                            <dl class="nbr">
                                <dt>服务</dt>
                                <dd><b><{$score.bw|number_format:1}></b></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="shop-info-fd clearfix">
                        <a target="_blank" href="shop.php?uid=<{$smarty.get.uid}>">进入店铺</a>
                        <a class="fr favshop" href="javascript:void(0);" onclick="javascript:getfavshop();"><{if $sshop neq 1}>收藏店铺<{else}>取消收藏<{/if}></a>
                    </div>
                </div>
            </div>
            <div class="pine">
                <div class="pine-hd clearfix">已浏览商品</div>
                <div class="pine-bd clearfix">
                    <{insert name="label" type="product" uid=$de.member_id o='1' noid=$de.id temp="product_list_li" limit=4}>
                </div>
            </div>
            <div class="left hotsell">
                <div class="m">
                    <div class="pine-hd">热销产品</div>
                    <div class="mc">
                        <{insert name="label" type="product" uid=$de.member_id o='1' temp="product_list_li" limit=5}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(".sell-counter").click(function(){
    $("body,html").animate({scrollTop:$(".inner-wrap").offset().top});
    $(".inner-wrap li").eq(2).addClass("cur").siblings().removeClass("cur");
    $(".con .i-con").eq(2).show().siblings(".i-con").hide();
});
$(".rate-counter").click(function(){
    $("body,html").animate({scrollTop:$(".inner-wrap").offset().top});
    $(".inner-wrap li").eq(1).addClass("cur").siblings().removeClass("cur");
    $(".con .i-con").eq(1).show().siblings(".i-con").hide();
});
$('#jqzoom li').hover(function(){
    $(this).addClass("hover").siblings().removeClass("hover");;
});
$(".jqzoom").imagezoom();
$("#jqzoom li").mouseover(function(){
    $(".jqzoom").attr('src',$(this).find("img").attr("big"));
    $(".jqzoom").attr('rel',$(this).find("img").attr("big"));
});
$('.ercode a').click(function(){
    if($('.qrcode').css('display')=='block')
        $('.qrcode').hide();
    else
        $('.qrcode').show();
});
$('.qrcode a').click(function(){
    if($('.qrcode').css('display')=='block')
        $('.qrcode').hide();
    else
        $('.qrcode').show();
});
<{if $de.rest>0}>
    var CID = "endtime";
    if(window.CID != null)
    {
        var iTime = document.getElementById(CID).innerHTML;
        var Account;
        RemainTime();
    }
    function RemainTime()
    {
        var iDay,iHour,iMinute,iSecond;
        var sDay="",sHour="",sMinute="",sSecond="",sTime="";
        if (iTime >= 0)
        {
            iDay = parseInt(iTime/24/3600);
            if (iDay > 0)
                sDay = "<em>" + iDay + "</em>天";
            iHour = parseInt((iTime/3600)%24);
            if (iHour > 0)
                sHour = "<em>" + iHour + "</em>小时";
            iMinute = parseInt((iTime/60)%60);
            if (iMinute > 0)
                sMinute = "<em>" + iMinute + "</em>分钟";
            iSecond = parseInt(iTime%60);
            if (iSecond >= 0)
                sSecond = "<em>" + iSecond + "</em>秒";

            sTime=sDay+sHour+sMinute+ sSecond;
            if(iTime==0)
            {
                clearTimeout(Account);
                location.reload();
            }
            else
                Account = setTimeout("RemainTime()",1000);
            iTime=iTime-1;
        }
        if($("#"+CID)) $("#"+CID).html(sTime);
    }
<{/if}>
<{if $de.down != 1}>
        $(".btn-buy").click(function(){
            $("#form").submit();
        });
        function check_nums()
        {
            var v=document.getElementById('nums').value*1;
            var stock = $('#stock').html()*1;
            var maxbuy = "<{$de.maxbuy}>"

            if(maxbuy > 0 && maxbuy<stock)
            {
                stock = maxbuy;
            }
            if(!v)
                document.getElementById('nums').value=1;
            if(v>stock)
            {
                document.getElementById('nums').value=stock;
                return false;
            }
        }
        function spec(id, spec, price, stock)
        {
            this.id    = id;
            this.spec  = spec;
            this.price = price;
            this.stock = stock;
        }
        function goodsspec(specs, specQty, defSpec)
        {
            this.specs = specs;
            this.specQty = specQty;
            this.defSpec = defSpec;
            this.spec1 = null;
            this.spec2 = null;
            if (this.specQty >= 1)
            {
                for(var i = 0; i < this.specs.length; i++)
                {
                    if (this.specs[i].id == this.defSpec)
                    {
                    <{foreach item=list key=num from=$de.extfiled.d}>
                        this.spec<{$num+1}> = this.specs[i].spec[<{$num}>];
                    <{/foreach}>
                        break;
                    }
                }
            }
            this.getSpec = function()
            {
                for (var i = 0; i < this.specs.length; i++)
                {
                    <{foreach item=list key=num from=$de.extfiled.d}>
                        if (this.specs[i].spec[<{$num}>] != this.spec<{$num+1}>) continue;
                    <{/foreach}>
                    return this.specs[i];
                }
                return null;
            }
        }
        function selectSpec(num,obj, SID)
        {
            goodsspec['spec' + num] = SID;
            var id = $(obj).parent().parent().parent().parent().attr('id');
            if(id=='color')
            {
                var data_str = $(obj).attr('data-param');
                if(data_str)
                {
                    eval("data_str = "+data_str);
                    $('.jqzoom').attr("src",data_str.src);
                    $('.jqzoom').attr("rel",data_str.src);
                }
                else{
                    var src="<{$de.pic}>";
                    $('.jqzoom').attr("src",src);
                    $('.jqzoom').attr("rel",src);
                }
            }

            $(obj).addClass("checked");
            $(obj).parents('li').siblings().find('a').removeClass("checked");

            var spec = goodsspec.getSpec();
            var sign = 't';
            $('ul[genre="property"]').each(function(){
                if(!$(this).find('a').hasClass('checked')){
                    sign = 'f';
                }
            });
            if (spec != null && sign == 't')
            {
                $('#stock').html(spec.stock);
                $('#price').html(parseFloat(spec.price).toFixed(2));
                $('#sid').val(spec.id);

                if(parseInt(spec.stock) == 0)
                {
                    $('.choose_result').show().html('<div class="dd"><em>库存量不足，请选择其它。</em></div>');
                    $('#addcart_submit').attr('disabled',true).css('cursor','pointer');
                }
                else
                {
                    SP_V = '';
                    $('ul[genre="property"]').find('li > .checked').each(function(i){
                        SP_V += '<strong>"'+$(this).text()+'"</strong>，';
                    });
                    SP_V = SP_V.substr(0,SP_V.length-1);
                    $('.choose_result').show().html('<em>您选择了：</em>'+SP_V+'');
                    $('#addcart_submit').attr('disabled',false).css('cursor','auto');
                    $('#nums').val("1");
                }
            }

        }
        var specs = new Array();
        <{foreach item=list key=num from=$de.porperty}>
            specs.push(new spec('<{$list.id}>', ['<{$list.property_value_id|replace:",":"','"}>'], '<{$list.price}>', '<{$list.stock}>'));
            var specQty = <{$de.extfiled.d|@count}>;
            var defSpec = <{$de.porperty.0.id}>;
        <{foreachelse}>
            specs.push(new spec('', '', '', '', ''));
            var specQty = 0;
            var defSpec = 0;
        <{/foreach}>
        var goodsspec = new goodsspec(specs, specQty, defSpec);
<{/if}>
$(".inner-wrap li").click(function(){
    var b=$(".inner-wrap li").index($(this));
    $(this).addClass("cur").siblings().removeClass("cur");
    $(".con .i-con").eq(b).show().siblings(".i-con").hide();
});
$('#reviews').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=reviews');
$('#deal-record').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=deal-record');
$('#consult').load('<{$config.weburl}>/?m=product&s=detail&id=<{$de.id}>&ajax=consult');
$(".pine-bd li:last").css("border-bottom","none");
$(".mc li:last").css("border-bottom","none");
function shareTo(site){
  var e = encodeURIComponent, s = screen, d = document, wd = 640, hg = 480, u = d.location;
  var uuid = '';
  var img =$(".jqzoom").attr("src");
  var ctxt = $(".summary .title>p").text();
  var url = "http://api.bshare.cn/share/"+site+"?url="+e("https://www.mayihaitao.com/?m=product&s=detail&id=<{$de.id}>")+"&title="+e(d.title)+"&publisherUuid="+uuid+"&summary="+ctxt+"&pic="+img;
  window.open(url, 'bshare', ['toolbar=0,status=0,resizable=1,width='+ wd +',height='+ hg +',left='+ (s.width - wd) / 2+ ',top='+ (s.height - hg) / 2]);
}
</script>
