@charset "utf-8";
/*个人主页的css*/
.container{background-color: #f5f5f5;}
.content{width:1212px;min-height: 700px;padding: 20px 0;}
.body-main{float:left;min-height:800px;width:990px;border:1px solid #ccc;background-color: #fff;}
.body-main .main-widget{width: 950px;padding-bottom: 20px;}
/*宝贝*/
.itemlist li{float: left;width: 228px;overflow: hidden;margin: 0 10px 10px 0;}
.itemlist .good{padding: 20px 0;border:1px solid #ccc;}
.itemlist .good .goods_img{width: 160px;height: 160px;margin: 0 auto;overflow: hidden;display: block;}
.itemlist .good .goods_text{text-align: left;width: 180px;margin-top: 15px;}
.itemlist .good .goods_text a{white-space: nowrap;text-overflow: ellipsis;margin: 0 auto;overflow: hidden;width: 180px;}
.itemlist .good .good_price {width:180px;color: #ff5c5c;font-size: 20px;text-align: center;}
/*最近访客*/
.body-side{border:1px solid #ccc;float:right;width:200px;border-top: 3px solid #ff5c5c;background-color: #fff;font-size: 14px;}
.body-side .visitors h2{height: 40px;line-height: 40px;text-align: center;color: #ff5c5c;}
.body-side .visitors li{border-top: 1px dotted #ccc;width: 160px;padding: 20px;}
.body-side .visitors li img{border-radius:50%;height: 60px;width: 60px;}
.body-side .visitors .name{height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:90px;}
.body-side .visitors p{border-top: 1px dotted #ccc;line-height: 30px;}
/*头部买家信息*/
.head{position:relative;}
.head .info{height:145px;border-bottom: 1px dotted #ccc;}
.head .info-left{float:left;height:145px;width:710px;}
.head .info-left .basic-info{margin: 50px 0 0 240px;}
.head .basic-info h2{margin-bottom: 20px;font-weight: 400;color: #ff5c5c;}
.head .basic-info .realy-info{margin-right: 35px;}
.head .basic-info .realy-info img{margin-top:-3px;}
.head .basic-info span.sex{background:url(home/icon7.png) no-repeat  right -35px;padding-right:10px;margin-right:35px;}
.head .basic-info span.female{background-position:15px 3px;}
.head .basic-info a{color: #ff5c5c;}
/*右侧访问*/
.head .info-right{float:left;padding-top: 50px;}
.head .info-right li{font-size:18px;text-align: center;padding:0 15px;float:left;border-right: 1px dotted #ccc;}
.head .info-right li b{display:inline-block;font-size:30px;color: #ff5c5c;font-weight:normal;height:25px;line-height:25px;margin-bottom: 10px;}
.head .info-right li span{display:block;}
/*头像*/
.head .user-avatar{left:20px;position:absolute;top:20px;}
.head .user-avatar img{width: 150px;height: 150px;border-radius: 50%;}
/*切换*/
.head .nav{border-bottom:2px solid #ccc;height:35px;width:950px;margin: 50px auto 20px;}
.head .nav ul li{float:left;font-size:14px;height:35px;line-height: 35px;width: 145px;text-align: center;border-right: 1px solid #ccc;}
.head .nav ul li.current{background-color:#f5f5f5;border-bottom: 2px solid #ff5c5c;margin-left:-1px;}
.head .nav ul li.current a{color:#ff5c5c;}
/*标题*/
.body-main .main-widget h3{border-bottom:1px solid #999;line-height: 30px;}
.body-main .main-widget h3 .title{background: url(home/icon1.png) no-repeat 10px;padding-left: 30px;}
.body-main .main-widget h3 .read-more{float:right;font-weight:normal;margin-right:10px;}
/*外层分享*/
.body-main .item-bd{position:relative;padding-top:20px;}
.sns-item{margin-bottom: 10px;overflow:hidden;padding:10px 20px;border:1px solid #ccc;}
.sns-item .sns-wrap .sns-title a{font-size: 16px;color: #ff5c5c;padding-left: 25px;background: url(home/icon2.png) no-repeat 0;}
.sns-item .sns-wrap .sns-text{margin-bottom:20px;font-size: 14px;margin-top: 15px;}
.sns-item .sns-wrap .sns-img{margin:7px 0;}
/*图片放大*/
.sns-item .sns-img li{float:left;overflow:hidden;}
.sns-item .sns-img img.small{cursor:zoom-in;max-height:120px;max-width:120px;}
.sns-item .sns-img img.large{cursor:zoom-out;max-width:500px;}
/*时间，评论，分享*/
.sns-item .sns-extra{height:18px;font-size: 14px;}
.sns-item .sns-extra .sns-time{color:#999;padding-left: 20px;background: url(home/icon3.png) no-repeat 0;}
.sns-item .sns-extra .sns-action-forward{background: url(home/icon4.png) no-repeat 4px 5px}
.sns-item .sns-extra .sns-action-comment{background: url(home/icon5.png) no-repeat 4px 3px}
.sns-item .sns-extra a{margin-left:12px;padding-left: 25px;}
/*内层分享*/
.sns-item .quote-wrap{background:#F8F8F8;border:1px solid #F0F0F0;border-radius:3px;overflow:hidden;padding:10px;margin-bottom:10px;}
.sns-item .quote-wrap .sns-img img.large{max-width:400px;}
/*加载更多*/
.sns-next{padding-top:20px;}
.sns-next a{background:url(home/icon6.png) no-repeat 58% 24px;background-color:#ff5c5c;color:#fff;height:60px;line-height:60px;text-align:center;width:950px;font-size: 16px;}
/*评论*/
.commnet{overflow:hidden;margin:8px 0;}
.commnet_list{border:1px solid #F3F3F3;line-height:20px;overflow:hidden;padding:5px 10px;}
.commnet_list dt{padding:2px 0;}
.commnet_list dd{color:#AAAAAA;font-size:12px;}
/*转发*/
.forward{background-color:#FFFFFF;border:1px solid #D5E5F5;clear:both;font-size:12px;margin:0 auto;overflow:hidden; padding:10px;width:94%;background:#FFF;}
.forward p{clear:both;padding-top:3px;}
.forward .error{ color:#FF0000;font-size:12px;line-height:24px;height:24px;}
/*编辑框*/
.ftextarea{border:1px solid #D5E5F5;font-size:12px;height:40px;overflow:auto;resize:none;width:98%;word-wrap:break-word;} 
.feededitor textarea{height:60px;width:470px;border-color:#ccc;box-shadow:2px 2px 1px 0 #E7E7E7 inset;}
.feededitor .handle{font-size:1.2em;height:32px;line-height:32px;margin-top:10px;font-size:12px;}
.feededitor .handle .button{background-color:#ff5c5c;border:medium none;border-radius:4px 4px 4px 4px;color:#FFFFFF;cursor:pointer;display:block;float:right;font-size:1.4em;font-weight:700;height:32px;line-height:32px;width:60px;}