<{include file="../../../../templates/default/header.htm"}>
<link href="<{$config.weburl}>/module/sns/templates/home/home.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<{$config.weburl}>/script/sns.js"></script>
<div class="container">
<div class="content clearfix">
	<div class="body-main <{if $smarty.get.act=='product'}>pro<{/if}>"><{$output}></div>
	<{if $smarty.get.act!='product'}>
	<div class="body-side">
		<div class="visitors">
			<h2>最近访客</h2>
			<ul>
				<{foreach item=list key=nums from=$visitors}>
				<li class="clearfix">
					<a class="fl" target="_blank" href="home.php?uid=<{$list.userid}>"><img src="<{if $list.logo!=''&&$list.logo!='0'}><{$list.logo}><{else}>image/default/user_admin/default_user_portrait.gif<{/if}>" /></a>
					<div class="fr">
						<a class="name" target="_blank" href="home.php?uid=<{$list.userid}>"><{$list.user}></a>
						<p><{$list.dtime}></p>
					</div>
				</li>
				<{foreachelse}>
				<p>&nbsp;&nbsp;暂无访客</p>
				<{/foreach}>
			</ul>
		</div>
	</div>
	<{/if}>
</div>
</div>
<{include file="../../../../../templates/default/footer.htm"}>