<{include file="head.htm"}>
<!-- 分享宝贝start -->
<div class="main-widget">
    <h3>
        <a class="read-more" href="<{$config.weburl}>/home.php?uid=<{$smarty.get.uid}>&act=product">查看全部</a>
        <a class="title" href="<{$config.weburl}>/home.php?uid=<{$smarty.get.uid}>&act=product">我分享的宝贝</a>
    </h3>
    <div class="item-bd">
        <ul class="itemlist clearfix">
        <{foreach item=list name=name from=$sharegoods}>
            <li <{if $smarty.foreach.name.iteration==3}>class="last"<{/if}>>
                <div class="good <{if ($num+1)%4==0}>mr0<{/if}>">
                    <a title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>" class="goods_img" target="_blank"><img src="<{$list.image}>" alt="分享商品图片"></a>
                    <p class="goods_text">
                        <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>" target="_blank"><{$list.pname}></a>
                    </p>
                    <p class="good_price">￥<{$list.price}></p>
                </div>
            </li>
        <{/foreach}>
        </ul>
    </div>
</div>
<!-- 分享宝贝end-->
<!-- 新鲜事start -->
<div class="main-widget clearfix">
    <h3>
        <a class="read-more" href="<{$config.weburl}>/home.php?uid=<{$smarty.get.uid}>&act=trace">查看全部</a>
        <a class="title" href="<{$config.weburl}>/home.php?uid=<{$smarty.get.uid}>&act=trace">我的新鲜事</a>
    </h3>
    <div class="item-bd">
        <{include file="trace_child.htm"}>
        <div class="sns-next"><a href="<{$config.weburl}>/home.php?uid=<{$smarty.get.uid}>&act=trace">去看更多新鲜事</a></div>
    </div>
</div>
<!-- 新鲜事end -->
<script type="text/javascript" src="<{$config.weburl}>/script/dialog/dialog.js" id="dialog_js"></script>
<script src="<{$config.weburl}>/script/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" href="<{$config.weburl}>/script/layer/skin/layer.ext.css" id="layui_layer_skinlayerextcss">
<script>
$("[genre='sns_forward']").on('click',function(){
    var data = $(this).attr('data-param');
    eval("data = "+data);
    ajax_form("forward_form", '转发', '<{$config.weburl}>/main.php?m=sns&s=sns&op=forward&cg_u_type=1&bid='+data.bid, 500);
    return false;
});
$("[genre='sns_comment']").on('click',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("comment_form", '评论', '<{$config.weburl}>/main.php?m=sns&s=sns&op=comment&cg_u_type=1&bid='+data.bid, 500);
	return false;
});
$(".sns-img").find("ul").on('click', 'img', function(){
    if(this.className=="large"){
        $(this).addClass('small').removeClass('large'); 
        var url=$(this).attr("src")
        $(this).attr("src",url+"_120X120.jpg");
    }else{
        $(this).addClass('large').removeClass('small'); 
        var url=$(this).attr("src")
        url = url.substr(0,url.lastIndexOf('_'));
        $(this).attr("src",url);
    }
});
$('.basic-info a').on('click',function(){
    $.ajax({
        type: 'GET',
        url: "<{$config.weburl}>/shop.php?sAjax=sAjax&uid=<{$smarty.get.uid}>",
        success: function(data){
            var status = JSON.parse(data);
            if(!status.status){
                layer.msg('商铺还未开启或暂时关闭', {icon: 0});
            }else{
                window.location.href="<{$config.weburl}>/shop.php?uid=<{$smarty.get.uid}>";
            }
        }
    });
});
</script>
<{$chat_html}>