<{include file="head.htm"}>
<div class="main-widget">
    <ul class="itemlist clearfix">
        <{foreach item=list name=name key =num from=$sharegoods.list}>
        <li>
            <div class="good <{if ($num+1)%4==0}>mr0<{/if}>">
                <a title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>" class="goods_img" target="_blank"><img src="<{$list.image}>" alt="分享商品图片"></a>
                <p class="goods_text">
                  <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>" target="_blank"><{$list.pname}></a>
                </p>
                <p class="good_price">￥<{$list.price}></p>
            </div>
        </li>
        <{/foreach}>
    </ul>
</div>