<{foreach item=list key=num from=$blog}>
<div class="sns-item">
    <div class="sns-wrap">
        <p class="sns-title"><a target="_blank" href="home.php?uid=<{$list.member_id}>"><{$list.member_name}></a></p>
        <div class="sns-text"><{$list.title}></div>
        <{if $list.original_id }>
            <div class="quote-wrap">
            <{if $list.original_status==1}>
            原文已删除
            <{else}>
            <p class="sns-title"><a target="_blank" href="home.php?uid=<{$list.ouid}>"><{$list.ouser}></a></p>
            <div class="sns-text"><span><{$list.otitle}></span></div>
                <{if $list.oimg}>
                <div class="sns-img clearfix">
                    <ul>
                    <{foreach item=p from=$list.opic}>
                        <{if $list.otype==2}>
                        <li><img class="small" src="<{$p}>_120X120.jpg"></li>
                        <{else}>
                        <li><img src="<{$p}>"></li>
                        <{/if}>
                    <{/foreach}>
                    </ul>
                </div>
            <{/if}>
            <div class="sns-extra">
            <span class="sns-time"><{$list.ocreate_time|date_format:"%m-%d&nbsp;%H:%M"}></span>
            </div>
            <{/if}>
            </div>
        <{else}>
        <{if $list.img}>
        <div class="sns-img clearfix">
            <ul>
            <{foreach item=p from=$list.pic}>
                <{if $list.type==2}>
                <li><img class="small" src="<{$p}>_120X120.jpg"></li>
                <{else}>
                <li><img src="<{$p}>"></li>
                <{/if}>
            <{/foreach}>
            </ul>
        </div>
        <{/if}>
        <{if $list.comment}>
        <div class="commnet">
        <{foreach item = slist from = $list.comment}>
        <div class="commnet_list">
            <dl>
                <dt><a target="_blank" href="home.php?uid=<{$slist.member_id}>"><{$slist.member_name}></a>：<{$slist.content}></dt>
                <dd><{$slist.addtime|date_format}></dd>
            </dl>
        </div>
        <{/foreach}>
        </div>
        <{/if}>
        <{/if}>
        <div class="sns-extra">
            <span class="sns-time"><{$list.create_time|date_format:"%m-%d&nbsp;%H:%M"}></span>
            <span class="fr">
                <a data-param="{&quot;bid&quot;:&quot;<{$list.id}>&quot;}" genre="sns_forward" href="javascript:void(0);" class="sns-action-forward">转发</a>
                <a data-param="{&quot;bid&quot;:&quot;<{$list.id}>&quot;}" genre="sns_comment" href="javascript:void(0);" class="sns-action-comment">评论</a>
            </span>
        </div>
    </div>
</div>
<{/foreach}>