<{include file="head.htm"}>
<div class="main-widget">
    <div class="item-bd">
        <{include file="trace_child.htm"}>
    </div>
</div>
<script type="text/javascript" src="<{$config.weburl}>/script/dialog/dialog.js" id="dialog_js"></script>
<script>
$("[genre='sns_forward']").on('click',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("forward_form", '转发', '<{$config.weburl}>/main.php?m=sns&s=sns&op=forward&bid='+data.bid, 500);
	return false;
});
$("[genre='sns_comment']").on('click',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("comment_form", '评论', '<{$config.weburl}>/main.php?m=sns&s=sns&op=comment&bid='+data.bid, 500);
	return false;
});
$(".sns-img").find("ul").on('click', 'img', function(){
    if(this.className=="large"){
        $(this).addClass('small').removeClass('large'); 
        var url=$(this).attr("src")
        $(this).attr("src",url+"_120X120.jpg");
    }else{
        $(this).addClass('large').removeClass('small'); 
        var url=$(this).attr("src")
        url = url.substr(0,url.lastIndexOf('_'));
        $(this).attr("src",url);
    }
});
$('.basic-info a').on('click',function(){
    $.ajax({
        type: 'GET',
        url: "<{$config.weburl}>/shop.php?sAjax=sAjax&uid=<{$smarty.get.uid}>",
        success: function(data){
            var status = JSON.parse(data);
            if(!status.status){
                layer.msg('商铺还未开启或暂时关闭', {icon: 0});
            }else{
                window.location.href="<{$config.weburl}>/shop.php?uid=<{$smarty.get.uid}>";
            }
        }
    });
});
</script>