<{include file="head.htm"}>
<div class="main-widget">
    <div class="item-bd">
        <{include file="trace_child.htm"}>
    </div>
</div>
<script type="text/javascript" src="<{$config.weburl}>/script/dialog/dialog.js" id="dialog_js"></script>
<script>
$("[genre='sns_forward']").on('click',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("forward_form", '转发', '<{$config.weburl}>/main.php?m=sns&s=sns&op=forward&bid='+data.bid, 500);
	return false;
});
$("[genre='sns_comment']").on('click',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("comment_form", '评论', '<{$config.weburl}>/main.php?m=sns&s=sns&op=comment&bid='+data.bid, 500);
	return false;
});
$('.small').on('click',function(e){
	$(this).addClass('large').removeClass('small');
	var a=$(this)[0].src;
	var b = a.substr(0,a.lastIndexOf('_'));
	$(this).attr("src",b);
});
$('.large').on('click',function(e){
	$(this).addClass('small').removeClass('large');
	var url=$(this).attr("src")
	$(this).attr("src",url+"_120X120.jpg");
});
</script>
