<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><{if $title}><{$title}> - <{$config.company}><{else}><{$config.title}><{/if}><{$config.company}></title>
    <meta name="description" content="<{$config.description}>">
    <meta name="keywords" content="<{$config.keyword}>">
    <link href="<{$config.weburl}>/templates/default/user_admin.css" rel="stylesheet" type="text/css" />
    <script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type=text/javascript></script>
    <script language="javascript">
        var searchTxt = ' 搜索商品！';
        var SEARCHVALUE = '请输入分类属性名称';
        var weburl="<{$config.weburl}>";
        function searchFocus(e){
            if(e.value == searchTxt){
                e.value='';
                $('#keyword').css("color","");
            }
        }
        function searchBlur(e){
            if(e.value == ''){
                e.value=searchTxt;
                $('#keyword').css("color","#999999");
            }
        }
    </script>
</head>
<div id="shortcut">
    <div class="w">
        <div class="fl">
            <script src="<{$config.weburl}>/login_statu.php"></script>
        </div>
        <div class="fr">
            <a href="<{$config.weburl}>/main.php?cg_u_type=1">进入买家中心</a>
            <a href="<{$config.weburl}>/main.php?m=sns&s=admin_share_product">我的收藏</a>
            <a href="<{$config.weburl}>/main.php?m=message&s=admin_message_list_inbox">站内消息</a>
        </div>
    </div>
</div>
<div class="header">
    <h1>
        <a href="<{$config.weburl}>" title="<{$config.company}>">
            <img title="<{$config.company}>" alt="<{$config.company}>" src="image/default/Logo.png" />
        </a>
        <i>卖家1中心</i>
    </h1>
    <div class="search">
        <div class="i-search ld">
            <form method="get" class="form" action="<{$config.weburl}>/">
                <input id="m" name="m" type="hidden" value="product" />
                <input id="s" name="s" type="hidden" value="list" />
                <input type="text" autocomplete="off" value="<{$smarty.get.key}>" id="key" name="key" class="text">
                <input type="submit" class="search_button" value="搜索">
            </form>
        </div>
        <div class="hotwords">
            <strong>热门搜索：</strong>
            <{insert name="label" type="searchword" temp="search_word" limit=7}>
        </div>
    </div>
</div>
<div class="layout">
    <div class="wrap_shadow">
        <div class="wrap_all">
            <div class="chart">
                <div title="请选择店铺分类" class="pos_x1 bg_a2"></div>
                <div title="填写店主和店铺信息" class="pos_x2 bg_b1"></div>
                <div title="完成" class="pos_x3 bg_c"></div>
            </div>
            <div class="shop_grade">
                <table>
                    <tbody>
                    <tr>
                        <th width="300">分销店铺</th>
                        <td>不需要拥有商品，只分销赚取佣金</td>
                        <td width="120"><a class="btn2" href="main.php?m=shop&s=admin_step&shop_type=1">我要分销商</a></td>
                    </tr>
                    <tr>
                        <th width="300">卖家店铺</th>
                        <td>需要个人拥有实际商品</td>
                        <td width="120"><a class="btn2" href="main.php?m=shop&s=admin_step&shop_type=2">我要开店</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<{include file="../../../templates/default/footer.htm"}>

