<{foreach item=list key=num from=$notice}>
<{if $num==0}>
<div class="notice_title_div"><a href="<{if $list.url}><{$list.url}><{else}><{$config.weburl}>/?m=announcement&s=detail&id=<{$list.id}><{/if}>" target="_blank" title="<{$list.title}>" ><{$list.content|strip_tags|truncate:40}></a></div> 
<{else}>
<p class="notice_list_p"><a href="<{if $list.url}><{$list.url}><{else}><{$config.weburl}>/?m=announcement&s=detail&id=<{$list.id}><{/if}>" target="_blank" title="<{$list.title}>" ><{$list.title|truncate:26:''}></a></p>
<{/if}>
<{/foreach}>