<div id="J_Category" class="category">
    <div class="navcatgory">
        <ul>
      	  	<{foreach item=cList key=num from=$cat}>
            <li class="j_MenuItem">
                <p>
                    <em style="<{if $cList.pic}>background-image:url(<{$cList.pic}>);><{else}> padding-left:10px;<{/if}>"><a target="_blank" href="<{$config.weburl}>/?m=product&s=list&id=<{$cList.catid}>"><{$cList.cat|truncate:8:""}></a></em>
                </p>
            </li>
            <{/foreach}>
        </ul>
    </div>
    <div id="J_SubCategory" class="subCategory">
        <{foreach item=cList key=num from=$cat}>
        <div class="j_SubView fn-clear">
            <div class="catlist">  
                <{foreach item=sublist key=n from=$cList.scat}>
                <dl class="fore<{$n+1}>">
                    <dt><a target="_blank" href="<{$config.weburl}>/?m=product&s=list&id=<{$sublist.catid}>"><{$sublist.cat}></a></dt>
                    <dd>
                    <{foreach item=slist from=$sublist.scat}>
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=list&id=<{$slist.catid}>"><{$slist.cat}></a>
                    <{/foreach}>
                    </dd>
                    
                    <{if $sublist.brand}>
                    <dd class="barnd">
                        <{foreach item=lists from=$sublist.brand}>
                        <a target="_blank" href="<{$config.weburl}>/?m=product&s=list&brand=<{$lists.name}>"><{$lists.name}></a>
                        <{/foreach}>
                    </dd>
                    <{/if}>
                </dl>
                <{/foreach}>
            </div>
            <div class="advcat">
            <script src='<{$config.weburl}>/api/ad.php?id=6&catid=<{$num+1}>&name=<{$smarty.get.key}>'></script>
            </div>
        </div>
        <{/foreach}>
    </div>   
</div>
