<{foreach item=slist key=key from=$categorys}>
    <{if $key<1005 }>
        <div class="w goods_items">
            <div class="til newclear">
                <span class="til_01">
                	<a target="_blank" href="<{$config.weburl}>?m=product&s=list&id=<{$slist.catid}>"><{$slist.name}></a>
                </span>
                <p>
	                <!--<{foreach item=cList key=num from=$cat}>
						<{foreach item=sublist key=n from=$cList.scat}>
							<a href="<{$config.weburl}>/?m=product&s=list&id=<{$sublist.catid}>" title=""><{$sublist.cat}></a>
						<{/foreach}>
					<{/foreach}>-->
                    <{foreach item=sublist key=n from=$slist.sub_cat}>
                    <a href="<{$config.weburl}>/?m=product&s=list&id=<{$sublist.catid}>" title=""><{$sublist.cat}></a>
                    <{/foreach}>
                </p>
            </div>
            <div class="m_list m_list_02 newclear">
                <div class="clu m_img_box w_202"><script src='<{$config.weburl}>/api/ad.php?id=<{$slist.guanggao.0}>&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></div>
                <div class="clu pos_re list_box">
                    <ul class="newclear">
                    	<{insert name="label" catid=$slist.catid type="product" o=6 temp="product_list_li_2" limit=6}>
                        <!-- <li>
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/g_img.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li>
                        <li class="spe">
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/img_22.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li>
                        <li class="ml404">
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/g_img.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li>
                        <li>
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/img_22.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li>
                        <li class="spe">
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/g_img.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li>
                        <li class="ml404">
                            <a href="" class="goods_img"><img src="../../../uploadfile/adv/2016/img_22.jpg" alt=""></a>
                            <a href="" title="">乳酸鱼骨胶原蛋白粉</a>
                            <p><var>￥180</var><s>￥235</s></p>
                        </li> -->
                    </ul>
                    <div class="m_img_box pos_ab"><script src='<{$config.weburl}>/api/ad.php?id=<{$slist.guanggao.1}>&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></div>
                    <div class="m_img_box spe pos_ab"><script src='<{$config.weburl}>/api/ad.php?id=<{$slist.guanggao.2}>&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></div>

                </div>
            </div>
        </div>
    <{/if}>
<{/foreach}>