<{foreach item=list key=num from=$pro}><li class="wareli clearfix">
	<a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" class="shopli_top_as">
        <div class="wareli_img">
            <img class="scrollLoading" data-url="<{$list.pic}>_220X220.jpg" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_loadding1.jpg) no-repeat center;" alt="<{$list.name}>"/>
        </div>
      <!--   <{if $list.stock <= 0}>
        <div class="shop_over">已售完</div>
        <{/if}> -->
        <div class="wareli_bottom clearfix">
            <div class="wareli_bottom_message">
                <p class="wareli_bottom_text"><{$list.pname|truncate:18:""}></p>
            </div>
            <div class="wareli_bottom_rob clearfix">
                <span class="diantou">店头价</span><span class="org wareli_bottom_money"><{$config.money}><{$list.price}></span>
            </div>
        </div>
    </a>
</li><{/foreach}>