<div class="position_container">
	<h2>一、我如何购买</h2>
	<h3>1.注册并登录网站</h3>
	<p>进入注册页面后输入手机号、密码（密码设置不要过于简单）及验证码，按照提示完成注册。</p>
	<h3>2.查找商品</h3>
	<ul>
		<li>（1）您可以在搜索框输入关键字搜索您喜欢的商品。</li>
		<li>（2）您也可以通过商品分类导航栏来寻找您喜欢的商品。</li>
		<li>（3）在购物过程中，商城编辑为您推荐的商品也可以成为您的选择。</li>
	</ul>
	<h3>3.放入购物车</h3>
	<ul>
		<li>（1）挑选商品后，您可以“立即购买”或者“加入购物车”；</li>
		<li>（2）在购物车中，系统默认每件商品的订购数量为1件，如果您想购买多件商品，可修改购买数量；</li>
		<li>（3）在购物车中，您可以将商品单个或批量删除。</li>
	</ul>
	<h3>4. 填写购物人信息，收货信息等。</h3>
	
	<h2>二、订单下单后，我如何付款</h2>
	<p class="position_ptext">确认无误后点击“去结算”，生成新订单并显示订单编号。跳转至支付选择页面选择支付方式。</p>

	<h2>三、我怎么知道自己下单成功没</h2>
	<p>您可进入“个人中心”→“我的订单”查看订单详细信息</p>

	<h2>四、如果我不想要了可以退吗</h2>
	<p class="position_ptext">可分为有理由退货与无理由退货两种类型。</p>
	<h3>1.买家有理由退货包括但不仅限于以下情况：</h3>
	<ul>
		<li>1)　商品破损：包括但不仅限于商品因运输途中造成的损坏、残缺、无法正常使用，商品外观出现划痕或者瑕疵等。</li>
		<li>2)　商品错发、少发。</li>
		<li>3)　描述不符：买家实际收到的商品与商品描述不一致。</li>
		<li>4)　商品信息于售前未充分披露：包括但不仅限于商品的瑕疵、色差、尺码、适用人群、有效期、产地、材质等。</li>
		<li>5)　商品质量问题：商品自身问题造成的无法使用的情况。</li>
	</ul>
	<h3>2.　买家无理由退货主要针对的是买家自身原因，买家自身原因包括但不仅限于后悔购买、个人喜好等个人主观原因。前提是不影响二次销售，未开封，未使用，包装完好，物品状态良好；所附带的所有附件，礼品，收据，商家的独特辨识码都保持完好无损。</h3>
	
	<h2>五、取消订单后，多长时间可以退款</h2>
	<p class="position_ptext">如您的退货已经办理完毕，我们会及时将商品款项退还给您。</p>
	<h3>1.如您使用支付宝余额支付，款项将会退到您的支付宝余额；</h3>
	<h3 style="padding:0;">2.如您使用银行卡/信用卡支付，将会在3-5日内（视银行支付网关情况而定）退还到对应的银行卡/信用卡账户。</h3>

	<h2>六、如何产看我已经预定成功的订单</h2>
	<p class="position_ptext">登录我的账号—首页/我的商城—已买到的商品，点击“订单详情”即可查看到订单信息。</p>

	<h2>七、有一些产品细节我该如何确定？</h2>
	<p class="position_ptext">可在商品详情里面查看或者向蚂蚁海淘客服咨询。</p>

	<h2>八、如何确定产品是否是正品？</h2>
	<p class="position_ptext">首先商品均采购自海外，商品来源正宗，品质有保障；其次买手都是长期居住在海外，并且经过身份、居住地址和个人信用信息的严格认证。海外完善的个人信用体系、严谨的法治环境，以及洋码头海外分公司背后强大的律师团队，任何售假、欺诈行为都要承担触犯海外法律的严厉后果。</p>
</div>












