<!-- <{foreach item=list key=num from=$pro}>
<li class="fore<{$num+1}>">
<div class="p-img">
    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
        <img src='<{$list.pic}>_220X220.jpg' />
    </a>
</div>
<div class="p-name"><a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><{$list.pname}></a></div>
</li>
<{/foreach}> -->

<{foreach item=list key=num from=$pro}>
<li class="<{if $num == 2 || $num == 5}>ml404<{/if}>" >
    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" class="goods_img"><img src="../../../uploadfile/adv/2016/g_img.jpg" alt=""></a>
    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" title="" class="goods_text"><{$list.pname}></a>
    <p><var>￥180</var><s>￥235</s></p>
</li>
<{/foreach}>