@charset "utf-8";
/* CSS Document */
input[type="submit"]{height:32px;font-size:12px;line-height:32px;border-radius:5px 5px 5px 5px;width:100%;display:block;background:#D63638;color:#FFFFFF!important;border:1px solid #D63638;text-align:center;margin:15px auto;}
input[type="password"]{border:1px solid #DDDDDD;border-radius:2px 2px 2px 2px;height:30px;line-height:30px;}
.pay{padding:10px 15px;}
dl dt{color:#333333;display:inline-block;font-size:14px;padding:10px 0;}
dl dd{font-size:12px;display:inline-block;line-height:30px;position:relative;}
dl dd span{font-size:16px;}
