<script>
$(function(){
    /* 全选 */
	 $('.checkall').click(function(){
        var _self = this;
        $('.checkitem').each(function(){
            if (!this.disabled)
            {
                $(this).prop('checked', _self.checked);
            }
        });
        if(this.checked){
            $(".pro-checkbox").addClass("pro-checkbox-checked");
        }else{
            $(".pro-checkbox").removeClass("pro-checkbox-checked");
        }
        $('.checkall').prop('checked', this.checked);
    });

	$('#del').click(function(){
		if($('.checkitem:checked').length == 0){
			return false;
		}
		var url = "main.php?m=sns&s=admin_share_product";
		var items = '';
			$('.checkitem:checked').each(function(){
				items += this.value + ',';
		});
		items = items.substr(0, (items.length - 1));
		$.get(url,'pid=' + items,showResponse);
		function showResponse(originalRequest)
		{
			document.location.reload();
		}
		return false;
	});

    $(".pro-checkbox input[type='checkbox']").click(function(){
        var flag = $(this).attr("checked");
        if(flag == true)
        {
            $(this).parent().addClass("pro-checkbox-checked");
        }
        else
        {
            $(this).parent().removeClass("pro-checkbox-checked");
            $(this).parent().parent().parent().removeClass("checked");
        }
    });
});
</script>
<div class="path">
    <div>
        <span class="shop"></span>
    	<a href="main.php?cg_u_type=1">买家中心</a> <span>&gt;</span>
        收藏商品
    </div>
</div>
<div class="main">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="active"><a href="main.php?m=sns&s=admin_share_product">收藏商品</a></li>
                <li class="normal"><a href="main.php?m=sns&s=admin_share_shop">收藏店铺</a></li>
                <li class="normal"><a href="main.php?m=product&s=admin_footprint">我的足迹</a></li>
            </ul>
        </div>
        <div class="delete">
            <input type="checkbox" class="checkall" id="checkall"></td>
            <label for="checkall" class="btn2">全选</label>
            <a id="del" confirm="您确定要删除吗?" class="btn2" href="javascript:void(0);">删除</a>
            <div class="pagination"><{$re.page}></div>
        </div>
        <table class="table-list-style share-pro">
            <tr>
                <td colspan="20" class="pic_model">
                    <ul>
                    <{foreach item=list key=num from=$re.list}>
                    	<li>
                            <label class="pro-checkbox">
                                <input type="checkbox" value="<{$list.id}>" class="checkitem" name="chk[]">
                            </label>
                            <dl>
                                <strong>¥<{$list.price}></strong>
                                <dt>
                                <a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>"><{$list.pname}></a></dt>
                                <dd class="picture">
                                    <div><a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.pid}>"><img width="150" height="150" src="<{if $list.image}><{$list.image}><{else}>image/default/nopic.gif<{/if}>"></a></div>
                                    <div class="handle"><a href="main.php?m=sns&s=admin_share_product&type=del&id=<{$list.id}>">删除</a></div>
                                </dd>
                            </dl>
                        </li>
                    <{/foreach}>
                    </ul>
                </td>
            </tr>
			<{if !$re.list}>
            <tr>
            	<td colspan="20" class="norecord" style="border-top:none;">
                	<i></i><span>暂无符合条件的数据记录</span>
                </td>
            </tr>
            <{/if}>
            </tbody>
            <!-- <tfoot>
            <tr>
            	<td width="2"></td>
            	<td>
                <input type="checkbox" class="checkall" id="checkall">
                <label for="checkall" class="btn2">全选</label>
                <a id="del" confirm="您确定要删除吗?" class="btn2" href="javascript:void(0);">删除</a>
                <div class="pagination"><{$re.page}></div>
                </td>
            </tr>
            </tfoot> -->
        </table>
     </div>
</div>
