<script type="text/javascript">
$(function(){
    /* 全选 */
	 $('.checkall').click(function(){
        var _self = this;
        $('.checkitem').each(function(){
            if (!this.disabled)
            {
                $(this).prop('checked', _self.checked);
            }
        });
        $('.checkall').prop('checked', this.checked);
    });

	$('#del').click(function(){
		if($('.checkitem:checked').length == 0){
			return false;
		}
		var url = "main.php?m=sns&s=admin_share_shop";
		var items = '';
			$('.checkitem:checked').each(function(){
				items += this.value + ',';
		});
		items = items.substr(0, (items.length - 1));
		$.get(url,'pid=' + items,showResponse);
		function showResponse(originalRequest)
		{
			document.location.reload();
		}
		return false;
	});
});
</script>
<div class="path">
    <div>
        <span class="shop"></span>
        <a href="main.php?cg_u_type=1">买家中心</a> <span>&gt;</span>
        收藏店铺
    </div>
</div>
<div class="main share_shop">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="normal"><a href="main.php?m=sns&s=admin_share_product">收藏商品</a></li>
                <li class="active"><a href="main.php?m=sns&s=admin_share_shop">收藏店铺</a></li>
                <li class="normal"><a href="main.php?m=product&s=admin_footprint">我的足迹</a></li>
            </ul>
        </div>
        <div class="delete">
            <input type="checkbox" class="checkall" id="checkall"></td>
            <label for="checkall" class="btn2">全选</label>
            <a id="del" confirm="您确定要删除吗?" class="btn2" href="javascript:void(0);">删除</a>
        </div>
        <table class="table-list-style">
            <thead>
            <tr>
                <th width="30"></th>
                <th width="70"></th>
                <th>店铺</th>
                <th width="180">收藏时间</th>
                <th width="180">收藏人气</th>
                <th width="180" class="br">操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach item=slist key=num from=$re.list}>
            <tr>
                <td><input type="checkbox" value="<{$slist.id}>" class="checkitem" name="chk[]"></td>
                <td><div class="pic_small"><a target="_blank" href="<{$config.weburl}>/shop.php?uid=<{$slist.shopid}>"><img height="60" width="60" src="<{if $slist.logo!=''}><{$slist.logo}><{else}>image/default/user_admin/mayi_icon4.jpg<{/if}>" /></a></div></td>
                <td class="tl" style="padding-left:10px;"><a target="_blank" href="<{$config.weburl}>/shop.php?uid=<{$slist.shopid}>"><{$slist.company}></a><p><{$slist.area}></p><p><{$slist.user}></p></td>
                <td><{$slist.addtime|date_format}></td>
                <td style="color:#ff5c5c;"><{$slist.shop_collect}></td>
                <td>
                <p><a href="main.php?m=sns&s=admin_share_shop&type=del&id=<{$slist.id}>">删除</a></p>
                </td>
            </tr>
            <{foreachelse}>
            <tr>
                <td colspan="6" class="norecord">
                <i></i><span>暂无符合条件的数据记录</span>
                </td>
            </tr>
            <{/foreach}>
            <tr>
                <td colspan="6"><div class="pagination"><{$re.page}></div></td>
            </tr>
            </tbody>
        </table>
     </div>
</div>