<!--
/*
* @Auth:bruce
* @Uptime:2014-11-26
* @Desc:sns 更新js。
*/
 -->
<script>
function $$(id) {
	return !id ? null : document.getElementById(id);
}
function ajaxpost(formid) {

	var ajaxframeid = 'ajaxframe';
	var ajaxframe = $$(ajaxframeid);
	if(!ajaxframe){
		var div = document.createElement('div');
		div.style.display = 'none';
		div.innerHTML = '<iframe name="' + ajaxframeid + '" id="' + ajaxframeid + '" loading="1"></iframe>';
		ajaxframe = $$(ajaxframeid);
		$$('append_parent').appendChild(div);
	}

	$$(formid).target = ajaxframeid;

	function closefunc()
	{
		DialogManager.close("notice");
		$('#friendtrace').snsshow({url:"main.php?m=sns&s=sns&curpage=1",'iIntervalId':true});
	}

	function closefunc1()
	{
		DialogManager.close(formid);
		var d = DialogManager.create('notice');
		d.setTitle('<{$lang.message}>');
		d.setContents('message', { type: 'notice', text: "评论成功" });
		d.setWidth(270);
		d.show('center');
		setTimeout(closefunc,800);
	}

	$.post("main.php?m=sns&s=sns",{"act":$("#act").val(),"commentid":$("#commentid").val(),"commentcontent":$("#commentcontent").val()},function(){
		setTimeout(closefunc1,200);
	});
}
</script>
<div class="feededitor">

<form method="post" id="comment_form" name="comment_form" >
<div class="form-error"></div>
<input type="hidden" id="act" name="act" value="comment" />
<input type="hidden" id="commentid" name="commentid" value="<{$smarty.get.bid}>">
<div style="padding:10px;" >
    <textarea resize="none" name="commentcontent" id="commentcontent"></textarea>
    <div class="form-error"></div>
    <input type="text" style="display:none;" />
    <!-- 防止点击Enter键提交 -->
    <div class="handle">
    	<input type="hidden" name="sprivacy" id="sprivacy" value="0"/>
        <div id="charcount" class="fl"></div>     
        <input type="submit" onclick="comment_submit()" value="发表" class="button" name="发表">
    </div>
</div>
</form>
</div>
<script>
$(function(){
	$("#commentcontent").charCount({
		allowed: 140,
		warning: 10,
		counterContainerID:'charcount',
		firstCounterText:'<{$lang.remaining}>',
		endCounterText:'<{$lang.characters}>'
	});
});
function comment_submit(){
    ajaxpost('comment_form');
    return false;
}
</script>