@charset "utf-8";
html{background-color:#f1f1f1;color:#535353;}
body{margin:0;padding:0;font:12px/1.5 arial,'宋体';,"Microsoft Yahei";}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,em,font,img,strong,b,dl,dt,dd,ol,ul,li,form,textarea,input{margin:0;padding:0;}
ol,ul,li{list-style:none outside none;}
a{text-decoration:none;color:#535353;cursor:pointer;}
a:hover{color:#08c;}
em{font-style:normal;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear{zoom:1;}
.fn-left{display:inline;float:left;}
.fn-right{display:inline;}
.fn-hide{display:none;}
.w{margin:0 auto;}
.top{background:url(../image/nav.png) repeat-x;height:92px;margin-bottom:15px;}
.top-a{color:#FFF;height:30px;line-height:30px;}
.top-a a{color:#FFF;}
.top-a .fn-left li{float:left;padding-right:14px;}
.top-b{margin-top:2px;height:50px;padding-top:20px;}
.top-b h2{float:left;display:inline;}
.top-b ul{float:right;display:inline;}
.top-b ul li{float:left;margin:10px 30px 0 30px;font-weight:700;font-size:16px;}
.top-b ul li a{color:#000;}
.top-b ul li.current a{color:#E66E1E;}

@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";font-size:22px;font-style:normal;color:#fff}
.iconfont_min{font-family:"iconfont";font-size:1.4em;font-style:normal}
.edit_icon{font-size: 20px;color: orange;font-weight: bold;}

header{width:100%;height:50px;}
.nav-w{background-color:#ff5c5c;width:100%;font-size:12px;padding:0;height:50px;line-height:50px;display:-webkit-box;left:0;position:fixed;top:0;z-index:199;}
.nav-w a{color:#666;}
.nav-s{min-width:74px;padding-left:0.5rem;}
.nav-c{text-align:center;-webkit-box-flex:1;}
.nav-e{min-width:60px;padding-right:0.5rem;}
.nav-e nav{color: #fff;text-align: center;font-weight: bold;height:50px;line-height:50px;}
.nav-s a{display:inline-block;width:74px;height:34px;line-height:34px;}
.nav-s a nav{color:#fff;display:inline-block;height:34px;line-height:34px;text-decoration:none;width:62px;}
.nav-c span{display:block;height:50px;line-height:50px;padding:0 20px 0 0;font-size:18px;font-weight:bold;color:#fff;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
i.fanhui_icon {display: inline-block;height: 50px;width: 50px;background: url(../../../../image/wap/wap_haitao_icon10.png) 5.8% no-repeat;background-size: 50%;}

.banner{background:url(../image/wap_haitao_banner1.jpg);height:150px;}

.banner .user{float:left;display:inline;height:97px;position:relative;background-color: rgba(255,255,255,.5);left: 50%;margin-left: -128.5px;top: 50%;margin-top: -49.5px;}
.banner .img{float:left;width:76px;height:76px;padding:4px;margin:7px 0 0 12px;display:inline;overflow:hidden;position:relative;}
.banner .img-cover{position:absolute;top:0;left:0;z-index:100;width:100px;height:98px;}
.banner .info{float:left;display:inline;margin-left:10px;padding-right: 20px;}
.banner .user_info{margin-top:12px;line-height:22px;font-size:14px;color:#333;}
.banner .user_info p:nth-of-type(2){color: #ff5c5c;margin: 3px 0;} 
.banner .user_info p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.banner .user_account{margin-top:5px;}
.banner .user_account em{color:#F98D00;font-size:14px;margin:0 5px 0 2px;}
.banner .greeting{float:right;display:inline;margin:68px 20px 0 0;text-align:right;line-height:23px;font-size:16px;font-family:'Microsoft Yahei';color:#FFF;}

/*.container{margin-top: 10px}*/
.container .fn-left{width:150px;}
.container .fn-right{width:800px;}
.container .sidenav{border:1px solid #DDDDDD;padding:0 10px;}
.container .m{border-bottom:1px solid #DDDDDD;padding:20px 0;}
.container .m .mt{padding-left:30px;font-size:14px;font-weight:700;height:21px;line-height:21px;}
.container .m.fore1 .mt{color:#39B7E0;background:url(../image/funds.png) no-repeat;}
.container .m.fore2 .mt{color:#88BB31;background:url(../image/trade.png) no-repeat;}
.container .m.fore3{border-bottom:none;}
.container .m.fore3 .mt{color:#FF7C3C;background:url(../image/account.png) no-repeat;}
.container .m .mc{margin-top:15px;}
.container .m .mc a{display:inline;float:left;line-height:25px;margin-right:10px;}

.block{background-color:#fff;}
.block.account{height:108px;}
.block .balance{float:left;padding:20px 0 20px 2%;width:98%;}
.block .balance2{float:left;padding:20px 0 30px 2%;width:98%;}
.block .balance p{font-size:14px;line-height:18px;}
.block .balance p a{color:red;font-weight:normal;margin-left:20px;background:url(../image/hot.jpg) 118px 1px no-repeat;padding-right:42px;text-decoration:none;font-size:12px;}
.block .balance .wallet{display:inline-block;height:30px;line-height:30px;font-size:14px;color:#666;margin-right:10px;zoom:1;vertical-align:middle;}
.block .balance .wallet em{color:#ff5c5c;font-family:'Microsoft YaHei';font-size:14px;}
.block .balance .wallet em strong{font-size:20px;font-weight:normal;line-height:normal;}
.block .balance .wallet em strong.srt{padding: 0 5px;}
.block .balance .btn{width:60px;height:30px;display:inline-block;*display:inline;border:none;color:#fff;font-size:14px;margin-left:10px;text-decoration:none;text-align:center;zoom:1;line-height:30px;background-color: #ff5c5c;border-radius: 5px;}
.block .balance .btn:last-of-type{background-color: #ff6600;}
.block .balance .btns{float: right;margin-right: 20px;background: none; background-color: #ff5c5c;color: #fff;width: 65px;}
.block .balance .btn:hover{background-position:0 -278px;}
.block .balance .btn:active{background-position:0 -340px;}
.block .balance .btn1{width:60px;height:30px;display:inline-block;background:url(../image/btn.png) 0 0 no-repeat;border:none;color:#fff;font-size:14px;text-decoration:none;text-align:center;line-height:30px;margin-left:3px;zoom:1;}
.block .balance .btn1:hover{background-position:0 -68px;}
.block .balance .btn1:active{background-position:0 -143px;}
.block .message{border-left:1px dashed #e5e5e5;height:76px;float:right;width:220px;padding:32px 0 0 30px;}
.block .message p{font-size:14px;margin-bottom:18px;padding-left:25px;height:16px;line-height:16px;margin-top:14px;background:url(../image/icon1.png) left 2px no-repeat;}

/*.block .record{padding:20px 0 0;}*/
.block .record p{font-weight:bold;font-size:14px;line-height:50px;height: 50px;}
.block .record p a{color:#136EC2;font-weight:normal;margin-left:10px;text-decoration:none;font-size:12px;}
.block .record th{background-color:#ededed;height:26px;line-height:16px;font-weight:normal;font-size: 14px;color:#666;padding:10px 5px 10px 10px;}
.block .record td{font-size:12px;vertical-align:middle;padding:15px 10px;border-bottom:1px solid #E6E6E6;text-align:center;color:#4D4D4D;}
.block .record td p{margin: 5px 0 0}
.block .record td a{color:#ff5c5c;}
.block .record .al{text-align:left;}
.block .record td.price{color:#535353;font-weight:bold;}
.block .record td.minus{color:#ff5c5c;}
.block .record td div{color:#888;margin-top:5px;}

.i-block{/*padding:20px 0;*/background-color:#fff;}
.block h2{/*margin-bottom:15px;*/font-size:14px;/*border-bottom:solid 1px #ddd;*/height:50px;line-height: 50px;text-align: center;}
.block h2 span{font-size:12px;font-weight:normal;float:right;padding-right: 0.5rem;}
.block h2 span strong{color:#ff5c5c;margin:0 5px;}
.block h2 span a{color:#ff5c5c;margin-left:3px;}

.filter{background-color:#f4faff;padding:20px 10px;border:1px solid #d8eafa;margin-bottom:20px;}
.filter dl{padding-top:10px;}
.filter dt{color:#4D4D4D;float:left;font-weight:bold;height:20px;line-height:20px;vertical-align:top;}
.filter dd{float:left;}
.filter dd a{display:inline-block;padding:2px 7px;line-height:18px;border-radius:2px;margin-bottom:5px;margin-right:4px;outline:0 none;text-decoration:none;color:#4d4d4d}
.filter dd a:hover{ background:#CBE9F1;}
.filter dd a.current{background-color: #ff5c5c;color:#FFFFFF;}

.none{margin:0 auto;}
.none img{float:left;}
.none span{float:left;font-family:"Microsoft YaHei","黑体";font-size:18px;margin-top:38px;}


.detail{/*margin:30px auto 20px;*/line-height:22px;border-right:1px solid #D2D2D2;border-top:1px solid #D2D2D2;color:#333;}
.detail dt{display:block;font-size:14px;font-weight:bold;padding:8px 10px;text-align: center;}
.detail dt,.detail dd{border-left:1px solid #D2D2D2;border-bottom:1px solid #D2D2D2;background-color: #fff;}
.detail dd span{border-right:1px solid #D2D2D2;padding:6px 5px;width:90px;display:inline-block; margin-right:10px;text-align:right;}
.block .record p a.pay_sgo{color: #555;font-size: 14px;}


.footer{color:#A0A0A0;height:144px;background:#eee;padding-top:30px;text-align: center;}
.footer a{color:#A0A0A0;}
.footer .links{padding:10px 0;}
.footer .links em{padding:0 10px;}

.tips{background:#F3F37E;padding: 3px;padding-left: 8px;}
.container input{height: 25px;line-height: 32px;}
/*.container p{padding-left: 8px;}*/
.container p.m1{margin-top: 10px;margin-bottom: 3px;}
.container p.m2 input{margin-top: 20px;border-radius: 5px;background: #5170EC;color: #fff;padding-left: 3px;}
h2{font-weight: normal;}
.duser-auth {
    display: inline-block;
}
.duser-auth li {
    display: inline-block;
}
.duser-auth li a.duser-auth-mob {
    background: url(../image/pay_haitao_icon3.png) center left no-repeat;
    background-size: contain;
    padding-left: 25px;
}
.duser-auth li a.duser-auth-mob-j {
    color: #999;
    background: url(../image/pay_haitao_icon4.png) center left no-repeat;
    background-size: contain;
}
.duser-auth li a {
    color: #ff5c5c;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 25px;
}

.duser-auth li a.duser-auth-ema {
    background: url(../image/pay_haitao_icon1.png) center left no-repeat;
    background-size: 25%;
}
.duser-auth li a.duser-auth-ema-j {
    color: #999;
    background: url(../image/pay_haitao_icon2.png) center left no-repeat;
    background-size: 25%;
}
i.home_icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../image/pay_haitao_icon5.png) right no-repeat;
    background-size: 50%;
}
.nav-e a {
    color: #666666;
    display: inline-block;
    width: 75px;
    height: 50px;
    text-align: right;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
}
.nav-e {
    min-width: 60px;
    padding-right: 0.5rem;
}