<div class="wrap_buyer clearfix">
    <div class="layout_l">
		<div class="member_info">
			<a class="user_pic" href="main.php?m=member&s=admin_member">
			<img src="<{if !$cominfo.plogo}>image/default/user_admin/mayi_icon2.png<{else}><{$cominfo.plogo}><{/if}>" /></a>
			<div class="user_rt">
				<dl>
					<dt>亲爱的<span><{$smarty.cookies.USER}></span>，欢迎您！</dt>
					<dd class="qd">
					<a href="main.php?m=member&s=admin_member&type=email" class="qd_icon1"><{if $cominfo.email&&$cominfo.email_verify==1}>已认证<{else}>未认证<{/if}></a>
					<a href="main.php?m=member&s=admin_member&type=mobile" class="qd_icon2"><{if $cominfo.mobile&&$cominfo.mobile_verify==1}>已认证<{else}>未认证<{/if}></a>
					<a target="_blank" href="<{$config.pay_url}>" class="qd_icon3"><{$config.pay_name}></a>
					<a href="javascript:void(0)" class="qd_icon4"><{if $is_qd}>已签到<{else}>每日签到</a><{/if}>
					<a href="main.php?m=points&s=admin_points" class="qd_icon5">积分明细</a></dd>
				</dl>
				<div class="user_atten">
					<ul class="clearfix">
						<li><a href="main.php?m=sns&s=admin_friends"><span><{$count.friend}></span>关注</a></li>
						<li><a href="main.php?m=sns&s=admin_friends&type=fan"><span><{$count.fan}></span>粉丝</a></li>
						<li class="li"><a href=""><span><{$count.blog}></span>微博</a></li>
					</ul>
				</div>
			</div>
		</div>
        <div class="weibo">
        <form action="main.php?m=sns&s=sns" name="shareform" id="shareform" method="post">
            <div class="clearfix">
                <div class="charcount" id="weibo"></div>
                <div class="weibopic"></div>
            </div>
            <div class="weibo_con clearfix">
                <input type="hidden" name="act" value="share">
                <textarea name="content" id="content"></textarea><span class="form-error"></span>
                <div></div>
                <img src="image/default/user_admin/mayi_icon28.png" class="weibo-bg">
            </div>
            <div class="weibo_button clearfix">
                <a id="shareGoods" style="color: #FFCF2B;" class="iconfont" href="javascript:void(0)" title="分享产品">&#xe609;</a>
                <a id="shareStore" style="color: #0579C6" class="iconfont" href="javascript:void(0)" title="分享店铺">&#xe619;</a>
                <a id="insertFace" class="iconfont" href="javascript:void(0)" title="分享表情">&#xe60b;</a>
                <input type="submit" id="btn" value="分享" class="button">
			</div>
        </form>
        </div>
        <div class="friendtrace" id="friendtrace"></div>
    </div>
	<div class="layout_r">
		<div class="right_module">
			<h2>公告栏</h2>
			<{insert name="label" type="announcement" temp="notice_list" limit=5}>
		</div>
		<div class="right_module">
			<h2>商品推荐</h2>
			<div class="good">
			<script src='<{$config.weburl}>/api/ad.php?id=9&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
			</div>
		</div>
		<div class="right_module interest">
			<h2>可能感兴趣的人</h2>
			<{insert name="label" type="sns_friends" temp="friends_list_1" limit=3}>
		</div>
		</div>
	</div>
</div>
<script src="script/jquery.caretInsert.js"></script>
<script>
var weburl = "<{$config.weburl}>"
<{if !$is_qd}>
$('.qd a').click(function(){
	var url = 'ajax_back_end.php';
	var sj = new Date();
	var pars = 'shuiji=' + sj+'&qd=1&id=<{$cominfo.userid}>';
	$.post(url, pars,showResponse);
	function showResponse(originalRequest)
	{
		$('.qd .qd_icon4').html("已签到");
	}
});
<{/if}>
$('.weibo_con textarea').on('blur',function(){
	$(this).parent().removeClass('focus');
}).on('focus',function(){
	$(this).parent().addClass('focus');
});
$('#friendtrace').snsinit();
$('#friendtrace').snsshow({url:"<{$config.weburl}>/main.php?m=sns&s=sns&curpage=1",'iIntervalId':true});
//显示分享商品页面
$('#shareGoods').click(function(){
	ajax_form("sharegoods", '<{$lang.share_buy_and_collection_of_baby}>', '<{$config.weburl}>/main.php?m=sns&s=sns&op=sharegoods', 500);
	return false;
});
//显示分享店铺页面
$('#shareStore').click(function(){
	ajax_form("shareshop", '<{$lang.share_shop}>', '<{$config.weburl}>/main.php?m=sns&s=sns&op=shareshop', 500);
	return false;
});
$("#friendtrace").on('click','[genre="sns_forward"]',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("forward_form", '<{$lang.forwarding}>', '<{$config.weburl}>/main.php?m=sns&s=sns&op=forward&bid='+data.bid, 500);
	return false;
});
$("#friendtrace").on('click','[genre="sns_comment"]',function(){
	var data = $(this).attr('data-param');
	eval("data = "+data);
	ajax_form("comment_form", '评论', '<{$config.weburl}>/main.php?m=sns&s=sns&op=comment&bid='+data.bid, 500);
	return false;
});
$("#friendtrace").on('click','[data_type="fd_del"]',function(){
	var data_str = $(this).attr('data-param');
	eval("data_str = "+data_str);
	var url = "<{$config.weburl}>/main.php?m=sns&s=sns";
	var pars = 'bid='+data_str.bid+'&op=del';
	$.post(url, pars,showResponse);
	function showResponse(originalRequest)
	{
		var d = DialogManager.create('notice');
		d.setTitle('<{$lang.message}>');
		d.setContents('message', { type: 'notice', text: "<{$lang.deleted_successfully}>" });
		d.setWidth(270);
		d.show('center');
		function closefunc()
		{
			DialogManager.close("notice");
			$('#friendtrace').snsshow({url:"<{$config.weburl}>/main.php?m=sns&s=sns&curpage=1",'iIntervalId':true});
		}
		setTimeout(closefunc,1000);
	}
});
function $$(id) {
	return !id ? null : document.getElementById(id);
}
$("#btn").bind('click',function(){
	formid='shareform';
	var ajaxframeid = 'ajaxframe';
	var ajaxframe = $$(ajaxframeid);
	if(!ajaxframe){
		var div = document.createElement('div');
		div.style.display = 'none';
		div.innerHTML = '<iframe name="' + ajaxframeid + '" id="' + ajaxframeid + '" loading="1"></iframe>';
		ajaxframe = $$(ajaxframeid);
		$$('append_parent').appendChild(div);
	}
	$$(formid).target = ajaxframeid;
	$('#'+formid).validate({
		errorPlacement: function(error, element){
			element.next('.form-error').append(error)
		},
		rules : {
			content : {
				required: true,
				maxlength : 140
			}
		},
		messages : {
			content : {
				required: '不能为空!',
				maxlength: '不能超过140字'
			}
		},
		submitHandler:function(form){
			form.submit();
			function closefunc()
			{
				$("#content").val('');
				DialogManager.close("notice");
				$('#friendtrace').snsshow({url:"<{$config.weburl}>/main.php?m=sns&s=sns&curpage=1",'iIntervalId':true});
			}
			var d = DialogManager.create('notice');
			d.setTitle('<{$lang.message}>');
			d.setContents('message', { type: 'notice', text: "<{$lang.share_successful}>" });
			d.setWidth(270);
			d.show('center');
			setTimeout(closefunc,800);
		}
	});
});
$("#content").charCount({
	allowed: 140,
	warning: 10,
	counterContainerID:'weibo',
	firstCounterText:'还可以输入<span>',
	endCounterText:'</span>字',
	errorCounterText:'已经超出<span>'
});
</script>
<script src="script/face/face.js"></script>