@charset "utf-8";
/*==============================*/
/* 定义Html元素 */
/*==============================*/ 
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input{padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td{font-size:12px;font-style:normal;font-weight:normal;}
strong{font-weight:bold;}
ul, ol{list-style:none outside none;}
fieldset, img{border:medium none;}
caption, th{text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
body{background:none repeat scroll 0 0 #FFF;color:#333333;font:12px/1.5 Tahoma,Helvetica,Arial,'微软雅黑',sans-serif;}
input, select, textarea{font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a{outline:medium none;color:#333;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;color: #ff5c5c;}
i, cite, em{font-style:normal;}
li{list-style-type:none;}
.hidden{display:none}
/*==============================*/
/* 表单元素格式化及伪类效果 */
/*==============================*/ 
input[type="text"],input[type="password"]{box-shadow:2px 2px 1px 0 #E7E7E7 inset;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{background-color:#FFFFFF;border-color:#CCCCCC;box-shadow:1px 1px 1px 0 #E7E7E7;}
input[type="file"]{background-color:#FBFBFB;border:1px solid #D8D8D8;cursor:default;height:20px;line-height:20px;}
input[type="password"]:focus{background-color:#FFFFEC;border-color:#FFCC99;box-shadow:1px 1px 1px 0 #E7E7E7;}
select{background-color:#FFFFFF;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-image:none;border-style:solid;border-width:1px;box-shadow:2px 2px 1px 0 #E7E7E7 inset;height:24px;line-height:24px;padding:1px;}
textarea{background-color:#FBFBFB;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-image:none;border-style:solid;border-width:1px;box-shadow:2px 2px 1px 0 #E7E7E7 inset;font-family:Tahoma;line-height:18px;padding:1px 2px 3px 4px!important;}
input[type="text"],input.text,input.password{background-color:#FBFBFB;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-style:solid;border-width:1px;font-family:Tahoma;height:25px;line-height:23px;text-indent:4px;}
input.password{background-color:#FFFFEC;border-color:#FFCC99 #FFDFBF #FFDFBF #FFCC99;}
/*input.submit{background:url(../../../image/default/user_admin/submit.gif) no-repeat;border:0 none;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);color:#555555;cursor:pointer;font-weight:700;height:34px;line-height:34px;width:120px;}
input.submit:hover{background:url(../../../image/default/user_admin/submit.gif) 0 bottom no-repeat;box-shadow:none;color:#000000;}*/
/*==============================*/
/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题*/
/*==============================*/ 
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.ntb{border-top:none!important;}
/* 定位*/
.fl{float:left;}
.fr{float:right!important;}
.br{border-right: 1px solid #ccc;}
.w{margin:0 auto;width:1212px;}
.form-error{color:#F00;}
.clear{clear:both;}
.tl{text-align:left!important;}
.tc{text-align:center!important;}
.ar{text-align:right!important;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.mt30{margin-top:30px!important;}
.mt10{margin-top:10px;}
/* 长度高度*/
.w50{width:50px!important;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w120{width:120px;}
.w145{width:145px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
.w210{width:210px;}
.w250{width:250px;}
.w294{width:294px!important;}
.w300{width:300px !important;}
.w394{width:394px!important;}
.w400{width:400px;}
.w775{width:775px;}
.h166{ height:166px;}
/* 颜色*/
.red{color:#cc0000;}
.org{color:#FF4F01;}
/*.btn2{background:url(../../../image/default/user_admin/repeat_x.png) repeat-x center -73px;border:1px solid #8D8D8D;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);color:#555555;display:inline-block;height:20px;line-height:19px;padding-left:10px;padding-right:10px;text-align:center;}
.btn2:hover{background-position:0 -40px;border-color:#AED2FF;box-shadow:none;color:#498CD0;text-decoration:none;}*/
.btn3{background:url(../../../image/default/user_admin/repeat_x.png) repeat-x center -73px ;border:1px solid #8D8D8D;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);color:#555555;display:block;font-weight:700;height:20px;line-height:20px;padding:3px 12px;position:absolute;right:0;top:-2px;z-index:1;font-size:12px;}
.btn3:hover{background-position:0 -40px;border-color:#AED2FF;box-shadow:none;color:#000000;text-decoration:none;}
.upload-button{border:1px solid #D8D8D8;border-radius:5px 5px 5px 5px;display:inline-block;height:25px;line-height:25px;text-align:center;text-decoration:none;width:78px;color:#fff;background: #ff5c5c;}
.upload-button:hover{text-decoration:none;color: #fff;}
/*==============================*/
/* 顶部导航条样式*/
/*==============================*/
#shortcut{line-height:30px;padding-bottom:1px;width:100%;}
#shortcut, #shortcut .w{background-color:#F7F7F7;border-bottom:1px solid #EEEEEE;height:30px;line-height:30px;}
#shortcut a{padding:0 5px;color:#666;}
.header{height:75px;line-height:20px;margin:10px auto;position:relative;text-decoration:none;z-index:99;width:1212px;}

.header h1{left:0;position:absolute;top:16px;}
.header h1 a{float:left;}
.header h1 i{float:left;font-family:"微软雅黑";font-size:20px;margin-left:12px;margin-top:16px;}
.search{width:471px;position:absolute;right:0px;top:16px;}
.search .i-search{border:2px solid #ff5c5c;height:30px;margin-bottom:3px;width:468px;z-index:11;}
.search input{border:medium none;height:30px;line-height:30px;float:left;}
.search .text{background-color:#FFFFFF;color:#999999;font-family:arial,"微软雅黑";font-size:14px;height:20px;line-height:20px;padding:5px 7px 5px 23px !important;width:360px;box-shadow:none;background:url(../../../image/default/user_admin/search.png) 8px 9px no-repeat;}
.search .text:focus{border:none;box-shadow:none;outline: none;}
.search .search_button{float:right;background:#ff5c5c;color:#FFFFFF;font-size:14px;font-weight:bold;width:78px;}
.hotwords{color:#999999;height:18px;overflow:hidden;}
.hotwords strong{float:left;font-weight:normal;color:#ff5c5c;}
.hotwords a{color:#999999;float:left;margin-right:10px;}

.menu{border-bottom:2px solid #ff5c5c;margin:0 auto 10px;width:1212px;position:relative;}
.menu li,.menu li.selected{background:url(../../../image/default/user_admin/tab.png) repeat-x;}
.menu li{background-position:0 0;border-left:1px solid #B6CFEA;border-top:1px solid #B6CFEA;float:left;height:27px;line-height:27px;position:relative;}
.menu li.selected{background-position:0 -27px;border-left:medium none;color:#FFFFFF;}
.menu li a{color:#404040;display:block;font-weight:bold;padding:0 25px;text-decoration:none;}
.menu li.selected a{color:#FFFFFF;}
.menu li.first{border-radius:2px 0 0 0;}
.menu li.last{border-radius:0 2px 0 0;border-right:1px solid #B6CFEA;}
.menu .payment{ position:absolute;top:5px;right:100px;background:url(../../../image/default/user_admin/pay.png) 0 2px no-repeat;padding-left:22px;}
.menu .mytb{position:absolute;right:15px;top:5px;font-family:sans-serif;background:url(../../../image/default/user_admin/shop.gif) 0 1px no-repeat;padding-left:19px;}
.menu .mytb:hover{color:#FF6600;}
.shop_close_info{background:#FF9900;border:1px solid #FF6600;color:#FFFFFF;font-size:12px;font-weight:600;line-height:20px;margin:10px auto 0;padding:10px;width:1192px;}
.intro{margin:10px auto;padding:20px 0;min-height:92px;border:1px solid #ccc;background:#F6FBFF;width:1210px;border-radius:2px 2px 2px 2px;color:#777777;font-size:12px;}
.intro .left{float:left;width:65%;}
.intro .store-pic{background:#FFFFFF;float:left;height:95px;margin-left:20px;position:relative;width:95px;padding:1px;border:1px solid #E4EDF4;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 3px #D6E3F3;}
.intro .userinfo{border-left:1px solid #E4EDF4;margin-left:148px;padding-left:30px;}
.intro .userinfo div{padding:3px 0;}
.intro .userinfo .basic{ height:30px;line-height:30px;}
.intro .userinfo .basic strong{color:#000;font-size:20px;float:left;font-weight:normal;margin-right:10px;}
.intro .userinfo .basic img{float:left;margin:5px 4px 0 0;}
.intro .right{border-left:1px solid #E4EDF4;float:right;padding-left:30px;width:25%;}
.intro .seller-rate h2{font-weight:600;color:#000;line-height:24px;margin-bottom:4px;font-size:14px;}
.intro dl{float:left;margin:0;padding:5px 0;width:200px;}
.intro dt{float:left;margin-right:10px;}
.intro dd{float:right;}
.intro .rate-star{padding:3px 0;float:left;}
.rate-star em, .rate-star em i{background:url(../../../image/default/user_admin/rate_star.gif) repeat-x;height:12px;}
.rate-star em{background-position:left top;display:block;margin:0;position:relative;width:70px;z-index:1;}
.rate-star em i{background-position:left bottom;left:0;position:absolute;top:0;z-index:1;}
/*==============================*/
/**/
/*==============================*/
.layout{font-size:1.2em;line-height:20px;margin:10px auto 20px;width:1212px;}
/*.layout .sidebar{border:1px solid #D5E5F5;box-shadow:0 1px 1px rgba(196, 213, 224, 0.5);float:left;width:200px;}
.layout .sidebar dl{margin:8px auto 16px;width:120px;}
.layout .sidebar dt{color:#4384B7;cursor:pointer;font-size:12px;font-weight:600;line-height:24px;}
.layout .sidebar dt i{background:url(../../../image/default/user_admin/icon.png) no-repeat 0 0;display:inline-block;height:10px;margin:0 6px 0 4px;width:10px;}
.layout .sidebar dt.hou i{background:url(../../../image/default/user_admin/icon.png) no-repeat 0 -20px;display:inline-block;height:10px;margin:0 6px 0 4px;width:10px;}
.layout .sidebar dd a{color:#333333;display:block;height:24px;line-height:24px;padding-left:22px;width:98px;font-size:12px;}
.layout .sidebar dd a:hover{background-color:#E9F1F8;color:#498CD0;text-decoration:none;}
.layout .sidebar dd a.active{background-color:#599DDA;color:#FFFFFF;}
.layout .right_content{float:right;width:1000px;}
.layout .path{background-color:#FFFFFF;border:1px solid #C4D5E0;margin-bottom:12px;padding:1px;}
.layout .path div{background-color:#F9FAFC;display:inline-block;font-weight:600;height:20px;padding:5px 0 5px 12px;width:805px;font-size:12px;}
.layout .right_con .path{margin:12px 12px 0;}
.layout .right_con .path div{width:766px;}
.layout .path div a{color:#498CD0;font-weight:400;}
.layout .path div span{color:#498CD0;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0 6px 0 2px;}*/
.layout .i-fl{width:770px;padding-left:10px;}
.layout .i-fr{width:200px;margin-right: 10px;}
.layout .container{background:#FFFFFF;border:1px solid #D6E3F3;margin:10px 0;overflow:hidden;}
/*box-shadow:1px 1px 3px #C5DDF2;*/
.layout .container .hd{background:#F7F7F7;height:20px;padding:6px;}
.layout .container .hd h2{font-size:14px;font-weight:700;height:20px;padding-left:6px;}
.layout .container .content{background:#FFFFFF;font-size:12px;overflow:hidden;padding:10px;width:auto;zoom:1}
.layout .container .content ul{clear:both;margin:0 0 5px;overflow:hidden;zoom:1;}
.layout .container .content ul li{width:31%;float:left;margin:5px 0 0 2%;_margin:5px 0 0 1%;}
.layout .container .content a{color:#777777;}
.layout .container .content a strong{font-weight:normal;padding-left:1px;font-family:Tahoma;}
.layout .container .content a:hover{color:#FF6600;}
.layout .news .content{padding:7px 10px 8px;} 
.layout .news ul,.layout .contact ul{margin:0!important;overflow:hidden;}
.layout .news li,.layout .contact li{width:170px!important;height:20px;clear:both;margin:2px 0!important;overflow:hidden;}
.layout .contact li{margin:2px 0 3px!important;height:auto;}
.layout .container .content dl{clear:both;display:block;overflow:hidden;padding:6px 8px;}
.layout .container .content .focus{background:#FFFDEE;border:1px solid #EDD28B;zoom:1;}
.layout .container .content .focus h2{color:#555555;font-weight:700;padding-bottom:6px;font-size:12px;}
.layout .container .content dl dt{color:#777777;float:left;}
.layout .container .content dl dd{float:left;margin-right:24px;}
.layout .container .content dl dd a{color:#0579C6;}
.layout .container .content a:hover{color:#FF6600;}
.layout .container .content dl dd a strong{color:#FF6600;font-weight:normal;font-family:Tahoma;}
.layout .container .content .ico{background:url(../../../image/default/user_admin/pay.gif) no-repeat;display:block;float:left;height:60px;margin:0 0 0 10px;width:51px;}
.layout .container .content .hint{font-size:12px;margin:0;padding:3px 6px;float:left;width:460px;}
.layout .container .content .hint h3{color:#777777;padding:3px 6px;}
.layout .container .content .hint .btn1{margin:5px 0 0 6px;}
.layout .container .content .hint ul li{width:auto;margin-top:8px;}
.layout .container .content .hint ul li a{color:#0579C6;}
.layout .container .content .hint ul li a:hover{color:#FF6600;}

/*==============================*/
/* 单页*/
/*==============================*/
/*.main{width:100%;background-color:#FFFFFF;margin:0;}
.main .wrap{border:1px solid #C4D5E0;clear:both;padding:12px;}
.right_con .main .wrap{border:none;}*/
/* 导航*/
/*.main .wrap .hd{display:block;height:32px;position:relative;width:100%;}
.main .wrap .hd ul{height:31px;padding:0 0 0 2%;width:98%;border-bottom:1px solid #AED2FF;}
.main .wrap .hd ul li{float:left;margin-right:4px;}
.main .wrap .hd ul li.normal a{background-color:#E8F2FF;border-color:#AED2FF;border-radius:4px 4px 0 0;border-style:solid;border-width:1px 1px 0;color:#5F718B;display:inline-block;height:26px;line-height:26px;margin-top:4px;padding:0 10px;font-size:12px;}
.main .wrap .hd ul li a:hover{text-decoration:none;}
.main .wrap .hd ul li.active a{background-color:#FFFFFF;border-color:#AED2FF #AED2FF #FFFFFF;border-radius:4px 4px 0 0;border-style:solid;border-width:1px;color:#000000;cursor:default;display:inline-block;font-weight:700;height:30px;line-height:30px;padding:0 10px;font-size:12px;}
.main .wrap .hd ul li.search-box{float:right;}
.main .wrap .hd ul li.search-box .btn2{height:25px;}*/
/* 列表*/
.main .table-list-style{border-collapse:collapse;clear:both;line-height:20px;width:100%;margin-top: 20px;}
.main .table-list-style thead th{/*background:url(../../../image/default/user_admin/repeat_x.png) repeat-x center -40px;border-bottom:1px solid #AED2FF;*/color:#5F718B;padding:5px 0 6px;text-align:center;}
.main .table-list-style tbody th{background-color:#EDF5FF;border-top:1px solid #AED2FF;padding:4px 0;}
.main .table-list-style tbody td{background-color:#FFFFFF;padding:12px 0;text-align:center;border-top:1px solid #EEEEEE;}
.main .table-list-style tbody td .pic-small{border:1px solid #E7E7E7;display:block;height:60px;width:60px;}
.main .table-list-style tbody td.tl a{margin-bottom:3px;}
.main .table-list-style tbody td.tl p{color:#808080;padding:3px 0;}
.main .table-list-style tfoot td{background:#FFFFFF;border-top:1px solid #C4D5E0;padding:12px 0 0;}
.main .table-list-style tfoot td label{color:#555555;cursor:pointer;display:inline-block;}

.main .searchbar {padding: 15px 0;border-bottom: 1px solid #AED2FF;}
.main .top_searchbar {border:none;padding: 0 0 20px}
.main .searchbar .search-btn {display: inline-block;width: 65px;height: 25px;margin: 0 6px 0 -4px;text-align: center;vertical-align: middle;background: #f5f5f5;cursor: pointer;border: 1px solid #CCCCCC;border-left: none;color: #3C3C3C;padding-left: 5px;}
.main .searchbar .search-btn input {height: 24px;border: 0;background: 0;color: #3c3c3c;cursor: pointer;}

.pic_small{border:1px solid #E7E7E7;display:block;height:60px;width:60px;}
.partition,.tg_detail td{text-align:left!important;padding-left:10px!important;}
/* 搜索*/
.tabs .search{top:-2px;width:280px;}
.tabs .search .i-search{width:280px;height:24px;border-width:1px medium 1px 1px;}
.tabs .search .i-search .text{padding:3px 7px 1px 23px !important;background-position:8px 6px;width:200px;} 
.tabs .search .search_button{width:50px;height:24px;font-size:12px;}
.main .search-form{border-bottom:1px solid #AED2FF;width:100%;}
.main .search-form th{color:#777777;line-height:22px;padding:10px 0;text-align:right;width:80px;}
.main .search-form td{padding:10px 0;text-align:left;}
/* 表单*/
.main .form-style{margin-top:15px;}
.main .form-style dl{border-bottom:1px dashed #F5F5F5;clear:both;margin:4px auto;overflow:hidden;padding:0;width:100%;line-height:20px;font-size:12px;}
.main .form-style dl dt{color:#404040;float:left;line-height:23px;margin:0;padding:8px 6px 0 0;text-align:right;width:90px;}
.main .form-style dl dt em{background:url(../../../image/default/user_admin/required.gif) no-repeat right top;display:inline-block;height:16px;line-height:22px;margin-right:5px;width:16px;color:#FFF;vertical-align: bottom;}
.main .form-style dl dd{float:left;padding:8px;width:668px;}
.right_con .main .form-style dl dd{width:580px;}
.main .form-style dl dd p{clear:both;}
.main .form-style dl dd .hint{color:#BBBBBB;line-height:20px;}
.main .form-style dl dd .pic{border:1px dashed #E7E7E7;padding:4px;clear:left;float:left;margin-bottom:5px;overflow:hidden;}
.main .form-style dl.foot{border-bottom-width:0;}
.main .form-style textarea{height:64px;width:198px;}
.main .form-style h3{color:#555555;font-weight:600;line-height:22px;padding:5px 0 5px 12px;}
/* 提示*/
.tip{background-color:#FFF;border:solid 1px #C4D5E0;border-radius:4px;margin-bottom:30px;}
.tip p{color:#555555;font-family:"微软雅黑";font-size:20px;font-weight:600;line-height:48px;text-align:center;margin:100px;}
.success span{background:url(../../../image/default/user_admin/success.gif) no-repeat 0 0;display:inline-block;padding-left:64px;}
.failure span{background:url(../../../image/default/user_admin/failure.gif) no-repeat 0 0;display:inline-block;padding-left:64px;}
/* 分页*/
.pagination{float:right;padding:2px;}
.pagination a ,.pagination b{border:1px solid #6C92AD;color:#6C92AD!important;cursor:pointer;display:inline;float:left;font-size:12px;margin:0 2px;padding:0 5px;text-decoration:none;}
.pagination b{background-color:#539CD5;border-color:#21589B;color:#FFFFFF!important;font-weight:bold;}
/* 无记录*/
.norecord{padding:50px 240px!important;}
.norecord i{background:url(../../../image/default/user_admin/norecord.gif) no-repeat ;display:inline-block;float:left;height:44px;margin-right:16px;width:44px;}
.norecord span{display:inline-block;float:left;font-family:"微软雅黑";font-size:1.3em;font-weight:700;line-height:44px;text-align:left;width:220px;}
/* 主题设置*/
.templet{margin-bottom:10px;overflow:hidden;padding:15px;}
.templet .theme{border: 1px solid #ccc;width: 220px;border-radius: 5px;box-shadow: 1px 1px 1px rgba(153, 153, 153, 0.2);float: left;margin: 5px;}
.templet .nonce{height:200px;margin-right:10px;overflow:hidden;padding:10px;width:200px;}
.templet .txt{font-size:12px;padding: 10px;}
.templet p{color:#656565;line-height:25px;position:relative;}
.templet p b{color:#5CA339;}
.motif{width:768px;}
.motif ul{/*border-bottom:1px solid #DDDDDD;*/overflow:hidden;padding:20px 0;width:768px;}
.motif li{float:left;padding-bottom:20px;text-align:center;width:255px;}
.motif p{border:1px solid #E7E7E7;border-radius:5px 5px 5px 5px;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);height:200px;margin:0 auto 10px;overflow:hidden;padding:8px;width:200px;}
.motif h2{color:#5BA43B;font-size:12px;font-weight:normal;height:20px;line-height:20px;margin:0 auto;width:200px;}
.motif span{display:block;margin:5px auto 0;width:120px;}
.motif span a{background:url(../../../image/default/user_admin/icon.gif) 0 2px no-repeat;font-size:12px;margin:0 5px;color:#919191;padding-left:15px;}
.motif span a.preview{background-position:0 -22px;} 
/* 商品发布*/
.flow-chart{border-top:2px solid #3E88CD;height:50px;margin:5px auto;padding:20px 0;width:961px;background:url(../../../image/default/user_admin/step_chart.png) no-repeat;}
.search_com{background:#F4FAFE;border:1px solid #D3E5F3;font-size:14px;height:72px;margin:10px auto auto;width:959px;}
.search_com .icon{background:url(../../../image/default/user_admin/product_add.gif) no-repeat;display:inline-block;float:left;height:32px;margin:17px 0 18px 213px;width:32px;}
.search_com .txt{display:inline-block;float:left;height:26px;margin:23px 0;padding-left:10px;vertical-align:middle;width:425px;}
.search_com .txt input{background:url(../../../image/default/user_admin/product_add.gif) repeat -40px 0 ;border:medium none;border-radius:0 0 0 0;box-shadow:none;font-size:14px;height:16px;line-height:16px;padding:5px 5px 6px!important;vertical-align:middle;width:325px;color:#999999;}
.search_com .btn_search{background:url(../../../image/default/user_admin/product_add.gif) repeat -390px 0;color:#333333;display:inline-block;float:left;font-size:12px;height:26px;line-height:26px;margin-top:23px;text-align:center;width:60px;text-decoration:none;}
.search_sort{background:#F4FAFE;border:1px solid #D3E5F3;height:330px;margin:10px auto auto;padding:15px;position:relative;width:929px;}
.search_title{height:25px;line-height:25px;font-size:12px;}
.search_title .txt{float:left;width:130px;}
.search_title select{float:left;width:700px;}
.dataLoading{background-color:#FFFFFF;border:1px solid #92AED1;display:none;font-size:12px;height:16px;left:50%;margin-left:-81px;margin-top:-28px;opacity:0.75;padding:20px;position:absolute;top:50%;width:120px;z-index:30;}
.data_loading{background:url(../../../image/default/user_admin/loading.gif) no-repeat;line-height:16px;padding-left:30px;}
.sort_block{left:13px;margin-top:20px;position:absolute;top:37px;z-index:10;}
.sort_list{background:#FFFFFF;border:1px solid #D9E9F7;float:left;height:284px;margin-right:9px;overflow:hidden;width:225px;z-index:10;_margin-right:2px}
.sort_list .blank{background:#EFF7FE;}
.sort_list .blank .category_list{display:none;}
.wp_category_list{height:284px;margin:0;overflow:auto;padding:0;width:225px;}
.category_list{font-family:simsun;margin:0;padding:0;}
.category_list ul{margin:5px 0 0 6px;padding:0;}
.category_list ul li{cursor:pointer;height:23px;line-height:21px;margin:2px 0;overflow:hidden;text-indent:5px;text-overflow:ellipsis;white-space:nowrap;width:200px;font-size:12px;}
.category_list ul li a{text-decoration:none;}
.category_list ul li a.classDivClick{background-color:#FFFAEA;border:1px solid #FFE696;display:block;height:21px;width:198px;}
.category_list ul li a .has_leaf{background:url(../../../image/default/user_admin/product_add.gif) no-repeat -487px -3px;color:#333333;display:block;height:21px;padding-left:6px;width:198px;}
.tips_choice{color:#404040;margin-top:12px;position:relative;width:981px;font-size:12px;}
.tips_choice .tips_zt{background:url(../../../image/default/user_admin/product_add.gif) no-repeat -460px 0;height:7px;left:25px;position:absolute;top:-6px;width:11px;}
.tips_choice .hover_tips_cont{background-color:#FFFAEA;border:1px solid #F4CB48;overflow:hidden;padding:8px;text-align:left;zoom:1;}
.tips_choice dt{float:left;}
.tips_choice dd{float:left;font-family:sans-serif;font-weight:700;}
.search_result{background:#F4FAFE;border:1px solid #D3E5F3;height:280px;margin-top:10px;padding:10px;width:927px;font-size:12px;}
.back_to_sort{margin-bottom:10px;}
.back_to_sort a{color:#0579C6!important;}
.has_result{background:#FFFFFF;border:1px solid #D3E5F3;height:235px;overflow:auto;padding:5px;}
.no_result{margin:70px auto 0;max-width:555px;}
.result_list ul li{cursor:pointer;height:auto;line-height:21px;list-style:none outside none;text-indent:5px;}
.result_list ul li:hover{background:#999;color:#FFFFFF;}
.btn_confirm input{background:url(../../../image/default/user_admin/btn2.gif) ;border:0 none;display:block;font-size:14px;font-weight:bold;height:36px;line-height:36px;margin:10px auto;text-align:center;text-decoration:none;width:220px;color:#404040;outline:medium none;}
.btn_confirm input{background-position:0 -40px;}
.btn_confirm input:hover{background-position:0 0;}
.property thead td{background-color:#EDEDED;border:1px solid #D7D7D7;font-weight:400;height:25px;text-align:center;padding:4px;}
.property tbody td{padding:5px;border:1px solid #D7D7D7;height:25px;text-align:center;min-width:60px;}
.property .text{width:90px;}
.firstvalue p{padding:2px 0 5px;}
.property_ul li{float:left;margin-bottom:6px;width:25%;height:30px;}
.property_ul li span{float:left;padding:5px 0;line-height:12px;margin-right:5px;}
.property_ul li input[type="text"]{box-shadow:none;font-size:12px;height:22px;line-height:22px;width:150px;}

.imgs{height:30px;margin-bottom:3px;margin-top:3px;padding:1px;width:30px;}
.product_image ul{display:inline;float:left;width:650px;}
.product_image ul li{border:1px dashed #E7E7E7;display:inline;float:left;height:138px;margin-right:15px;position:relative;width:108px;z-index:99;}
.product_image_list{width:108px;height:138px;}
.product_image ul li .image{border:2px solid #E7E7E7;float:left;height:60px;left:20px;margin:1px;padding:1px;position:absolute;top:15px;width:60px;z-index:1;}
.product_image ul li .upload-btn{bottom:15px;height:28px;left:20px;padding:0;position:absolute;width:66px;z-index:1;}
.product_image ul li .upload-btn .upload-button{width:65px;}
.product_image ul li .bg{display:none;height:60px;left:20px;position:absolute;top:15px;width:60px;z-index:2;color:#FFF;line-height:60px;background-color:#F00;vertical-align:middle;text-align:center;filter:alpha(opacity=85);-moz-opacity:0.85;opacity:.85;cursor:pointer;text-shadow:1px 1px 1px rgba(0,0,0,1);margin:4px;}




.freight{position:relative;}
.freight-content{margin-top:10px;position:relative;padding:10px;background-color:#f8f8f8;border:1px solid #ececec;}
.logis-switch{margin:4px 0 6px;position:relative;}
.logis-switch span{border:1px solid #dedede;display:inline-block;vertical-align:middle;zoom:1;font-size:12px;font-weight:700;color:#444;padding:0 6px;margin-right:10px;border-radius:3px;cursor:pointer;position:relative;overflow:visible;float:left;}
.logis-switch span.current{border-color:#c8c8c8;background-color:#ccc;}
.logis-switch span.current b{width:0px;height:0px;left:14px;position:absolute;top:19px;z-index:3;border-color:#CCC transparent transparent;border-style:solid dashed dashed;border-width:5px;overflow:hidden;}
.logis-switch a{float:right;}
.logis-content{color:#999;}
.logis-content em{margin:0 1px;}
.logis-content .fore1{border-bottom:1px dashed #ddd;padding-bottom:6px;margin:14px auto 6px;}
.logis-content .fore2{margin-bottom:4px;}
.logis-content .fore3{margin-bottom:4px;}
.freight p{color:#404040;margin-top:8px;}

/* 幻灯片*/
.flexslider{background:#FFFFFF;position:relative;clear:both;margin:5px auto;width:790px;padding:0;}
.slides:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.slides li{position:relative;}
.slides img{display:block;width:790px;}
.flex-control-nav{bottom:-20px;position:absolute;text-align:center;width:100%;}
.flex-control-nav li{display:inline-block;margin:0 0 0 9px;}
.flex-control-nav li a{background-color:#EEEEEE;border-radius:5px 5px 5px 5px;cursor:pointer;display:block;height:10px;line-height:10px;text-indent:-9999px;width:10px;}
.flex-control-nav li a.active{background-color:#FF6600;box-shadow:1px 1px 1px #CC3300 inset;cursor:default;}
.flex-direction-nav li a{background-color:transparent;cursor:pointer;display:block;margin:-8px 0 0;opacity:0.3;position:absolute;text-indent:-9999px;top:45%;}
.flex-direction-nav li .prev{border-color:transparent #333333 transparent transparent;border-image:none;border-style:solid;border-width:16px;font-size:0;height:0;left:0;line-height:0;width:0;}
.flex-direction-nav li .next{border-color:transparent transparent transparent #333333;border-image:none;border-style:solid;border-width:16px;font-size:0;height:0;line-height:0;right:0;width:0;}
.handle_pic{clear:both;margin:30px auto;width:790px;}
.handle_pic table{cursor:pointer;float:left;}
.handle_pic .picture{border:1px dashed #E7E7E7;height:80px;padding:1px;width:142px;}
.handle_pic p{color:#777777;line-height:16px;margin:5px 0;}
.handle_pic span{width:80px;height:30px;position:absolute;left:0;top:0;z-index:999;cursor:pointer;}
.handle_pic .upload-button{margin-top:5px;}
.notes{ background-color:#FEFEDA;border:1px solid #FFE8C2;clear:both;margin:0 auto 10px;padding:8px;width: 790px;}
.notes p{clear:both;line-height:24px;padding-left:24px;font-size:12px;}
/*订单管理 */
.order tbody tr td.sep-row{border:0 none;height:12px;padding:0;}
.order tbody tr th{border:1px solid #C4D5E0;}
.order tbody tr th a.order_show{background:#FFFFFF;border:1px solid #C4D5E0;box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);color:#555555!important;display:inline-block;height:20px;line-height:20px;overflow:hidden;padding:0 6px;text-decoration:none!important;vertical-align:middle;} 
.order tbody tr th a .order_print{background:url(../../../image/default/user_admin/print.png) no-repeat;cursor:pointer;display:inline-block;height:16px;margin-right:5px;vertical-align:middle;width:16px;margin-top:2px;}
.order tbody tr td{border-bottom:1px solid #C4D5E0;vertical-align:top;}
.order tbody tr td.bdl,.fast tbody tr td.bdl{border-left:1px solid #C4D5E0;}
.order tbody tr td.bdr,.fast tbody tr td.bdr{border-right:1px solid #C4D5E0;}
.order tbody tr td.price{color:#555555;font-family:Tahoma;font-size:12px;}
.order tbody tr td a.message{background:url(../../../image/default/user_admin/mail.gif) no-repeat;display:inline-block;height:9px;margin-left:5px;vertical-align:middle;width:11px;}
.order tbody tr td table tr td{border-bottom:none;border-top:none!important;padding:5px 0 !important;}
.order tbody tr td ul li{float:left;}
.order .order_buyer{display:block;position:relative;}
.order .buyer_info{display:none ;}
.order .order_buyer:hover .buyer_info{background-color:#FFF9D4;border:1px solid #FEC500;border-radius:5px 5px 5px 5px;display:block;left:100px;padding:4px;position:absolute;top:-40px;z-index:8;}
.order .buyer_info em{background:url(../../../image/default/user_admin/buyer_info.png) no-repeat;height:14px;left:-8px;position:absolute;top:42px;width:8px;z-index:9;}
.order .buyer_info div{background:#FFFFFF;display:block;overflow:hidden;padding:5px 5px 5px 15px;width:240px;}
.order .buyer_info h3{color:#C33700;font-size:12px;font-weight:700;overflow:hidden;padding:5px 0;float:left;}
.order .buyer_info p{clear:both;color:#777777;text-align:left;padding:2px 0;width:220px;}
.order .buyer_info dt{float:left;text-align:left;width:80px;}
.order .buyer_info dd{float:left;text-align:left;width:140px;}
.order .countdown {position: relative;display: inline-block;padding: 2px 0 2px 18px;text-align: left;color: #9c9c9c;}
.order .countdown i {position: absolute;top: 4px;left: 0;width: 18px;height: 15px;overflow: hidden;background: url(../../../image/default/user_admin/order.png) no-repeat 0 -65px;}

.time_expand{margin:30px;}
.time_expand p{padding-bottom:10px;}
.time_expand div{padding-top:10px;padding-left:180px;}
/* 发货*/
.deliver td dl{line-height:20px;padding:0;width:340px;}
.deliver td dl dt{display:inline-block;text-align:left;vertical-align:top!important;width:100%;}
.deliver td dl dd{display:inline-block;text-align:left;width:100%;}
.order-info{border-right:1px solid #C4D5E0;border-left:1px solid #C4D5E0;text-align:left!important;width:300px;padding:12px 25px!important;}
.order-info dl{margin:2px 0;}
.step-title{color:#555555;font-size:14px;font-weight:600;margin:12px 0;}
.step-title em{color:#FF6600;font-weight:600;margin-right:12px;}
.order dl{width:95%!important;}
.deliver-sell-info{border:1px solid #D8D8D8;line-height:20px;overflow:hidden;padding:8px;font-size:12px;}
.fast td{padding:6px 0!important;border-top:1px solid #C4D5E0!important;border-bottom:1px solid #C4D5E0;vertical-align:top;}

/* 退货*/
.return h4{border-bottom:1px solid #E7E7E7;color:#555555;font-weight:700;padding:6px 0;font-size:14px;}
.return dl{overflow:hidden;padding:10px 1px;font-size:12px;}
.return dt{color:#5F718B;float:left;padding:6px 0;text-align:left;}
.return dd{color:#888888;float:left;padding:6px 10px;}
.return dd strong{color:#FE4E02;}
.return .order{margin:10px 0;}
.return td{border-top-color:#C4D5E0!important;}
.return p{font-size:12px;padding:3px 0;}
.step{padding:12px 0 0!important;}
.step p{font-size:12px;padding:5px 0;}
.step .step1{padding:30px 40px;}
.step .step2{border-top:1px solid #CCCCCC;background:#FFF7EB;padding:20px 40px 10px;zoom:1;}
.step .step2 textarea{width:730px;}
.step .step2 .submit{margin-top:10px;}
.more{background-color:#F4F7FB;border:1px solid #C4D5E0;font-weight:700;height:32px;line-height:32px;margin:20px 0 0;text-align:center;font-size:12px;}
.rt{width:90%;margin:0 auto 5px;font-weight:bold;}
.returngoods{width:90%!important;margin:0 auto;}
.talk{width:730px;margin:10px auto;}
.talk_t{height:32px;line-height:32px;padding:0 10px;background:#f5f5f5;border:1px solid #D7D6D5;}
.talk_t h3{float:left;}
.talk_t span{float:right;font-size:12px;color:#404040;}
.talk_c{background:#FFF;border:1px solid #D7D6D5;border-top:none;margin-bottom:10px;padding:10px;}

/* 客服*/
.cs_title span{color:#777777;display:inline-block;line-height:22px;margin-bottom:5px;}
.cs_list span{display:inline-block;line-height:32px;margin-bottom:5px;}
.cs dd p{margin-top:10px;}
.cs .name{width:90px;}
.cs .tool{width:90px;}
.cs .number{width:200px;}


/* 选择店铺*/
.wrap_shadow{background-color:#F9FAFC;border-radius:4px 4px 4px 4px;padding:4px;}
.wrap_all{background-color:#FFFFFF;border:1px solid #C4D5E0;border-radius:4px 4px 4px 4px;}
.chart{height:70px;margin:20px auto 0;overflow:hidden;position:relative;width:876px;}
.chart .bg_a1{background:url(../../../image/default/user_admin/chart.gif) no-repeat 0 0;}
.chart .bg_a2{background:url(../../../image/default/user_admin/chart.gif) no-repeat 0 -70px;}
.chart .bg_b1{background:url(../../../image/default/user_admin/chart.gif) no-repeat 0 -140px;}
.chart .bg_b2{background:url(../../../image/default/user_admin/chart.gif) no-repeat 0 -210px;} 
.chart .bg_c{background:url(../../../image/default/user_admin//chart.gif) no-repeat 0 -280px;} 
.chart .pos_x1{height:70px;left:0;position:absolute;top:0;width:292px;}
.chart .pos_x2{height:70px;left:292px;position:absolute;top:0;width:292px;}
.chart .pos_x3{height:70px;position:absolute;right:0;top:0;width:292px;}
.shop_grade table{border-collapse:collapse;width:100%;}
.shop_grade table th, .shop_grade table td{border-bottom:1px solid #DCDCDC;color:#555555;padding:15px 5px;}
.shop_grade table th{color:#FF7F00;font-size:1.2em;font-weight:700;text-align:center;}
.shop_grade table td dl{clear:both;}
.shop_grade table td dt{color:#444444;float:left;text-align:right;width:80px;}
.shop_grade table td dd{color:#777777;float:left;text-align:left;}


/* 订单*/
.order_detail{line-height:20px;width:961px;overflow:hidden;margin:auto;}
.order_detail .w1{background:#FFF;border:1px solid #D5E5F5;padding:15px 20px 10px;border-radius:5px 5px 5px 5px;}
.order_detail h2{border-bottom:1px solid #C4D5E0;color:#498CD0;font-family:"微软雅黑";font-size:20px;height:40px;line-height:40px;padding-left:5px;}
.table ,.table2{clear:both;margin-top:2px;width:100%;}
.table th{height:25px;padding:5px;}
.table td{height:25px;padding:8px 5px;}
.table .tr td{height:25px;padding:10px 5px 5px;}
.table tbody td ,.table tfoot td{border-top:1px dotted #DEEFFB;}
.table .partition{background:#F2F9FD;padding:5px 10px;color:#0099CC;font-weight:700;line-height:21px;}
.alc{text-align:center !important;}
.al{text-align:left !important;}
.npb{padding-bottom:0px !important;}
.table tbody .other td{border-top:none;padding-top:0px;}
.receipt{border-top:1px solid #E8E8E8;}
.receipt p{margin:10px auto;padding:10px;color:#F00;font-size:14px;}
.receipt dl{padding:0 10px 10px;}
.receipt dt,.receipt dd{float:left;}
.receipt dt{margin-right:10px;line-height:25px;}
.receipt dd em{margin-left:10px;color:#AAA;}
.receipt .btn{background:url(../../../image/default/user_admin/btn.png) no-repeat right 0;color:#FFFFFF;font-family:微软雅黑,宋体;font-size:16px;height:39px;line-height:38px;padding:0 15px 0 13px;text-shadow:0 -1px 1px #333333;text-decoration:none;width:90px;text-align:center;margin:5px 10px 20px;}
.receipt .btn:hover{background-position:right -42px;}

/* 活动*/
.activity h3{border-bottom:1px solid #AED2FF;color:#333333;padding:6px 0 10px 12px;font-size:14px;font-weight:bold;}
.activity li{float:left;padding:0 10px;position:relative;z-index:8888;}
.activity li .pic{border:1px solid #E7E7E7;float:left;height:70px;padding:10px;width:71px;}
.activity li h4{clear:both;display:inline;float:left;font-size:12px;font-weight:normal;height:36px;line-height:18px;margin:4px 0 16px;overflow:hidden;padding:0;width:93px;}
.activity li input{display:block;left:12px;position:absolute;top:2px;z-index:9999;}

/* 弹出框*/
#msgObj{border:1px solid #BED3F1;background-color:#FFF;-webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,.3);-moz-box-shadow:1px 1px 2px 0 rgba(0,0,0,.3);box-shadow:1px 1px 2px 0 rgba(0,0,0,.3);}
.titleBar{font-size:14px;background-color:#E8F0FB;color:#5F8CCD;font-weight:bold;}
.titleBar td{padding:10px;}
.closeBtn{background:url(../../../image/default/close.png) no-repeat;width:9px;cursor:pointer;float:right;height:9px;margin-top:-1px;}


.district{height:280px;}
.district li{float:left;height:32px;width:20%;position:relative; }
.district li .province{line-height:12px;padding:10px 0 10px 5px;  position: absolute;}
.district li.selected .province{position:relative;z-index:2;background:#FFFEC6;border:1px solid #F7E4A5;border-bottom:none;padding:10px 4px 4px; margin:0; }
.district li label input{ position: relative; }
.district li em{color:#F00;}
.district .city_box{ position: absolute; background:#FFFEC6;border:1px solid #F7E4A5; width:300px;display:none;z-index:1 ;  padding: 10px; padding: 20px !important; padding-left:0; float:left;}
.district .city{padding:3px 4px;line-height:12px; display:inline-block;}
.district .close{clear:both;float:left;padding:0 0 5px 5px;}

/*物流模版*/
.logistics{margin:20px auto 10px;}
.logistics thead th{background:#e8f2ff;border:1px solid #BBBBBB;height:24px;line-height:24px;padding:7px 10px;}
.logistics thead th em{color:#808080;margin-right:5px;}
.logistics tbody th,
.logistics td{border-bottom:1px solid #BBBBBB;border-right:1px solid #BBBBBB;text-align:center;line-height:20px;padding:5px 10px;}
.logistics tbody th{background:#f5f5f5;}
.logistics .fore1{border-left:1px solid #BBBBBB;}
.logistics .fore2{text-align:left;line-height:16px;}
.logistics .fore2 div{max-height:80px;overflow-y:auto;}


/*售后*/
.apply_detail{width:961px;margin:auto;}
.apply{border:1px solid #C4D5E0;overflow:hidden;position:relative;}
.apply_left{float:left;width:670px;border-right:1px solid #C4D5E0;position:relative;padding:12px 0 4999px;margin-bottom:-4999px;z-index:200;}
.apply_right{float:right;width:233px;padding:12px 12px 4999px;position:relative;margin-bottom:-4999px;z-index:200;}
.apply h1{font-size:14px;line-height:34px;padding-bottom:12px;position:relative;border-bottom:1px solid #e6e6e6;margin-bottom:10px;position:relative;}
.apply table{table-layout:fixed;word-wrap:break-word;word-break:break-all;font-size:12px;width:100%;margin-bottom:5px;}
.apply_left h1{margin:0 17px;}
.apply_left h1 em{font-size:14px;float:left;padding:3px 0;line-height:26px;}
.apply_left h1 strong{padding:3px 25px 3px 10px;font-size:14px;}
.apply_left .mt20{margin-top:20px;}
.apply_left .btn{margin-top:10px;border:1px solid #f25b00;color:#fff;cursor:pointer;padding:6px 20px;-webkit-border-radius:2px;border-radius:2px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ff5c21), color-stop(1, #ff6933));background:-webkit-linear-gradient(top, #ff5c21 0, #ff6933 100%);background:-moz-linear-gradient(top, #ff5c21 0, #ff6933 100%);background:-o-linear-gradient(top, #ff5c21 0, #ff6933 100%);background:-ms-linear-gradient(top, #ff5c21 0, #ff6933 100%);background:#ff5c21\9;display:inline-block;letter-spacing:normal;vertical-align:top;word-spacing:normal;font-size:14px;}
.apply_left .btn:hover{ background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6933), color-stop(1, #ff5c21));background:-webkit-linear-gradient(top, #ff6933 0, #ff5c21 100%);background:-moz-linear-gradient(top, #ff6933 0, #ff5c21 100%);background:-o-linear-gradient(top, #ff6933 0, #ff5c21 100%);background:-ms-linear-gradient(top, #ff6933 0, #ff5c21 100%);background:#ff6933\9;text-decoration:none;}
.apply_left .white{background:#FFF;border:1px solid #aaa;color:#333;margin-left:10px;}
.apply_left .white:hover{text-decoration:none;background:#FFF;border:1px solid #aaa;color:#333;}
.apply_left .refuse{margin:20px auto 0;}
.apply_left .refuse textarea{width:100%;height:60px;resize:none;}

.main-box{padding:40px;}
.main-box h2{color:#333333;font-family:"Microsoft YaHei";font-size:18px;font-weight:bold;margin-bottom:5px;}
.main-box ul{color:#666666;font-size:14px;line-height:24px;padding-top:15px;}
.main-box li{padding-left:10px;text-indent:-3px;}
.main-box i{display:inline-block;*display:inline;*zoom:1;height:3px;width:3px;font-size:0;line-height:0;background-color:#999;vertical-align:middle;position:relative;top:-1px;left:-5px;}
.other-actions{font-size:14px;color:#808080;padding-top:28px;margin-top:30px;border-top:1px solid #e6e6e6;}
.other-actions span{color:#D0D0D0;padding:0 10px;}
.review-panel .mt{line-height:35px;font-size:14px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;background-color:#f5f5f5;padding:0 20px;}
.review-panel .mt h2{font-size:14px;line-height:35px;font-weight:bold;}
.review-panel .mc p{padding:10px;} 
.review-panel .mc p textarea{height:72px;resize:none;width:98%;}
.review-panel .mc em{width:380px;height:30px;line-height:30px;margin-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.review-panel .mc div{padding:0 14px;height:51px;line-height:51px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;background-color:#fafafa;}
.review-panel .mc div p{padding:0;float:right;}
.review-panel .mc div em{color:#999;width:380px;height:30px;line-height:30px;margin-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.review-panel .mc ul{padding:0 10px;}
.review-panel .mc img{border:1px solid #eee;border-radius:5px;padding:2px;margin-bottom:10px;}
.review-panel .mb{padding:5px 20px 0;}
.review-panel .reivew-item{border-bottom:1px solid #e6e6e6;padding:15px 0;}
.review-panel .reivew-item p{display:block;width:38px;height:38px;overflow:hidden;border:1px solid #e6e6e6;padding:1px;float:left;}
.review-panel dl{margin-left:55px;color:#575756;}
.review-panel dt{line-height:14px;padding-bottom:6px;text-align:right;font-size:12px;}
.review-panel dt em{float:left;}
.review-panel dd{font-size:12px;}
.review-panel .reivew-item ul{margin:10px 0 0 55px;}
.review-panel .reivew-item li{width:98px;height:98px;overflow:hidden;padding:1px;border:1px solid #e6e6e6;display:table-cell;font-size:46px;text-align:center;vertical-align:middle;}

.apply_right .seller{border-top:1px dotted #e6e6e6;}
.apply_right h1 strong{font-size:14px;}
.apply_right th,.apply_right td{padding:0;vertical-align:top;line-height:20px;}
.apply_right th{color:#999999;font-weight:normal;height:28px;width:65px;}
.apply_right td em{color:#FF6600;}
.apply_right .empty th,.apply_right .empty td{height:10px;}
.apply_right .dotted{border-bottom:1px dotted #EAEAEA;}

/* 订单详情 */
.order-detail{margin:20px auto;}
.order-detail dl{padding:6px 5px;font-size:12px;}
.order-detail dt{font-weight:700;width:78px;float:left;display:inline;}
.order-detail dd{xmargin-bottom:4px;padding-left:80px;word-wrap:break-word;}
.order-detail hr{margin:10px 0 5px;background-color:#D1D7DC;border:medium none;color:#D1D7DC;height:1px;}
.order-detail .dl dt{clear:both;float:none;display:inherit;padding-bottom:10px;}
.order-detail .dl dd{float:left;padding:0 20px 0 0;}
.order-detail .dl dd a{color: #000}
.order-detail table{margin-top:8px;}
.order-detail th{border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;line-height:130%;padding:8px 10px;text-align:center;background:#E8F2FF;color:#404040;}
.order-detail td{padding:8px 5px;line-height:130%;vertical-align:middle;text-align:center;border-left:1px solid #DDDDDD;border-bottom:1px solid #ddd;}
.order-detail .first{border-left:1px solid #DDDDDD;}
.order-detail .last{border-right:1px solid #DDDDDD;}
.order-detail .pic-info{display:inline;float:left;margin-right:10px;}
.order-detail .txt-info{color:#808080;line-height:18px;margin-left:60px;text-align:left;}
.order-detail .money{text-align:right;padding:40px 8px 0 0;}
.order-detail .money b{color:#FF5500;font-size:16px;font-weight:700;padding:0 2px;}

div.edit_price{padding:20px 30px;}
.edit_price .original-price{margin-bottom:10px;font-size:12px;}
.edit_price .original-price em{font-size:14px;font-weight:bold;margin-right:5px;}
.edit_price .original-price strong{color:#f50;}
.edit_price th{background:#e8f2ff;border-top:1px solid #DDD;text-align:center;padding:8px 5px;}
.edit_price td{text-align:center;border-top:1px solid #DDD;padding:8px 6px;}
.edit_price td.bl{border-left:1px solid #DDD;}
.edit_price td input[type="submit"]{border:none;border-radius:4px;cursor:pointer;display:inline-block;font-size:12px;padding:5px 12px;text-align:center;background-color:#ff4400;color:#fff;}
.edit_price td input[type="button"]{border:none;border-radius:4px;cursor:pointer;display:inline-block;font-size:12px;padding:5px 12px;text-align:center;background-color:#DDD;color:#000;margin-left:8px;}
.edit_price td ul li{line-height:24px;}


.tips{font-size:13px;color:#c09853;line-height:28px;padding-left:18px;background:#fcf8e3}
.bor0{border:1px solid #e7e7e7;padding:1px;}
.hint{color: #bbbbbb;}
.vouch_t_h {background:#AED2FF;font-weight:bold;color:#444;}

/* 会员卡 */
.member-card img.bor0{float:left;margin-right:5px;}
.member-card img.bor0:focus{border-color:#000}

/* 我的顾客 */
.custorm_img{float:left;width:50px;padding:1px;border:1px solid #ccc;margin-right:5px;}
.main .table-list-style.custorm_T tbody td{vertical-align:middle}
.titleBar td{padding-top:5px;padding-bottom:5px;}

.ickd_return{width: 100%}
/*==============================*/
/* 底部条样式*/
/*==============================*/
#footer{color:#666;font-size:12px;line-height:24px;margin:0 auto;padding:15px 0;text-align:center;width:961px;border-top:1px solid #E9ECEF;clear:both;overflow:hidden;}
#footer p{color:#666666;padding:10px 0;word-spacing:5px;}
#footer p em{margin:0 15px;}
#footer a{color:#666666;text-decoration:none;}

input{background-color:expression((this.readOnly && this.readOnly == true)? "#efefef":"");}
input[readonly]{
    background-color: #efefef;
}

/*4-14 卖家中心-左侧导航修改*/
.layout .sidebar{border:1px solid #ccc;float:left;width:200px;padding-bottom: 50px;}
.layout .sidebar dt{cursor:pointer;font-size:14px;font-weight:bold;line-height:40px;border-bottom: 1px dashed #ccc;color: #455E65;}
.layout .sidebar dt i{background:url(../../../image/default/user_admin/mayi_icon3.png) no-repeat 0 0;display:inline-block;height:10px;margin:0 6px 0 20px;width:10px;}
.layout .sidebar dd li{border-bottom: 1px dashed #ccc;}
.layout .sidebar dd li span{    background: url(../../../image/default/user_admin/mayi_icon7.png) no-repeat;display: inline-block;width: 25px;height: 10px;margin-left: 30px;}
.layout .sidebar dd a{color:#455E65;height:40px;line-height:40px;font-size:14px;font-weight: bold;}
.layout .sidebar dd a:hover{text-decoration:none;}
.layout .sidebar dd li.active{background:#ff5c5c;}
.layout .sidebar dd li.active a{color: #fff;}
.layout .sidebar dd li.active span{background: url(../../../image/default/user_admin/mayi_icon1.png) no-repeat;height: 15px;vertical-align: middle;}
.layout .right_content{float:right;width:1000px;border:1px solid #ccc;min-height: 706px;}
.layout .path{margin: 20px;border-bottom: 1px solid #ccc;}
.layout .path div{display:inline-block;height:40px;line-height:20px;font-size:14px;}
.layout .right_con .path{margin:12px 12px 0;}
.layout .right_con .path div{width:766px;}
.layout .path div a{font-weight:400;}
.layout .path div span{color:#498CD0;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0 6px 0 2px;}

.main{width:100%;background-color:#FFFFFF;margin:0;}
.main .wrap{clear:both;padding:0 20px 40px;}
.right_con .main .wrap{border:none;}
/* 导航*/
.main .wrap .hd ul{height: 40px;line-height: 40px;border-bottom: 2px solid #e0e0e0;color: #666;font-size: 16px;}
.main .wrap .hd ul li{float: left;width: 125px;border-right: 1px solid #e0e0e0;text-align: center;}
.main .wrap .hd ul li.active{background-color: #f5f5f5;border-right: none;border-bottom: 2px solid #ff5c5c;}
.main .wrap .hd ul li.search-box{float:right;}
.main .wrap .hd ul li.search-box .btn2{height:25px;}
/*表单*/
input.submit{border:0 none;border-radius:4px 4px 4px 4px;color:#fff;cursor:pointer;font-weight:700;height:40px;line-height:40px;width:300px;font-size: 16px;background:#ff5c5c;}
.btn2{border-radius:4px 4px 4px 4px;color:#fff;display:inline-block;height:20px;line-height:19px;padding-left:10px;padding-right:10px;text-align:center;background: #ff5c5c;border: none;}
.btn2:hover{color: #fff;}
.menu li{border: none;}
.menu li.selected{background: #ff5c5c;}

/**newfooter*/
.newfooter .m_b_commitment{line-height:0;background:#fff;border-top: 3px solid #ff5c5c;}
.newfooter .foot{padding:20px 0 30px;color:#666;background:#e9e9e9}
.newfooter .foot .icon_b_logo{width:238px;height:100px;margin:20px 40px 0 0;display: inline-block;vertical-align:middle;text-indent:-9999px;background-image:url(../../../image/default/mayionline.png);background-repeat:no-repeat;overflow:hidden}
.newfooter .foot ul li{float:left;width:180px;text-align:center;}
.newfooter .foot ul li span{display:block;font-size:18px;line-height:60px;border-bottom:1px solid #666;}
.newfooter .foot ul li p{margin-top:20px;}
.newfooter .foot ul li p a{display:block;font-size:14px;color:#666;line-height:25px}
.newfooter .foot ul li p a:hover{text-decoration:underline;}
.newfooter .foot .attention{position: relative;margin-top: 40px;}
.newfooter .foot .attention a{width: 32px;height: 32px;background-repeat: no-repeat;overflow: hidden;display: inline-block;}
.newfooter .foot .attention .dia-wb,.dia-wx,.dia-qq{-webkit-box-shadow: 0 0 3px #999;-moz-box-shadow: 0 0 3px #999;box-shadow: 0 0 3px #999;width: 130px;padding: 25px;position: absolute;background: #fff;border:1px solid #dedede;}
.newfooter .foot .attention .arr{position: absolute;bottom: -12px;right: 25px;width: 16px;height: 16px;background: url(../../../image/default/arr1.png);}
.newfooter .foot .attention span{line-height: 20px;border-bottom: none;font-size: 14px;color: #333;}
.newfooter .foot .attention .focus{background: #007ae8;color: #fff;padding: 5px 10px;border-radius: 3px;margin-top: 5px;}
.newfooter .foot .weibo{background-image: url(../../../image/default/sina.png);}
.newfooter .foot .weixin{background-image: url(../../../image/default/weixin.png);}
.newfooter .foot .attention .qq{background-image: url(../../../image/default/qq1.png);display: inline-block;width: 32px;height: 32px;}
.newfooter .foot .attention .dia-wb {bottom: 44px;left:-95px;}
.newfooter .foot .attention .dia-wx {bottom: 44px;left:-59px;}
.newfooter .foot .attention .dia-qq {bottom: 44px;left:-24px;}
.newfooter .foot .attention .dia-qq p{text-align: left;margin-top: 0;}
.newfooter .foot .attention .dia-qq img{padding: 5px;vertical-align: middle;}
.newfooter .foot .attention .dia-qq a{display: block;width: auto;height:30px;line-height: 30px;text-align:left;padding-left: 10px;}
.newfooter .footer{background-color: #e9e9e9;border-top: none;margin-top: 0;height: 60px;line-height: 20px;color: #666;text-align: center;}
.fn-hide{display: none;}