<style type="text/css">
	.wrap{max-width: 1920px;position: relative;left: 50%;margin-left: -960px;font-size: 0;}
</style>
<div class="wrap">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/2.jpg">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/3.jpg" usemap="#map1">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/4.jpg" usemap="#map2">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/5.jpg" usemap="#map3">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/6.jpg" usemap="#map4">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/7.jpg" usemap="#map5">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/8.jpg" usemap="#map6">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/9.jpg" usemap="#map7">
	<map name="map1" id="map1">
		<area shape="rect" coords="1285,300,1385,325" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map2" id="map2">
		<area shape="rect" coords="977,248,1077,274" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map3" id="map3">
		<area shape="rect" coords="1297,235,1397,260" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map4" id="map4">
		<area shape="rect" coords="975,220,1070,245" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map5" id="map5">
		<area shape="rect" coords="1289,210,1389,235" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map6" id="map6">
		<area shape="rect" coords="968,238,1067,263" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
	<map name="map7" id="map7">
		<area shape="rect" coords="1294,191,1394,217" href="#" target="_blank" alt="" onfocus="blur(this);">
	</map>
</div>