<style type="text/css">
	.wrap{max-width: 1920px;position: relative;left: 50%;margin-left: -960px;font-size: 0;}
</style>
<div class="wrap">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/1.jpg">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/2.jpg">
	<img src="<{$config.weburl}>/module/act/templates/hd810/pc/image/3.jpg">
</div>
<script type="text/javascript" src="script/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(function(){
	list_link=["502","496","748","956","756","758","922","928","852","752","829","826","828","822","653","677","713","727","902","736","768","684","638"];
	for(var i=0;i<list_link.length;i++){
		$(".act-pro"+i).attr("href","<{$config.weburl}>/product-detail-"+list_link[i]+".html");
	}
});
</script>