<div class="nav-w">
    <section class="nav-s nav-ss" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe619</font> --></section>
    <section class="nav-c"><span>蚂蚁资讯</span></section>
    <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
</div>
<div class="w">
    <div class="news">
        <div class="title">
            <h1><{$noticecontent.title}></h1>
            <div class="summary">时间：<{$noticecontent.create_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></div>
        </div>
        <div class="content">
        	<{$noticecontent.content}>  
        </div>
    </div>
</div>
