<{include file="header.htm"}>
<header>
    <div class="header_nav">
        <div class="nav_l" onclick="javascript:history.back(-1)"><i class="back_icon"></i></div>
        <div class="nav_c"><span></span></div>
        <div class="nav_r"><a href="<{$config.weburl}>"><i class="home_icon"></i></a></div>
    </div>
</header>
<div class="error_container">
	<div class="error_img">
		<img src="../../../image/wap/wap_haitao_404.png">
	</div>
    <div class="error_btn">
    	<p>您所访问的页面找不到了</p>
    	<p>去<a href="<{$config.weburl}>">首页</a></p>
    </div>	  	
</div>
<{include file="footer.htm"}>