<div class="nav-w">
    <section class="nav-s nav-ss" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe619</font> --></section>
    <section class="nav-c"><span></span></section>
    <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
</div>
<{include file="header.htm"}>
<div class="w">
	<div class="error404">
		<div>
			<img src="../../../image/wap/wap_haitao_404.png">
		</div>
	    <div class="err_btn">
	    	<p>您所访问的页面找不到了</p>
	    	<p>去<a href="<{$config.weburl}>">首页</a></p>
	    </div>	  	
    </div>
</div>
</body>
</html>