<{include file="header.htm"}>
	<div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe60d</font> --></section>
    	<section class="nav-c"><span>购物车</span></section>
   		<section class="nav-e"> <div class="operations"><a class="delete" href="javascript:void(0);">删除</a></div></section>
    </div>
</header>
<link href="<{$config.weburl}>/templates/wap/css/cart.css" rel="stylesheet" type="text/css" />
<{if $smarty.get.type=="clear" || $cart.cart|@count<1}>
<div class="cart-empty">
    购物车内暂时没有产品<br />您可以<a href="<{$config.weburl}>">去首页</a>挑选
</div>
<{else}>
<section class="cart">
    <{if $smarty.get.type=="numf"}>
    <div align="center"><font color="#FF0000">库存数量不够(已经为定订购产品的最大值)</font></div>
    <{elseif $smarty.get.type=="pronull"}>
    <div align="center"> <font color="#FF0000">产品不存在或订购销完或已经删除</font></div>
    <{elseif $smarty.get.type=="del"}>
    <div align="center"><font color="#FF0000">购物车不存在该产品已经删除</font></div>
    <{/if}>
    
    <form id="form" method="post" action="">
    <input type="hidden" id="act" name="act" />
    <ul class="cart-con">
        <{foreach item=list from=$cart.cart}>
            <li class="cart-checkbox-first1">
                <div>
                    <label class="cart-checkbox"><input type="checkbox" data-type="shop" data-value="<{$list.seller_id}>" name="checkbox" value="<{$pro.id}>"><em></em></label>
                    <a target="_blank" href="shop.php?uid=<{$list.seller_id}>"><{$list.company}></a>
                    <!--<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes" target="_blank"><img align="absmiddle" src="<{$config.weburl}>/image/default/cart/qq.gif"></a>-->
                </div>
            </li>
            <{foreach item=pro key=n from=$list.prolist}>
            <li class="clearfix cart-checkbox-first2">
                <div class="first check-left">
                    <label class="cart-checkbox"><input type="checkbox" data-value="<{$list.seller_id}>" name="product_id[]" value="<{$pro.id}>"><em></em></label>
                </div>
                <div class="pro-name-rq clearfix">
                    <div class="pro-img">
                        <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>">
                            <img height="80" alt="<{$pro.name}>" src="<{$pro.pic}>_220X220.jpg">
                        </a>
                    </div>
                </div>
                <div class="pro-name-rt clearfix">
                    <div class="pro-name">
                        <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>"><{$pro.pname}></a>
                         <{if $pro.setmealname}>
                        <p>规格：<{$pro.setmealname}></p>
                        <{/if}>
                    </div>
                    <div id="cell<{$pro.id}>" class="clearfix pro-content">
                        <strong><{$config.money}></strong>
                        <span id="price" class="price org"><{$pro.sumprice}></span>
                        <div class="pro-name-rb clearfix">
                            <div class="computing fn-clear clearfix">
                                <div class="computing_item clearfix">
                                    <div class="computing_act clearfix">
                                        <input type="button" class="<{if $pro.num==1}>no_<{/if}>reduce reduce_text" value="-">
                                        <div class="computing_num">
                                            <input maxlength="4" data-id='<{$pro.id}>' data-max="<{$pro.stock}>" name="nums" id="nums" type="text" value="<{$pro.num}>" />
                                        </div>
                                        <input type="button" class="<{if $pro.stock<=1}>no_<{/if}>add add_text" value="+">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <{/foreach}>
        <{/foreach}>
    </ul>   
    <div class="toolbar fn-clear">
        <div class="select-all select-bots">
            <label class="cart-checkbox"><input type="checkbox" data-type="all"><em>全选</em></label>
        </div>   
        <div class="cart-sum">
            <span>合计(不含运费)：</span>
            <strong class="Price"><{$config.money}><em class="subtotal">0.00</em></strong>
        </div>
        <div class="submit-btn_cj">
             <a class="submit-btn submit-btn-disabled" href="<{$config.weburl}>/?m=product&s=confirm_order">去结算</a>
        </div>
    </div>
    </form>
    <script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script><header>
    <script type="text/javascript">
$(".operations a").bind("click",function(){
    $("#act").val($(this).attr("class"));
    $("#form").submit();
});
$(".submit-btn").bind("click",function(){
    if(!$(this).hasClass("submit-btn-disabled"))
    {
        $("#form").attr("action","<{$config.weburl}>/?m=product&s=confirm_order");
        $("#form").submit();
    }
});
$(".cart-checkbox input[type='checkbox']").click(function(){
    var flag = $(this).attr("checked");
    var data_type = $(this).attr("data-type");
    if(flag == true)
    {
        if(data_type == 'all')
        {
            ckeckbox("input[type='checkbox']",true);
        }
        else if(data_type == 'shop')
        {
            var data_value = $(this).attr("data-value");
            ckeckbox("input[data-value='"+data_value+"']",true);
        }   
        $(this).parent().addClass("cart-checkbox-checked");
    }
    else
    {
        if(data_type == 'all')
        {
            ckeckbox("input[type='checkbox']",false);
        }
        else if(data_type == 'shop')
        {
            var data_value = $(this).attr("data-value");
            ckeckbox("input[data-value='"+data_value+"']",false);
        }
        $(this).parent().removeClass("cart-checkbox-checked");
        $(this).parent().parent().parent().removeClass("checked");
    }
    count();
});
function ckeckbox(obj,flag)
{
    $(".cart-checkbox").find(obj).each(function(){
        if(flag == true)
        {
            $(this).parent().addClass("cart-checkbox-checked");
            $(this).attr("checked","checked");
        }
        else
        {
            $(this).parent().parent().parent().removeClass("checked");
            $(this).parent().removeClass("cart-checkbox-checked");
            $(this).attr("checked",""); 
        }
    });
}
function count()
{
    var count = 0;
    var num = 0;
    $(".cart-checkbox").find("input[name='product_id[]']:checked").each(function(){
        var value = $(this).val();
        var price = $(this).parent().parent().parent().find("#cell"+value+" span").html();
        price = price.replace(/,/g, "")
        price = Number(price);
        count = count + price;
        num ++;
        $(this).parent().parent().parent().addClass("checked");
    });
    $(".subtotal").html(count.toFixed(2));
    $(".cart-count em").html(num);
    if(num>0) 
        $(".submit-btn").removeClass("submit-btn-disabled");
    else
        $(".submit-btn").addClass("submit-btn-disabled");   
}
var c=$(".computing_item");
var e=null;
c.each(function(){
    var g=$(this).find(".computing_act input");     
    var h=$(this).find("input#nums");
    var o=this;
    var f=h.attr("data-max");
    var i=1;
    var id=h.attr("data-id");
    h.bind("input propertychange",function(){
        var j=this;
        var k=$(j).val();
        e&&clearTimeout(e);
        e=setTimeout(function(){
            var l=Math.max(Math.min(f,k.replace(/\D/gi,"").replace(/(^0*)/,"")||1),i);
            $(j).val(l);
            edit_num(id,l,o);
            if(l==f){
                g.eq(0).attr("class","no_add");
                if(l==i)
                    g.eq(1).attr("class","no_reduce")
                else
                    g.eq(1).attr("class","reduce")
            }else{
                if(l<=i){
                    g.eq(1).attr("class","no_reduce");
                    g.eq(0).attr("class","add")
                }else{
                    g.eq(1).attr("class","reduce");
                    g.eq(0).attr("class","add")
                }
            }
        },50)
    }).trigger("input propertychange").blur(function(){$(this).trigger("input propertychange")}).keydown(function(l){
        if(l.keyCode==38||l.keyCode==40)
        {
            var j=0;
            l.keyCode==40&&(j=1);g.eq(j).trigger("click")
        }
    });
    g.bind("click",function(l){
        if(!$(this).hasClass("no_reduce")){
            var j=parseInt(h.val(),10)||1;
            if($(this).hasClass("add")&&!$(this).hasClass("no_add")){
                $(this).next().attr("class","reduce");
                if(f>i&&j>=f){
                    $(this).attr("class","no_add")
                }
                else
                {
                    j++;
                    edit_num(id,j,o);
                }
            }else{
                if($(this).hasClass("reduce")&&!$(this).hasClass("no_reduce")){
                    j--;
                    edit_num(id,j,o);
                    $(this).prev().attr("class","add");
                    j<=i&&$(this).attr("class","no_reduce")
                }
            }
            h.val(j)
        }
    })
})
function edit_num(id,num,obj){
    var url = "?m=product&s=cart";
    var pars = 'id='+id+'&num='+num;
    $.post(url, pars,showResponse);
    function showResponse(originalRequest)
    {
        $('#cell'+id+' span').html((Number(originalRequest).toFixed(2)));   
        count()
    }
}
</script>
</section>
<!-- <div class="footers">
    <input type="checkbox" class="checkall_all" checked><span class="quanxuan_footer">全选</span>
    总计（不含运费）:&nbsp;&nbsp;<span class="p-price" ><strong class="subtotal"><{$config.money}><{$cart.sumprice|number_format:2}></strong></span>
    <a class="submit-btn checkout" href="javascript:void(0);" href="<{$config.weburl}>/?m=product&s=confirm_order">去结算</a>
</div> -->
<{/if}>
<{include file="footer.htm"}>
</body>
</html>