<{if !$no_taoplus}>
<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/new_page.css" type="text/css" rel="stylesheet"/>
<{/if}>
<script type="text/javascript" src="<{$config.weburl}>/script/libs.js?v=<?=time();?>"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/wap_taoplus.js"></script>
<script src="<{$config.weburl}>/script/jquery.cookie.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/my_lightbox.js" type="text/javascript"></script>
<{if $config.jpush_app_key and $config.jpush_app_secret and $buid}>
<script>
    window.buid = '<{$buid}>';
</script>
<script type="text/javascript" src="<{$config.weburl}>/script/jpush.js"></script>
<{/if}>
<{if $smarty.cookies.USER and  $chat_open_flag}>
    <div id="chat_box_icon" class="chat_box_icon"><span class="iconfont" style="color: #FF6600;font-size: 34px;">&#xe635;</span></div>
    <dl id="chat_icon" class="msg_notice_icon"></dl>
    <div id="page_0" class="um-vp up ub-ver bc-bg" tabindex="0" style="z-index: 99999;display: none;">
        <!--header开始-->
        <div class="chat_header">
            <div id="header" class="uh bc-text-head ub bc-head" style="display: -moz-box;  display: -webkit-box;display: box !important;">
                <div class="nav-btn" id="nav-left">
                    <div class="fa fa-angle-left fa-2x" style="font-size: 14px;"> 关闭</div>
                </div>
                <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0" id="fname"></h1>
                <div class="nav-btn nav-bt" id="nav-right">
                    <div class="iconfont  history_id" id="history_id" style="color:#fff">
                        记录
                    </div>
                </div>
                <div class="nav-btn nav-bt" id="nav-right">
                <div class="iconfont  chat_with" id="go_member" style="color:#fff">
                    &#xe605;
                </div>
            </div>
            </div>
        </div>
        <!--header结束-->
        <!--content开始-->
        <div id="chat_content" class="ub-f1 tx-l tx-l t-bla bc-bg ub"></div>
        <!--content结束-->
    </div>
    <script>
        window.temp = '<{$smarty.session.temp}>';
        window.domain_root = '<{$domain_root}>';
        $("#chat_icon").show();
        $("#page_0").hide();

        $("#chat_box_icon").hide();

        function init_chat() {
            //$(document).ready(function() {

            init_chat_ui('<{$buid}>', '<{$smarty.cookies.USER}>', '<{$logo}>');

            window.get_msg_intverval_id = setInterval("getMsgUnread()", 2000);

            $("#chat_box_icon").show();
            $("#chat_icon").show();
            $("#page_0").hide();


            if ($("#go_member").length>0)
            {
                $("#go_member").click(function ()
                {
                    if ($(this).hasClass('chat_with'))
                    {
                        $(this).removeClass('chat_with');
                        $(this).addClass('member_list');

                        $('#fileUploaderEmptyHoleSession').show();
                        $('#fileUploaderEmptyHole').hide();
                        $('#fileUploaderEmptyHoleHistory').hide();

                        $('#fname').html('会话列表');
                        $("#history_id").hide();
                    }
                    else
                    {
                        $(this).removeClass('member_list');
                        $(this).addClass('chat_with');

                        $('#fileUploaderEmptyHole').show();
                        $('#fileUploaderEmptyHoleSession').hide();
                        $('#fileUploaderEmptyHoleHistory').hide();
                        $("#history_id").show();
                        $('#fname').html(locStorage['member:chat:user_name']);
                    }
                });
            }

            if ($("#history_id").length>0)
            {
                $("#history_id").click(function ()
                {
                    $('#fileUploaderEmptyHole').hide();
                    $('#fileUploaderEmptyHoleSession').hide();
                    $('#fileUploaderEmptyHoleHistory').show();
                    $('#fname').html('与' + locStorage['member:chat:user_name'] + '聊天');

                    window.frames["fileUploaderEmptyHoleHistory"].window.get_wap_chat_with(true);
                });
            }



            $("#chat_box_icon").click(function ()
            {
                show_chat_list();
                       $("#history_id").hide();
            });

        }

        $(window).load(function(){
            setTimeout("init_chat()", 3000);
        });




        //init_chat_ui('<{$buid}>', '<{$smarty.cookies.USER}>');

        function show_chat_list()
        {
            $("#chat_icon").hide();
            $("#page_0").show();

            $("#go_member").removeClass('chat_with');
            $("#go_member").addClass('member_list');

            $('#fileUploaderEmptyHoleSession').show();
            $('#fileUploaderEmptyHole').hide();
            $('#fileUploaderEmptyHoleHistory').hide();

            $('#fname').html('会话列表');
        }

    </script>
<{/if}>
</body>
</html>