<!doctype html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta charset="utf-8" />
<title><{if $com.shop_title!=''}><{$com.shop_title}> - <{$config.company}><{else}><{$config.company}><{/if}></title>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="viewport" media="(device-height: 568px)" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta property="wb:webmaster" content="c51923015ca19eb1">
<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/fonts/iconfont.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-box.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-base.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-color.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/appcan.icon.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/appcan.control.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/chat.css">
<script type='text/javascript'>
var _vds=_vds||[];window._vds=_vds;(function(){_vds.push(["setAccountId","aa62fdecb181b0b9"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://":"http://")+"dn-growing.qbox.me/vds.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})()})();
</script>
</head>
<body>
<div class="mains">

</div>