<{include file="header.htm"}>
<style type="text/css">
    .mains{height: 0;}
    .headPrice_container{margin-top: 50px;}
	.headPrice_container .headPrice_header{width: 100%;}
	.headPrice_container img{width: 100%;display: block;vertical-align: top;font-size: 0;}
</style>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
        <section class="nav-c"><span>什么是店头价</span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</header>
<div class="headPrice_container">
		<img src="../image/wap/wap_dtj_banner.jpg" alt="什么是店头价">
		<img src="../image/wap/wap_dtj_list1.jpg" alt="韩国店头价">
		<img src="../image/wap/wap_dtj_list2.jpg" alt="日本店头价">
	</div>
</div>