<?xml version="1.0" encoding="utf-8"?>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta charset="utf-8" />
<title><{if $com.shop_title!=''}><{$com.shop_title}> - <{$config.company}><{else}><{$config.company}><{/if}></title>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="viewport" media="(device-height: 568px)" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta property="wb:webmaster" content="c51923015ca19eb1">
<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/page.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/fonts/font-awesome.min.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-box.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-base.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/ui-color.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/appcan.icon.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/appcan.control.css">
<link rel="stylesheet" href="<{$config.weburl}>/templates/<{$config.temp}>/css/chat.css">

</head>
<body>
<div class="mains">
	<div class="nav-w">
    	<section class="nav-s nav-ss" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe619</font> --></section>
    	<section class="nav-c"><span>蚂蚁资讯</span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</div>