<{include file="header.htm"}>
<link href="<{$config.weburl}>/templates/wap/css/verify.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
    	<section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
    	<section class="nav-c"><span>登录蚂蚁海淘</span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</header>
<div class="login_container">
    <ul class="txt_form">
        <li class="inp_box">
            <i class="txt_icon txt_icon1 iconfont">&#xe60f;</i>
            <input class="text" name="user" type="tel" id="user" placeholder="请输入手机号" value=""/>
            <div class="txt_close iconfont">&#xe65e;</div>
        </li>
        <li class="inp_box">
            <i class="txt_icon iconfont">&#xe609;</i>
            <input class="text" type="password" maxlength="16" name="password" id="password" placeholder="请输入密码"/>
            <div class="txt_close iconfont">&#xe65e;</div>
        </li>
        <li class="inp_lops">
            <a href="<{$config.weburl}>/lostpass.php">忘记密码？</a>
        </li>
        <li><div class="inp_btn" id="login_sub">立即登录</div></li>
        <li class="inp_retr">
            <a href="<{$config.weburl}>/register.php">新用户注册</a>
        </li>
    </ul>
    <{if $wechat_url}>
    <div class="other">
        <span>合作网站账号登录：</span>
        <a href="<{$wechat_url}>">微信</a>
        <br />
        <br />
    </div>
    <{/if}>
</div>
<script type="text/javascript" src="script/libs.js"></script>
<script type="text/javascript">
    require.config({
        //By default load any module IDs from js/lib
        baseUrl: 'script/',
        urlArgs: "v="+window.jsVersion,
        paths: {
            "formValid":"formvalid",
            "utility":"util"
        },
        shim: {},
        waitSeconds:0
    });
    /**JS版本号 */
    window.jsVersion = "7b3d28d5dd";
    require(['page/hj_login'], function (loginCtrl) {
        loginCtrl.loginCtrl(".txt_form","#login_sub","/api/login.php");
        loginCtrl.formtap(".txt_form",".text",".txt_close","txt_up");
    });   
</script>
<{include file="footer.htm"}>