<{include file="header.htm"}>
<style type="text/css">
	.nav-c {text-align: center;-webkit-box-flex: 1;-ms-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;margin-left: -60px;}
	.notice_container{font-size: 18px;padding:20px 10px;color: #000;}
	.notice_container p{text-indent: 2em;line-height: 1.5;}
	.notice_container .notice_container_test{margin: 15px 0px;}
	.nav-c span {display: block;height: 50px;line-height: 50px;padding: 0 10px;font-size: 18px;/* font-weight: bold; */color: #fff;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
</style>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe60d</font> --></section>
        <section class="nav-c"><span>消费者告知书</span></section>
        <!-- <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section> -->
    </div>
</header>
<div class="notice_container">
	<div>尊敬的客户：</div>
	<p>您好！</p>
	<p>在您选购境外商品前，麻烦您仔细阅读此文，同意本文所告知内容后再进行下单购买：</p>
	<p>1、您在本（公司）网站上购买的境外商品为产地直销商品，仅限个人自用不得进行销售，商品本身可能无中文标签，您可以产看网站的翻译或在线联系我们的客服。</p>
	<p>2、您购买的境外商品适用的品质、健康、标识等项目适用标准或与我国标准有所不同，所以在使用过程中由此可能产生的危害或损失以及其他风险，将由您个人承担。</p>
	<p class="notice_container_test">谢谢</p>
	<p>蚂蚁在线（北京）科技有限公司</p>
</div>