<{include file="header.htm"}>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i><!-- <font>&#xe60d</font> --></section>
        <section class="nav-c"><span>分销中心</span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</header>
<div class="partner_container">
    <div class="partner_container_top">
    </div>
    <div class="partner_container_content">
        <h2></h2>
        <div style="height:40px;"></div>
        <div class="partner_list">
            <div class="partner_list_inner icon1">
                <p>开店0门槛</p>
                <span>免费开店，一键推广，无需囤货，一件代发，自动结算，坐等收钱！</span>
            </div>
        </div>
        <div class="partner_list">
            <div class="partner_list_inner icon2">
                <p>货源有保障</p>
                <span>全球尖货，品质保证，正品保障，海外直邮，厂家直供，</span>
            </div>
            <ul>
                <li><img src="../image/wap/wap_haitao_icon88.png" alt="正品保证"><p>正品保证</p></li><li>
                <img src="../image/wap/wap_haitao_icon89.png" alt="跨境直发"><p>跨境直发</p></li><li>
                <img src="../image/wap/wap_haitao_icon90.png" alt="专业配送"><p>专业配送</p></li><li>
                <img src="../image/wap/wap_haitao_icon91.png" alt="政府监管"><p>政府监管</p></li><li>
                <img src="../image/wap/wap_haitao_icon92.png" alt="海外优选"><p>海外优选</p></li>
            </ul>
        </div>
        <div class="partner_list">
            <div class="partner_list_inner icon3">
                <p>佣金丰厚</p>
                <span>合伙人越多，佣金赚的越多</span>
            </div>
        </div>
        <div class="partner_botimg">
            <img src="../image/wap/wap_haitao_icon105.png">
        </div>
        <div class="partner_button">
            <a href="<{$config.weburl}>/register.php">成为合伙人</a>
        </div>
        <div style="height:20px;"></div>
    </div>
</div>
<script type="text/javascript" src="<{$config.weburl}>/script/libs.js"></script>
</body>
</html>