<div>
    <style type="text/css">
        .mains{height: 0;}
    </style>
    <script type="text/javascript">
        var web_url = "<{$config.weburl}>"
    </script>
</div>
<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/new_page.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="<{$config.weburl}>/script/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<{$config.weburl}>/script/owl-carousel/owl.theme.css">
<div class="main">
<header class="head clearfix">
    <section id="J_search" class="in-search cc-search showoff clearfix">
    <a href="/login.php" data-href="login" class="user_icon"></a>   
        <div class="main95">
            <div class="s_main">
                <input type="text" value="" autocomplete="off" placeholder="搜索您需要的商品" />
                <div class="s_images"></div>
            </div>
        </div>
     <a href="<{$config.weburl}>/cat.php" id="y_menu_icon" data-open="off"></a>
    </section>  
</header>
</div>
<section class="m_main m_main-v1s">
    <div class="w100">
        <script src='<{$config.weburl}>/api/ad.php?id=13&catid=1'></script>
        <div class="dot"></div>
    </div>
</section>
<section>
    <div class="cate-guang" id="end_pro">
        <i class="cate-guang-img"></i>
        <ul>
            <{foreach item=list key=num from=$annoub}>
                <li><a href="<{if $list.url}><{$list.url}><{else}><{$config.weburl}>/?m=announcement&s=detail&id=<{$list.id}><{/if}>"><{$list.title}></a></li>
            <{/foreach}>
        </ul>
    </div>
</section>
<section>
    <div class="cate-guangimg clearfix">
       <div class="cate-guangimg-left">
            <script src='<{$config.weburl}>/api/ad.php?id=32'></script>
       </div>

       <div class="cate-guangimg-right">
           <ul class="clearfix">
               <{foreach item=list key=num from=$categorys}>
                    <{if $num < 1004}>
                    <li><a href="<{$config.weburl}>/?m=product&s=list&id=<{$list.catid}>&dist_id=<{$list.displayorder}>"><img class="scrollLoading" data-url="<{$list.wpic}>" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;" alt="<{$list.name}>"></a></li>
                    <{/if}>
               <{/foreach}>
           </ul>
       </div>
    </div>
</section>
<section>
    <div class="cate-guanglist clearfix">
        <ul class="clearfix">
            <{foreach item=list key=num from=$categorys}>
                <{if $num < 1004}>
                <{foreach item=lists key=nums from=$list.sub_cat}>
                    <{if $nums < 2 }>
                   <li><a href="<{$config.weburl}>/?m=product&s=list&id=<{$lists.catid}>&dist_id=<{$lists.displayorder}>"><img class="scrollLoading" data-url="<{$lists.wpic}>" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;" alt="<{$lists.cat}>"></a></li>
                    <{/if}>
                <{/foreach}>
                <{/if}>
            <{/foreach}>
       </ul>
    </div>
</section>
<section class="m_main-v4">
    <div class="w100s">
        <script src='<{$config.weburl}>/api/ad.php?id=12&catid=1'></script>
    </div>
</section>
<section class="m_main-v7">
    <div class="m m2">
        <div class="clearfix">
            <h2 class="index_tt">剁手单品</h2>
            <a href="<{$config.weburl}>/cat.php" class="index_view_more">查看更多</a>
        </div>
        <div class="da_banner">
            <ul class="clearfix">
                <li class="current"><a href="javascript:void(0);">母婴专区</a></li>
                <li><a href="javascript:void(0);">美妆个护</a></li>
                <li><a href="javascript:void(0);">日用百货</a></li>
                <li><a href="javascript:void(0);">食品保健</a></li>
            </ul>
        </div>
        <div class="da_list da_list_t">
            <div class="shop clearfix list_current">
                <ul class="shoplist clearfix">
                <{insert name="label" type="product" catid=1000 o=4 temp="product_list_li_0" limit=20}>
                </ul>
            </div>
            <div class="shop clearfix">
                <ul class="shoplist clearfix">
                <{insert name="label" type="product" catid=1001 o=4 temp="product_list_li_0" limit=20}>
                </ul>
            </div>
            <div class="shop clearfix">
                <ul class="shoplist clearfix">
                <{insert name="label" type="product" catid=1002 o=4 temp="product_list_li_0" limit=20}>
                </ul>
            </div>
            <div class="shop clearfix">
                <ul class="shoplist clearfix">
                <{insert name="label" type="product" catid=1003 o=4 temp="product_list_li_0" limit=20}>
                </ul>
            </div>
        </div>      
        
    </div>
</section>

<section class="m_main-v9">
    <div class="m m2">
        <a href="javascript:void(0);" class="m_jiazai next" id="more-msg" >下拉加载更多</a>
    </div>
</section>

<section class="s-page">  
    <div class="cc-search-hide">
        <a class="cc-back">关闭</a>
        <ul class="cc-search-tab">
            <li data="product" data-s="list" class="cur" i="event_submit_do_new_search_auction">宝贝</li>
            <li data="shop" data-s="index" i="event_submit_do_search_shop">店铺</li>
        </ul>
    </div>
    <div id="J_dropdown" class="c-form-suggest">
    <div class="c-form-search">
        <form id="J_indexform" name="wapSearchForm" action="#" method="get" autocomplete="off">
        <input id="m" name="m" type="hidden" value="product">
        <input id="s" name="s" type="hidden" value="list">
            <input id="J_searchtext" class="inp-search" name="key" value="" autocomplete="off" placeholder="搜索宝贝、店铺"><a id="J_cleartext" class="clearText"><span></span></a>
            <input type="submit" value="" name="search-bton" class="bton-search">
        </form>
    </div>
    <div class="suggest" style="display: block;">
    </div>
</section>
<section class="addcarts">
    <a class="carts" href="/?m=product&s=cart">
        <span class="cart-num-conts" id='cart_num'>
            <span class="cart-num"></span>
            <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
        </span>
    </a>
</section>
<section class="addtop">
    <a class="top" href="javascript:void(0);"></a>
</section>
<section class="bom_nav">
    <ul>
        <li><a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon80.png" alt="海淘"><p class="bom_nav_color">海淘</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=1"><img src="../image/wap/wap_haitao_icon81.png" alt="我的"><p>我的</p></a></li>
    </ul>
</section>
<script type="text/javascript" src="<{$config.weburl}>/script/libs.js?v=<?=time();?>"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery-1.4.4.min.js"></script>
<script src="<{$config.weburl}>/script/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.scrollLoading.js"></script>
<script src='<{$config.weburl}>/script/jquery.cookie.js' type='text/javascript'></script>
<script type="text/javascript" src="<{$config.weburl}>/script/wap_index.js"></script>
<div>
<script type="text/javascript">
$(".m_main .w100 .flexslider").addClass("t_slide pos_re");
    window.jsVersion = "7b3d28d5da";
    require.config({
        //By default load any module IDs from js/lib
        baseUrl: '/script/',
        urlArgs: "v="+window.jsVersion,
        paths: {
            "formValid":"formvalid",
            "utility":"util"
        },
        shim: {},
        waitSeconds:0
    });
    require(['pages/hj_index'], function (hjIndex) {
        hjIndex.hjSlide("#slider_13",4000);
    });

    window.addEventListener('load', function() {
        var _slideObj = $("#slider_13");
        setTimeout(function() {
            var slideH = _slideObj.find("li").find("img").height();
            _slideObj.animate({height:slideH},800);
        }, 800);
    }, false);
    function sd(){
        var liLens=$(".list_current ul li").size()%2;
        if(liLens==1){
            $(".shop li:last-of-type").css({"border-bottom":"2px solid #b9b9b9;"});
            $(".shop").css({"border-bottom":"none"})
        }
        if(liLens==0){
            $(".shop").css({"border-bottom":"1px solid #b9b9b9;"})
        }
    }
    var imgIndex=$(".t_slide li img").size() , dot = $(".dot");
    for(var i=0;i<imgIndex;i++){
        dot.append("<span></span>")
    }
    $(".dot span").eq(0).addClass("cur");
    if(imgIndex==1){
        dot.html("");
    }



    $jj(function(){
        // var liIndex= $jj(".shop.list_current .shoplist li").size();
        // if(liIndex<20){
        //     $jj("#more-msg").html("");
        // }
        eval('var ar =<{$ar}>;');
        var i = 1;
        var stop=true; 
        $jj(window).scroll(function(){
            if(i>=5){
                stop=false;
            }
            totalheight = parseFloat($jj(window).height()) + parseFloat($jj(window).scrollTop()); 
            if($jj(document).height() <= totalheight){ 
                if(stop==true){ 
                    $jj("#more-msg").html("正在加载中.....");
                    stop=false; 
                     $jj.ajax({
                        url: "<{$config.weburl}>/module/ajax/wapajax.php",
                        type: "post",
                        data: {ar:ar,num:i},
                        success: function(msg){
                            $jj(".shop.list_current .shoplist").append(msg);
                            $jj("#more-msg").html("下拉加载更多");
                            if(i>=5){
                                $jj("#more-msg").html("商品已加载完毕");
                            }
                            if(msg==""){
                                $jj("#more-msg").html("商品已加载完毕");
                            }
                            $jj(".scrollLoading").scrollLoading();
                            sd()
                            stop=true;
                        }
                    });
                    i++;
                } 
            } 
        });
        $jj(".scrollLoading").scrollLoading();
        sd()
    }) 
</script>
</div>

