<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/new_page.css" type="text/css" rel="stylesheet"/>
<style type="text/css">
    .mains{height: 0;}
    .main_crousel_inner .t_slide{height: 6.65rem!important;}
</style>
<section class="main_container">
    <div class="main">
        <header class="head clearfix">
            <section id="J_search" class="in-search cc-search showoff clearfix">
            <a href="/login.php" data-href="login" class="user_icon"></a>
                <div class="main95">
                    <div class="s_main">
                        <input type="text" value="" autocomplete="off" placeholder="搜索您需要的商品" />
                        <div class="s_images"></div>
                    </div>
                </div>
             <a href="<{$config.weburl}>/cat.php" id="y_menu_icon" data-open="off"></a>
            </section>
        </header>
    </div>
    <div class="main_crousel">
        <div class="main_crousel_inner">
            <script src='<{$config.weburl}>/api/ad.php?id=13&catid=1'></script>
            <div class="dot"></div>
        </div>
    </div>
    <div class="main_nav">
        <ul>
            <li><a href="<{$config.weburl}>/?m=product&s=list&id=1000&dist_id=255&dist_id=41"><img class="animate3" src="../image/wap/wap_haitao_icon124.png" alt="母婴专区"><p>母婴专区</p></a></li><li>
            <a href="<{$config.weburl}>/?m=product&s=list&id=1001&dist_id=255&dist_id=41"><img class="animate3" src="../image/wap/wap_haitao_icon125.png" alt="美妆个护"><p>美妆个护</p></a></li><li>
            <a href="<{$config.weburl}>/?m=product&s=list&id=1002&dist_id=255&dist_id=41"><img class="animate3" src="../image/wap/wap_haitao_icon126.png" alt="日用百货"><p>日用百货</p></a></li><li>
            <a href="<{$config.weburl}>/?m=product&s=list&id=1003&dist_id=255&dist_id=41"><img class="animate3" src="../image/wap/wap_haitao_icon127.png" alt="食品保健"><p>食品保健</p></a></li><li>
            <a href="<{$config.weburl}>/?m=product&s=list&national=7"><img class="animate3" src="../image/wap/wap_haitao_icon123.png" alt="日本馆"><p>日本馆</p></a></li>
        </ul>
    </div>
    <div class="main_list">
        <div class="main_list_banner">
            <script src='<{$config.weburl}>/api/ad.php?id=39'></script>
        </div>
        <div class="clearfix main_list_ware">
            <ul class="main_warelist clearfix">
                <{insert name="label" type="product" catid=10020108 o=4 temp="product_list_li_6" limit=3}>
            </ul>
        </div>
        <div class="main_list_banner">
            <script src='<{$config.weburl}>/api/ad.php?id=40'></script>
        </div>
        <div class="clearfix main_list_ware">
            <ul class="main_warelist clearfix">
                <{insert name="label" type="product" catid=10010311 o=4 temp="product_list_li_6" limit=3}>
            </ul>
        </div>
        <div class="main_list_banner">
            <script src='<{$config.weburl}>/api/ad.php?id=41'></script>
        </div>
        <div class="clearfix main_list_ware">
            <ul class="main_warelist clearfix">
                <{insert name="label" type="product" catid=10010317 o=4 temp="product_list_li_6" limit=3}>
            </ul>
        </div>
    </div>
    <div class="addcarts">
        <a class="carts" href="/?m=product&s=cart">
            <span class="cart-num-conts" id='cart_num'>
                <span class="cart-num"></span>
                <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
            </span>
        </a>
    </div>
    <div class="addtop">
        <a class="top" href="javascript:void(0);"></a>
    </div>
    <div class="bom_nav">
        <ul>
            <li><a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon80.png" alt="海淘"><p class="bom_nav_color">海淘</p></a></li><li>
            <a href="<{$config.weburl}>/main.php?cg_u_type=2"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
            <a href="<{$config.weburl}>/main.php?cg_u_type=1"><img src="../image/wap/wap_haitao_icon81.png" alt="我的"><p>我的</p></a></li>
        </ul>
    </div>
</section>
<section class="s-page">
    <div class="cc-search-hide">
        <a class="cc-back">关闭</a>
        <ul class="cc-search-tab">
            <li data="product" data-s="list" class="cur" i="event_submit_do_new_search_auction">宝贝</li>
            <li data="shop" data-s="index" i="event_submit_do_search_shop">店铺</li>
        </ul>
    </div>
    <div id="J_dropdown" class="c-form-suggest">
    <div class="c-form-search">
        <form id="J_indexform" name="wapSearchForm" action="#" method="get" autocomplete="off">
        <input id="m" name="m" type="hidden" value="product">
        <input id="s" name="s" type="hidden" value="list">
            <input id="J_searchtext" class="inp-search" name="key" value="" autocomplete="off" placeholder="搜索宝贝、店铺"><a id="J_cleartext" class="clearText"><span></span></a>
            <input type="submit" value="" name="search-bton" class="bton-search">
        </form>
    </div>
    <div class="suggest" style="display: block;">
    </div>
</section>
<{if $buidAd eq 1}>
<div class="am-dialog-mask"></div>
<section>
    <div class="main-bomb bomb-in">
        <div class="main-bomb-mayi">
            <img src="../image/wap/wap_haitao_mayi1.png" alt="蚂蚁弹框">
        </div>
        <div class="main-bomb-content">
            <div class="bomb-content-top">
                <p>新手注册送<span>20</span>元代金劵</p>
                <p>购物满<span>300</span>元可用</p>
            </div>
            <div class="bomb-content-center">
                <p>适用范围：蚂蚁海淘购物平台</p>
                <p>蚂蚁海淘代金劵可在购物、支付时抵扣</p>
                <p>等额现金（不含虚拟商品）</p>
            </div>
            <div class="bomb-content-bottom">
                <a href="<{$logoAd}>" class="bomb-content-btn1">立即领取</a>
                <a href="javascript:void(0);" class="bomb-content-btn2">先去逛逛</a>
            </div>   
        </div>
        <div class="main-bomb-delate">
            <img src="../image/wap/wap_haitao_delate.png" alt="蚂蚁弹框">
        </div > 
    </div>
</section>
<{/if}>
<script type="text/javascript" src="<{$config.weburl}>/script/libs.js?v=<?=time();?>"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.scrollLoading.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/wap_index.js"></script>
<script type="text/javascript">
    var web_url = "<{$config.weburl}>"
</script>
<script type="text/javascript">
$(function(){

    function setCookie(objName,objValue,objHours){
        var str = objName + "=" + escape(objValue); 
        if (objHours > 0) {//为0时不设定过期时间，浏览器关闭时cookie自动消失 
            var date = new Date(); 
            var ms = objHours * 3600 * 1000; 
            date.setTime(date.getTime() + ms); 
            str += "; expires=" + date.toGMTString(); 
        } 
        document.cookie = str;
    }
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
        return unescape(arr[2]);
        else
        return null;
    }
    function bombanimate(){
        setCookie("mayi_bomb","mayi_delate","0");
        $(".main-bomb").removeClass("bomb-in")
        $(".main-bomb").addClass("bomb-out")
        $(".am-dialog-mask").hide();
    }
    if(getCookie("mayi_bomb")!="mayi_delate"){
        $(".main-bomb").show();
        $(".am-dialog-mask").show();
    }else{
        $(".main-bomb").hide();
        $(".am-dialog-mask").hide();
    }
    $(".main-bomb-delate").bind("click",function(){
        bombanimate();
    });
    $(".bomb-content-btn2").bind("click",function(){
        bombanimate();
    });
    $(".main_crousel .main_crousel_inner .flexslider").addClass("t_slide pos_re");
    var imgIndex=$(".t_slide li img").size() , dot = $(".dot");
    for(var i=0;i<imgIndex;i++){
        dot.append("<span></span>")
    }
    $(".dot span").eq(0).addClass("cur");
    if(imgIndex==1){
        dot.html("");
    }
    $("#slider_13").bind("swipeLeft", function(e) {
        e = e || window.event;
        if (e.stopPropagation) {
            e.stopPropagation();
        } else {
            e.cancelBubble = true;
        }
    });
    $("#slider_13").bind("swipeRight", function(e) {
        e = e || window.event;
        if (e.stopPropagation) {
            e.stopPropagation();
        } else {
            e.cancelBubble = true;
        }
    });
    $("#slider_13").swipeSlide({
        continuousScroll: true,
        lazyLoad : true,
        speed: 4000,
        firstCallback: function(i, sum, me) {
            me.parent().find(".dot").children().first().addClass('cur');
        },
        callback: function(i, sum, me) {
            me.parent().find(".dot").children().eq(i).addClass('cur').siblings().removeClass('cur');
        }
    });
    window.addEventListener('load', function() {
        var _slideObj = $("#slider_13");
        setTimeout(function() {
            var slideH = _slideObj.find("li").find("img").height();
            _slideObj.animate({height:slideH},800);
        }, 800);
    }, false);
    $jj(".scrollLoading").scrollLoading();
})
</script>

