<link href="<{$config.weburl}>/templates/wap/css/appcan.css" rel="stylesheet" type="text/css" />
<style>
	.wap_pdetail p{line-height:1.2;}
</style>
</head>
<body class="um-vp bc-bg" ontouchstart>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
        <section class="nav-c"><span>商品详情</span></section>
        <section class="nav-e"><{if $dist_user_row.distribution_user_state eq -3 AND $is_distribution_product eq true}><a href="javascript:distribute_goods('<{$de.id}>');"><nav>加入分销</nav></a><{/if}></section>
    </div>
</header>
<div class="shoping-fixed">
    <div class="c-wh bgw">
        <div class="addcart clearfix">
            <a class="cart" href="/?m=product&s=cart">
                <span class="cart-num-cont">
                    <span class="cart-num"></span>
                    <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
                </span>
            </a>
            <a class="incar incar_l btn-buy" href="javascript:void(0);" >立即购买</a>
            <a class="incar incar_c add-cart" href="javascript:void(0)">加入购物车</a>
        </div>
    </div>
</div>
<form id="form" name="form" action="<{$config.weburl}>/?m=product&s=cart<{if $smarty.get.shop_id}>&dist_user_id=<{$smarty.get.shop_id}><{/if}>" method="post">
<input name="dist_user_id" type="hidden" value="<{$smarty.get.shop_id}>" />
<div class="ub ub-ver" id="pro_detail">
    <div class="c-wh bgw">
        <div class="t_slide pos_re" id="hj_slide">
            <ul class="clearfix slides">
            <{foreach item=pic key=num from=$de.pic_more}>
                <li class="<{if $num==0}>hover<{/if}>"><img src="<{$pic}>" big="<{$pic}>" width="320" height="320" class="jqzoom-img"></li>
            <{/foreach}>
            </ul>
            <div class='dot'></div>
        </div>
        <!-- <img src="<{if $de.pic}><{$de.pic}><{else}>image/default/nopic.gif<{/if}>"/> -->
        <div class="ub b-gra-cf">
            <div class="ub ub-ver ub-f1">
            <div>
                <div id="pname"><span class="pname_img"><{if $de.img }><img src="<{$de.img}>">&nbsp;&nbsp;<{/if}><{$de.title}></span><{if $de.img }>&nbsp;&nbsp;<{/if}><{$de.name}></div>
                <div class="col">
                    <a href="javascript:collect_goods('<{$de.id}>');" style="color:8b8b8b">
                        <div class="col_ttt">
                            <div id="collect" class="iconfont_min <{if $de.is_collect}>collect<{/if}>">&#xe615;</div>
                            <div style="font-size: .6rem; color:#000;">收藏</div>
                        </div>  
                    </a>
                </div>
            </div>
                <div id="price">
                    <span class="price_moneys"><{$config.money}>  <span class="price_moneys_num"><{$de.price|number_format:2}></span></span>
                    <span>国内价：</span><span class="price_dels"> <{$config.money}>  <span class="price_dels_num"><{$de.market_price|number_format:2}></span></span>
                    <span>已省：</span><span class="price_chas"> <{$config.money}>  <span class="price_chas_num"></span></span>
                </div>
                <div class="itips"><{if $de.discounts}>（店铺会员<{$de.discounts}>折）<{elseif $de.is_tg=="true"}>(已开启团购价)<{/if}></div>
            </div>
        </div>
    </div>
	<{if $de.activity_list}>
		<div class="c-wh bgw">
            <{foreach item=activ_list name=foo from=$de.activity_list}>
            <{/foreach}>
			<dl style="padding:5px;">
					<dt style="margin-bottom: 6px;">活动 : <strong style="color:red;font-size:16px;"><{$de.activity_list.title}></strong></dt>
					<dd>活动时间 : <{$de.activity_list.start_time|date_format}> 至 <{$de.activity_list.end_time|date_format}></dd>
					<dd></dd>
			</dl>
		</div>
	<{/if}>
    <div class="c-wh bgw" style="margin-bottom: 0">
        <div class="select_style clearfix">
            <div class="select_guanshui clearfix">
                <div><span>邮费：</span><span>满88包邮</span></div>
                <div class="select_duty_context">
                    <div><span>关税：</span><span class="select_guanshui_ic">若订单关税≤50元则免征，关税收取规则</span></div>
                    <div class="select_duty">
                        <i></i>
                        <p>关税应纳税额=应税进（出）口货物数量*单位完税价格*适用税率 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-wh bgw" style="margin-bottom: 0">
        <div class="select_style clearfix">
            <{if $de.rest==0 && !$de.offertime}>
            <dl class="clearfix select_style_num">
                <dt class="select_style_shu">数量</dt>
                <dd class="stock">
                    <a href="javascript:void(0);" id="low_num">-</a>
                    <input onkeyup="check_nums();" size="3" name="nums" id="nums" type="text" value="1" />
                    <a href="javascript:void(0);" id="add_num">+</a>
                </dd>
                <dd class="stock_kucun">
                    <em> （库存 <span id="stock"><{$de.stock}></span> 件<{if $de.is_virtual eq 1 && $de.maxbuy lt $de.stock  && $de.maxbuy gt 0}>，每人限购<strong style='color:#f40'><{$de.maxbuy}>件<{/if}></strong>） </em>
                </dd>
            </dl>
            <{/if}>
            <{if $de.porperty}>
                <ul class="ub t-bla ub-ac">
                    <li class="ub-f1 ut-s">选择商品规格：</li>
                    <li class="iconfont fas"></li>
                </ul>
                <{foreach item=list from=$de.extfiled.d}>
                    <{$list}>
                <{/foreach}>
            <{/if}>
        </div>
    </div>
    <!-- <div style="height:0px;border-top:1px solid #ff5c5c;"></div>
    <div class="c-wh bgw clearfix">
        <div class="select_style clearfix">
            <dl class="clearfix select_style_xiangqing">
                <dt class="select_style_title select_style_titleg">蚂蚁说</dt>
                <dd class="mati_say_content">
                <img src="../../../image/wap/wap_haitao_user1.png" class="slogote">
                <p class="mayi_say">消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书消费者告知书</p></dd>
            </dl>
        </div>
    </div> -->
    <div style="height:0px;border-top:1px solid #ccc;"></div>
    <div class="c-wh bgw clearfix">
        <div class="select_style clearfix">
            <dl class="clearfix select_style_xiangqing">
                <dt class="select_style_title select_style_titleg"><span>你可能更喜欢</span><a href="<{$config.weburl}>/cat.php" class="select_style_titler">更多</a></dt>
                <dd class="mati_say_content">
                <div class="shop_t clearfix">
                    <ul class="shoplist">
                        <{foreach item=list key=num from=$relation}>
                            <li class="shopli clearfix">
                                <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                                    <div class="shopli_top_img">
                                        <img src="<{$list.pic}>"/>
                                    </div>
                                    <div class="shopli_bottom clearfix">
                                        <div class="shopli_bottom_message">
                                            <p class="shopli_bottom_text"><{$list.name|truncate:18:""}></p>
                                        </div>
                                        <div class="shopli_bottom_rob clearfix">
                                            <div class="al shopli_bottom_money">
                                                <span class="money"><{$config.money}><{$list.price}></span>
                                                <span class="money money_del"><{$config.money}><{$list.market_price}></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        <{foreachelse}>
                            <li class="shopli_kong">暂无推荐！</li>
                        <{/foreach}>
                    </ul>
                </div>
                </dd>
            </dl>
        </div>
    </div>
    <div style="height:0px;border-top:1px solid #ccc;"></div>
    <div class="clearfix"></div>
    <div class="c-wh bgw c-wh-commit clearfix">
        <div class="c-wh-commit-gao clearfix">
            <a href="<{$config.weburl}>/notice.php">消费者告知书</a>
        </div>
        <img src="../../../image/wap/wap_haitao_fuwuc.jpg" alt="品牌服务承诺">
    </div>
    <div class="c-wh bgw clearfix">
        <div class="select_style clearfix">
            <dl class="clearfix select_style_xiangqing">
                <dt class="select_style_title select_style_titleg">购物流程</dt>
                <dd><img src="../../../image/wap/wap_haitao_qs.jpg" alt="购物流程"></dd>
            </dl>
        </div>
    </div>
    <div style="height:10px;background-color:#f5f5f5;width:100%;"></div>
    <div class="c-wh bgw c-wh-dianpu">
        <div class="clearfix"></div>

        <ul class="ub t-bla ub-ac uinn-pFS1 ub-xinxi clearfix">
            <li class="ut-s">
                <a class="clearfix" href="shop.php?uid=<{$smarty.get.uid}>"> <img src="<{if $com.wap_logo}><{$com.wap_logo}><{else}>templates/wap/images/user.png<{/if}>" class="slogo"/></a>
            </li>
            <li class="ub-f1 sinfo">
                <p><a href="shop.php?uid=<{$smarty.get.uid}>"><strong><{$com.company}></strong></a></p>
                <p><a href="shop.php?uid=<{$smarty.get.uid}>"><font color="#999"><{$com.area}></font></a></p>
            </li>
            <li class="iconfont fas"><a class="clearfix" href="shop.php?uid=<{$smarty.get.uid}>"><font class="dianpu-on"></font></a></li>
        </ul>
        <ul class="ub t-bla ub-ac uinn-pFS1">
            <li class="ub-f2">
                <p><span>描述相符&nbsp:&nbsp</span><span class="sinfo_num"><{$score.a|number_format:1}></span></p>
                <p class="ub-f2-test"><span>服务态度&nbsp:&nbsp</span><span class="sinfo_num"><{$score.c|number_format:1}></span></p>
                <p class="ub-f2-test2"><span>发货速度&nbsp:&nbsp</span><span class="sinfo_num"><{$score.b|number_format:1}></span></p>
            </li>
        </ul>
        <ul class="ub t-bla ub-ac uinn-pFS1 ub-kefu clearfix">
            <li class="ub-kefu_first"><a href="tel:4000101977"><i class="kefu_icon1"></i>联系客服</a></li>
            <li><a class="clearfix" href="shop.php?uid=<{$smarty.get.uid}>"><i class="kefu_icon2"></i>进入店铺</a></li>
        </ul>
    </div>
    <div class="c-wh bgw clearfix">
        <div class="clearfix">
            <div class="nav-box">
                <ul class="nav-wrapper">
                    <li class="active">详情介绍</li>
                    <li>商品参数</li>
                    <li>常见问题</li>
                </ul>
            </div>
            <div class="wap_pdetail j_tab pdetail_show">
                <{$de.detail}>
            </div>
            <div class="wap_pdetail j_tab">
                <{$de.detail}>
            </div>
            <div class="wap_pdetail j_tab">
                <{insert name="label" type="product" o=4 temp="product_list_li_4" limit=0}>
            </div>          
        </div>
    </div>
    <div class="qg_bottom">
        <img src="../../../image/wap/wap_haitao_qg.jpg">
    </div>
   <!--  <div style="height:50px" class="hidden_jianxi"></div> -->
    <input name="id" type="hidden" value="<{$de.id}>" />
    <input name="sid" id="sid" type="hidden" value="0" />
    <input name="sku" id="sku" type="hidden" value="0" />
</div>
</form>
<script type="text/javascript" src="<{$config.weburl}>/script/libs.js?v=<?=time();?>"></script>
<script src="<{$config.weburl}>/script/jquery-1.11.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/wap_detail.js"></script>
<script type="text/javascript">
    window.jsVersion = "7b3d28d5da";
    require.config({
        //By default load any module IDs from js/lib
        baseUrl: '/script/',
        urlArgs: "v="+window.jsVersion,
        paths: {
            "formValid":"formvalid",
            "utility":"util"
        },
        shim: {},
        waitSeconds:0
    });
    require(['pages/hj_index'], function (hjIndex) {
        hjIndex.hjSlide("#hj_slide",4000);
    });

    window.addEventListener('load', function() {
        var _slideObj = $("#hj_slide");
        setTimeout(function() {
            var slideH = _slideObj.find("li").find("img").height();
            _slideObj.animate({height:slideH},800);
        }, 800);
    }, false);
    
    var imgIndex=$(".t_slide li img").size() , dot = $(".dot");
    for(var i=0;i<imgIndex;i++){
        dot.append("<span></span>")
    }
    if(imgIndex==1){
        dot.html("");
    }
    var monNum=Number($(".price_moneys .price_moneys_num").html()),delNum=Number($(".price_dels .price_dels_num").html());
    var chaNum=(delNum-monNum).toFixed(2);
    $(".price_chas .price_chas_num").html(chaNum);
</script>
<script>
$(document).ready(function(){
    $("#low_num").click(
        function()
        {
            var num=$('#nums').val()*1;
            if(num>1)
                $('#nums').val(num-1)
            check_nums()
        }
    );
    $("#add_num").click(
        function()
        {
            var num=$('#nums').val()*1;
            if(num<$('#stock').html())
                $('#nums').val(num+1)
            check_nums()
        }
    );
});
function check_nums()
{
    var v=document.getElementById('nums').value*1;
    var stock = $('#stock').html()*1;
    var maxbuy = "<{$de.maxbuy}>"

    if(maxbuy > 0 && maxbuy<stock)
    {
        stock = maxbuy;
    }
    if(!v)
        document.getElementById('nums').value=1;
    if(v>stock)
    {
        document.getElementById('nums').value=stock;
        return false;
    }
}

// function distribute_goods(id){
//         var url = '<{$config.weburl}>/module/distribution/add.php';
//         var uname='<{$smarty.cookies.USER}>';
//         if(uname=='')
//         {
//             alert('请先登录！');
//             window.location.href='<{$config.weburl}>/login.php?forward=shop.php?uid=<{$smarty.get.uid}>';
//             return false;
//         }
//         var pars = 'pid='+id+'&uname='+uname;
//         $.post(url, pars,showResponse);
//         function showResponse(originalRequest)
//         {
//             if(originalRequest>1)
//                 alert('成功添加至我的分销!');
//             else if (originalRequest>0)
//                 alert('该内容已经在你的分销中心，请勿重复添加！');
//             else
//                 alert('参数传递错误，无法完成操作!');
//         }
//     }
</script>
<script>
    function collect_altr(cla){
        $(cla).append("<div class='am-dialog-mask'></div>"+
                   "<div class='collect_box_out'>"+
                       "<div class='collect_box'>"+
                            "<div class='collect_box_content'></div>"+
                            "<div class='collect_box_btn'><a href='javascript:void(0);'>确定</a></div>"+
                            "<div class='collect_box_hid'>+</div>"+
                        "</div>"+
                   "</div>")
        $(".am-dialog-mask").addClass("am-dialog-mask-test");
        $(".collect_box_out").addClass('collect_box_out_test');
        $(".collect_box_hid").on("click",function(){
            removeco();
        })
        $(".collect_box_btn a").on("click",function(){
            removeco();
        })
    }
    function altto(co){
        $(".collect_box_content").html(co);
    }
    function removeco(){
        $(".am-dialog-mask").removeClass("am-dialog-mask-test");
        $(".collect_box_out").removeClass('collect_box_out_test');
        $(".am-dialog-mask").remove();
        $(".collect_box_out").remove();
    }
    $(function(){
        $("ul[genre*=property]").each(function(index){
            $("ul[genre*=property]").eq(index).find("li").eq(0).find("a").addClass("checked");   
        })      
    })
    function collect_goods(id){
        collect_altr(".col")
        var url = '<{$config.weburl}>/module/sns/ajax_update.php';
        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('请先登录！');
            // alert('请先登录！');
            $(".collect_box_hid").on("click",function(){
               removeco();
            })
            $(".collect_box_btn a").on("click",function(){
                window.location.href='<{$config.weburl}>/login.php?forward=shop.php?uid=<{$smarty.get.uid}>';
            })
            return false;
        }
        var pars = 'pid='+id+'&uname='+uname;
        $.post(url, pars,showResponse);
        function showResponse(originalRequest)
        {
            if(originalRequest>1){
                $("#collect").addClass("collect");
                altto('成功添加至我的收藏夹!');
               
            }
            else if (originalRequest>0){
                altto('该内容已经在你的收藏中心<br>请勿重复添加！');
                
            }
            else{
                altto('参数传递错误<br>无法完成操作!');
                
            } 
        }
    }
    function distribute_goods(id){
        collect_altr(".nav-e")
        var url = '<{$config.weburl}>/module/distribution/add.php';
        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('请先登录！');
            // alert('<{$lang.no_logo}>');
            $(".collect_box_hid").on("click",function(){
               removeco();
            })
            $(".collect_box_btn a").on("click",function(){  
                window.location.href='<{$config.weburl}>/login.php?forward=index.php?m=product&s=detail&id='+id;
            }) 
            return false;
        }
        var pars = 'pid='+id+'&uname='+uname;
        $.post(url, pars,showResponse);
        function showResponse(originalRequest)
        {
            if(originalRequest>1){
                altto('成功添加至我的分销!');
                
            }
            else if (originalRequest>0){
                altto('该内容已经在你的分销中心<br>请勿重复添加！');
               
            }
            else{
                altto('参数传递错误<br>无法完成操作!');
              
            }
        }
    }
    $(".incar_c").click(function(){
        buy();
    })
    function buy()
    {
        var B = false;
        $('ul[genre="property"]').each(function(){
            if(!$(this).find('a').hasClass('checked')){
                B = true;
            }
        });
        if (goodsspec.getSpec() == null || B)
        {
            alert('请选择相关规格');
        }
        else
        {
            $("#form").submit();
            return !B;
        }
    }

    /* spec对象 */
    function spec(id, spec, price, stock, code)
    {
        this.id    = id;
        this.spec  = spec;
        this.price = price;
        this.stock = stock;
        this.code  = code;
    }
    /* goodsspec对象 */
    function goodsspec(specs, specQty, defSpec)
    {
        this.specs = specs;
        this.specQty = specQty;
        this.defSpec = defSpec;
        this.spec1 = null;
        this.spec2 = null;
        if (this.specQty >= 1)
        {
            for(var i = 0; i < this.specs.length; i++)
            {
                if (this.specs[i].id == this.defSpec)
                {
                <{foreach item=list key=num from=$de.extfiled.d}>
                    this.spec<{$num+1}> = this.specs[i].spec[<{$num}>];
                <{/foreach}>
                    break;
                }
            }
        }

        // 取得选中的spec
        this.getSpec = function()
        {
            for (var i = 0; i < this.specs.length; i++)
            {
            <{foreach item=list key=num from=$de.extfiled.d}>
                if (this.specs[i].spec[<{$num}>] != this.spec<{$num+1}>) continue;
            <{/foreach}>
                return this.specs[i];
            }
            return null;
        }

    }
    /* 选中某规格 num=1,2 */
    function selectSpec(num,obj, SID)
    {
        goodsspec['spec' + num] = SID;
        $(obj).addClass("checked");
        $(obj).parents('li').siblings().find('a').removeClass("checked");

        var spec = goodsspec.getSpec();
        var sign = 't';
        $('ul[genre="property"]').each(function(){
            if(!$(this).find('a').hasClass('checked')){
                sign = 'f';
            }
        });
        if (spec != null && sign == 't')
        {
            $('#stock').html(spec.stock);
            $('#price').html("￥ "+parseFloat(spec.price).toFixed(2));
            $('#code').html(spec.code);
            $('#sid').val(spec.id);
            $('#sku').val(spec.code);

            if(parseInt(spec.stock) == 0)
            {
                $('[class="choose_result"]').show().html('<div class="dd"><em>所选库存量不足，请选择其它购买。</em></div>');
                $('#addcart_submit').attr('disabled',true).css('cursor','pointer');
            }
            else
            {
                SP_V = '';
                $('ul[genre="property"]').find('li > .checked').each(function(i){
                    SP_V += '<strong>"'+$(this).text()+'"</strong>，';
                });
                SP_V = SP_V.substr(0,SP_V.length-1);
                $('[class="choose_result"]').show().html('<em>您选择了：</em>'+SP_V+'');
                $('#addcart_submit').attr('disabled',false).css('cursor','auto');
            }
        }
    }
    var specs = new Array();
    <{foreach item=list key=num from=$de.porperty}>
    specs.push(new spec('<{$list.id}>', ['<{$list.property_value_id|replace:",":"','"}>'],'<{$list.price}>', '<{$list.stock}>', '<{$list.sku}>'));
    var specQty = <{$de.extfiled.d|@count}>;
    var defSpec = <{$de.porperty.0.id}>;
    <{foreachelse}>
    specs.push(new spec('', '', '', '', ''));
    var specQty = 0;
    var defSpec = 0;
    <{/foreach}>
    var goodsspec = new goodsspec(specs, specQty, defSpec);
</script>

<{if $smarty.session.appid}>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var cnf = {
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<{$smarty.session.appid}>',       // 必填，公众号的唯一标识
        timestamp: '<{$smarty.session.tmpTime}>', // 必填，生成签名的时间戳
        nonceStr: '<{$smarty.session.noncestr}>', // 必填，生成签名的随机串
        signature: '<{$smarty.session.signature}>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareQQ','onMenuShareTimeline','onMenuShareWeibo','onMenuShareAppMessage','downloadImage','checkJsApi'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    };

    wx.config(cnf);
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: "<{$com.shop_title}>", // 分享标题
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}>image/default/nopic.gif<{/if}>", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title:"<{$com.shop_title}>", // 分享标题
            desc: "<{$com.shop_description|truncate:32:'.....'}>\n好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>", // 分享描述
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}>image/default/nopic.gif<{/if}>", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        })

        wx.onMenuShareQQ({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '<{$com.shop_description|truncate:32:'.....'}>\n好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}>image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '<{$com.shop_description|truncate:32:'.....'}>\n好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}>image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })
</script>
<{else}>
<{/if}>