<link href="<{$config.weburl}>/templates/wap/css/shop.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .mains{height: 0;}
</style>
<header>
    <div class="nav_shop clearfix">
        <section class="nav_shop_s" onclick="javascript:history.back(-1)"><i class="fanhui_icon_shop"></i></section>
        <section class="nav_shop_e"><a href="<{$config.weburl}>"><i class="home_icon_shop"></i></a></section>
    </div>
</header>
<div class="main_container">
    <div class="main_crousel">
        <div class="main_crousel_inner">
            <script src='<{$config.weburl}>/api/ad.php?id=1&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
            <div class="dot"></div>     
        </div>
    </div>
</div>
<div class="c_daibao clearfix">
    <ul>
        <li><img src="../image/wap/wap_haitao_icon88.png" alt="正品保证"><p>正品保证</p></li><li>
        <img src="../image/wap/wap_haitao_icon89.png" alt="跨境直发"><p>跨境直发</p></li><li>
        <img src="../image/wap/wap_haitao_icon90.png" alt="专业配送"><p>专业配送</p></li><li>
        <img src="../image/wap/wap_haitao_icon91.png" alt="政府监管"><p>政府监管</p></li><li>
        <img src="../image/wap/wap_haitao_icon92.png" alt="海外优选"><p>海外优选</p></li>
    </ul>
</div>
<div class="shopinfo_header">
    <div class="shopinfo-companys clearfix">
        <span class="shopinfo-titl"><{$com.company}></span>
        <div class="shopinfo-cols">
            <a onclick="javascript:getfavshop()">
                <span class="shopinfo-xin iconfont <{if $sns_shop == 'yes' }>collect<{/if}>">&#xe62b;</span>
                <span class="nav-c"><{if $sns_shop == 'yes' }>已收藏<{else}>收藏<{/if}></span>
            </a>
        </div>
    </div>
    <div class="shopinfo-imphosts">
        <p>主营商品：<span><{$com.shop_description}></span></p>
    </div> 
    <div class="header_topleft">
        <img class="ub-img shoplogo" src="<{if $com.logo}><{$com.logo}><{else}>templates/wap/images/user.png<{/if}>">
    </div>    
</div>
<div class="main_list">
    <{foreach item=list from=$products key=key}>
    <div class="main_list_banner">
        <a href="<{$config.weburl}>/product-list-<{$key}>.html">
            <img class="scrollLoading" data-url="<{$catids.$key.wpic}>" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_loadding1.jpg) no-repeat center;" alt="<{$catids.$key.cat}>" border="0">
        </a>
    </div>
    <div class="clearfix main_list_ware">
        <ul class="main_warelist clearfix">
            <{foreach item=lists from=$list}>
            <li class="wareli clearfix">
            <a href="<{$config.weburl}>/product-detail-<{$lists.id}>.html" class="shopli_top_as">
                <div class="wareli_img">
                    <img class="scrollLoading" data-url="<{$lists.pic}>" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_loadding1.jpg) no-repeat center;" alt="<{$lists.name}>">
                </div>
                <div class="wareli_bottom clearfix">
                    <div class="wareli_bottom_message">
                        <p class="wareli_bottom_text"><{$lists.name}></p>
                    </div>
                    <div class="wareli_bottom_rob clearfix">
                        <span class="diantou">店头价</span><span class="org wareli_bottom_money">¥<{$lists.price}></span>
                    </div>
                </div>
            </a></li>
        <{/foreach}>
        </ul>
    </div>
    <{/foreach}>
    <div class="shopinfo_btn">
        <a href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product">查看更多商品</a>
    </div>
</div>
<div class="addcarts">
    <a class="carts" href="/?m=product&s=cart">
        <span class="cart-num-conts" id='cart_num'>
            <span class="cart-num"></span>
            <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
        </span>
    </a>
</div>
<div class="addtop">
    <a class="top" href="javascript:void(0);"></a>
</div>
<section class="bom_nav">
    <ul>
        <li><a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon103.png" alt="店铺"><p class="bom_nav_color">店铺</p></a></li><li>
        <a href="<{$config.weburl}>/partner.php<{$dis}>"><img src="../image/wap/wap_haitao_icon104.png" alt="成为合伙人"><p>成为合伙人</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li>
    </ul>
</section>
<script type="text/javascript" src="<{$config.weburl}>/script/wap/libs.js?v=<?=time();?>"></script>
<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.scrollLoading.js"></script>
<script type="text/javascript">
    function tipsWarn(str, time) {
        var operasWrap = $("<div class='collect_box_content'><p class='time_01 fadeIn'>" + str + "</p></div>");
        var timenum = time || 2500,
            tips = $(".collect_box_content"),
            tips_len = tips.size(),
            num = 0;
        if (tips_len > 0) {
            tips.find("p").html(str);
            clearTimeout(window.timmer);
            num = 0;
            window.timmer = setInterval(function() {
                num += 100;
                if (num > timenum) {
                    tips.removeClass('active');
                    clearInterval(window.timmer);
                    setTimeout(function() {
                        tips.remove();
                    }, 500);
                }
            }, 100);
        } else {
            $("body").append(operasWrap);
            var wid=$(".collect_box_content").width()/2;
            $(".collect_box_content").css({"margin-left":-wid+"px"});
            setTimeout(function() {
                var wid=$(".collect_box_content").width()/2;
                $(".collect_box_content").css({"margin-left":-wid+"px"});
                operasWrap.addClass('active');
            }, 200);
            window.timmer = setInterval(function() {
                num += 100;
                if (num > timenum) {
                    operasWrap.removeClass('active');
                    clearInterval(window.timmer);
                    setTimeout(function() {
                        operasWrap.remove();
                    }, 500);
                }
            }, 100);
        }
    }
    function getfavshop()
    {
        var url = '<{$config.weburl}>/module/sns/ajax_update.php';

        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            tipsWarn('请先登录！');
            return false;
        }

        var shopid = '<{$smarty.get.uid}>';
        var shopname = "<{$com.company|regex_replace:"/[\r\t\n]/":""}>";
        var pars = 'uname='+uname+'&shopid='+shopid+'&shopname='+shopname;
        $.post(url, pars,showResponse,"json");
        function showResponse(originalRequest)
        {
            if(originalRequest.statu==1){
                $(".iconfont").addClass("collect");
                $(".shopinfo-cols .nav-c").html("已收藏");
                tipsWarn('成功添加至我的收藏夹!');
            }
            else if (originalRequest.statu==0){
                $(".iconfont").removeClass("collect");
                $(".shopinfo-cols .nav-c").html("收藏");
                tipsWarn('成功取消店铺收藏');
            }
        }

    }
</script>
<script>
var $jj = jQuery.noConflict();
$(function(){
    $(".main_crousel .main_crousel_inner .flexslider").addClass("t_slide pos_re");
    var imgIndex=$(".t_slide li img").size() , dot = $(".dot");
    for(var i=0;i<imgIndex;i++){
        dot.append("<span></span>")
    }
    $(".dot span").eq(0).addClass("cur");
    if(imgIndex==1){
        dot.html("");
    }
    $("#slider_1").bind("swipeLeft", function(e) {
        e = e || window.event;
        if (e.stopPropagation) { 
            e.stopPropagation();
        } else {
            e.cancelBubble = true; 
        }
    });
    $("#slider_1").bind("swipeRight", function(e) {
        e = e || window.event;
        if (e.stopPropagation) { 
            e.stopPropagation();
        } else {
            e.cancelBubble = true;
        }
    });
    $("#slider_1").swipeSlide({
        continuousScroll: true,
        lazyLoad : true,
        speed: 4000,
        nums : 1545,
        firstCallback: function(i, sum, me) {
            me.parent().find(".dot").children().first().addClass('cur');
        },
        callback: function(i, sum, me) {
            me.parent().find(".dot").children().eq(i).addClass('cur').siblings().removeClass('cur');
        }
    });
    window.addEventListener('load', function() {
        var _slideObj = $("#slider_1");
        setTimeout(function() {
            var slideH = _slideObj.find("li").find("img").height();
            _slideObj.animate({height:slideH},800);
        }, 800);
    }, false);
    window.onload=function(){
        var windowWid=-($jj(window).width())/2;
        $jj(".main_container .t_slide .slides li img").css({"margin-left":windowWid+"px"});
        var a=$jj(".main_container .t_slide").height() , b=$jj(".nav_shop").height() , g=parseFloat($jj(".shop_main_nav ul li").css("margin-right")) , h=parseFloat($jj(".shop_main_nav").css("padding-top"));
        $jj(document).scroll(function(){
            var h = $jj(document).scrollTop();
            var wHeight=$jj(window).height();
            if(h>wHeight){
                $jj(".addtop").show()
                $jj(".addtop").click(function(){
                    $jj(window).scrollTop(0);
                })
            }else{
                $jj(".addtop").hide()
            }
            if(h > (a-b)){

                $jj(".main_crousel").css({"position":"fixed","top":-(a-b)+"px","z-index":"999","left":0});
                $jj(".c_daibao").css({"margin-top":a+"px"});
                $jj(".dot").hide();
            }
            else{
                $jj(".main_crousel").css({"position":"static","top":0,"z-index":"999","left":0});
                $jj(".c_daibao").css({"margin-top":"0px"});
                $jj(".dot").show();
            }
        })
    }
    $jj(".scrollLoading").scrollLoading();
    function substr(htm,obj,num){
        var value_substr=obj.substr(0,num);
        var pname_len=obj.length;
        var value_substr_len=value_substr.length+1;
        if(pname_len>value_substr_len){
            value_substr=value_substr+"...";                
        }       
        htm.html(value_substr);
    }
    var shop_htm=$jj(".shopinfo-imphosts p span") , shop_pin=$jj(".shopinfo-imphosts p span").html() , shop_name_htm=$jj(".shopinfo-companys .shopinfo-titl") ,  shop_name=$jj(".shopinfo-companys .shopinfo-titl").html();
    if(shop_pin==""){
        shop_htm.html("无");
    }
    else{
        substr(shop_htm,shop_pin,14);
    }
    if(shop_name==""){
        shop_name_htm.html("我的店铺");
    }
    else{
        substr(shop_name_htm,shop_name,10);
    }
})
</script>