<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<link href="<{$config.weburl}>/templates/wap/css/appcan.css" rel="stylesheet" type="text/css" />
<link href="<{$config.weburl}>/templates/wap/css/shop.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
     function collect_altr(cla){
        $(cla).append("<div class='am-dialog-mask'></div>"+
                   "<div class='collect_box_out'>"+
                       "<div class='collect_box'>"+
                            "<div class='collect_box_content'></div>"+
                            "<div class='collect_box_btn'><a href='javascript:void(0);'>确定</a></div>"+
                        "</div>"+
                   "</div>")
        $(".am-dialog-mask").addClass("am-dialog-mask-test");
        $(".collect_box_btn a").click(function(){
            removeco();
        })
    }
    function altto(co){
        $(".collect_box_content").html(co);
    }
    function show(){
        $(".collect_box_out").addClass('collect_box_out_test');
    }
    function removeco(){
        $(".am-dialog-mask").removeClass("am-dialog-mask-test");
        $(".collect_box_out").removeClass('collect_box_out_test');
        $(".am-dialog-mask").remove();
        $(".collect_box_out").remove();
    }
    function getfavshop()
    {
        collect_altr(".col")
        var url = '<{$config.weburl}>/module/sns/ajax_update.php';

        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('<{$lang.no_logo}>');
            show();
            $(".collect_box_btn a").click(function(){
                window.location.href='<{$config.weburl}>/login.php?forward=shop.php?uid=<{$smarty.get.uid}>';
            })
            return false;
        }

        var shopid = '<{$smarty.get.uid}>';
        var shopname = "<{$com.company|regex_replace:"/[\r\t\n]/":""}>";
        var pars = 'uname='+uname+'&shopid='+shopid+'&shopname='+shopname;
        $.post(url, pars,showResponse);
        function showResponse(originalRequest)
        {
            if(originalRequest>1){
                altto('<{$lang.fav_ok}>');
                show();
            }
            else if (originalRequest>0){
                altto('<{$lang.fav_isbing}>');
                show();
            }
            else{
                altto('<{$lang.error}>');
                show();
            }
        }

    }

    function distribute_goods(id){
        collect_altr(".col")
        var url = '<{$config.weburl}>/module/distribution/add.php';
        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('<{$lang.no_logo}>');
            show();
            $(".collect_box_btn a").click(function(){
                 window.location.href='<{$config.weburl}>/login.php?forward=index.php?m=product&s=detail&id='+id;
            })
            return false;
        }
        var pars = 'pid='+id+'&uname='+uname;
        $.post(url, pars,showResponse);
        function showResponse(originalRequest)
        {
            if(originalRequest>1){
                altto('成功添加至我的分销!');
                show();
            }
            else if (originalRequest>0){
                altto('该内容已经在你的分销中心，请勿重复添加！');
                show();
            }
            else{
                altto('参数传递错误，无法完成操作!');
                show();
            }
        }
    }

</script>

<header>
	<div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
        <section class="nav-c"><span><{$com.company}></span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</header>
<section class="clearfix" style="width:100%;">
    <div class="shopinfo-banner">
        <div class="ulev-app2" id="company">
            <{$com.company}>
        </div>
    </div>
    <div class="shopinfo-banner-content shopinfo-banner-content2">
        <div class="header_topleft">
            <a href="<{$config.weburl}>/main.php?m=member&s=admin_member&cg_u_type=1">
                <img src="<{if $com.plogo}><{$com.plogo}><{else}>image/default/user_admin/default_user_portrait.gif<{/if}>" >
            </a>
        </div>       
        <div class="typ">信誉级：<img alt="<{$com.sellerpoints}>" title="<{$com.sellerpoints}>" align="absmiddle" src="<{$config.weburl}>/image/points/<{$com.sellerpointsimg}>"></div>
        <div class="typ">好评率：<span><{$list.favorablerate|number_format:2}>%</span></div>
        <div class="col" style="padding: 0 10px">
            <a onclick="javascript:getfavshop()">
                <div class="iconfont_min <{if $sns_shop == 'yes' }>collect<{/if}>">&#xe615;</div>
                <div class="nav-c" style="font-size: .7em">收藏</div>
            </a>
        </div>
        <{if $dist_user_row.distribution_user_state eq -3 AND $is_distribution_product eq true}>
            <div class="col" style="padding: 0 10px">
                <a href="javascript:distribute_goods('<{$de.id}>');" style="color:8b8b8b">
                    <div class="iconfont_min <{if $de.is_collect}>collect<{/if}>">&#xe663;</div>
                    <div style="font-size: .7em">加入分销</div>
                </a>
            </div>
        <{/if}>
    </div>
</section>
<section class="clearfix">
    <{if $dist_pro}>
        <div class="plist itemSearchResult">
            <ul class="shoplist clearfix">
                <{foreach item=list key=key from=$dist_pro key=num}>
                <li class="shopli clearfix">
                    <span class="pname_img"><img src="../../../image/wap/state1.png"></span>
                    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                        <div class="shopli_top_img">
                            <img height="125" width="125" src="<{$list.pic}>" alt="<{$list.pname}>"/>
                        </div>
                        <div class="shopli_bottom clearfix">
                            <div class="shopli_bottom_message">
                                <p class="shopli_bottom_text"><{$list.pname|truncate:18:""}></p>
                            </div>
                            <div class="shopli_bottom_rob shopli_bottom_rob2 clearfix">
                                <div class="al shopli_bottom_money">
                                    <p class="money"><{$config.money}><{$list.price}></p>
                                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                                </div>
                                <a href="javascript:distribute_goods('<{$de.id}>');" class="shopli_bottom_zhuanxiang">加入分销</a>
                            </div>  
                        </div>
                    </a>
                </li>
                <{/foreach}>
            </ul>
        </div>
        <a href="javascript:void(0);" class="m_jiazai">下拉加载更多</a>
    <{/if}>

    <{if $com.shop_statu eq 1}>
    <div class="plist itemSearchResult">
        <!-- <h2><a href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product">最新宝贝</a></h2> -->
        <ul class="shoplist clearfix">
            <{foreach item=list key=key from=$pro key=num}>
                <li class="shopli clearfix">
                    <span class="pname_img"><img src="../../../image/wap/state1.png"></span>
                    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                        <div class="shopli_top_img">
                            <img height="125" width="125" src="<{$list.pic}>" alt="<{$list.pname}>"/>
                        </div>
                        <div class="shopli_bottom clearfix">
                            <div class="shopli_bottom_message">
                                <p class="shopli_bottom_text"><{$list.pname|truncate:18:""}></p>
                            </div>
                            <div class="shopli_bottom_rob shopli_bottom_rob2 clearfix">
                                <div class="al shopli_bottom_money">
                                    <p class="money"><{$config.money}><{$list.price}></p>
                                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                                </div>
                                <a href="javascript:distribute_goods('<{$de.id}>');" class="shopli_bottom_zhuanxiang">专享抢购</a>
                               <!-- <span class="pname_img"><{if $de.img }><img src="../../../image/wap/state1.png"><{/if}></span> -->
                            </div>  
                        </div>
                    </a>
                </li>
            <{/foreach}>
        </ul>
        <h3><a href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product">查看更多商品&gt;&gt;</a></h3>
    </div>
    <{/if}>
    <div class="leftcate" style="display: none">
        <{if $custom_cat }>
        <h2>分类 <a class="remove" href="javascript:void(0)"><nav>取消</nav></a></h2>
        <ul>
            <{foreach item=list from=$custom_cat}>
            <li>
                <a <{if $smarty.get.cat==$list.id}>class="current"<{/if}> class="<{if $list.con}>block_ico<{else}>none_ico<{/if}>" href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$list.id}>" title="<{$list.name}>"><{$list.name}></a>
                <{if $list.con}>
                <{foreach item=lists from=$list.con}>
            <li><a <{if $smarty.get.cat==$lists.id}>class="current"<{/if}> href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$lists.id}>" title="<{$lists.name}>">&nbsp;<{$lists.name}></a></li>
            <{/foreach}>
            <{/if}>
            </li>
            <{/foreach}>
        </ul>
        <{/if}>
    </div>
</section>
<script>
    $("#list").click(function(){
        window.scroll(0,0);
        $('.leftcate').show();
        $('.itemSearchResult').hide();
        $('.main').append('<div id="leftmask"></div>')
        $('#leftmask')[0].style.height =$(".main").height()+20;
    });
    $('.remove').click(function(){
        $('.leftcate').hide();
        $('.itemSearchResult').show();
        $('#leftmask').remove();
    });

    var w=window.innerWidth|| document.documentElement.clientWidth|| document.body.clientWidth;
    if(w <=540)
    {
        var rate = w/540;
        var h = 405*100*rate/100;
        $(".shop-bannar").css({"height":h+"px","width":"100%","background-size":"contain","background-repeat":"no-repeat"})
        var h1 = 224*100*rate/100;
        $(".shopli").find("img").height(h1+"px")
    }
    else
    {
        $(".shop-bannar").css({"height":"405px","width":"100%","background-size":"contain","background-repeat":"no-repeat"})
        $(".shopli").find("img").height("224px")
    }
</script>
<{if $smarty.session.appid}>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var cnf = {
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<{$smarty.session.appid}>',       // 必填，公众号的唯一标识
        timestamp: '<{$smarty.session.tmpTime}>', // 必填，生成签名的时间戳
        nonceStr: '<{$smarty.session.noncestr}>', // 必填，生成签名的随机串
        signature: '<{$smarty.session.signature}>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareQQ','onMenuShareTimeline','onMenuShareWeibo','onMenuShareAppMessage','downloadImage','checkJsApi'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    };

    wx.config(cnf);
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: "<{$com.shop_title}>", // 分享标题
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title:"<{$com.shop_title}>", // 分享标题
            desc: "好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>", // 分享描述
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        })

        wx.onMenuShareQQ({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })
</script>
<{/if}>