<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<link href="<{$config.weburl}>/templates/wap/css/appcan.css" rel="stylesheet" type="text/css" />
<link href="<{$config.weburl}>/templates/wap/css/shop.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function altto(co){
        $(".collect_box_content").show();
        $(".collect_box_content").html(co);
        var wid=$(".collect_box_content").width()/2;
        $(".collect_box_content").css({"margin-left":-wid+"px","padding":"10px","top":"30%"});
    }
    function wid(){
        setTimeout(function(){
            $(".collect_box_content").hide();
        },2000)
    }
    function getfavshop()
    {
        var url = '<{$config.weburl}>/module/sns/ajax_update.php';

        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('请先登录！');
            wid();
            return false;
        }

        var shopid = '<{$smarty.get.uid}>';
        var shopname = "<{$com.company|regex_replace:"/[\r\t\n]/":""}>";
        var pars = 'uname='+uname+'&shopid='+shopid+'&shopname='+shopname;
        $.post(url, pars,showResponse,"json");
        function showResponse(originalRequest)
        {
            console.log(originalRequest.statu)
            if(originalRequest.statu==1){
                $(".iconfont_min").addClass("collect");
                altto('成功添加至我的收藏夹!');
                wid()
            }
            else if (originalRequest.statu==0){
                $(".iconfont_min").removeClass("collect");
                altto('成功取消商品收藏');
                wid()
            }
        }

    }
    function distribute_goods(id){
        var url = '<{$config.weburl}>/module/distribution/add.php';
        var uname='<{$smarty.cookies.USER}>';
        if(uname=='')
        {
            altto('请先登录！');
            wid();
            return false;
        }
        var pars = 'pid='+id+'&uname='+uname;
        $.post(url, pars,showResponse);
        function showResponse(originalRequest)
        {
            if(originalRequest>1){
                altto('成功添加至我的分销!');
                wid()
            }
            else if (originalRequest>0){
                altto('该内容已经在你的分销中心<br>请勿重复添加！');
                wid()
            }
            else{
                altto('参数传递错误<br>无法完成操作!');
                wid()
            }
        }
    }
</script>

<header>
	<div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
        <section class="nav-c"><span><{$com.company}></span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
    </div>
</header>
<div class='collect_box_content'></div> 
<section class="clearfix" style="width:100%;">
    <div class="shopinfo-banner">
        <img src="<{if $com.wap_bannar}><{$com.wap_bannar}><{else}>templates/wap/images/bg.jpg<{/if}>">
        <div class="shopinfo-companys">
            <{$com.company}>
        </div>
        <div class="shopinfo-banner-content">
            <div class="header_topleft">
                <img class="ub-img shoplogo" src="<{if $com.logo}><{$com.logo}><{else}>templates/wap/images/user.png<{/if}>">
            </div>
            <div class="shopinfo-imphost">
                <p>主营商品：<span>大牌尿裤、进口奶粉、安全喂养、洗护用品、营养辅食、宝宝护肤</span></p>
            </div>       
            <div class="cols" style="padding: 0 10px">
                <a onclick="javascript:getfavshop()">
                    <div class="iconfont_min <{if $sns_shop == 'yes' }>collect<{/if}>">&#xe615;</div>
                    <div class="nav-c">收藏</div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="pchart">
    <ul class="pchart_con clearfix">
        <li class="active"><img src="../../../image/wap/wap_haitao_icon67.png" alt="最新商品"><p>最新商品</p><i></i></li>
        <li><img src="../../../image/wap/wap_haitao_icon70.png" alt="分销商品"><p>分销商品</p></li>
    </ul>
    <div class="pchart_con2">最新商品</div>
</section>
<section class="clearfix pchart_commit">
    <div class='pchart_last pchart_test'>
    <{if $com.shop_statu eq 1}>
    <div class="plist itemSearchResult">
        <ul class="shoplist clearfix">
            <{foreach item=list key=key from=$pro key=num}>
                <li class="shopli clearfix">
                    <span class="pname_img">
                        <{if $list.national }>
                            <img src="<{$list.img}>" alt="<{$list.title}>">
                        <{/if}>
                    </span>
                    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                        <div class="shopli_top_img">
                            <img height="125" width="125" src="<{$list.pic}>" alt="<{$list.pname}>"/>
                        </div>
                        <!-- <div class="shop_over">已售完</div> -->
                        <div class="shopli_bottom clearfix">
                            <div class="shopli_bottom_message">
                                <p class="shopli_bottom_text"><{$list.pname}></p>
                            </div>
                            <div class="shopli_bottom_rob shopli_bottom_rob2 clearfix">
                                <div class="al shopli_bottom_money">
                                    <p class="money"><{$config.money}><{$list.price}></p>
                                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                                </div>
                                <a href="javascript:void(0);" class="shopli_bottom_zhuanxiang">专享抢购</a>
                            </div>  
                        </div>
                    </a>
                </li>
            <{/foreach}>
        </ul>
        <a href="javascript:void(0);" class="m_jiazai">下拉加载更多</a>
    </div>
    <{/if}>
    </div>
    <div class='pchart_first'>
    <{if $dist_pro}>
        <div class="plist itemSearchResult">
            <!-- <h2>推荐商品</h2> -->
            <ul class="shoplist clearfix">
                <{foreach item=list key=key from=$dist_pro key=num}>
                <li class="shopli clearfix">
                    <span class="pname_img">
                        <{if $list.pnational }>
                            <img src="<{$list.pnational.img}>" alt="<{$list.pnational.title}>">
                        <{/if}>
                    </span>
                    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                        <div class="shopli_top_img">
                            <img height="125" width="125" src="<{$list.pic}>" alt="<{$list.pname}>"/>
                        </div>
                        <!-- <div class="shop_over">已售完</div> -->
                        <div class="shopli_bottom clearfix">
                            <div class="shopli_bottom_message">
                                <p class="shopli_bottom_text"><{$list.pname}></p>
                            </div>
                            <div class="shopli_bottom_rob shopli_bottom_rob2 clearfix">
                                <div class="al shopli_bottom_money">
                                    <p class="money"><{$config.money}><{$list.price}></p>
                                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                                </div>
                                <a href="javascript:distribute_goods('<{$list.id}>');" class="shopli_bottom_zhuanxiang">加入分销</a>
                            </div>  
                        </div>
                    </a>
                </li>
                <{/foreach}>
            </ul>
        </div>
        <a href="javascript:void(0);" class="m_jiazai">下拉加载更多</a>
    <{/if}>
    </div> 
    <div class="leftcate" style="display: none">
        <{if $custom_cat }>
        <h2>分类 <a class="remove" href="javascript:void(0)"><nav>取消</nav></a></h2>
        <ul>
            <{foreach item=list from=$custom_cat}>
            <li>
                <a <{if $smarty.get.cat==$list.id}>class="current"<{/if}> class="<{if $list.con}>block_ico<{else}>none_ico<{/if}>" href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$list.id}>" title="<{$list.name}>"><{$list.name}></a>
                <{if $list.con}>
                <{foreach item=lists from=$list.con}>
            <li><a <{if $smarty.get.cat==$lists.id}>class="current"<{/if}> href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$lists.id}>" title="<{$lists.name}>">&nbsp;<{$lists.name}></a></li>
            <{/foreach}>
            <{/if}>
            </li>
            <{/foreach}>
        </ul>
        <{/if}>
    </div>
</section>
<section class="bom_nav">
    <ul>
        <li><a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon67.png" alt="购物"><p class="bom_nav_color">店铺</p></a></li><li>
        <a href="<{$config.weburl}>/partner.php"><img src="../image/wap/wap_haitao_icon27.png" alt="购物"><p>成为合伙人</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon70.png" alt="购物"><p>赚钱</p></a></li>
    </ul>
</section>
<script>
$(function(){
    var a=<{$com.shop_statu}>;
    var imgSize=$(".pchart_first li").size();
    var pchart_li=$(".pchart .pchart_con li");
    var pchart_div=$(".pchart_commit>div");
    var pchart_con=$(".pchart_con2");
    if(a!=1){
        $(".pchart_first").show();
        $(".pchart").hide();
    }
    if(imgSize==0){
        $(".pchart ul").hide();
    }
    pchart_li.eq(0).click(function(){
        pchart_li.eq(0).addClass("active");
        pchart_li.eq(0).find("img").attr("src","../../../image/wap/wap_haitao_icon67.png");
        pchart_li.eq(1).removeClass("active");
        pchart_li.eq(1).find("img").attr("src","../../../image/wap/wap_haitao_icon70.png");
        pchart_div.eq(0).show();
        pchart_div.eq(1).hide();
        pchart_con.html("最新商品")

    });
    pchart_li.eq(1).click(function(){
        pchart_li.eq(1).addClass("active");
        pchart_li.eq(0).removeClass("active");
        pchart_li.eq(0).find("img").attr("src","../../../image/wap/wap_haitao_icon68.png");
        pchart_li.eq(1).find("img").attr("src","../../../image/wap/wap_haitao_icon69.png");
        pchart_div.eq(1).show();
        pchart_div.eq(0).hide();
        pchart_con.html("分销商品")

    });
    $("#list").click(function(){
        window.scroll(0,0);
        $('.leftcate').show();
        $('.itemSearchResult').hide();
        $('.main').append('<div id="leftmask"></div>')
        $('#leftmask')[0].style.height =$(".main").height()+20;
    });
    $('.remove').click(function(){
        $('.leftcate').hide();
        $('.itemSearchResult').show();
        $('#leftmask').remove();
    });

    var w=window.innerWidth|| document.documentElement.clientWidth|| document.body.clientWidth;
    if(w <=540)
    {
        var rate = w/540;
        var h = 405*100*rate/100;
        $(".shop-bannar").css({"height":h+"px","width":"100%","background-size":"contain","background-repeat":"no-repeat"})
        var h1 = 224*100*rate/100;
        $(".shopli").find("img").height(h1+"px")
    }
    else
    {
        $(".shop-bannar").css({"height":"405px","width":"100%","background-size":"contain","background-repeat":"no-repeat"})
        $(".shopli").find("img").height("224px")
    }
    var dlLen=$(".plist .shopli").size();
    if(dlLen<10){
        $(".m_jiazai").hide();
        $("footer").css({"margin-top":"20px"})
    }
    var page = 0;
    var uid = "<{$smarty.get.uid}>";
    var dis_id = "<{$smarty.get.dist_id}>";
    var url = "<{$config.weburl}>/shop.php";
    var stop=true; 
    $(window).scroll(function(){
        totalheight = parseFloat(window.innerHeight) + parseFloat($(window).scrollTop())+ parseFloat($("footer").height());      
        if($(document).height() <= totalheight){
            if(stop==true){ 
                $(".m_jiazai").html("正在加载中.....");
                stop=false; 
                page = page+10;
                $.ajax({
                    url: url,
                    type: 'get',
                    data: {uid:uid, dis_id:dis_id, page:page, ptype:'ajax'},
                    dataType: "json",
                    success: function(msg){
                        if(msg.status==2){
                        var dataLen=msg.data.length;
                        for(var i=0;i<dataLen;i++){
                            var pnational=msg.data[i].pnational;
                            var shop_statu=<{$com.shop_statu}>;
                            $(".plist .shoplist").append("<li class='shopli clearfix'>"+
                                    "<span class='pname_img' data-id='"+msg.data[i].id+"'>"+                                       
                                    "</span>"+
                                    "<a href='<{$config.weburl}>/?m=product&s=detail&id="+msg.data[i].id+"'>"+
                                        "<div class='shopli_top_img'>"+
                                            "<img height='125' width='125' src='"+msg.data[i].pic+"' alt='"+msg.data[i].pname+"'/>"+
                                        "</div>"+
                                        "<div class='shopli_bottom clearfix'>"+
                                            "<div class='shopli_bottom_message'>"+
                                                "<p class='shopli_bottom_text'>"+msg.data[i].pname+"</p>"+
                                            "</div>"+
                                            "<div class='shopli_bottom_rob shopli_bottom_rob2 clearfix' data-id='"+msg.data[i].id+"'>"+
                                                "<div class='al shopli_bottom_money'>"+
                                                    "<p class='money'><{$config.money}>"+msg.data[i].price+"</p>"+
                                                    "<p class='money money_del'><{$config.money}>"+msg.data[i].market_price+"</p>"+
                                                "</div>"+
                                            "</div>"+
                                        "</div>"+
                                    "</a>"+
                                "</li>") 
                                if(pnational!==false){
                                    $(".pname_img[data-id="+msg.data[i].id+"]").append("<img src='"+msg.data[i].pnational.img+"' alt='"+msg.data[i].pnational.title+"'>")
                                }
                                if(shop_statu==1) {
                                    $(".shopli_bottom_rob2[data-id="+msg.data[i].id+"]").append("<a href='javascript:void(0);' class='shopli_bottom_zhuanxiang'>专享抢购</a>")
                                } else{
                                    $(".shopli_bottom_rob2[data-id="+msg.data[i].id+"]").append(" <a href='javascript:distribute_goods("+msg.data[i].id+");' class='shopli_bottom_zhuanxiang'>加入分销</a>")
                                }               
                        }
                        stop=true;
                        }else{
                         $(".m_jiazai").html("已到最底部");
                        }
                    }
                });
            } 
        } 
    })      
})
</script>
<{if $smarty.session.appid}>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var cnf = {
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<{$smarty.session.appid}>',       // 必填，公众号的唯一标识
        timestamp: '<{$smarty.session.tmpTime}>', // 必填，生成签名的时间戳
        nonceStr: '<{$smarty.session.noncestr}>', // 必填，生成签名的随机串
        signature: '<{$smarty.session.signature}>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareQQ','onMenuShareTimeline','onMenuShareWeibo','onMenuShareAppMessage','downloadImage','checkJsApi'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    };

    wx.config(cnf);
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: "<{$com.shop_title}>", // 分享标题
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title:"<{$com.shop_title}>", // 分享标题
            desc: "好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>", // 分享描述
            link: location.href, // 分享链接
            imgUrl: "<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        })

        wx.onMenuShareQQ({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '<{$com.shop_title}>', // 分享标题
            desc: '好评率：<{if $comment==0}>100<{else}><{$comment|number_format:2}><{/if}>%\n<{$com.area}>', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{if $com.logo}><{$com.logo}><{else}><{$config.weburl}>/image/default/nopic.gif<{/if}>', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                 var url = "<{$config.weburl}>/ajax_back_end.php";
                 $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                 })
                 */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })
</script>
<{/if}>