<link href="<{$config.weburl}>/templates/wap/css/shop.css" rel="stylesheet" type="text/css" />
<link href="<{$config.weburl}>/templates/wap/css/appcan.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
        <section class="nav-s iconfont" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
        <section class="nav-c"><span>全部商品</span></section>
        <section class="nav-e"><a id="list" href="<{$config.weburl}>"><i class="home_icon"></i></a></section>
	</div>
</header>
<{if $dist_pro and false}>
<section class="filter clearfix">
    <ul class="clearfix">
        <li class="current"><a><span><{$lang.distribution_list}></span></a></li>
    </ul>
</section>
<section class="clearfix">
    <div class="itemSearchResult plist">
        <ul class="shoplist clearfix">
            <{foreach item=list key=key from=$dist_pro}>
            <li class="shopli <{if $key%2}>even<{/if}>">
                <span class="pname_img">
                    <{if $list.nat != '' }>
                        <img src="<{$list.nat.img|default:$list.nat.title}>">
                    <{/if}>
                </span>
                <a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>&shop_id=<{$com.shop_id}>">
                    <div class="p-pic"><img class="scrollLoading" data-url="<{$list.pic}>_220X220.jpg" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;" width="125" height="125" alt="<{$list.pname}>"/></div>
                    <div class="p-name"><{$list.pname}></div>
                </a>
                 <div class="p-price">
                    <!-- <strong><{$config.money}> <{$list.price}></strong> -->
                    <p class="money"><{$config.money}><{$list.price}></p>
                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                </div>
                <{if $smarty.get.is_dist eq 1}><a href="javascript:distribute_goods('<{$de.id}>');" class="shopli_bottom_zhuanxiangs">加入分销</a><{else}><a href="javascript:void(0);" class="shopli_bottom_zhuanxiangs">专享抢购</a><{/if}>
            </li>
            <{/foreach}>
        </ul>
    </div>
    <a href="javascript:void(0);" class="m_jiazai">下拉加载更多</a>
</section>
<{/if}>

<section class="filter clearfix">
	<ul class="clearfix filter-ul">
    	<{assign var=s value=$smarty.get.orderby}>
        <li <{if !$smarty.get.sort}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product"><span>默认</span></a></li>
        <li <{if $smarty.get.sort=='sell_amount'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=sell_amount"><span>销量</span></a></li>
        <li <{if $smarty.get.sort=='read_nums'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=read_nums"><span>人气</span></a></li>
        <li <{if $smarty.get.sort=='price'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=price"><span>总价</span></a></li>
    </ul>
</section>
<section class="clearfix">
    <div class="itemSearchResult plist">
    <ul class="shoplist clearfix">
        <{if $dist_pro}>
        <{assign var=$info.list value=$dist_pro}>
        <{/if}>
        <{foreach item=list key=key from=$info.list}>
            <li class="shopli <{if $key%2}>even<{/if}>">
                <span class="pname_img">
                    <{if $list.nat != '' }>
                        <img src="<{$list.nat.img|default:$list.nat.title}>">
                    <{/if}>
                </span>
                <a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                <div class="p-pic"><img class="scrollLoading" data-url="<{$list.pic}>_220X220.jpg" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;" width="125" height="125" alt="<{$list.pname}>" /></div>
                <div class="p-name"><{$list.pname}></div>
                </a>
                <div class="p-price">
                    <p class="money"><{$config.money}><{$list.price}></p>
                    <p class="money money_del"><{$config.money}><{$list.market_price}></p>
                </div>
                <{if $smarty.get.is_dist eq 1}><a href="javascript:distribute_goods('<{$list.id}>');" class="shopli_bottom_zhuanxiangs">加入分销</a><{else}><a href="javascript:void(0);" class="shopli_bottom_zhuanxiangs">专享抢购</a><{/if}>
            </li>
        <{/foreach}>
    </ul>
    </div>
    <{if $dist_pro}>
    <div class="itemSearchResult plist ">
        <!-- <span style="display:inline-block;width:100%;border:1px solid #BDC0C2;border-right:none;background:#DB181E;color:#FFF;border-color:#DB1A1F;border-radius:5px 0 0 5px;height:26px;line-height:26px;">&nbsp;&nbsp;&nbsp;&nbsp;推荐商品</span> -->
        <ul class="shoplist clearfix">
        <{foreach item=list key=key from=$dist_pro}>
        <li class="shopli <{if $key%2}>even<{/if}>">
            <span class="pname_img">
                <{if $list.nat != '' }>
                    <img src="<{$list.nat.img|default:$list.nat.title}>">
                <{/if}>
            </span>
            <a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>&shop_id=<{$com.shop_id}>">
                <div class="p-pic"><img class="scrollLoading" data-url="<{$list.pic}>_220X220.jpg" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;" width="125" height="125" alt="<{$list.pname}>" /></div>
                <div class="p-name"><{$list.pname}></div>
            </a>
             <div class="p-price">
                <!-- <strong><{$config.money}> <{$list.price}></strong> -->
                <p class="money"><{$config.money}><{$list.price}></p>
                <p class="money money_del"><{$config.money}><{$list.market_price}></p>
            </div>
            <{if $smarty.get.is_dist eq 1}><a href="javascript:distribute_goods('<{$list.id}>');" class="shopli_bottom_zhuanxiangs">加入分销</a><{else}><a href="jacascript:void(0);" class="shopli_bottom_zhuanxiangs">专享抢购</a><{/if}>
        </li>
        <{/foreach}>
        </ul>
    </div>
    <{/if}>
    <a href="javascript:void(0);" class="m_jiazai">下拉加载更多</a>
</section>
<section class="addcarts">
    <a class="carts" href="/?m=product&s=cart">
        <span class="cart-num-conts" id='cart_num'>
            <span class="cart-num"></span>
            <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
        </span>
    </a>
</section>
<section class="addtop">
    <a class="top" href="javascript:void(0);"></a>
</section>
<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.scrollLoading.js"></script>
<script>
$(function(){
    var divLen=$(".shoplist .shopli").size();
    if(divLen<10){
        $(".m_jiazai").hide();
        $("footer").css({"margin-top":"20px"})
    }
    var page = 0;
    var url = "http://haitao.com/shop.php";
    var sort = "<{$smarty.get.sort}>";
    var keyword = "<{$smarty.get.keyword}>";
    var price1 = "<{$smarty.get.price1}>";
    var price2 = "<{$smarty.get.price2}>";
    var cat = "<{$smarty.get.cat}>";
    var uid = "<{$smarty.get.uid}>";
    var dist_id = "<{$smarty.get.dist_id}>";
    var stop=true; 
    $(window).scroll(function(){
        totalheight = parseFloat(window.innerHeight) + parseFloat($(window).scrollTop())+ parseFloat($("footer").height());      
        if($(document).height() <= totalheight){
            if(stop==true){ 
                $(".m_jiazai").html("正在加载中.....");
                stop=false; 
                page = page+10;
                 $.ajax({
                    url: url,
                    type: 'get',
                    data: {sort:sort, keyword:keyword, price1:price1, price2:price2, cat:cat, uid:uid, sort:"price", dist_id:dist_id, action:"product_ajax_list", m:"product", page:page},
                    dataType: "json",
                    success: function(msg){
                        console.log(msg)
                        if(msg.status==2){
                        var dataLen=msg.data.length;
                        for(var i=0;i<dataLen;i++){
                            var nat=msg.data[i].nat;
                            $(".shoplist").append("<li class='shopli <{if $key%2}>even<{/if}>'>"+
                                    "<span class='pname_img' data-id='"+msg.data[i].id+"'>"+
                                    "</span>"+
                                    "<a target='_blank' title='"+msg.data[i].pname+"' href='<{$config.weburl}>/?m=product&s=detail&id="+msg.data[i].id+"'>"+
                                    "<div class='p-pic'><img class='scrollLoading' data-url='"+msg.data[i].pic+"' src='../../../image/wap/wap_haitao_touming.png' style='background:url(../../../image/wap/wap_haitao_lodings.gif) no-repeat center;' width='125' height='125' alt='"+msg.data[i].pname+"' /></div>"+
                                    "<div class='p-name'>"+msg.data[i].pname+"</div>"+
                                    "</a>"+
                                    "<div class='p-price'>"+
                                        "<p class='money'><{$config.money}>"+msg.data[i].price+"</p>"+
                                        "<p class='money money_del'><{$config.money}>"+msg.data[i].market_price+"</p>"+
                                    "</div>"+
                                    "<{if $smarty.get.is_dist eq 1}><a href='javascript:distribute_goods('"+msg.data[i].id+"');' class='shopli_bottom_zhuanxiangs'>加入分销</a><{else}><a href='javascript:void(0);' class='shopli_bottom_zhuanxiangs'>专享抢购</a><{/if}>"+
                                "</li>") 
                                 if(nat!==""){
                                    $(".pname_img[data-id="+msg.data[i].id+"]").append("<img src='"+msg.data[i].nat.img+"' alt='"+msg.data[i].nat.title+"'>")
                                }                              
                        }
                        stop=true;
                        $(".scrollLoading").scrollLoading();
                        }else{
                         $(".m_jiazai").html("已到最底部");
                        }
                    }
                });
            } 
        } 
    }) 
     $(window).scroll(function(){
        var h = $(window).scrollTop();
        var wHeight=500;
        if(h>wHeight){
            $(".addtop").show()
            $(".addtop").click(function(){
                $(window).scrollTop(0);
            })
        }else{
            $(".addtop").hide()
        }
        if(h > 50)
        {
            $(".main").css({"position":"fixed","top":0,"width":"100%","z-index":"999"});
            $(".filter").css({"position":"fixed","top":"50px","width":"100%","z-index":"9999","background-color":"#fff","margin-top":"0px"})
            $(".itemSearchResult").eq(0).css({"margin-top":"50px"})
        }
    })
    $("#list").click(function(){
        window.scroll(0,0);
        $('.leftcate').show();
        $('.itemSearchResult').hide();
        $('.main').append('<div id="leftmask"></div>')
        $('#leftmask')[0].style.height =$(".main").height()+20;
    });
    $('.remove').click(function(){
        $('.leftcate').hide();
        $('.itemSearchResult').show();
        $('#leftmask').remove();
    });

    $(".scrollLoading").scrollLoading();
});
    var page = 0 ;
    function more_info(){
        var url = "<{$config.weburl}>/shop.php";
        var sort = "<{$smarty.get.sort}>";
        var keyword = "<{$smarty.get.keyword}>";
        var price1 = "<{$smarty.get.price1}>";
        var price2 = "<{$smarty.get.price2}>";
        var cat = "<{$smarty.get.cat}>";
        var uid = "<{$smarty.get.uid}>";
        var dist_id = "<{$smarty.get.dist_id}>";
        page = page+10;
        $.ajax({
            url: url,
            type: 'get',
            data: {sort:sort, keyword:keyword, price1:price1, price2:price2, cat:cat, uid:uid, sort:"price", dist_id:dist_id, action:"product_ajax_list", m:"product", page:page, ptype:'ajax'},
            success: function(msg){
                alert(msg);
            }
        });
    }
</script>
