<{include file="header.htm"}>
<link href="<{$config.weburl}>/templates/wap/css/main.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
    	<section class="nav-s iconfont"><a  onclick="javascript:history.back(-1)" ><i class="fanhui_icon"></i></a></section>
    	<section class="nav-c"><span>我的代金券</span></section>
    	<section class="nav-e"></section>
    </div>
</header>
<div class="roll_container">
	<div class="roll_list">	
		<ul class="roll_list_content">
			<li class="clearfix">
				<div class="roll_list_left clearfix">
					<p class="roll_list_lai">蚂蚁在线</p>
					<div class="roll_list_money">10</div>
					<img class="roll_list_img" src="../image/wap/wap_haitao_icon151.png">
				</div>
				<div class="roll_list_right">
					<p class="roll_list_name">111</p>
					<p class="roll_list_limit">店内满<span>100</span>元可用</p>
					<p class="roll_list_time">2013.10.10~2013.01.01</p>
				</div>
				<div class="roll_mark"></div>
			</li><li class="clearfix">
				<div class="roll_list_left clearfix">
					<p class="roll_list_lai">蚂蚁在线</p>
					<div class="roll_list_money">10</div>
					<img class="roll_list_img" src="../image/wap/wap_haitao_icon151.png">
				</div>
				<div class="roll_list_right">
					<p class="roll_list_name">111</p>
					<p class="roll_list_limit">店内满<span>150</span>元可用</p>
					<p class="roll_list_time">2013.10.10~2013.01.01</p>
				</div>
				<div class="roll_mark"></div>
			</li>
		</ul>
	</div>
</div>
<div class='collect_box_content'></div>
<script type="text/javascript" charset="utf-8" src="<{$config.weburl}>/script/jquery-1.11.2.min.js" ></script>
<script type="text/javascript">
	$(function(){
		function altto(co){
	        $(".collect_box_content").show();
	        $(".collect_box_content").html(co);
	        var wid=$(".collect_box_content").width()/2;
	        $(".collect_box_content").css({"margin-left":-wid+"px","padding":"10px"});
	    }
		$(".roll_list_content li").bind("click",function(){
			var thisMoney=$(this).find(".roll_list_money").html() , _this=$(this) , maxMoney=$(this).find(".roll_list_limit span").html();
			console.log(thisMoney);console.log(maxMoney);
			_this.find(".roll_list_right").prepend("<img src='../image/wap/wap_haitao_icon157.png' class='roll_list_checked'>").end().siblings().find(".roll_list_right img").remove();
			_this.find(".roll_mark").show().end().siblings().find(".roll_mark").hide();
			$(".collect_box_content").hide();
			$.ajax({
                url: 'voucher.php',
                type: 'post',
                data: {voucher_money: thisMoney,voucher_max: maxMoney},
                dataType: 'json',
                success: function(data){
                	console.log(data)
                	var zonMoney=data.status;
                   	if(100<maxMoney){
						altto("满"+maxMoney+"才可使用");
					}
                }
            });
            if(100<maxMoney){
				altto("满"+maxMoney+"可用");
			}               
		})
	})
</script>
<{include file="footer.htm"}>