<script src="script/my_lightbox.js" language="javascript"></script>
<link href="<{$config.weburl}>/templates/wap/css/index.css" rel="stylesheet" type="text/css" />
<header>
    <div class="nav-w">
        <section class="nav-s iconfont"><a href="<{$oldUrl}>"> <i class="fanhui_icon"></i></a></section>
        <section class="nav-c"><span>账户设置</span></section>
        <section class="nav-e"></section>
    </div>
</header>
<div class='collect_box_content'></div>
<div class="wrap wrap_xin">
    <div class="form-style">
            <div class="sq_logo clearfix">
                <div class="sq_logo_inner clearfix">
                    <label>头像</label>
                    <i></i>
                    <a id="logox">
                    <img src="<{if $de.logo}><{$de.logo}><{else}>/image/default/user_admin/default_user_portrait.gif<{/if}>">
                    </a>
                </div>
               <!--  <div class="logo_div">
                    <div class="logo_show">
                        <input class="input" multiple="multiple" type="file"  accept="image/*" stype="" rename="3">
                        <input type="hidden" data-id="4" name="logo" value="<{if $de.logo}><{$de.logo}><{else}>/image/default/user_admin/default_user_portrait.gif<{/if}>">
                        <img class="drag" data-id="4" src="<{if $de.logo}><{$de.logo}><{else}>/image/default/user_admin/default_user_portrait.gif<{/if}>">
                    </div>
                </div> -->
            </div>
            <div class="sq_list">
                <ul>
                    <li>
                        <a href="<{$config.weburl}>/install.php">
                        <label>昵称</label><input name='name' type='text' id="name" value="<{$de.user}>" class="text" disabled="disabled"><i></i></a>
                    </li>
                    <li id="divselecty">
                        <label>性别</label><input name='xb' type='text' id="xb" value="<{if $de.sex == 1}>男<{elseif $de.sex ==2 }>女<{else}> 未设置<{/if}>"  class="text" disabled="disabled"><i></i>
                        <div class="mask"></div>
                        <div class="xb_fixed">
                            <p>请选择您的性别</p>
                            <div class="xb_btns">
                                <a href="javascript:void(0);" data-id="1"><img src="../image/wap/wap_haitao_icon128.png" alt="男神"><span>男神</span></a><a href="javascript:void(0);" data-id="2"><img src="../image/wap/wap_haitao_icon129.png" alt="女神"><span>女神</span></a>
                            </div>
                        </div>
                        <input name="" type="hidden" value="" id="inputselecty"/>
                    </li>
                    <li class="mforder">
                        <a href="<{$config.weburl}>/install_qq.php">
                        <label>QQ</label><input name='qq' type='text' id="qq" value="<{if $de.qq}><{$de.qq}><{else}>未设置<{/if}>"  class="text" disabled="disabled"><i></i></a>
                    </li>
                </ul>
                <div style="height:0.5rem;background-color:#f5f5f5;"></div>
                <ul>
                    <li class="mforder_weixin">
                        <{if $wechat_connect_row.userid}><label>微信：</label><span>已经绑定&nbsp;<{$wechat_connect_row.nickname}></span>
                        <{else}><label>微信：</label><a href="javascript:void(0);"><span class="m_weixin_no">未绑定</span></a><{/if}>
                    </li>
                </ul>
            </div>
    </div>
</div>
<article class="htmleaf-container">
    <div id="clipArea"></div>
    <div class="foot-use">
        <div class="uploader1 blue">
            <input type="button" name="file" class="button" value="打开"/>
            <input id="file" type="file" accept="image/*" multiple  />
        </div>
        <button id="clipBtn">截取</button>
    </div>
    <div id="view"></div>
</article>
<section class="bom_nav">
    <ul>
        <li><a href="<{$config.weburl}>/index.php"><img src="../image/wap/wap_haitao_icon79.png" alt="海淘"><p>海淘</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
        <a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon82.png" alt="我的"><p class="bom_nav_color">我的</p></a></li>
    </ul>
</section>
<script type="text/javascript" charset="utf-8" src="<{$config.weburl}>/script/district.js" ></script>
<script type="text/javascript" charset="utf-8" src="<{$config.weburl}>/script/jquery-1.11.2.min.js" ></script>
<script type="text/javascript" src="<{$config.weburl}>/script/iscroll-zoom.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/hammer.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.photoClip.js"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/uplode.js"></script>
<script>
    var obUrl = ''
    $("#clipArea").photoClip({
        width: 199,
        height: 166,
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function() {
            console.log("照片读取中");
        },
        loadComplete: function() {
            console.log("照片读取完成");
        },
        clipFinish: function(dataURL) {
            // console.log(dataURL);
        }
    });
</script>
<script>
    $(function(){
        $("#logox").click(function(){
            $(".htmleaf-container").show();
        })
        $("#clipBtn").click(function(){
            $("#logox").empty();

            $('#logox').append('<img src="' + imgsource + '" align="absmiddle" style=" width: 2.5rem;height: 2.5rem;">');
            $(".htmleaf-container").hide();
        })
    });
</script>
<script type="text/javascript">
    $(function(){
        function altto(co){
            $(".collect_box_content").show();
            $(".collect_box_content").html(co);
            var wid=$(".collect_box_content").width()/2;
            $(".collect_box_content").css({"margin-left":-wid+"px","padding":"10px"});
        }
        function wid(){
            setTimeout(function(){
                $(".collect_box_content").hide();
            },2000)
        }
        jQuery.divselecty = function(divselectyid,inputselectyid) {
            var inputselecty = $(inputselectyid);
            $(divselectyid).click(function(e){
                e = e || window.event;
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else {
                    e.cancelBubble = true;
                }
                $("#divselecty .xb_fixed").show();
                $(".mask").show();
            });
            $(divselectyid+" .xb_fixed a").click(function(e){
                e = e || window.event;
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else {
                    e.cancelBubble = true;
                }               
                var txt = $(this).find("span").text();
                var data_id=$(this).attr("data-id");
                $.ajax({
                    url: 'install.php',
                    type: 'post',
                    data: {user_sex: txt,user_id: data_id},
                    dataType: 'json',
                    success: function(data){
                        if(data.status==200){
                            $(divselectyid+" input.text").val(txt);
                            altto('性别修改成功');
                            wid();
                        }else{
                            altto('性别修改失败');
                            wid();
                        }
                    }
                });               
                inputselecty.val(txt);
                $(divselectyid+" .xb_fixed").hide();
                $(".mask").hide();
            });
        };
        $.divselecty("#divselecty","#inputselecty");
    });
</script>
<script type="text/javascript">
    $(function(){
       $(".mask").click(function(e){
            e = e || window.event;
            if (e.stopPropagation) {
                e.stopPropagation();
            } else {
                e.cancelBubble = true;
            }
            $(".mask").hide();
            $(".xb_fixed").hide();
       })
    });
</script>
