<link href="<{$config.weburl}>/templates/wap/css/main.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
    	<section class="nav-s iconfont"><a  onclick="javascript:history.back(-1)" ><i class="fanhui_icon"></i></a></section>
    	<section class="nav-c"><span>我的优惠券</span></section>
    	<section class="nav-e"><!--<a href="#"><nav>设置</nav></a>--></section>
    </div>
</header>
<div class="roll_banner">
	<div class="roll_banner_top"><span>总面值(元)</span></div>
	<div class="roll_banner_center">1000</div>
	<div class="roll_banner_bottom">已赚得蚂蚁海淘代金劵<span class="">3</span>张</div>
</div>
<div class="roll_container">
	<div class="roll_rule clearfix"><span>海淘劵使用规则</span></div>
	<div class="roll_list">
		<div class="roll_list_top clearfix">
			<div class="roll_list_tl">最高相当于8.5折优惠</div>
			<div class="roll_list_tr"><span>2016.10.12 18:13:34</span><span>赚取</span></div>
		</div>
		<ul class="roll_list_content">
			<li>
				<img src="../image/wap/wap_haitao_img1.png">
				<div class="roll_list_content_t clearfix"><span class="roll_list_content_tl">蚂蚁海淘代金劵</span><span class="roll_list_content_tr">2016.10.12前有效</span></div>
				<div class="roll_list_content_b clearfix">
					<div class="roll_list_content_bl">
						<div class="moneys">￥<span>123</span></div>
						<p>满<span>100</span>元可用</p>
					</div>
					<div class="roll_list_content_br">
						<a href="<{$config.weburl}>/index.php">去蚂蚁海淘使用</a>
					</div>				
				</div>
			</li><li>
				<img src="../image/wap/wap_haitao_img1.png">
				<div class="roll_list_content_t clearfix"><span class="roll_list_content_tl">蚂蚁海淘代金劵</span><span class="roll_list_content_tr">2016.10.12前有效</span></div>
				<div class="roll_list_content_b clearfix">
					<div class="roll_list_content_bl">
						<div class="moneys">￥<span>123</span></div>
						<p>满<span>100</span>元可用</p>
					</div>
					<div class="roll_list_content_br">
						<span>已过期</span>
					</div>				
				</div>
			</li>
		</ul>
<!-- test -->
		<div class="roll_list_top clearfix">
			<div class="roll_list_tl">最高相当于8.5折优惠</div>
			<div class="roll_list_tr"><span>2016.10.12 18:13:34</span><span>赚取</span></div>
		</div>
		<ul class="roll_list_content">
			<li>
				<img src="../image/wap/wap_haitao_img1.png">
				<div class="roll_list_content_t clearfix"><span class="roll_list_content_tl">蚂蚁海淘代金劵</span><span class="roll_list_content_tr">2016.10.12前有效</span></div>
				<div class="roll_list_content_b clearfix">
					<div class="roll_list_content_bl">
						<div class="moneys">￥<span>123</span></div>
						<p>满<span>100</span>元可用</p>
					</div>
					<div class="roll_list_content_br">
						<a href="<{$config.weburl}>/index.php">去蚂蚁海淘使用</a>
					</div>				
				</div>
			</li>
		</ul>
<!-- test -->
	</div>
	<div class="roll_btn">
		<a href="<{$config.weburl}>/index.php">赚取更多海淘劵</a>
	</div>
</div>