<link href="<{$config.weburl}>/templates/wap/css/main.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
        <section class="nav-s"><a href="<{$config.weburl}>"><i class="fanhui_icon"></i></a></section>
    	<section class="nav-c"><span>个人中心</span></section>
        <section class="nav-e"><a href="<{$config.weburl}>/profile.php"><i class="home_icon"></i></a></section>
    </div>
</header>
<section>
<div class="duser clearfix">
    <div class="duser_left">
        <img class="duser_left_logo" src="<{if $cominfo.plogo}><{$cominfo.plogo}><{else}>image/wap/avatar.png<{/if}>">
    </div>
    <div class="duser_right">
        <div class="duser_right_name"><{$cominfo.user}></div>
        <div class="duser_right_auth">
            <a href="<{$config.weburl}>/profile.php" class="">实名认证、收货地址&nbsp;></a>
        </div>
    </div>   
</div>   
<div class="order">
    <div class="order_top"><span>我的订单</span><a href="main.php?m=product&s=admin_buyorder">查看全部订单</a></div>
	<div class="order_one_list clearfix">
        <ul>
            <li>
            <a href="main.php?m=product&s=admin_buyorder&status=1"><img src="../image/wap/wap_haitao_icon139.png" alt="待付款"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=1">待付款<span <{if $shop_count.0}>class="color"<{/if}>>(<{$shop_count.0}>)</span></a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=2"><img src="../image/wap/wap_haitao_icon140.png" alt="待发货"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=2">待发货<span <{if $shop_count.1}>class="color"<{/if}>>(<{$shop_count.1}>)</span></a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=3"><img src="../image/wap/wap_haitao_icon141.png" alt="待收货"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=3">待收货<span <{if $shop_count.2}>class="color"<{/if}>>(<{$shop_count.2}>)</a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=4"><img src="../image/wap/wap_haitao_icon142.png" alt="已完成"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=4">已完成<span <{if $shop_count.3}>class="color"<{/if}>>(<{$shop_count.3}>)</a>
            </li>
        </ul>
    </div>
    <div class="order_two_list clearfix">
        <ul>
            <li class="order_dotted"><a href="<{$config.weburl}>/pay/index.php"><span class="fore_d">蚂蚁钱包</span><i></i></a></li>
            <li><a href="main.php?m=voucher&s=admin_buyvoucher"><span class="fore_h">优惠券</span><i></i></a></li>
        </ul>
        <ul>
            <li class="order_dotted"><a href="main.php?m=sns&s=admin_share_product"><span class="fore_b">商品收藏</span><i></i></a></li>
            <li><a href="main.php?m=sns&s=admin_share_shop"><span class="fore_c">店铺收藏</span><i></i></a></li>
        </ul> 
        <ul>
            <li class="order_dotted"><a href="tel:4000101977"><span class="fore_e">联系客服</span><i></i></a></li>
            <li><a href="<{$config.weburl}>/help.php"><span class="fore_g">帮助中心</span><i></i></a></li>
        </ul>  
    </div>
</div>
<div style="height:70px;background-color:#f5f5f5;"></div>
</section>
<section class="addcarts">
    <a class="carts" href="/?m=product&s=cart">
        <span class="cart-num-conts" id='cart_num'>
            <span class="cart-num"></span>
            <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
        </span>
    </a>
</section>
<section class="bom_nav">
    <ul>
        <li><a href="<{$config.weburl}>/index.php"><img src="../image/wap/wap_haitao_icon79.png" alt="海淘"><p>海淘</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
        <a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon82.png" alt="我的"><p class="bom_nav_color">我的</p></a></li>
    </ul>
</section>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery-1.11.2.min.js"></script>