<link href="<{$config.weburl}>/templates/wap/css/list.css" rel="stylesheet" type="text/css" />
<header>
	<div class="nav-w">
    	<section class="nav-s iconfont"><a href="<{$config.weburl}>/main.php"><i class="fanhui_icon"></i></a></section>
    	<section class="nav-c">
            <span>
                <{if $smarty.get.s=='admin_share_product'}>收藏商品
                <{else}>收藏店铺<{/if}>
            </span>
        </section>
    	<section class="nav-e" style="text-align:right;"><a href="javascript:void(0);">编辑</a></section>
    </div>
</header>
<div class="share-shouc-list">
    <ul class="clearfix">
        <li <{if $smarty.get.s!='admin_share_product'}>class="current"<{/if}>><a href="main.php?m=sns&s=admin_share_shop">收藏店铺</a></li>
        <li <{if $smarty.get.s=='admin_share_product'}>class="current"<{/if}>><a href="main.php?m=sns&s=admin_share_product">收藏商品</a></li>
    </ul>
</div>
<section class="shareshop-container">
    <div class="shareshop-inner">
        <{if $re.list}>
        <{foreach item=slist key=num from=$re.list}>
        <div class="shareshop-content">
            <div class="shareshop-detail clearfix">
                <div class="shareshop-detail-lt">
                    <a class="p-img" href="<{$config.weburl}>/shop.php?uid=<{$slist.userid}>&amp;dist_id=<{$slist.uid}>"><img alt="<{$list.pname}>" src="<{if $slist.logo!=''}><{$slist.logo}><{else}>templates/wap/images/user.png<{/if}>"></a>
                </div>
                <div class="shareshop-detail-rt">
                    <p class="shareshop-detail-name"><a target="_blank" href="<{$config.weburl}>/shop.php?uid=<{$slist.userid}>&amp;dist_id=<{$slist.uid}>"><{$slist.company}></a></p>
                    <p class="shareshop-detail-addres"><{$slist.area}></p>
                </div>
                <div class="shareshop-detail-delate" data-id='<{$slist.id}>'><a href="javascript:void(0);">删除</a></div>
            </div>

            <div class="main_list_ware">
                <div class="shareshop-list-title">
                    <h2>热销单品</h2>
                </div>
                <ul class="main_warelist clearfix">
                    <{if $slist.products}>
                    <{foreach item=alist key=num from=$slist.products}>
                    <li class="wareli clearfix">
                        <a href="<{$config.weburl}>/?m=product&amp;s=detail&amp;id=<{$alist.id}>&amp;dist_id=<{$slist.uid}>" class="shopli_top_as">
                            <div class="wareli_img">
                                <img class="scrollLoading" data-url="<{$alist.pic}>" src="../../../image/wap/wap_haitao_touming.png" style="background:url(../../../image/wap/wap_haitao_loadding1.jpg) no-repeat center;" alt="<{$alist.name}>"/>
                            </div>
                            <div class="wareli_bottom clearfix">
                                <div class="wareli_bottom_message">
                                    <p class="wareli_bottom_text"><{$alist.name}></p>
                                </div>
                                <div class="wareli_bottom_ro clearfix">
                                    <span class="org"><{$config.money}><{$alist.price}></span><span class="gre wareli_money_del"><{$config.money}><{$alist.market_price}></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <{/foreach}>
                    <{else}>
                    <div class="itemsNulls">
                        <h3>暂无符合条件的商品记录</h3>
                    </div>
                    <{/if}>
                </ul>
            </div>
        </div>
        <{/foreach}>
        <{else}>
        <div class="itemsNulls">
            <h3>暂无符合条件的数据记录</h3>
        </div>
        <{/if}>
    </div>
    <a href="javascript:void(0);" class="m_jiazai">下滑加载更多</a>
</section>
<div class='am-dialog-mask'></div>
<section class="bom_nav">
    <ul>
        <li><a href="<{$config.weburl}>/index.php"><img src="../image/wap/wap_haitao_icon79.png" alt="海淘"><p>海淘</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
        <a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon82.png" alt="我的"><p class="bom_nav_color">我的</p></a></li>
    </ul>
</section>
<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.scrollLoading.js"></script>
<script>
$(function(){
    var flag=true , delate_a=$(".shareshop-detail-delate a") , nav_e=$(".nav-e a");
    nav_e.bind("click",function(){
        var _this=$(this);
        if(flag){
            _this.html("完成");
            delate_a.show();
            flag=false;
        }
        else{
            _this.html("编辑");
            delate_a.hide();
            flag=true;
        }
        if(_this.html()=="完成"){
            delate_a.show();
        }
        if(_this.html()=="编辑"){
            delate_a.hide();
        }

    })
    var dlLen=$(".shareshop-container .shareshop-content").size() , m_jiazai=$(".m_jiazai");
    if(dlLen<10){
        m_jiazai.hide();
    }
    var page = 0;
    var url = "<{$config.weburl}>/main.php";
    var key = "<{$smarty.get.key}>";
    var dist_id = "<{$smarty.get.dist_id}>";
    var stop=true;
    $(window).scroll(function(){
        totalheight = parseFloat(window.innerHeight) + parseFloat($(window).scrollTop());
        if($(document).height() <= totalheight){
            if(stop==true){
                $(".m_jiazai").html("正在加载中.....");
                stop=false;
                page = page+10;
                $.ajax({
                    url: url,
                    type: 'get',
                    data: {page:page, key:key, m:'sns', s:'admin_share_shop', dist_id:dist_id, ptype:'ajax'},
                    dataType: "json",
                    success: function(msg){
                        if(msg.status==2){
                        var dataLen=msg.data.length;
                        for(var i=0;i<dataLen;i++){
                            var productLen=msg.data[i].products.length;
                            var logoLen=msg.data[i].logo;
                            $(".shareshop-container .shareshop-inner").append("<div class='shareshop-content'>"+
                                "<div class='shareshop-detail clearfix'>"+
                                    "<div class='shareshop-detail-lt'>"+
                                        "<a class='p-img' href='<{$config.weburl}>/shop.php?uid="+msg.data[i].userid+"&amp;dist_id="+msg.data[i].uid+"}>'><img alt='"+msg.data[i].company+"' src='' data-id='"+msg.data[i].id+"'/></a>"+
                                    "</div>"+
                                    "<div class='shareshop-detail-rt'>"+
                                        "<p class='shareshop-detail-name'><a target='_blank' href='<{$config.weburl}>/shop.php?uid="+msg.data[i].userid+"&amp;dist_id="+msg.data[i].uid+"'>"+msg.data[i].company+"</a></p>"+
                                        "<p class='shareshop-detail-addres'>"+msg.data[i].area+"</p>"+
                                    "</div>"+
                                    "<div class='shareshop-detail-delate' data-id='"+msg.data[i].id+"'><a href='javascript:void(0);'>删除</a></div>"+
                                "</div>"+
                                "<div class='main_list_ware'>"+
                                    "<div class='shareshop-list-title'>"+
                                        "<h2>热销单品</h2>"+
                                    "</div>"+                               
                                    "<ul class='main_warelist clearfix' data-id='"+msg.data[i].id+"'></ul>"+
                                "</div>"+
                            "</div>")
                            if(logoLen!=""){
                                $(".shareshop-detail-lt img[data-id="+msg.data[i].id+"]").attr({"src":""+msg.data[i].logo+""})
                            }
                            else{
                                $(".shareshop-detail-lt img[data-id="+msg.data[i].id+"]").attr({"src":"templates/wap/images/user.png"})
                            }
                            if(productLen==0){
                                $(".main_warelist[data-id="+msg.data[i].id+"]").append("<div class='itemsNulls'>"+
                                    "<h3>暂无符合条件的数据记录</h3>"+
                                "</div>")
                            }
                            else{
                                for(var j=0;j<3;j++){
                                    $(".main_warelist[data-id="+msg.data[i].id+"]").append(" <li class='wareli clearfix'>"+
                                        "<a href='<{$config.weburl}>/?m=product&amp;s=detail&amp;id="+msg.data[i].products[j].id+"&amp;dist_id="+msg.data[i].uid+"' class='shopli_top_as'>"+
                                            "<div class='wareli_img'>"+
                                                "<img class='scrollLoading' data-url='"+msg.data[i].products[j].pic+"' src='../../../image/wap/wap_haitao_touming.png' style='background:url(../../../image/wap/wap_haitao_loadding1.jpg) no-repeat center;' alt='"+msg.data[i].products[j].name+"'/>"+
                                            "</div>"+
                                            "<div class='wareli_bottom clearfix'>"+
                                                "<div class='wareli_bottom_message'>"+
                                                    "<p class='wareli_bottom_text'>"+msg.data[i].products[j].name+"</p>"+
                                                "</div>"+
                                                "<div class='wareli_bottom_ro clearfix'>"+
                                                    "<span class='org'><{$config.money}>"+msg.data[i].products[j].price+"</span><span class='gre wareli_money_del'><{$config.money}>"+msg.data[i].products[j].market_price+"<{$alist.market_price}></span>"+
                                                "</div>"+
                                            "</div>"+
                                        "</a>"+
                                    "</li>")
                                }
                            }
                        }
                        stop=true;
                        var flag=true , delate_a=$(".shareshop-detail-delate a") , nav_e=$(".nav-e a") , nav_jia=$(".nav-e a").html();
                        if(nav_jia=="完成"){
                            delate_a.show();
                        }
                        if(nav_jia=="编辑"){
                            delate_a.hide();
                        }
                        nav_e.live("click",function(){
                            var _this=$(this);
                            if(flag){
                                _this.html("完成");
                                delate_a.show();
                                flag=false;
                            }
                            else{
                                _this.html("编辑");
                                delate_a.hide();
                                flag=true;
                            }
                        })
                        $(".scrollLoading").scrollLoading();
                        }else{
                          $(".m_jiazai").html("已到最底部");
                        }
                    }
                });
            }
        }
    })
    $(".shareshop-detail-delate").live("click",function(){
        var thishtm=$(this).parent().parent();
        var data_id=$(this).attr("data-id");
        $(".shareshop-container").append("<div class='price-btns-contexts'>"+
                    "<div class='price-btns-context-tops clearfix'>"+
                        "<p>确定要删除已收藏的店铺吗?</P>"+
                    "</div>"+
                    "<div class='detate-btns-context-bot'><a href='javascript:void(0);'>确定</a><a href='javascript:void(0);'>取消</a></div>"+
                "</div>");
        var dialog_mask=$(".am-dialog-mask"),btns_contexts=$(".price-btns-contexts")
        dialog_mask.addClass("am-dialog-mask-test");
        btns_contexts.addClass('price-btns-contexts_test');
        $(".detate-btns-context-bot a:first-child").bind("click",function(){
            $.get("main.php?m=sns&s=admin_share_shop&type=del&id="+data_id+"", function(data){
                thishtm.remove();               
                dialog_mask.removeClass("am-dialog-mask-test");
                btns_contexts.removeClass('price-btns-contexts_test');
            });
        })
        $(".detate-btns-context-bot a:last-child").bind("click",function(){
            dialog_mask.removeClass("am-dialog-mask-test");
            btns_contexts.removeClass('price-btns-contexts_test');
        })
    })
    $(".scrollLoading").scrollLoading();
})
</script>