<header>
	<div class="nav-w">
        <section class="nav-s" onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></section>
    	<section class="nav-c"><span>个人中心</span></section>
        <section class="nav-e"><a href="<{$config.weburl}>/profile.php"><i class="home_icon"></i></a></section>
    </div>
</header>
<link href="<{$config.weburl}>/templates/wap/css/main.css" rel="stylesheet" type="text/css" />
<section>
    <div class="duser clearfix">
      <!--   <dl class="duser-user">
         <dt><a href="<{$config.weburl}>/main.php?m=member&s=admin_member&cg_u_type=1"><img width="70" height="70" src="<{if $cominfo.plogo}><{$cominfo.plogo}><{else}>image/wap/avatar.png<{/if}>"></a></dt>
        <dd><{$cominfo.user}></dd>
    </dl> -->
    <div class="duser_left">
        <img class="ub-img shoplogo" src="<{if $cominfo.plogo}><{$cominfo.plogo}><{else}>image/wap/avatar.png<{/if}>">
    </div>
    <div class="duser_right">
        <div class="duser_name"><{$cominfo.user}></div>
        <ul class="duser-auth">
            <li><a href="javascript:void(0);" class="duser-auth-mob duser-auth-mob-j">已认证</a></li>
            <!-- <li class="duser-auth-line"></li> -->
            <li>
                <{if $verify }>
                    <a href="javascript:void(0);" class="duser-auth-ema duser-auth-ema-j">已认证</a>
                <{else}>
                    <a href="<{$config.weburl}>/real.php" class="duser-auth-ema ">未认证</a>
                <{/if}>
            </li>
        </ul>
    </div>   
    </div>   
</section>
<section>
    <div class="info_top"><span>我的订单</span><a href="main.php?m=product&s=admin_buyorder">查看全部订单</a></div>
	<div class="info clearfix">
        <ul>
            <!-- <li><a <{if $shop_count.0}>class="color"<{/if}> href="main.php?m=product&s=admin_buyorder"><strong><{$shop_count.4}></strong>全部订单</a></li> -->
            <li>
            <a href="main.php?m=product&s=admin_buyorder&status=1"><img src="../image/wap/wap_haitao_icon139.png" alt="待付款"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=1">待付款<span <{if $shop_count.0}>class="color"<{/if}>>(<{$shop_count.0}>)</span></a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=2"><img src="../image/wap/wap_haitao_icon140.png" alt="待发货"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=2">待发货<span <{if $shop_count.1}>class="color"<{/if}>>(<{$shop_count.1}>)</span></a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=3"><img src="../image/wap/wap_haitao_icon141.png" alt="待收货"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=3">待收货<span <{if $shop_count.2}>class="color"<{/if}>>(<{$shop_count.2}>)</a>
            </li><li>
            <a href="main.php?m=product&s=admin_buyorder&status=4"><img src="../image/wap/wap_haitao_icon142.png" alt="已完成"></a>
            <a href="main.php?m=product&s=admin_buyorder&status=4">已完成<span <{if $shop_count.3}>class="color"<{/if}>>(<{$shop_count.3}>)</a>
            </li>
        </ul>
    </div>
</section>
<div style="height:0.5rem;background-color:#f5f5f5;"></div>
<section class="m_fore clearfix">
    <ul>
        <li><a href="<{$config.weburl}>/pay/index.php"><span class="fore_d">蚂蚁钱包</span><i></i></a></li>
    </ul>
    <div style="height:0.5rem;background-color:#f5f5f5;"></div> 
    <ul>
        <li class="mforder"><a href="main.php?m=sns&s=admin_share_product"><span class="fore_b">商品收藏</span><i></i></a></li>
        <li><a href="main.php?m=sns&s=admin_share_shop"><span class="fore_c">店铺收藏</span><i></i></a></li>
    </ul> 
    <div style="height:0.5rem;background-color:#f5f5f5;"></div> 
    <ul>
        <li class="mforder"><a href="tel:4000101977"><span class="fore_e">联系客服</span><i></i></a></li>
        <li><a href="<{$config.weburl}>/help.php"><span class="fore_g">帮助中心</span><i></i></a></li>
        <!-- <li><a href="main.php?m=member&s=admin_orderadder"><span class="fore_f">关于蚂蚁海淘</span></a></li> -->
    </ul>  
</section>
<div style="height:70px;background-color:#f5f5f5;"></div>
<section class="addcarts">
    <a class="carts" href="/?m=product&s=cart">
        <span class="cart-num-conts" id='cart_num'>
            <span class="cart-num"></span>
            <script  src='<{$config.weburl}>/?m=product&s=cart_number'></script>
        </span>
    </a>
</section>
<section class="bom_nav">
    <ul>
        <li><a href="<{$config.weburl}>/index.php"><img src="../image/wap/wap_haitao_icon79.png" alt="海淘"><p>海淘</p></a></li><li>
        <a href="<{$config.weburl}>/main.php?cg_u_type=2&st=0"><img src="../image/wap/wap_haitao_icon83.png" alt="赚钱"><p>赚钱</p></a></li><li>
        <a href="javascript:void(0);"><img src="../image/wap/wap_haitao_icon82.png" alt="我的"><p class="bom_nav_color">我的</p></a></li>
    </ul>
</section>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery-1.11.2.min.js"></script>
<script>
    // js获取屏幕宽度，自动调节相应模块的宽高比例
    // var w=window.innerWidth|| document.documentElement.clientWidth|| document.body.clientWidth;
    // if(w <=540)
    // {
    //     var rate = w/540;
    //     var h = 152*100*rate/100;
    //     $(".user").height(h+"px")
    // }
    // else
    // {
    //    $(".user").height("151px")
    // }
</script>