<{include file="header.htm"}>
<{if !$smarty.get.noheader}>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont"><a onclick="javascript:history.back(-1)"><nav>&#xe60d</nav></a></section>
        <section class="nav-c"><span>支付订单</span></section>
        <section class="nav-e"></section>
    </div>
</header>
<{/if}>
<section class="banner">
	<div class="user cn-clear">
    	<div class="img"><img height="72" src="templates/default/image/avatar.png" /></div>
        <div class="img-cover"></div>
        <div class="info">
        	<div class="user_info">
            <p>个人账户：</p>
            <p><{$de.pay_email}></p>
            </div>
            <div class="user_account"><em><{$de.cash}></em>元</div>
        </div>
    </div>
</section>
<section class="container">
	<div class="fn-right"><{$output}></div>
</section>
<{include file="footer.htm"}>