
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>页面出错啦</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="<{$config.weburl}>/templates/default/css/pub.css" rel="stylesheet" type="text/css" />
<link href="<{$config.weburl}>/templates/default/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body class="login">
<div class="header">
    <a title="<{$config.company}>" href="<{$config.weburl}>"><img src="image/default/login/logo.png" /></a><i></i>
</div>
<div class="err404">
	<div class="content">
		<img src="/image/default/login/err404.png">
		<p class="p1">哎呦，绕了地球一圈都没找到这里~~~  看来这个地方没有好宝贝~~</p>
		<p><img src="/image/default/login/load.gif">正在自动跳转到上一页，如没有跳转请点击此按钮</p>
		<p><a href="<{$config.weburl}>">返回首页</a><a href="#" onClick="javascript :history.go(-1);">返回上一页</a></p>
	</div>
</div>
</div>
<div class="footer">
    <div class="commitment"></div>
    <p class="copyright">© 2015-2016 蚂蚁在线(北京)科技有限公司 |  京ICP备15039996号-4<br>
    地址：北京市朝阳区东大桥路甲8号尚都国际中心A座1815 | 电话:400-010-1977</p>
</div>
</body>
</html>