<{include file="header.htm"}>
<div class="agr_wrap">
<h1 align="center" style="margin-left:0.0000pt;text-align:center;">
	<b>蚂蚁海淘</b><b>服务协议</b><a href="https://reg.gome.com.cn/register/index/javascript:void(0);"></a>
</h1>
<p class="p">
	&nbsp;&nbsp;&nbsp;&nbsp;本协议是您与蚂蚁海淘网站（简称"本站"，网址：www.mayihaitao.com.）所有者及关联公司（以下统称为"蚂蚁海淘"）之间就蚂蚁海淘网站服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击"同意并继续"按钮后，本协议即构成对双方有约束力的法律文件。
</p>
<h5 style="text-indent:0pt;background:#FFFFFF;">
	<b>一.接受协议</b><b></b>
</h5>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1.1. 本站的各项电子服务的所有权和运作权归蚂蚁海淘所有。您同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。如果您在本网站访问或购物，您便接受了以下使用条件，请仔细阅读这些使用条件。当您使用本网站目前或将来提供的服务（例如，我的账户、商城等）时，您同时应接受适用于那些服务的准则和条件（"其它条件"）；如果以下使用条件与其它条件有不一致之处，则以其它条件为准。
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1.2. 通过在本网站购买商品和/或使用其提供的服务，您同意接受本使用条件和所有有关的政策、条件和准则的约束。如果您不同意本使用条件中的任何一条，您可以选择不使用本网站。通过访问和/或使用本网站，您表示同意接受本协议的所有
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	条件和条款。
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1.3.&nbsp;<b>如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本站。您点击同意本协议的，即视为您确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</b>
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1.4. 蚂蚁海淘保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1.5. 除非另有明确规定，增强或强化蚂蚁海淘目前服务的任何新功能，包括新产品以及新增加的服务，均无条件地适用本协议。
</p>
<h5 style="text-indent:0pt;background:#FFFFFF;">
	<b>二. 服务内容</b><b></b>
</h5>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	2.1. 蚂蚁海淘向您提供包括但不限于如下服务：
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	1) 蚂蚁海淘网站（含其他任何由蚂蚁海淘直接所有或运营的任何网站）；
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	2) 蚂蚁海淘网站联盟（包括其他第三方网站）；
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	3) 蚂蚁海淘直接拥有或运营的客户端；
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	4) 蚂蚁海淘提供给您的任何其他技术和/或服务。
</p>
<p class="p">
	2.2. 您需要自行负担使用蚂蚁海淘服务所需的相关设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）
</p>
<p class="p">
	及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费等）。为获取蚂蚁海淘的服务，您需要具备通过有线或无线方式连接到互联网络的条件和设备。
</p>
<h5>
	<b>三. 用户行为规则</b><b></b>
</h5>
<p class="p">
	3.1. 为了能向用户提供高品质的服务，在使用蚂蚁海淘的某些功能或接受蚂蚁海淘提供的某些服务之前，用户可能会被要求注册一个账号并设定密码，并保证注册资料的真实性、准确性和完整性，同时，一旦相关资料发生变更，用户应及时进行更改。为保证用户方便安全的完成注册，蚂蚁海淘会提供简明的操作流程对用户进行实时指引，具体操作流程及步骤请参见注册部分的提示。一旦注册成功，用户就会获得由蚂蚁海淘为您提供的专属于您的帐号和密码，账号和密码是用户在蚂蚁海淘进行相关活动的唯一身份识别依据，请用户一定要保护好自己的帐号和密码。
</p>
<p class="p">
	3.2. 用户账号保护
</p>
<p class="p">
	3.2.1. 用户有责任维持注册的账号和密码的安全，用户应对本人所有使用密码及账号的活动负完全的责任。用户同意∶(a) 本人的密码或账号遭到未获授权的使用，或者发生其它任何安全问题时，将立即通知蚂蚁海淘；且(b)每次上网完毕都会把本人的账号关闭，使其处于"退出"状态。用户如未能依前述规定行事，则对于任何人利用该密码及账号所进行的任何行为，用户自己应负完全的责任。对于因此而产生的任何损失或损害，蚂蚁海淘无法也不承担任何责任。
</p>
<p class="p">
	3.3. 用户发布信息
</p>
<p class="p">
	3.3.1. 为满足用户表达自身观点以及交流互动的需求，更好服务于用户，蚂蚁海淘通过开通包括但不限于网友评论功能，向用户提供发布、张贴包括但不限于文字、图片形式的内容的服务。对于您提供及发布除个人信息外的文字、图片、视频、音频等非个人信息，在版权保护期内您免费授予蚂蚁海淘许可使用权利及再授权给其他第三方使用的权利。您同意蚂蚁海淘存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。
</p>
<p class="p">
	3.3.2. 根据有关法律法规，蚂蚁海淘在此郑重提请用户注意，任何由用户经由蚂蚁海淘网站服务以上载、张贴或任何其它方式传送的资讯、资料、文字、照片、图形、信息或其它资料（以下简称"内容"），无论系公开还是私下传送，均由内容提供者、发布者承担责任。在任何情况下，蚂蚁海淘均不为此类内容负责，包含但不限于此类内容之任何错误或遗漏，以及此类内容衍生之任何损失或损害。但蚂蚁海淘有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用我们的服务的全部或部分，保存有关记录，并向有关机关报告。
</p>
<p class="p">
	3.3.3. 用户在蚂蚁海淘发布信息（包括注册用户名）时，必须遵守国家有关法律规定，并承担一切因自己发布信息不当导致的民事、行政和/或刑事法律责任。用户在蚂蚁海淘所发布的信息（包括注册用户名、发表评论以及其他内容），不得含有以下任何内容：
</p>
<p class="p">
	1) 违反宪法确定的基本原则的；
</p>
<p class="p">
	2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
</p>
<p class="p">
	3) 损害国家荣誉和利益，攻击党和政府的；
</p>
<p class="p">
	4) 煽动民族仇恨、民族歧视，破坏民族团结的；
</p>
<p class="p">
	5) 破坏国家、地区间友好关系的；
</p>
<p class="p">
	6) 违背中华民族传统美德、社会公德、论理道德、以及社会主义精神文明的；
</p>
<p class="p">
	7) 破坏国家宗教政策，宣扬邪教和封建迷信的；
</p>
<p class="p">
	8) 散布谣言或不实消息，扰乱社会秩序 ，破坏社会稳定的；
</p>
<p class="p">
	9) 煽动、组织、教唆恐怖活动、非法集会、结社、游行、示威、聚众扰乱社会秩序的；
</p>
<p class="p">
	10) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
</p>
<p class="p">
	11) 侮辱或诽谤他人，侵害他人合法权益的；
</p>
<p class="p">
	12) 侵犯他人肖像权、姓名权、名誉权、隐私权或其他人身权利的；
</p>
<p class="p">
	13) 使用漫骂、辱骂、中伤、恐吓、诅咒等不文明语言的；
</p>
<p class="p">
	14) 以非法民间组织名义活动的；
</p>
<p class="p">
	15) 侵犯他人著作权等合法权益的；
</p>
<p class="p">
	16) 含有法律、行政法规禁止的其他内容的。
</p>
<p class="p">
	3.3.4. 如果用户在蚂蚁海淘发布信息时不能履行和遵守协议中的规定，为维护本网站的形象、信誉、安全，本网站有权删除用户发布的相关信息，并对违反协议的用户做出封闭ID和/或暂时、永久禁止在本网站发布信息的处理，同时保留依法追究当事人法律责任的权利。此外，本网站在采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任，包括不承担因侵权指控不成立而给原发布人带来损害的赔偿责任。
</p>
<p class="p">
	3.3.5. 蚂蚁海淘不对用户所发布信息的删除或储存失败承担任何责任。
</p>
<p class="p">
	3.4. 用户需独立对自己在本网站上实施的行为承担法律责任。若用户的行为不符合本协议，蚂蚁海淘有权根据自身之独立判断立即取消用户的服务账号。用户若在蚂蚁海淘上散布和传播反动、色情或其他违反国家法律的信息，蚂蚁海淘的系统记录将有可能作为证明用户违反法律的证据。
</p>
<p class="p">
	3.5. 蚂蚁海淘有权判定用户的行为是否符合中国法律法规的规定以及本服务条款的要求，如果用户违背了中国法律法规的规定或本服务条款的规定，蚂蚁海淘有中断或停止对其提供服务的权利。
</p>
<h5>
	<b>四. 隐私保护及授权使用</b><b></b>
</h5>
<p class="p">
	4.1. 蚂蚁海淘保证不对外公开或向第三方（<b>蚂蚁海淘</b><b>的关联方除外</b>）提供单个用户的注册资料及用户在使用网络服务时存储在蚂蚁海淘的非公开内容，但下列情况除外：
</p>
<p class="p">
	4.1.1. 事先获得用户的明确授权；
</p>
<p class="p">
	4.1.2. 根据有关的法律法规要求；
</p>
<p class="p">
	4.1.3. 按照有权之相关政府主管部门的要求；
</p>
<p class="p">
	4.1.4. 为维护社会公共的利益；
</p>
<p class="p">
	4.1.5. 其他需要公开、编辑或透露个人信息的情况。
</p>
<p class="p">
	4.2. 蚂蚁海淘可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与蚂蚁海淘同等的保护用户隐私的责任，则蚂蚁海淘有权将用户的注册资料等提供给该第三方。
</p>
<p class="p">
	4.3. 我们对您的信息承担保密义务，不会为满足第三方的营销目的而向其出售或出租您的任何信息，我们会在下列情况下才将您的信息与第三方共享：
</p>
<p class="p">
	4.3.1事先获得您的同意或授权。
</p>
<p class="p">
	4.3.2根据法律法规的规定或行政或司法机构的要求。
</p>
<p class="p">
	4.3.3向蚂蚁海淘的关联方分享您的个人信息。
</p>
<p class="p">
	4.3.4向可信赖的合作伙伴提供您的个人信息，让他们根据我们的指示并遵循我们的隐私权政策以及其他任何相应的保密和安全措施来为我们处理这些信息。
</p>
<p class="p">
	4.3.5.如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷。
</p>
<p class="p">
	4.3.6只有共享您的信息，才能提供您需要的服务，或处理您与他人的纠纷或争议。例如您在蚂蚁海淘上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，蚂蚁海淘会视情况向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。
</p>
<p class="p">
	4.3.7如您出现违反中国有关法律、法规或者蚂蚁海淘相关协议或相关规则的情况，需要向第三方披露。
</p>
<p class="p">
	4.3.8为维护蚂蚁海淘及其关联方或用户的合法权益。
</p>
<p class="p">
	4.4. 在不透露单个用户隐私资料的前提下，蚂蚁海淘有权对用户数据库进行分析并对用户数据库进行商业上的利用。
</p>
<p class="p">
	4.5.&nbsp;<b>为方便您使用</b><b>蚂蚁海淘</b><b>关联的物流、金融、通讯等相关服务，您同意并授权</b><b>蚂蚁海淘</b><b>将您在账户注册和使用</b>
</p>
<p class="p">
	4.6. 免责事项
</p>
<p class="p">
	4.6.1. 由于您将用户密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露。
</p>
<p class="p">
	4.6.2. 任何由于计算机2000年问题、黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。
</p>
<p class="p">
	4.6.3. 由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。
</p>
<h5>
	<b>五. 知识产权</b><b></b>
</h5>
<p class="p">
	5.1. 蚂蚁海淘提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护。未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人用途而保存在某台计算机内。蚂蚁海淘不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害，以任何形式向用户或任何第三方负法律责任。
</p>
<p class="p">
	5.2. 蚂蚁海淘为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）等。
</p>
<p class="p">
	5.3. 蚂蚁海淘尊重并采取合理措施保护版权人的合法利益，并已制定了完善的版权政策，该版权政策构成本协议的组成部分。 版权政策请参考："蚂蚁海淘版权声明"
</p>
<h5>
	<b>六. 第三方链接</b><b></b>
</h5>
<p class="p">
	蚂蚁海淘可能会为用户提供与其他国际互联网网站或资源进行链接的服务。对于前述网站或资源是否可以利用，蚂蚁海淘不承担任何担保责任。因使用或依赖上述网站或资源所生的损失或损害（包括因下载被链接到的第三方网站内容或资源而感染电脑病毒等），蚂蚁海淘也不负担任何责任。
</p>
<h5>
	<b>七. 产品信息及下单说明</b><b></b>
</h5>
<p class="p">
	7.1.&nbsp;<b>本站上的商品宣传、参数价格、数量、是否有货等商品信息随时都有可能发生变动，本站不作特别通知。由于网站上商品信息的数量极其庞大，虽然本站会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您表示知悉并理解，并同意不追究</b><b>蚂蚁海淘</b><b>的违约或侵权责任；</b><b>蚂蚁海淘</b><b>欢迎纠错，并会视情况给予纠错者一定的奖励。</b><b></b>
</p>
<p class="p">
	7.2. 在您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。
</p>
<p class="p">
	7.3. 除法律另有强制性规定外，双方约定如下：本站上销售方展示的商品和价格等信息仅仅是交易信息的发布，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址等内容；<b>系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售方发出的交易诉求；销售方收到您的订单信息后，只有在销售方将您在订单中订购的商品从仓库实际直接向您发出时（ 以商品出库为标志），方视为您与销售方之间就实际直接向您发出的商品建立了交易关系；如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅就实际直接向您发出的商品建立了交易关系；只有在销售方实际直接向您发出了订单中订购的其他商品时，您和销售方之间就订单中该其他已实际直接向您发出的商品才成立交易关系。</b>您可以随时登录您在本站注册的账户，查询您的订单状态。
</p>
<p class="p">
	7.4. 由于市场变化及各种以合理商业努力难以控制的因素的影响，本站无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品，发生缺货，您有权取消订单。
</p>
<h5>
	<b>八. 配送</b><b></b>
</h5>
<p class="p">
	8.1. 销售方将会把产品送到您所指定的配送地址。所有在本网站上列出的送货时间均为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的，参考时间不等同于到货时间。 送货费用根据您选择的配送方式及地区不同而异。 请准确清晰地填写您的真实姓名、送货地址及联系方式。
</p>
<p class="p">
	8.2. 因如下情况造成订单延迟或无法配送等，销售方不承担迟延配送的责任：
</p>
<p class="p">
	(1)客户提供错误信息和不详细的地址导致的；
</p>
<p class="p">
	(2)货物送达无人签收，导致无法配送或延迟配送的；
</p>
<p class="p">
	(3)情势变更因素导致的；
</p>
<p class="p">
	(4)不可抗力，例如：自然灾害、交通戒严、突发战争等。
</p>
<h5>
	<b>九. 责任限制</b><b></b>
</h5>
<p class="p">
	9.1. 用户明确了解并同意，使用本服务之风险由用户个人负担，除非此种风险或损害系由蚂蚁海淘自身过错所直接导致。本服务系依"现状"及"现有"基础提供。蚂蚁海淘网站对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证。
</p>
<p class="p">
	9.2. 蚂蚁海淘不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于外部链接指向的不由蚂蚁海淘实际控制的任何网页上的内容，蚂蚁海淘也不承担任何责任。
</p>
<p class="p">
	9.3. 对于因不可抗力或其它蚂蚁海淘不能控制的原因造成的网络服务中断或其它缺陷，蚂蚁海淘不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
</p>
<p class="p">
	9.4. 蚂蚁海淘对于任何自本网站而获得的他人的信息或者广告宣传等任何资讯（以下统称"信息"），不保证真实、准确和完整性。如果任何单位或者个人通过上述"信息"而进行任何行为，须自行甄别真伪和谨慎预防风险。否则，无论何种原因，本网站不对任何非与本网站直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。
</p>
<p class="p">
	9.5. 对于蚂蚁海淘网站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，若非由蚂蚁海淘自身过错而直接导致，则蚂蚁海淘网站无需承担任何责任：
</p>
<p class="p">
	9.5.1. 蚂蚁海淘向用户免费提供的各项网络服务；
</p>
<p class="p">
	9.5.2. 蚂蚁海淘向用户赠送的任何产品或者服务；
</p>
<p class="p">
	9.5.3. 其他与本网站相关的事宜。
</p>
<p class="p">
	9.6. 用户明确了解并同意，基于以下原因造成的包括但不限于利润、信誉、应用、数据等有形损失或其它无形损失，蚂蚁海淘不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任：(i)我们的服务之使用或无法使用，(ii)为替换或通过我们的服务购买或取得之任何商品、数据、信息、服务，收到的讯息，或缔结之交易而发生的成本，(iii)用户的传输或数据遭到未经蚂蚁海淘授权的存取或变造，(iv) 任何第三方在我们的服务中所作之声明或行为，或(v)与我们的服务相关的其它事宜，但本服务条款有明确规定的除外。
</p>
<h5>
	<b>十. 通知及送达</b><b></b>
</h5>
<p class="p">
	10.1. 本协议项下蚂蚁海淘对于用户所有的通知可通过网页公告、电子邮件、手机短信或其他常规的信件传送等方式进行；该等通知于发出之日视为已送达收件人。
</p>
<p class="p">
	10.2. 用户对蚂蚁海淘的通知应当通过蚂蚁海淘对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。
</p>
<p class="p">
	10.3 您同意蚂蚁海淘以以下合理的方式向您送达各类通知：
</p>
<p class="p">
	（i）公示的文案；
</p>
<p class="p">
	（ii）站内信、弹出消息、客户端推送的消息；
</p>
<p class="p">
	（iii）根据您预留于蚂蚁海淘的联系方式发出的电子邮件、短信、函件等。
</p>
<h5>
	<b>十一.协议的修改、终止</b><b></b>
</h5>
<p class="p">
	11.1. 根据国家相关法律法规及政策变化或网站运营需要，<b>蚂蚁海淘</b><b>有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。用户可随时登录查阅最新协议；</b>用户有义务不时关注并阅读最新版的协议及网站公告。<b>如用户不同意更新后的协议，可以且应立即停止接受</b><b>蚂蚁海淘</b><b>网站依据本协议提供的服务；如用户继续使用本网站提供的服务的，即视为同意更新后的协议。</b>蚂蚁海淘建议您在使用本站之前阅读本协议及本站的公告。 如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
</p>
<p class="p">
	11.2. 用户同意蚂蚁海淘有权基于其自行之合理考量，因任何理由，包含但不限于缺乏使用或蚂蚁海淘认为用户已经违反本协议的文字及精神，而终止用户的密码、账号或我们的服务之使用（或服务之任何部分），并将用户在我们的服务内的任何内容加以移除并删除。蚂蚁海淘亦得依其自行之考虑，于通知或未通知之情形下，随时终止我们的服务或其任何部分。用户同意依本协议提供之任何服务，无需进行事先通知即可中断或终止，用户承认并同意，蚂蚁海淘可立即关闭或删除用户的账号及用户账号中所有相关信息及文件，及/或禁止继续使用前述文件或我们的服务。此外，用户同意若我们的服务之使用被中断或终止或用户的账号及相关信息和文件被关闭或删除，蚂蚁海淘对用户或任何第三人均不承担任何责任。
</p>
<h5>
	<b>十二. 会员制计划协议</b><b></b>
</h5>
<p class="p">
	12.1.蚂蚁海淘会员制计划协议的变更/终止/责任限制 蚂蚁海淘的会员制计划，本计划由中域电讯提供。以上计划条款和条件，连同计划有关的任何促销内容的相应条款和条件，构成本计划会员与中域之间关于制度的完整协议。如果您参加计划，您就接受了这些条款、条件、限制和要求。请注意，您对蚂蚁海淘站的使用以及您的会员资格还受制于蚂蚁海淘站上时常更新的所有条款、条件、限制和要求，请仔细阅读这些条款和条件。
</p>
<p class="p">
	12.2. 终止 蚂蚁海淘可以不经通知而自行决定终止全部或部分计划，或终止您的计划会员资格。即使蚂蚁海淘没有要求或强制您严格遵守这些条款，也并不构成对属于蚂蚁海淘的任何权利的放弃。如果您在蚂蚁海淘的客户账户被关闭，那么您也将丧失您的会员资格。对于该会员资格的丧失，您对蚂蚁海淘不能主张任何权利或为此索赔。
</p>
<p class="p">
	12.3. 责任限制 除了蚂蚁海淘的使用条件中规定的其它限制和除外情况之外，在中国法律法规所允许的限度内，对于因VIP计划而引起的或与之有关的任何直接的、间接的、特殊的、附带的、后果性的或惩罚性的损害，或任何其它性质的损害，蚂蚁海淘、蚂蚁海淘的董事、管理人员、雇员、代理或其它代表在任何情况下都不承担责任。蚂蚁海淘的全部责任，不论是合同、保证、侵权（包括过失）项下的还是其它的责任，均不超过您所购买的与该索赔有关的商品价值额。这些责任排除和限制条款将在法律所允许的最大限度内适用，并在您的计划会员资格被撤销或终止后仍继续有效。
</p>
<p class="p">
	12.4. 电子通讯 当您访问蚂蚁海淘站或给我们发送电子邮件时，您与我们用电子方式进行联系。您同意以电子方式接受我们的信息。我们将用电子邮件或通过在蚂蚁海淘上发布通知的方式与您进行联系。您同意我们用电子方式提供给您的所有协议、通知、披露和其他信息是符合此类通讯必须是书面形式的法定要求的。如果蚂蚁海淘能够证明以电子形式的信息已经发送给您或者蚂蚁海淘立即在蚂蚁海淘网站上张贴这样的通知，将被视为您已收到所有协议、声明、披露和其他信息
</p>
<p class="p">
	12.5. 版权声明 蚂蚁海淘上的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件、商标都是蚂蚁在线（北京）有限公司或其关联公司或其内容提供者的财产，受中国和国际版权法的保护。未经蚂蚁海淘书面授权或许可 ，不得以任何目的对蚂蚁海淘网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。
</p>
<p class="p">
	12.6. 评论、意见、消息和其他内容 访问者可以张贴评论、意见及其他内容，以及提出建议、主意、意见、问题或其他信息，只要内容不是非法、淫秽、威胁、诽谤、侵犯隐私、侵犯知识产权或以其他形式对第三者构成伤害或侵犯或令公众讨厌，也不包含软件病毒、政治宣传、商业招揽、连锁信、大宗邮件或任何形式的"垃圾邮件"。您不可以使用虚假的电子邮件地址、冒充任何他人或实体或以其它方式对卡片或其他内容的来源进行误导。蚂蚁海淘保留清除或编辑这些内容的权利（但非义务），但不对所张贴的内容进行经常性的审查。如果您确实张贴了内容或提交了材料，除非我们有相反指示，您授予蚂蚁海淘及其关联公司非排他的、免费的、永久的、不可撤销的和完全的再许可权而在全世界范围内任何媒体上使用、复制、修改、改写、出版、翻译、创作衍生作品、分发和展示这样的内容。您授予蚂蚁海淘及其关联公司和被转许可人使用您所提交的与这些内容有关的名字的权利，如果他们选择这样做的话。您声明并担保您拥有或以其它方式控制您所张贴内容的权利，内容是准确的，对您所提供内容的使用不违反本政策并不会对任何人和实体造成伤害。您声明并保证对于因您所提供的内容引起的对蚂蚁海淘或其关联公司的损害进行赔偿。蚂蚁海淘有权（但非义务）监控和编辑或清除任何活动或内容。蚂蚁海淘对您或任何第三方所张贴的内容不承担责任。
</p>
<h5>
	<b>十三. 法律适用</b><b></b>
</h5>
<p class="p">
	本服务条款的生效、履行、解释及争议的解决均应适用中华人民共和国法律。
</p>
<h5>
	<b>十四. 争议</b><b></b>
</h5>
<p class="p">
	<b>您因使用</b><b>蚂蚁海淘</b><b>平台服务所产生及与平台服务有关的争议，由</b><b>蚂蚁海淘</b><b>与您协商解决。协商不成时，任何一方均可向被告所在地人民法院提起诉讼。</b>
</p>
<h5>
	<b>十五.版权侵权投诉程序和通知</b><b></b>
</h5>
<p class="p">
	如果您认为对您作品的使用构成侵犯知识产权，请以书面形式向本网站法律部提供下列信息。请注意这个程序仅适用于您通知我们您享有版权的内容已被侵权而使用。
</p>
<p class="p">
	?被授权代表版权利益所有人行事的人的电子或亲笔签名；
</p>
<p class="p">
	?关于您已遭侵权的享有版权的作品的描述；
</p>
<p class="p">
	?关于您已遭侵权的材料在本网站所在位置的描述；
</p>
<p class="p">
	?您的地址、电话号码和电子邮件地址；
</p>
<p class="p">
	?您确信所引起争议的使用未经版权所有人或其代理人或法律的授权的声明。
</p>
<p class="p">
	?您以版权所有人或授权代表的名义声明保证上述信息正确真实，否则将承担作伪证的责任。 如向本网站投诉版权侵权，请联系：蚂蚁海淘法务部。
</p>
<h5>
	<b>十六.其它</b><b></b>
</h5>
<p class="p">
	16.1.本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请用户着重阅读。
</p>
<p class="p">
	16.2.您点击本协议下方的"同意并继续"按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。
</p>
<p class="p">
	<br />
</p>
<p class="MsoNormal">
	&nbsp;
</p>
</div>
<{include file="footer.htm"}>

