<!--footer start-->
<div class="footer">
<div class="m_b_commitment">
  <div class="w"><img src="../image/default/haitao_icon14.png" alt="品质保证 全球直供 优质品牌 售后保障"></div>
</div>
<div class="foot">
  <div class="w clear">
    <i class="icon_b_logo fl"></i>
    <ul class="clear fl">
      <{insert name="label" type="ftlink" temp="ftlink_list"}>
      <li>
        <span>关注我们</span>
        <p>
          <img src="../image/default/haitao_icon16.jpg">
        </p>
      </li>
    </ul>
  </div>
  <p class="w copyright">© 2015-2016 蚂蚁在线(北京)科技有限公司 |  京ICP备15039996号-4 |  京ICP证160637号<br>
        地址：北京市朝阳区东大桥路甲8号尚都国际中心A座1815 | 电话:400-010-1977
  </p>
</div>
</div>
<!--footer end-->
<div class="fixation">
  <a href="<{$config.weburl}>?m=product&s=cart">
    <p>购物车</p>
  </a>
  <a class="show">
    <p>客服</p>
    <div class="tel" >400-010-1977</div>
  </a>
  <a id="maxbox" class="show">
    <p>微信</p>
    <div class="max" ><img src="../image/default/haitao_icon16.jpg" alt="蚂蚁在线微信公众号"></div>
  </a>
  <a href="#" id="returnTop" style="display: none;"></a>
</div>
<script>
$(".fixation>a.show").hover(function(){
    $(this).find("div").show();
    $(this).css("border-left","1px solid #fff");
},function(){
    $(this).find("div").hide();
    $(this).css("border-left","1px solid #e0e0e0");
});
$("#returnTop").on("click",function () {
    $('body,html').animate({ scrollTop: 0 }, 200);
    return false;
 });
$(window).on("scroll",function(){
    if($(window).scrollTop() > $(window).height()){
        $("#returnTop").fadeIn();
    }else{
        $("#returnTop").fadeOut();
    };
});
</script>
</body>
</html>

<{$smarty.session.script}>
