<!--田晓宝添加-->
    <!--footer start-->
    <div class="newfooter">
        <div class="m_b_commitment">
            <div class="w"><img src="../../../uploadfile/adv/2016/b_commitment.png" alt="品质保证 全球直供 优质品牌 售后保障"></div>
        </div>
        <div class="foot">
            <div class="w newclear">
                <i class="icon_b_logo fl"></i>
                <ul class="newclear fl">
                    <{insert name="label" type="ftlink" temp="ftlink_list"}>
                    <li>
                        <span>关注我们</span>
                        <div class="attention">
                            <a href="" title="" class="weibo"></a>
                            <div class="dia-wb">
                                <img src="../../../image/default/Logo1.png" />
                                <span>新浪微博</span>
                                <span>mayihaitao_wb</span>
                            </div>
                            <a href="" title="" class="weixin"></a>
                            <a href="" title="" class="qq"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--footer end-->
</body>
</html>