<!--footer start-->
    <div class="newfooter">
        <div class="m_b_commitment">
            <div class="w"><img src="/image/default/b_commitment.png" alt="品质保证 全球直供 优质品牌 售后保障"></div>
        </div>
        <div class="foot">
            <div class="w">
                <i class="icon_b_logo fl"></i>
                <ul class="fl">
                    <{insert name="label" type="ftlink" temp="ftlink_list"}>
                </ul>
                <i class="b_code"><img src="../../../image/default/code.jpg" />
                <p>蚂蚁海淘微信公众号</p></i>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="footer">
            <p class="copytight">© 2015-2016 蚂蚁在线(北京)科技有限公司 |  京ICP备15039996号-4 |  京ICP证160637号<br>
            地址：北京市朝阳区东大桥路甲8号尚都国际中心A座1815 | 电话:400-010-1977
            </p>
        </div>
    </div>
<!--footer end-->
<div class="fixation">
  <a href="#" class="">
    <p>购物车</p>
  </a>
  <a class="show">
    <p>客服</p>
    <div class="tel" >400-010-1977</div>
  </a>
  <a id="maxbox" class="show">
    <p>微信</p>
    <div class="max" ><img src="../image/default/cash.png" alt="蚂蚁在线微信公众号"></div>
  </a>
  <a href="#" id="returnTop" style="display: none;"></a>
</div>
<script>
$(".fixation>a.show").hover(function(){
    $(this).find("div").show();
    $(this).css("border-left","1px solid #fff");
},function(){
    $(this).find("div").hide();
    $(this).css("border-left","1px solid #e0e0e0");
});
$("#returnTop").on("click",function () {
    $('body,html').animate({ scrollTop: 0 }, 200);
    return false;
 });
$(window).on("scroll",function(){
    if($(window).scrollTop() > $(window).height()){
        $("#returnTop").fadeIn();
    }else{
        $("#returnTop").fadeOut();
    };
});
</script>
<div style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259727090'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259727090' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>