<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册<{$config.company}></title>
<meta name="description" content="<{$config.description}>" />
<meta name="keywords" content="<{$config.keyword}>" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="<{$config.weburl}>/templates/default/page.css" rel="stylesheet" type="text/css" />
<script src="<{$config.weburl}>/script/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/layer/layer.js" type="text/javascript"></script>
<script src="<{$config.weburl}>/script/lostpass.js" type="text/javascript"></script>
</head>
<body class="login">
<div>
    <div class="header">
        <div class="logo">
            <a hidefocus="true" title="<{$config.company}>" href="<{$config.weburl}>"><img src="image/default/Logo.png" /></a>
        </div>
        <div class="welcome">欢迎登录</div>
        <div class="logo2"></div>
    </div>
</div>

<div class="wl">
    <div class="mc lostpass">
        <div class="title">
            <div class="first">找回密码</div>
            <div class="second"><img src="image/default/icon1.png" class="mr2">想起密码？<a href="login.php" class="register">去登录</a>&nbsp还没有蚂蚁账号？<a href="<{$config.regname}>" class="register">20秒注册</a></div>
        </div>
        <div class="form lostpass1">
            <form id="lostpass" name="lostpass" action="lostpass.php" method="post">
                <!-- <div>
                    <dl>
                        <dt><img src="image/default/icon2.png"></dt>
                        <dd>
                            <input type="text" class="text" maxlength="16" autocomplete="off" name="user" tabindex="1" placeholder="用户名" id="user">
                        </dd>
                    </dl>
                    <span></span>
                </div> -->
                <{if $smarty.get.erry=="-1"}><font color="red" class="clearfix"><{$lang.noname}></font>
                <{elseif $smarty.get.erry=="-5"}><font color="red" class="clearfix">用户被禁止访问</font>
                <{elseif $smarty.get.erry=="-4"}><font color="red" class="clearfix"><{$lang.have_restpass}></font><{/if}>
                <div>
                    <dl>
                        <dt><img src="image/default/icon6.png"></dt>
                        <dd>
                            <input class="text" id="mobile" name="mobile" tabindex="3" maxlength="11" autocomplete="off" placeholder="手机号"/>
                        </dd>
                    </dl>
                    <p class="registerNotice1 phoneNum" style="display: none;"><span class="tipcon"></span><span class="rownotice"><img src="/image/default/tipnamebg.png"></span></p>
                </div>
                <div class="idcode">
                    <input class="text" tabindex="2" autocomplete="off" maxlength="6" name="smsvode" placeholder="短信验证码"/>
                    <input class="btn" type="button" value="发送短信验证码" />
                    <p class="registerNotice1 phonecode" style="display: none;"><span class="tipcon"></span><span class="rownotice"><img src="/image/default/tipnamebg.png"></span></p>
                </div>
                 <div>
                    <dl>
                        <dt><img src="image/default/icon3.png"></dt>
                        <dd>
                            <input class="text" type="password" name="password" maxlength="12" id="password" tabindex="2" autocomplete="off" placeholder="新密码"/>
                        </dd>
                    </dl>
                    <p class="registerNotice1 password" style="display: none;"><span class="tipcon"></span><span class="rownotice"><img src="/image/default/tipnamebg.png"></span></p>
                </div>
                
                <{if $smarty.get.erry=="-2"}>
                <font color="red" class="clearfix"><{$lang.passerr}></font>
                <{/if}>
                <div class="item login-btn">
                    <input name="action" type="hidden" value="com" />
                    <input name="forward" type="hidden" id="forward" value="<{$smarty.get.forward}>" />
                    <input type="submit" tabindex="4" value="确定" onclick="return do_login();">
                </div>
            </form>
        </div>
         <p>注：密码找回功能仅限于在蚂蚁海淘验证过手机号码或邮箱的用户</p>
    </div>
</div>
<div class="footer">
    <div class="login_commitment"></div>
    <p class="copytight">© 2015-2016 蚂蚁在线(北京)科技有限公司 |  京ICP备15039996号-4<br>
    地址：北京市朝阳区东大桥路甲8号尚都国际中心A座1815 | 电话:400-010-1977</p>
</div>
<script type="text/javascript">
    var num = 60;
    $(".idcode .btn").click(function(){
        var mob = $('#mobile').val();
        var str = /^13[0-9]{1}[0-9]{8}$|14[57]{1}[0-9]{8}$|15[0-9]{1}[0-9]{8}$|18[0-9]{1}[0-9]{8}$/;
        if(str.test(mob)) {
            $.ajax({
                url: 'lostpass.php',
                type: 'post',
                data: {m_send: 'm_send', mobile: mob},
                dataType: 'json',
                success: function(datainfo){
                    layer.alert(datainfo.message, {
                        closeBtn: 0
                    });
                    num = datainfo.data?datainfo.data:num;
                }
            });

            $(this).attr("disabled","true").css("background-color","#ccc");
            var interval = window.setInterval(function(){
                num = num - 1;
                $(".idcode .btn").attr("value",num+ "秒后重新发送");
                if (num < 1) {
                    $(".idcode .btn").attr("disabled","").css("background-color","#ff5c5d");
                    clearInterval(interval);
                    $(".idcode .btn").attr("value","发送短信验证码");
                    num = 60;
                };
            },1000);
        }else{
            layer.alert('请填写手机号', {
                closeBtn: 0
            });
        }
    })
</script>
</body>
</html>