<{include file="header.htm"}>
<div class="main">
	<div class="w fn-clear">
        <div class="fn-left">
            <ul class="ul">
                <{foreach item=list from=$con_groups}>
                <li><a href="help.php?id=<{$list.id}>"><{$list.title}></a></li>
                <{/foreach}>
            </ul>
            <div class="m1">
                <div class="mt">联系客服</div>
                <div class="mc">
					<p>客服服务电话
                    <b><{$config.owntel}></b>
                    <p>客服邮箱
                    <b class="email"><{$config.email}></b>
                </div>
            </div>
            <div class="m1">
                <div class="mt"><a target="_blank" href="help.php">常见问题</a></div>
                <div class="mc">
                    <ul>
                        <{foreach item=list from=$help}>
                        <li><a target="_blank" href="help.php?id=<{$list.con_group}>&type=<{$list.con_id}>"><{$list.con_title|truncate:20:""}></a></li>
                        <{/foreach}>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fn-right">
        	<h3>
            	<a href="help.php">帮助中心</a>
                <{foreach item=list from=$con_groups}>
                <{if $list.id == $smarty.get.id}>
                <a href="help.php?id=<{$list.id}>"><{$list.title}></a>
                <{/if}>
                <{/foreach}>
                <{if $smarty.get.type&&$de.con_title}>
                 > &nbsp;<{$de.con_title}>
                <{/if}>
            </h3>
            <{if $smarty.get.type}>
            <div class="con"><{$de.con_desc}></div>
            <{else}>
            <ul>
            	<{foreach item=list from=$de}>
                <li><i>?</i><a href="help.php?id=<{$list.con_group}>&type=<{$list.con_id}>"><{$list.con_title}></a></li>
                <{/foreach}>
            </ul>
            <{/if}>
        </div>
    </div>
</div>
<{include file="footer.htm"}>