<{include file="header.htm"}>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont"><a onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></a></section>
        <section class="nav-c"><span><{$config.company}></span></section>
        <section class="nav-e"><{if $smarty.get.m}><a href="<{$config.weburl}>"><nav style="color: #fff">首页</nav></a><{else}><a href="<{$config.web_url}>/main.php?cg_u_type=1"><nav style="color: #fff">买家中心</nav></a><{/if}></section>
    </div>
</header>
<section class="banner">
	<div class="user cn-clear">
    	<div class="img"><img height="72" src="templates/default/image/avatar.png" /></div>
        <div class="img-cover"></div>
        <div class="info">
        	<div class="user_info">
            <p>个人账户：</p>
            <p><{$de.email}>
                <a href="<{$config.weburl}>/?m=payment&s=settings"><span class="iconfont edit_icon" style="color: #0579C6">&#xe624;</span></a>
                <a href="<{$config.weburl}>/?m=payment&s=setpass"><span class="iconfont edit_icon">&#xe625;</span></a>
            </p>
            </div>
            <div class="user_account"><em><{$de.cash}></em>元</div>
        </div>
    </div>
</section>
<section class="container">
	<div class="fn-right"><{$output}></div>
</section>
<{include file="footer.htm"}>