<{include file="header.htm"}>
<header>
    <div class="nav-w">
        <section class="nav-s iconfont"><a onclick="javascript:history.back(-1)"><i class="fanhui_icon"></i></a></section>
        <section class="nav-c"><span><{$config.company}></span></section>
        <section class="nav-e"><{if $smarty.get.m}><a href="<{$config.weburl}>"><nav style="color: #fff">首页</nav></a><{else}><a href="<{$config.web_url}>/main.php?cg_u_type=1"><nav style="color: #fff">买家中心</nav></a><{/if}></section>
    </div>
</header>
<section class="banner">
	<div class="user cn-clear">
    	<div class="img"><img height="72" src="templates/default/image/avatar.png" /></div>
        <div class="img-cover"></div>
        <div class="info">
        	<div class="user_info">
                <p>个人账户：</p>
                <p><{$de.email}></p>
                <p>
                   <ul class="duser-auth">
                         <li>
                            <{if $verify }>
                                <a href="javascript:void(0);" class="duser-auth-mob duser-auth-mob-j">已认证</a>
                            <{else}>
                                <a href="https://www.mayihaitao.com/real.php" class="duser-auth-mob">未认证</a>
                            <{/if}>
                        </li>
                        <li>
                            <!-- <a href="javascript:void(0);" class="duser-auth-ema duser-auth-ema-j">已设置</a> -->
                            <a href="javascript:void(0);" class="duser-auth-ema">未设置</a>
                        </li>
                    </ul>
                </p>
            </div>
          <!--   <div class="user_account"><em><{$de.cash}></em>元</div> -->
        </div>
    </div>
</section>
<section class="container">
	<div class="fn-right"><{$output}></div>
</section>
<{include file="footer.htm"}>