<script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall()
    {
        WeixinJSBridge.invoke('getBrandWCPayRequest',{
            'appId':"<{$jsApiParameters.appId}>",
            'timeStamp':"<{$jsApiParameters.timeStamp}>",
            'nonceStr':"<{$jsApiParameters.nonceStr}>",
            'package':"<{$jsApiParameters.package}>",
            'signType':"<{$jsApiParameters.signType}>",
            'paySign':"<{$jsApiParameters.paySign}>"
            },function(res){
               // WeixinJSBridge.log(res.err_msg);
                if(res.err_msg == "get_brand_wcpay_request:ok")// 支付成功
                {
                    alert("付款成功，如果订单状态未改变请3分钟后刷新查看");
                    var order_id="<{$smarty.get.tradeNo}>";
                    location.href = "<{$config.web_url}>/main.php?m=product&s=admin_buyorder&cg_u_type=1&zt=3";

                }
            });
    }
    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>
<link href="templates/wap/css/pay.css" rel="stylesheet" type="text/css" />
<div class="block fn-clear">
	<div class="i-block payment">
        <div class="title title2">
       		<div>
            <h3><{$re.note}></h3>
            <p>
            收款方： Myzx168@163.com<!--<{if $re.real_name}><{$re.real_name}><{else}><{$re.seller_email}><{/if}>-->
            <span><strong><{$re.price|number_format:2}></strong>元</span>
            </p>
            </div>
        </div>


		
        <{if $re.statu==1}>
        <div class="form">
        <form method="post">
        <input type="hidden" name="act" value="pay" />
        <input type="hidden" name="payment_type" id="payment_type" value="<{$pay.0.payment_type}>" />
            <fieldset>
            <dl>
                <dt style="margin-left:5px;">请选择支付方式：</dt>
                <dd class="pay">
                    <ul class="fn-clear">
                    <{if $config.bw eq "weixin"}>
                    <li>                       
                        <a class="form_weixin_btn" data-param="{'id':'weixin'}">微信支付<i></i></a>            
                    </li>
                    <{/if}>
                    <{foreach item=list key=key from=$pay}>
                        <li>           
                            <a class="form_qianbao_btn" data-param="{'id':'<{$list.payment_type}>'}"><img src="image/payment/<{$list.payment_type}>.gif" class="form_qianbao_img"><{$list.payment_name}><i></i></a>
                            <div style="border-top:1px solid #f1f1f1;height:0;"></div>
                        </li>
                    <{/foreach}>  
                    </ul>
                </dd>
            </dl> 
            </fieldset>
            <{if $account!='false'}>
            <fieldset class="fieldset">  
            <dl class="free">
                <dt></dt>
                <dd>可用总额：<span class="free_price"><{$de.cash}></span> 元</dd>
            </dl> 
            <dl class="free2">
                <dt>支付密码：</dt>
                <dd><input type="password" class="text" name="password" value="" placeholder="填写支付密码" /></dd>
            </dl>
            </fieldset>
            <{/if}>
            <dl class="btn_pay">
                <dt></dt>
                <dd>
                <{if $config.bw eq "weixin"}>
                <div class="form_weixin_btns2" onclick="callpay()" >确定支付</div>
                <div style="display:none"><input style="font-size:14px;letter-spacing:1px;margin-left:-12px;padding:0;" type="submit" class="submit" value="确定支付" /></div>
                <{else}>
                <input style="font-size:14px;letter-spacing:1px;margin-left:-12px;" type="submit" class="submit" value="确定支付" />
                <{/if}>
                </dd>
            </dl>
        </form>   
        </div>
        <{/if}>
    
    </div>
</div>
<script type="text/javascript" src="script/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
$(function(){
    $(".pay .fn-clear li:first-of-type").find("i").addClass("formsh")
   $(".pay li").bind("click",function(){
        var liIndex=$(this).index();
        console.log(liIndex)
        var data = $(this).children('a').attr('data-param');
        eval("data = "+data);
        <{if $account!='false'}>
        if(data.id=='account')
        {
            $('.fieldset').show();
        }
        else
        {
            $('.fieldset').hide();
        }
        <{/if}>
        $("#payment_type").val(data.id);
        $(this).find("i").toggleClass("formsh").end().siblings().find("i").removeClass("formsh");
        $(".btn_pay dd div").eq(liIndex).show().siblings().hide();
    }); 
})

</script>
