<script type="text/javascript" src="script/Validator.js"></script>
<script type="text/javascript" src="script/jquery-1.4.4.min.js"></script>
<link href="templates/wap/css/pay.css" rel="stylesheet" type="text/css" />
<div class="block">
	<div class="i-block">
    	 <h2>充值到<{$config.company}><span><a class="withdraw" href="<{$config.weburl}>/?m=payment&s=record&mold=1">充值记录</a></span></h2>
    </div>
	<div class="form">
    <form method="post" onSubmit="return Validator.Validate(this,3)">
    	<fieldset id="bank">
    	<dl>
        	<dt>充值方式：</dt>
            <dd class="pay">
                <input type="hidden" name="payment_type" id="payment_type" value="<{$pay.1.payment_type}>" />
                <ul class="fn-clear">
                <{foreach item=list key=key from=$pay}>
                    <{if $list.payment_type!='account'}>
                    <li <{if $key==1}>class="checked"<{/if}> >
                    <img title="<{$list.payment_name}>" alt="<{$list.payment_name}>" data-param="{'id':'<{$list.payment_type}>'}" src="image/payment/<{$list.payment_type}>.gif" /><i></i>
                    </li>
                    <{/if}>
                <{/foreach}>  
                </ul>
            </dd>
        </dl>
        </fieldset>
        <fieldset class="d1 <{if $pay.1.payment_type eq 'cards'}>fn-hide<{/if}>">
        <dl>
        	<dt>付款金额：</dt>
            <dd><input type="text" class="text w100" name="amount" id="amount" autocomplete="off" dataType="<{if $pay.1.payment_type neq 'cards'}>Double<{/if}>" placeholder="填写充值金额" msg="请填写充值金额" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')"/> 元</dd>
        </dl>
		</fieldset>
        <fieldset class="d2 <{if $pay.1.payment_type neq 'cards'}>fn-hide<{/if}>">
        <dl>
            <dt>充值卡帐号：</dt>
            <dd><input type="text" name="card_num" id="card_num" class="w200 text" autocomplete="off" dataType="<{if $pay.1.payment_type eq 'cards'}>Require<{/if}>" msg="请填写充值金额" /></dd>
        </dl>
        <dl>
            <dt>充值卡密码：</dt>
            <dd><input type="password" name="password" id="password" class="w200 text" autocomplete="off" dataType="<{if $pay.1.payment_type eq 'cards'}>Require<{/if}>" msg="请填写充值金额" /></dd>
        </dl>
		</fieldset>
        <dl>
            <dt></dt>
            <dd>
            <input type="submit" class="submit" value="确定信息并充值" />
            </dd>
        </dl>
    </form>    
    </div>
</div>	
<script type="text/javascript">
$(".pay li").bind("click",function(){
	var data = $(this).children('img').attr('data-param');
	eval("data = "+data);
	if(data.id=='cards')
	{
		$("#amount").attr("dataType","");
		$("#card_num").attr("dataType","Require");
		$("#password").attr("dataType","Require");
		$(".d2").removeClass("fn-hide").siblings(".d1").addClass("fn-hide");
	}
	else
	{
		$("#amount").attr("dataType","Double");
		$("#card_num").attr("dataType","");
		$("#password").attr("dataType","");
		$(".d2").addClass("fn-hide").siblings(".d1").removeClass("fn-hide");
	}
	$("#payment_type").val(data.id);
	$(this).addClass("checked").siblings().removeClass("checked");
});
</script>

