/*登录注册头部*/
.login .header{width: 1212px;padding: 15px;height: 60px;line-height: 60px;font-size: 24px;}
.login .header a{height:60px;float: left;margin-right: 50px;}
.login .header i{width: 435px;height: 60px;background: url(../img/icon1.png) 0 13px no-repeat;float: right;}
/*公用*/
.login .center{height: 475px;position: relative;}
.login .center .bg{max-width: none;top: 0;left: 50%;margin-left: -960px;position: absolute;}
.login .center .mc{position: absolute;width: 1212px;top: 0;left: 50%;margin-left: -606px;}
.login .center .form{background-color: #FFF;width: 290px;margin-top: 60px;padding: 25px 30px;float: right;box-shadow: 5px 5px 5px #d65458;-moz-box-shadow: 5px 5px 5px #d65458;-webkit-box-shadow: 5px 5px 5px #d65458;}
.login .center .form .title{font-size: 18px;}
.login .center .form .title a{float: right;padding-left: 16px;background: url(../img/icon2.png) 0 no-repeat;font-size: 12px;color: #ff5c5c;}
.login .center form{margin-top: 25px;}
.login form dl{ width: 290px;background-color: #FFF;height: 40px;border: solid 1px #ccc;position: relative;margin-bottom: 20px;}
.login form dl dt{width: 40px;height: 40px;float: left;}
/*登录样式*/
.login form dl dt.name{background: url(../img/icon3.png) 10px no-repeat;}
.login form dl dt.pass{background: url(../img/icon4.png) 10px no-repeat;}
.login form .text{font-family: arial,"微软雅黑";font-size: 14px;height: 24px;line-height: 24px;padding: 8px 4px;width: 240px;float: left;border: none;}
.login form input[type="submit"]{font-size: 16px;font-weight: 600;color: #FFF;background-color: #ff5c5c;width: 290px;height: 42px;border: none;cursor: pointer;margin-top: 10px;}
/*错误提示*/
.login form .notice{border: 1px solid #ffbdbf;background: #fffafa;line-height: 20px; padding: 0 6px;position: absolute;left: 10px;top: -32px;}
.login form .notice .icon{width: 14px;height: 8px;left: 20px;bottom: -7px;position: absolute;background: url(../img/icon7.png);}
/*快捷登录*/
.login .entries{line-height: 40px;font-size: 14px;}
.login .entries i{display: inline-block;width: 24px;height: 24px;margin-left: 15px;vertical-align: middle;background: url(../img/icon6.png);}
.login .entries .ic1{background-position:144px 0;}
.login .entries .ic2 {background-position: 84px 0;}
.login .entries .ic3 {background-position: 24px 0;}
.login .entries .ic1:hover{background-position: 173px 0;}
.login .entries .ic2:hover {background-position: 114px 0;}
.login .entries .ic3:hover {background-position: 54px 0;}
/*注册样式*/
.login .idcode {height: 40px;margin-bottom: 20px;position: relative;}
.login .idcode .text {width: 130px;border: 1px solid #ccc;text-indent: 10px;padding: 7px 4px;}
.login .idcode .btn {color: #FFF;background-color: #ff5c5c;height: 40px;border: none;cursor: pointer;width: 140px;float: right;}
.login form dl dt.phone{background: url(../img/icon8.png) 10px no-repeat;}
.login form input[type="checkbox"]{margin-right: 5px;vertical-align:middle;}
/*登录注册底部*/
.login .footer {margin: 20px auto;color: #999;width: 990px;}
.login .footer .commitment{  background: url(../img/icon5.png);width: 990px;height: 75px;border-bottom: 1px solid #999;}
.login .footer .copyright{text-align: center;margin-top: 20px;}

.lostpass{background:#fff;}
.lostpass .title{    height: 40px;
    margin-top: 40px;
    line-height: 40px;}
.login .lostpass .title .first {
    display: inline-block;
    float: left;
    font-size: 20px;
    color: #ccc;
    margin-left: 50px;
}
.login .lostpass .title .second {
    display: inline-block;
    float: right;
    margin-right: 50px;
}
.login .lostpass .title a {
    color: #ff5f5c;
}
.login .lostpass .title span{padding-left: 18px;
   background: url(../img/icon2.png) 0 no-repeat;
}
.login .lostpass .form{    margin: 0 auto;
    padding: 10px 30px;
    float: none;
    box-shadow: none;}
    .login .lostpass p {
    text-align: center;
    margin-bottom: 50px;
    color: #7f7f7f;
}
.login font{    background: #FFEBEC;
    border: 1px solid #FFBDBF;
    color: #E6393D;
    line-height: 25px;
    padding: 2px 0 2px 10px;
    width: 280px;display: block;}