/*public*/
html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul,dd,dt,li,object,a,b,em,i,img,samp,span,strong,sub,sup,tt,var,input,select{margin:0;padding:0}
body{font:12px/1.5 'Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB',Verdana;color:#333;word-wrap:break-word;word-break:break-all;-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;}
html,body{overflow-y:auto;overflow-x:hidden;}
input,button,img,fieldset{border:0;outline:none}
input,select{outline:none}
/* set image max width to 100% */
img,video{max-width:100%;height:auto;width:auto\9;/* ie8 */}
/* set html5 elements to block */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body div,body p{margin:0 auto;word-break:normal}
address,cite,dfn,em,var,i{font-style:normal}
var{font-family:Verdana,Arial}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
/* a */
a{display:inline-block;color:#333;text-decoration:none;outline:none}
a:hover{color:#ff5853;text-decoration:none}
/* list */
ul,ol{list-style:none}
/*margin*/
.m30{margin:30px auto;}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml40{margin-left:40px;}
.ml60{margin-left:60px;}
.ml404{margin-left:404px;}
.mr5{margin-right:5px}
.mr10{margin-right:10px}

/*Font*/
.f14{font-size:14px}
.f16{font-size:16px}
.b{font-weight:bold}
.yh{font-family:Microsoft YaHei,Arial,sans-serif}

/*Align*/
.alg_r{text-align:right}
.alg_c{text-align:center}

/*position*/
.pos_re{position:relative}
.pos_ab{position:absolute}

/*float*/
.fl,.l{float:left}
.fr,.r{float:right}
.newclear{overflow:hidden;zoom:1}

/*Pages Width*/
.w{width:1212px}
.w_202{width:202px}
.w_404{width:404px}

/**Color*/
.c1{color:#007be6}

/**Middle*/
.mid{display:inline-block;vertical-align:middle;}

/**header*/
.header .top{background:#e1e1e1}
.header .top .w{height:30px;line-height:30px}
.header .top .fl a{margin-right:30px}
.header .top .fr a{margin-left:30px;}

.header .m_top_ban{display:none;height:80px}

.header .head{padding:30px 0;}
.header .head .icon_logo{width:200px;height:60px;}
.header .head .m_commitment li{float:left;margin-right:15px;}
.header .head .m_commitment li i{width:48px;height:48px}
.header .head .m_commitment li em{display:inline-block;margin-left:10px;color:#666;font-size:14px;line-height:18px;vertical-align:middle;letter-spacing:2px}

.m_t_search input{display:inline-block;font-size:14px;border:2px solid #007be6;vertical-align:middle;}
.m_t_search input[type=text]{width:300px;padding:10px 10px 10px 34px;background:url(../../../uploadfile/adv/2016/icon_search.png) 10px 10px no-repeat;}
.m_t_search input[type=submit]{color:#fff;padding:10px 20px;background:#007be6;cursor:pointer;}

.m_shop_cart{float:right;margin-top:8px}
.m_shop_cart .cart_box{font-size:14px}
.m_shop_cart .cart_box i{width:45px;height:45px;margin-left:10px;}


/**导航*/
.m_nav{font-size:14px;border-bottom:2px solid #000;background:#f1f1f1}
.m_nav .w:after{content:"";display:block;width:100%;clear:both}

.m_nav .m_menu{float:left;position:relative;width:245px;color:#fff}
.m_nav .m_menu dt{height:40px;line-height:40px;padding-left:20px;background:#2c2c2c}
.m_nav .m_menu dt i{width:18px;height:12px;margin-right:10px}
.m_nav .m_menu dd{position:absolute;top:40px;left:0;width:245px;height:460px;background:url(../../../uploadfile/adv/2016/menu_bg.png) top left repeat;z-index:999}

.m_nav .nav{float:left;}
.m_nav .nav li{float:left;}
.m_nav .nav li a{padding:0 25px;height:40px;line-height:40px;}

.m_nav .m_gz{position:absolute;top:10px;right:0;cursor:pointer}
.m_nav .m_gz i{width:20px;height:17px;margin-right:10px}

.m_goods_list{width:202px;margin:30px auto;overflow:hidden;}
.m_goods_list ul{margin-top:-1px}
.m_goods_list li{padding:20px;border-top:1px solid #716f85;line-height:25px}
.m_goods_list li label{font-size:16px}
.m_goods_list li label i{width:20px;height:20px;margin-right:10px}
.m_goods_list li label b{font-weight:normal}
.m_goods_list a{color:#fff;margin-right:10px}
.m_goods_list a:hover{color:#fff}


/**国家列表*/
.m_country_list{padding:20px 0;background:#eff0f2;}

.country_nav{border-top:2px solid #007be6;background:#fff}
.country_nav .item{float:left;width:201px;height:50px;line-height:50px;font-size:14px;text-align:center;border-right:1px solid #d5d5d5;cursor:pointer}
.country_nav .item.spe{border-right:1px solid #fff}
.country_nav .item.focu{color:#fff;border-right:1px solid #007be6;background:#007be6}
.country_nav .item i{width:24px;height:24px;margin-right:5px}

.country_goods_list ul.pos_re{height:500px}
.country_goods_list ul .item{position:absolute;top:0;left:0;}

.c_l_img{left:-114px;bottom:0;line-height:0;z-index:1000}
.c_r_img{right:-116px;bottom:0;line-height:0;z-index:1000}


/**Tab public*/
.m_tab_con .item{display:none}
.m_tab_con .item.cur{display:block}

/**商品展示盒子*/
.m_list{border-bottom:1px solid #e5e5e5}
.m_list .clu{float:left;}
.m_list .m_img_box{line-height:0;overflow:hidden}
.m_list .list_box li{float:left;width:201px;padding:22px 0 20px;font-size:14px;text-align:center;border-right:1px solid #e5e5e5;border-top:1px solid #e5e5e5;background:#fff;overflow:hidden;}
.m_list .list_box a{display:block;line-height:26px}
.m_list .list_box .goods_img{width:160px;height:160px;line-height:0;margin:0 auto;overflow:hidden}
.m_list .list_box p var{color:#ff4545;margin-right:5px}
.m_list .list_box p s{color:#999;}

.m_list_01 .list_box{width:808px}
.m_list_01 .list_box .m_img_box{top:0;left:202px;}

.m_list_02 .list_box{width:1010px}
.m_list_02 .list_box .m_img_box{top:0;left:404px;}
.m_list_02 .list_box .m_img_box.spe{top:250px;left:404px;}
.m_list_02 .list_box li img{-webkit-transform:none;-moz-transform:none;-o-transform:none;transform:none;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;}
.m_list_02 .list_box li:hover img{-webkit-transform:translateX(-10px);-moz-transform:translateX(-10px);-o-transform:translateX(-10px);transform:translateX(-10px);}


/**商品分类展示*/
.m_goods_category{padding:20px 0;font-size:14px;background:#f5f5f5}
.goods_items{margin-bottom:20px}
.goods_items .til{line-height:50px}
.goods_items .til span{float:left;padding-left:15px;font-size:18px;letter-spacing:1px}
.goods_items .til p{float:right;height:50px;}
.goods_items .til p a{margin-left:20px;color:#666}
.goods_items .til p a:hover{color:#ff5853;}

.til_01{border-left:20px solid #ff5853;color:#ff5853}
.til_02{border-left:20px solid #9a4bc3;color:#9a4bc3}
.til_03{border-left:20px solid #45b130;color:#45b130}
.til_04{border-left:20px solid #3c67fe;color:#3c67fe}


/*silder*/
.m_banner .w.pos_ab{top:0;left:50%;margin-left:-606px}
.m_banner .extend{position:absolute;top:0;right:0;z-index:999}
.m_banner .ban_slider{height:460px}
.ban_li .slide_box li{width:100%;height:460px}
.ban_li .slide_box li a{display:block;width:100%;height:100%}

.ban_slider{position:relative}
.ban_slider .guide{position:absolute;left:50%;bottom:0;width:100%;margin-left:-50%;text-align:center;overflow:hidden;z-index:9999}
.ban_slider .guide li{display:inline-block;font-size:20px;text-shadow:2px 2px 5px rgba(0,0,0,0.3);color:#fff;cursor:pointer}
.ban_slider .guide li.on{color:#007be6}
.ban_slider .ban_li{position:relative;overflow:hidden}
.ban_slider .ban_li ul{overflow:hidden;zoom:1}
.ban_slider .ban_li ul li{float:left;_display:inline;background-position:center;background-repeat:no-repeat;overflow:hidden}
.ban_slider .prev,
.ban_slider .next{position:absolute;left:0;top:50%;margin-top:-40px; display:block; width:30px;height:80px;background:#777 url(../../../uploadfile/adv/2016/slider-arrow.png) -110px 25px no-repeat; filter:alpha(opacity=50);opacity:0.5;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;}
.ban_slider .next{ left:auto; right:0;background-position:8px 25px;}
.ban_slider .prev:hover,
.ban_slider .next:hover{ filter:alpha(opacity=100);opacity:1;}
.ban_slider .prevStop{ display:none;}
.ban_slider .nextStop{ display:none;}


/**footer*/
.footer .m_b_commitment{padding:20px 0;line-height:0;background:#007be6}
.footer .foot{padding:20px 0 40px;color:#fff;background:#714af1}
.footer .foot .icon_b_logo{width:238px;height:100px;margin:20px 40px 0 0;}
.footer .foot ul li{float:left;width:180px;text-align:center;}
.footer .foot ul li span{display:block;font-size:18px;line-height:60px;border-bottom:1px solid #fff;}
.footer .foot ul li p{margin-top:20px;}
.footer .foot ul li p a{display:block;font-size:14px;color:#fff;line-height:25px}
.footer .foot ul li p a:hover{text-decoration:underline;}


[class^="icon_"]{display:inline-block;vertical-align:middle;text-indent:-9999px;background-image:url(../../../uploadfile/adv/2016/m_sprite.png);background-repeat:no-repeat;overflow:hidden}
.icon_logo{background-position:0 0}
.icon_b_logo{background-position:-410px 0}
.icon_commitment_01{background-position:-2px -120px}
.icon_commitment_02{background-position:-55px -120px}
.icon_commitment_03{background-position:-108px -120px}
.icon_cart{background-position:-161px -120px}
.icon_menu{background-position:0 -95px}
.icon_wx_gray{background-position:-20px -70px}

.icon_menu_01{background-position:-230px -5px}
.icon_menu_02{background-position:-260px -5px}
.icon_menu_03{background-position:-290px -5px}
.icon_menu_04{background-position:-320px -5px}

.icon_Japan{background-position:-2px -238px}
.icon_Korea_South{background-position:-30px -238px}
.icon_Australia{background-position:-58px -238px}
.icon_America{background-position:-86px -238px}
.icon_Europe{background-position:-114px -238px}
.icon_Hongkong_and_Taiwan{background-position:-142px -238px}