body{margin:10px;}
h1{font-size: 24px}
h5{font-size: 20px;margin: 10px 0px;}
p{line-height: 24px;margin: 8px 0px;}
ul{margin: 0;padding-left: 20px;}
ul li{line-height: 24px;margin-bottom: 5px;}
.first-p{margin-top: 75px;}
.head{}
header{width:100%;}
.nav-w{background-color:#ff5c5c;border-bottom:1px #d9d9d9 solid;width:100%;font-size:12px;/*padding:5px 0 10px;*/height:50px;line-height:50px;display:-webkit-box;left:0;position:fixed;top:0;z-index:199;}
.nav-w a{color:#666;}
.nav-s{min-width:50px;padding-left:0.75rem;}
.nav-c{text-align:center;-webkit-box-flex:1;-ms-box-flex:1;-moz-box-flex:1;-o-box-flex:1;margin-left: -60px;}
.nav-e{min-width:50px;padding-right: 15px;}
i.home_icon{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon9.png) right no-repeat;background-size: 50%;}
i.home_icon2{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon9.png) left no-repeat;background-size: 50%;}
i.fanhui_icon{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon10.png) 5.8% no-repeat;background-size: 50%;}
.nav-s a{display:inline-block;width:50px;height:34px;line-height:34px;}
.nav-s a nav{color:#666666;display:inline-block;height:34px;line-height:34px;padding-left:15px;text-align:center;text-decoration:none;width:62px;}
.nav-s font{color:#FD0D0D;font-size: 25px;padding-left: 15px;}
.nav-c span{display:block;height:50px;line-height:50px;padding:0 10px;font-size:18px;/*font-weight:bold;*/color:#fff;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.nav-e a{color:#666666;display:inline-block;width:75px;height: 50px;
    text-align: right;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;}
.nav-e a nav{color:#fff;display:inline-block;height:50px;line-height:50px;text-align:right;text-decoration:none;width:75px;}
.nav-e a.list nav{color:#666;}