/**space_product_detail**/
body{font-family: 'microsoft yahei' !important;color: #525252;font-size: 16px;}
.up .uh, .up .uf, .pos_re {position: relative;}
div {outline: 0 !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.bc-text-head {color: white;}
.bc-head {background-color: #dd3030;}
.uh, .uf {width: 100%;font-size: 1.2em;}
.ub-ver {-webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-box-orient: vertical;-o-box-orient: vertical;box-orient: vertical;}
.ub{display: -webkit-box !important;display: box !important;position: relative;}
.bc-bg{background-color:#fff;padding-bottom: 50px;}
.c-wh-dianpu{padding: 0 0.5rem;border-bottom: 1px solid #b9b9b9;}
.ub-ac { -webkit-box-align: center;-moz-box-align: center;-ms-box-align: center;-o-box-align: center;box-align: center;}
.ub-f1 {position: relative; -webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;-o-box-flex: 1; box-flex: 1;}
.ub-xinxi{border-bottom: 1px dashed #b9b9b9;}
.kefu_icon1{width:0.75rem;height: 0.65rem;display: inline-block;background: url(../../../image/wap/wap_haitao_icon109.png) no-repeat;background-size: contain;vertical-align: -2px;margin-right: 0.4rem;}
.kefu_icon2{width:0.75rem;height: 0.65rem;display: inline-block;background: url(../../../image/wap/mayi_wap_icon24.png) no-repeat;background-size: contain;vertical-align: -1px;margin-right: 0.4rem;}
.ub-kefu ul li a{font-size: 0.6rem;}
.ub-f2 p{float: left;width: 33.33%;font-size: 0.6rem;color: #999;}
.ub-f2-test{text-align: center;}
.ub-kefu_first{margin-right: 4%;}
.ub-f2-test2{text-align: right;}
.ub-kefu li{width: 48%;height: 1.5rem;line-height: 1.5rem;text-align: center;border-radius: 0.2rem;font-size: 0.6rem;box-sizing: border-box;border: 1px solid #e1e1e1;}
.nav-s-fanhui{width:1.5rem;height: 1.5rem;display: inline-block;background: url(../../../image/wap/mayi_wap_icon1.png) no-repeat;background-size: contain;vertical-align: middle;margin-top: 12px;}
.sinfo_num{color: #ff5c5c;}
.uinn-pFS1{padding:0.5rem 0em 0.7rem 0em;}
.t-gra-pFS1{color:#c0c0c0;}
.uinn-a1{padding:0.625em;}
.umar-at1{margin-top:0.625em;}
.bgw{background-color: #fff}
.dianpu-on{width:0.5rem;height: 0.9rem;display: inline-block;background: url(../../../image/wap/mayi_wap_icon26.png) no-repeat;background-size: contain;vertical-align: middle;}

/**************space_product_detail*******************/
#pro_detail .shopli_top_img img{width: 100%;}
#pro_detail img{width:100%;}

#pro_detail #pname{min-height: 2.15rem;line-height: 1.5em;font-weight: 800;font-size: 0.7rem;padding-bottom: 0.5rem;border-bottom: 1px dashed #b9b9b9;padding-right: 2.5rem;}
#pro_detail #price{font-family: 'microsoft yahei';font-size:0.6rem;border-bottom: 1px dashed #b9b9b9;height: 50px;line-height: 50px;}
#pro_detail span#price{border-bottom: none;}
#pro_detail #price span{color:#535353;}
#pro_detail #price span.price_moneys_num{color: #ff5c5c;}
#pro_detail #price .price_moneys{font-size: 0.9rem;color: #ff5c5c;margin-right: 0.5rem;}
#pro_detail #price .price_dels{font-size: 0.6rem;color: #535353;text-decoration: line-through;margin-right: 0.3rem;}
#pro_detail #price .price_zhes{position: relative; display: inline-block; font-size: 0.5rem;color: #fff;width: 2rem;height: 0.9rem;line-height: 0.9rem;background-color: #ff5c5c;border-radius: 0.2rem;text-align: center;margin-top: -0.5rem;}
#pro_detail #price .price_zhes i{display: inline-block;position: absolute;left: -6px;bottom: 0px;width:0px;height: 0px;border-width:6px;border-style: solid;border-color: transparent transparent #ff5c5c transparent;}
#pro_detail .fas{font-size: 1.5em;color:#000}
#pro_detail .slogo{width:4em;height:4em;border-radius:2em}
#pro_detail .slogote{width:2.5rem;height:2.5rem;border-radius:50%;float: left;}
#pro_detail .sinfo{padding-left:.5em;color:#000;font-size: 0.6rem;line-height: 1rem;}
.price_moneys{color: #ff5c5c;}
.price_moneys2{color: #ff5c5c;font-size: 1rem;}
#pro_detail .price_moneys2 #price{font-size: 1rem;}
.price_dels{color: #535353;text-decoration: line-through;}
/*.price_chas{font-size: 0.7rem;}*/
.chats{margin: 5px 0;}
.chats a{font-size: 14px;font-weight: bold;color: #FF6600;}
.chats a span{color: #FF6600;font-size: 16px;}
#pro_detail .goshop{padding: .3em .8em .3em 1.2em;width:2em;border-left:1px #525252 solid}
#pro_detail #proinfo p{padding:.5em}
.choose_btn{color:#8b8b8b;background-color:#fff;position:fixed;bottom: 0px;width:100%;padding:.5em 1em .5em 0}
.choose_btn a{color:#525252;}
.choose_btn .btn{margin: .25em;background-color: inherit !important;}
.addcart{float: right;margin-bottom: 5px;width: 100%;height: 50px;}
.incar{color: #000;width: 30%;float: right;text-align: center;font-size: 16px;}
.incar_l{background-color: #ff5c5c;color: #fff!important;}
.incar_c{background-color: #efefef;color: #ff5c5c;}
.incar span{color:#fff;padding-right: 5px;}
.choose_btn .buy{background-color:#dd3030;color:#fff;height:100%;padding: .5em;border-radius: .2em;min-width:85px}
.collect{color:#ff5c5c}
.col-money{border-bottom: 1px dashed #b9b9b9;font-size: 0.6rem;width: 100%;}
.pdetail_show2 {width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;}
.pdetail_show2 span{    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;font-size: 14px;width: 100%;}
.pdetail_show2 li{    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;font-size: 14px;width: 100%;}
.col_ttt{padding: 0.1rem 0rem;border-left: 1px solid #e1e1e1;width: 2.4rem;}
/***space_index***/
.hidden{display:none !important;}
.t-gra-50{color:#505050;}
.t-gar-a0{color:#a0a0a0;}
.uinn-esh{padding:0.3125em 0 0.9375em 0.5125em}
.uinn-esh2{padding:0.5em 0 0.3125em 0;}
.uinn-esh3{padding:0.625em 0.77em 0.46875em 0.77em;}
.uinn-esh4{padding:0.5em 0.1875em 1.25em 0.3125em;width:67%}
.uh-per1{height:9.375em;}
.uwh-per2{height:3em;width:3em;}
.uwh-per3{height:2.25em;width:2.25em;}
.umar-per1{margin:0.125em;}
.umar-per2{margin-top:0.8625em;}
.t-gra-per{color:#8b8b8b;}
.b-gra-per1{border-color:#d1d1d1;}
.uinn-per1{padding:0.40625em 0 0.5em 0;}
.c-gra-per1{background-color:#a0a0a0;}
.b-gra-cf{border-color:#cfcfcf;padding: 0 0.5rem;margin-top: 0.8rem;}
.b-gra-cfs{border-color:#cfcfcf;padding: 0 0.5rem;}
.uwh-esh{width:33%;height:6.25em;}
.umw-eleL{width:6.5625em;}
.uwh-esh2{width:3em;height:3em;}
.c-wh{background-color: white;}
.uinn-a7{padding:0 0.625em;}
.mar-aL1{margin-left:0.625em;}
.umar-at2{margin-top:1em;}
.shoplogo{border-radius: 2.8125em;}
.pname{overflow: hidden;width: 95%;height: 3em;line-height: 1.5em}
.price{margin-top:1em;color:#dd3030}
.sinfo{padding-left:1em}
.sinfo .inf{padding-left:0.5125em;}
.sinfo .inf #company{font-weight:bold;padding-bottom: .625em;padding-top:.325em}
.sinfo .inf .typ{font-size:.8em;padding-bottom:.25em}
.sinfo .inf .typ span{color:#fc7800}
#clogo{width:6em;height:6em}
.col{background-color:#fff;color:#8B8B8B;top:0em;right:0em;position: absolute;text-align: center;}
.lic{width:.3em;background-color: #dd3030;margin-right:.3em}
.mar-sh{margin:0 3%}
.shop_pro{width:43%;float: left;background-color:#fff;padding:3%;margin-bottom:2%;}
.prol{margin-right:2%;}
.shop_pro img{text-align: center;height:6.25em;width:100%}
#shop_logo{max-height: 15em;width:100%}
.logo{font-size: 1.5em;font-weight: bold;text-align: center;}
.wap_pdetail{float: left;}

/*register findpwd*/
#register .b-d8{border-color:#d8d8d8;}
#register .t-21{color:#218dd5;}
#register .uinnh5{padding:0.8em 0.5em;margin:0;}
#register .uw-reg{min-width:5em;}
#register .uinn-at1{padding-top:1em;}
#register .c-wh{background-color:#FFF;}
#register .ver{font-size:.8em;padding:.2em .6em;border-radius: .2em;border:none;min-width: 3.5em;}
#register .umar-a {margin: 0.4em;}
#register .uinn {padding: 0.5em;margin: 0;}
#register .ulev-1 {font-size: 0.8125em !important;}
#register .ub-pe {-webkit-box-pack: end;box-pack: end;}
#register .btn {padding: .2em 0.9em;min-height: 2.2em;font-size: 1em;text-align: center;}
#register .bc-btn {background-color: #DD3030;}
#register .bc-text-head {color: white;}
.ub-pc {-webkit-box-pack: center;box-pack: center;}
.ub-ac {-webkit-box-align: center;    box-align: center;}
.uinput input, .uinput textarea {margin: 0px;border: 0px;width: 100%;height:44px;-webkit-appearance: none;padding: .4em 0;line-height: 1.2em;background: none;text-decoration: none;font-size: 1em;}
.select{width: 100%;height:44px;border:none}


.select_style{position:relative;background:#fff;padding: 0 0.5rem;}
.select_styless{position:relative;background:#fff;border-bottom:1px dashed #b9b9b9;padding: 0;}
.select_guanshui{font-size: 0.6rem;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #b9b9b9;line-height: 1rem;}
.select_guanshui var{color:#ff5c5c;}
.select_duty_context{position: relative;}
.select_one{margin-right: 15px;text-align: right;display: inline-block;width: 1.9rem;}
.select_duty{position: absolute;top: 1.5rem;right: 0px;z-index: 88;width: 90%;background-color: #ccc;padding: 5px 10px;border-radius:6px;display: none;}
.select_duty i{display: inline-block;width: 10px; height:10px;background-color: #ccc;transform:rotate(135deg);-webkit-transform:rotate(135deg); position: absolute;top: -5px;right:2.15rem;}
.select_style dl{float:left;height: auto;overflow: visible;width: 100%;line-height:35px;}
.select_style dl.select_style_num{line-height: 28px;padding: 10px 0;}
.select_style dl.select_style_xiangqing{border-bottom: none;margin-bottom: 0px;}
.select_style dt{color:#999;font-family:simsun;float:left;display: inline-block;font-size: 0.6rem;}
.select_style dt.select_style_title{width: 100%;border-bottom: 1px dashed #b9b9b9;margin-bottom: 0.5rem;font-size: 0.8rem;height: 2rem;line-height: 2rem;}
.select_style dt.select_style_titleg{color: #ff5c5c;position: relative;z-index: 99;}
.select_style dt a.select_style_titler{font-size: 0.7rem;color: #5c5c5c;float: right;padding-right: 15px;background: url(../../../image/wap/wap_haitao_icon19.png) no-repeat center right;background-size: 20%;}
.select_style dt i{display: inline-block;width: 25px;height: 25px; background: url(../../../image/wap/mayi_wap_icon23.png) no-repeat;background-size: contain;vertical-align: middle;margin-right: 0.4rem;margin-top: -5px;}
.select_style dd{color:#404040;}
.select_style dd.mati_say_content{position: relative;}
.select_guanshui_ic{padding-right: 22px;background: url(../../../image/wap/wap_haitao_icon65.png) right no-repeat;background-size: contain;margin-right: 20px;}
.select_guanshui_ip{padding-left: 22px;background: url(../../../image/wap/wap_haitao_icon64.png) left no-repeat;background-size: contain;color: #3f7b06;}
.select_guanshui_hid{position: absolute;top: 30px;left: 9%;padding:5px 10px;z-index: 199;
    background-color: #ff5c5c;border-radius: 5px;color: #fff;font-size: 12px;display: none;}
.select_guanshui_hid_test{display:block;}
.select_guanshui_hid i{width: 10px; height:10px;background-color:#ff5c5c;display: inline-block;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);position: absolute;left: 60%;top: -4px;}
.mayi_say{line-height: 0.8rem;font-size: 0.6rem;padding-left: 3.1rem;padding-bottom: 0.8rem;}
.select_style dt.select_style_shu{color: #535353;}
.select_style dd.stock{/*margin-top: 11px;*/margin-left: 0.5rem;float: left;}
.select_style dd.stock_kucun{float: right;font-size: 0.6rem;}
.select_style ul{clear:both;display:block;overflow: hidden;}
.select_style ul.ub-ac{padding-top: 10px;border-top: 1px dashed #b9b9b9;}
.select_style li{background-color:#FFFFFF;float:left;line-height:20px;margin:0 4px 6px 0;padding:1px;position:relative;vertical-align:middle;display: inline-block;}
.select_style li.ut-s{font-size: 0.7rem;margin: 0;}
.select_style li.shopli{margin: 0;padding: 0;}
.select_style li a{background-color:#FFFFFF;border-radius: 5px; border:1px solid #E2E1E3;color:#000000;display:block;min-width:10px;padding:5px 10px;text-align:center;text-decoration:none;white-space:nowrap;width:auto!important;cursor:pointer;color:#404040;}
.select_style li.shopli a{border:none;padding: 0;}
.select_style li i{display:none}
.select_style li .checked{border:2px solid #ff5c5c;margin:-1px;}
.select_style li .checked i{background:url(../../../image/wap/wap_haitao_icon21.png);background-size: contain; bottom:0;display:block;height:15px;overflow:hidden;position:absolute;right:0;margin:0px;width:15px;}
.select_style .stock a{color:#000;display:block;_display:inline;*zoom:1;float:left;width:26px;height:26px;border:1px solid #ccc;line-height:26px;padding:0;vertical-align:top;overflow:hidden;text-align:center;background-color:#ededed;overflow:hidden;}
.select_style #nums{width:48px;float:left;height:26px;line-height:26px;margin:0;padding:0;font-size:16px;text-align:center;color:#666;background-color:#fff;border:1px solid #ccc;outline:0;ime-mode:disabled;}
.select_style #low_num{border-right:0;font-size:14px;border-top-left-radius: 0.2rem;border-bottom-left-radius: 0.2rem;}
.select_style #add_num{border-left:0;font-size:16px;border-top-right-radius: 0.2rem;border-bottom-right-radius: 0.2rem;}
.select_style .stock em{float:left;line-height:28px;margin-left:8px;}
.commit-left{float: left;margin-right: 0.6rem;}
.c-wh-commit-gao{background-color: #fff;padding-bottom: 12px;padding-top: 15px;padding-right: 0.5rem;}
/*商品詳情*/
.nav-box {background-color: #fff;width: 100%;border-bottom: 1px solid #c4c4c4;margin-bottom: 15px;}
.nav-wrapper {background-color: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;text-align: center;margin: 0 auto;height: 50px;line-height: 50px;}
.nav-wrapper-test{position: fixed;top: 0;left: 0;z-index: 99999;}
.nav-wrapper li {font-size: .75rem;color: #000;-webkit-box-flex: 1;-ms-flex: 1;-webkit-flex: 1;flex: 1;height: 50px;line-height: 50px;font-weight: 550;}
.nav-wrapper li.active {color: #ff5c5c!important;border-bottom: solid 1px #ff5c5c!important;margin-bottom: -1px;}
.j_tab{display: none;padding: 0 0.5rem;}
.pdetail_show{display: block;}
.c-wh-commit-gao a{float: right;font-size: 0.7rem;border-bottom: 1px solid #535353;}
.commit-left .commit-left-text{float: left;padding-left: 50px;background:url(../../../image/wap/wap_haitao_icon14.png) no-repeat;background-size: contain;}
.commit-left .commit-left-text ul li{font-size: 0.6rem;color: #fff;}
.commit-left .commit-left-text ul li:first-child{margin-bottom: 0.25rem;}
.commit-left .commit-left-img img{width: 100%;}
.commit-rifht{float: right;width: 9.5rem;}
.shoplist{width:100%;margin-top: 10px;margin-bottom: 10px;}
.shopli a {width: 85%;height: auto;outline: 0; font-size: 12px;overflow: hidden;text-decoration: none;margin: 0 auto;display: block;}
.money{color: #bc0000;text-align: left;}
.shopli p{text-align: left;}
.shopli.even{float: right;}
.hidden_jianxi{background-color: #f5f5f5;}

.font12{font-size: 12px;}
.main{overflow: hidden;width: 100%;}
.itips{font-size: 10px;padding-left: 10px;font-family: "宋体"}

.shoping-fixed{position: fixed;bottom: 0px;width: 100%;height: 50px;line-height: 50px;background-color: #fff;color: #fff;text-align: center;z-index: 999;}
/*常见问题*/
.position_container{margin-bottom: 20px;}
.position_container h2{font-size: 0.7rem;padding-bottom: 0.8rem;padding-top: 0.7rem;}
.position_container h3{font-size: 0.65rem;padding-bottom: 0.5rem;line-height: 1.7!important;}
.position_container ul{padding-bottom: 0.5rem;}
.position_container ul li{font-size: 0.6rem;}
.position_container p{font-size: 0.6rem;line-height: 1.7!important;}
.position_container p.position_ptext{font-size: 0.7rem;}
/*新加的内容*/
.space_zhifu{height: auto;}
.space_zhifu_b{margin-bottom: 0.1rem;}
.space_zhifu_t{margin-right: 0.5rem;float: left;}
.space_zhifu img{max-width: 20px;max-height: 20px;float: left;margin-right: 5px;}
.space_zhifu dd{font-size: 0.6rem;color:#fff;float: left;}

.j_tab ul li span{
	display: block;border-bottom: 1px solid #f0f0f0;padding: 10px 0px;
}
.j_tab ul li span:nth-of-type(odd){
	float: left;
}
/*商品代销代码*/
.c_daixiao{font-size: 0.6rem;height: 2.2rem;
    line-height: 2.2rem;border-bottom:1px dashed #b9b9b9; }
.c_daixiao .c_daixiao_text{float: left;}
.c_daixiao .c_daixiao_text span{padding-left: 5px;}
.c_daixiao .c_daixiao_link{float: right;}
.c_daixiao .c_daixiao_link a{font-size: 0.65rem;color: #944ce5;border:1px solid #944ce5;padding:0.3rem 10px;border-radius: 5px;}
.c_daixiao .c_daixiao_links a{color: #ff6600;border:1px solid #ff6600;padding:0.3rem 0.5rem;border-radius: 5px;}
.c_daibao{border-bottom: 1px solid #b9b9b9;padding: 0 0.5rem 0.5rem;}
.c_daibao .c_daibao_title{width: 100%;font-size: 0.7rem;height: 2rem;line-height: 2rem;}
.c_daibao ul{padding-bottom: 0.5rem;border-bottom: 1px dashed #b9b9b9;}
.c_daibao ul li{width: 20%;display: inline-block;text-align: center;}
#pro_detail .c_daibao ul li img{width: 40px;height: 40px;}
#pro_detail .c_daibao ul li p{margin-top: 5px;font-size: 0.6rem;}
.incars{color: #000;width: 50%;float: left;text-align: center;font-size: 16px;}
.incars_l{background-color: #ff5c5c;color: #fff!important;}
.incars_c{background-color: #ff9c00;color: #fff;}
.hj_share_box {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999999;background: url(../../../image/wap/hj_share.png) 83% 0 no-repeat rgba(0,0,0,.8);background-size: 70%;opacity: 0;display: none;}
.collect_box_contentss {position: fixed;z-index: 9999;left: 50%;top: 35%;background-color: rgba(0,0,0,0.7);border-radius: 8px;color: #fff;font-size: 14px;}
.shoping-hide{display: none;}
.bgw_vi{padding:0 0.5rem;margin-bottom: 0.5rem}
.c_daixiao_img{padding: 2px;border-radius: 50%;background-color: #944ce5;color: #fff;display: inline-block;width: 0.8rem;height: 0.8rem;text-align: center;line-height: 0.8rem;}
.c_daixiao_imgs{background-color: #ff6600;}
.col-money-bot{font-size: 0.7rem;margin: 0.5rem 0;}
.col-money-bots{font-size: 0.7rem;}
/*商品推荐*/
.select_style .shop_t .shopli{float:left;width:31%!important;text-align:center;height: auto;overflow: hidden;background: #fff;margin-bottom: 8px;padding-top: 6px;margin-right:3.5%;margin-top: 0!important}
.select_style .shop_t .shopli:nth-of-type(3n){margin-right: 0;}
.shopli_bottom_rob{padding-left:5px;padding-right: 5px;}
.shopli_bottom_message{padding-left:5px;padding-right: 5px;}
.shopli_bottom_message p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.shopli_top_img{border:1px solid #e1e1e1;}
#pro_detail .pname_img{font-size: 0.7rem;/*margin-right: 0.5rem;*/color: #ff5c5c;position: static!important;}
#pro_detail .pname_img img{width: 1rem;vertical-align: 0px;height: auto!important;}
.shopli_kong{text-align: center;font-size: 0.7rem;}

.addcart .cart{float: left; background: url(../../../image/wap/cart-gwc.png) no-repeat;position: relative;width: 32px;height:30px;background-size: cover;margin-top: 10px;margin-left: 20px;}
.cart .cart-num-cont {position: absolute;top: -2px;right: -12px;color: #fff;background: #ff5c5c;border-radius: 50%;
    text-align: center;width:18px;height:18px;line-height: 18px;overflow: hidden;}
.cart .cart-num-conts {position: absolute;top: -2px;right: -12px;color: #fff;background: #ff5c5c;border-radius: 50%;
    text-align: center;width: 18px;height: 18px;line-height: 18px;overflow: hidden;z-index: 12}   

.nav-c {text-align: center;-webkit-box-flex: 1;-ms-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;/*margin-left: -60px;*/}
.notice_container h3{text-align: center;border-bottom: 1px solid #ff5c5c;font-size: 0.8rem;color: #ff5c5c;padding-bottom: 5px;margin-bottom: 15px;}
.notice_container{font-size: 0.7rem;padding:20px 10px;color: #000;font-family: SimHei;}
.notice_container p{text-indent: 2em;line-height: 1.5;}
.notice_container .notice_container_test{margin: 15px 0px;}
.notice_container img{width: 100%;}
.nav-c span {display: block;height: 50px;line-height: 50px;padding: 0 10px;font-size: 18px;/* font-weight: bold; */color: #fff;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.shop_over {width: 2.5rem!important;height: 2.5rem!important;font-size: 0.6rem!important;position: absolute;top: 19%!important;left: 50%;margin-left: -1.25rem!important;line-height: 2.5rem!important;text-align: center;color: #fff;background-color: rgba(0,0,0,0.5);border-radius: 50%;}
.cart-adds{color: #ff5c5c;transform:translate(19px,-19px);-webkit-transform:translate(19px,-19px);/*display:none;*/opacity: 0;}
.cart-adds-test{opacity: 1;}