.dis_container{padding: 0px 0.5rem;}
.dis_container h3{font-size: 0.7rem;padding: 5px 0px 5px 10px;border-left: 6px solid #ffa200;float: left;width: 100%;margin-top: 15px;}
.dis_num{width: 100%;height:auto;}
.dis_dl{width: 100%;height:auto;}
.dis_dl dl{padding: 0.2rem 0; width: 33.33%;background: #fff;float: left;border: 1px solid #b9b9b9;border-right:none;box-sizing:border-box;-webkit-box-sizing:border-box;}
.dis_dl dl.dis_dl3{border-right: 1px solid #b9b9b9;}
.dis_dl dl dt{width: 100%;height:30px;float: left;text-align: center;line-height: 30px;font-size: 1.1rem;color: #999;}
.dis_dl dl dd{width: 100%;height: 30px;float: left;text-align: center;line-height: 30px;font-size: 0.6rem;}
#pay_dist{color: #ff5c5c;}
.dis_dl dl.dis_dl_bottom{border:none;padding: 0;width: 25%;}
.dis_dl dl.dis_dl_bottom:nth-of-type(1){border-left: 1px solid #b9b9b9;}
.dis_dl dl.dis_dl_bottom:nth-of-type(4){border-right: 1px solid #b9b9b9;}
.dis_dl dl.dis_dl_bottom dt{font-size: 0.6rem;border-bottom: 1px dashed #b9b9b9;border-top: 1px solid #b9b9b9;height: 1.8rem;line-height: 1.8rem;}
.dis_dl dl.dis_dl_bottom dd{font-size: 0.6rem;height: 1.8rem;line-height: 1.8rem;}
.dis_dl dl.dis_dl_bottom dd:nth-of-type(2){border-bottom: 1px solid #b9b9b9;}
.dis_dl dl.dis_dl_bottom dd.dis_dl_bottom_dd1{border-bottom: 1px dashed #b9b9b9;}
.dis_dl_tr{margin-bottom: 20px;}
.dis_dl_4 dl{width: 24.5%;background: #fff;margin-bottom: 10px;float: left;}
.dis_dl_4 dl dt{width: 100%;height:30px;float: left;text-align: center;line-height: 30px;}
.dis_dl_4 dl dd{width: 100%;height: 30px;float: left;text-align: center;line-height: 30px}
