@charset "utf-8";
/*类目浏览样式*/
.cat-banner-out {margin: 10px auto 10px;padding: 0px 0.5rem;box-sizing: border-box;-webkit-box-sizing: border-box;background-color: #fff;}
.cat-banner-out ul.cat-banner{border-top: 2px solid #7753ff;background-color: #fff;}
.cat-banner-out ul.cat-banner li{width:25%;float: left;box-sizing:border-box;height: 40px;line-height: 40px;text-align: center;}
.cat-banner-out ul.cat-banner li.current{background-color: #7753ff;}
.cat-banner-out ul.cat-banner li.current a{color: #fff;}
.cat-banner-out ul.cat-banner li a {display:block;height: 40px;line-height: 40px;font-size: 0.6rem;}
.cat-container {margin: 0.5rem;background-color: #fff;}
.cat-container .cat-container-list{margin-bottom: 20px;}
.cat-container .cat-container-list h2{font-weight: bold;font-size: 0.7rem;text-indent: 1em;text-align: left;border-left: 4px solid #ff5c5c;color: #535353;}
.cat-container .cat-container-list ul li{width:24%;margin-top: 20px;text-align: center;margin-right: 1.25%;vertical-align: top;float: left;}
.cat-container .cat-container-list ul li:nth-of-type(4n){margin-right: 0px;}
.cat-container .cat-container-list ul li img{width: 50px;height: 50px;}
.cat-container .cat-container-list ul li p{margin-top: 10px;color: #999;font-size: 0.6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*帮助中心样式*/
.help_container {padding: 0.5rem 0.5rem 1rem;}
.help_container .help_list>li>a{display: inline-block;width: 100%;padding: 0.5rem 0; font-size: 0.6rem;color: #535353;border-bottom: 1px dotted #666; }
.help_container .help_list>li>a>i{float: right;width: 10px;height: 10px;border-left:1px solid #999;border-bottom:1px solid #999;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-right: 5px;margin-top: 5px; }
.help_container .help_list>li>a>i.current{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);margin-top: 0px;}
.help_container .help_list ul>li>a{display: inline-block;width: 100%;padding: 0.5rem 0; font-size: 0.6rem;color: #535353;border-bottom: 1px dotted #666;text-indent: 2em; }
.help_container .help_list ul{display: none;}
.help_container .help_list ul.hide{display:block;}
.help_container .help_container .con{margin-top: 0;padding: 0;line-height: 1.9;font-size: 0.6rem;}