@charset "utf-8";
.clear{ clear:both; height:0px; line-height:0px; margin:0px; padding:0px;}
.itemSearchList{padding:0 0.5rem;}
.itemSearchList dl{background:#FFF;border-radius:4px;border:1px solid #E0E1E1;margin-top:4px;padding:3px;position:relative;overflow: hidden;}
.itemSearchList dt{width:80px;height:80px;float:left;}
.itemSearchList dd{margin-left:90px;line-height:18px;font-size:14px;}
.itemSearchList dd .p-name{max-height:36px;margin-bottom:3px;}


.itemSearchList dd .p-name span.price{ display:block; width:60%; float:left;}
.itemSearchList dd .p-name span.complateMoney{ display:block; width:40%; float:left;}
/*更改的地方*/
.itemSearchList dd .p-name b span{float: right;padding-right:20px;}
.itemSearchList dd .p-name b span a{color: #DD0101;}


.itemSearchList dd .p-price {font-size:12px;}
.itemSearchList dd .p-detail{font-size:12px;color:#ABABAB;margin-top:3px;}
.itemsNull{margin:20px 0 15px;}
.filter{margin:10px auto 10px;padding: 0px 0.5rem;box-sizing: border-box;-webkit-box-sizing: border-box;}
.filter-fixed{position:fixed;top:50px;width:100%;z-index:9999;background-color:#fff;margin-top: 0px;}
.filter ul{display:-webkit-box;background-color: #fff;border-top: 2px solid #7753ff;}
.filter li{width:100%;display:block;text-align:center;height:40px;line-height:40px;-webkit-box-flex:1;}
.filter li a{display:inline-block;width:100%;border-right:none;font-size: 0.6rem;}
.filter li.current a{background:#7753ff;color:#FFF;}
.handle a{background:url(../../../image/wap/del.png) center no-repeat;position:absolute;right:10px;bottom:0;display:block;height:40px;min-height:40px;overflow:hidden;padding:0;text-indent:-9876px;top:auto;width:40px;z-index:100;}
.color{color:#999;font-size:12px;}
.p-shangpin{color: #999;font-size: 12px;}
.leftcate{position:absolute;right:0;top:0;width:100%;z-index:999;background:#FFF;}
.leftcate h2{background:#F5F5F5;border-bottom:1px solid #BCBFC6;color:#AAAAAA;font-size:12px;height:32px;line-height:32px;padding:10px 16px;font-size:14px;}
.leftcate h2 a{border:1px solid #f50;border-radius:5px 5px 5px 5px;width:60px;height:32px;float:right;background:#f50;color:#FFF;text-align:center;font-weight:normal;font-size:12px;}
.leftcate ul li{display:block;line-height:39px;position:relative;}
.leftcate ul li a{display:block;border-bottom:1px solid #D0D0D0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-indent:16px;width:100%;height:39px;}
.leftcate ul li a.current{background:#F5F5F5;border-left:3px solid #EB5211;color:#EB5211;}
#leftmask{position:absolute;width:100%;height:100%;background:#EEE;z-index:199;top:0;}
.pname_img{position: absolute;top: 0;left: 1.2rem;}
.pname_img img{width: 1.5rem;}
.col_ttt{padding: 0.1rem 0.5rem;}
.am-dialog-mask{position: fixed;top: 0;left: 0;z-index: 2000;width: 100%;height: 100%;background-color: rgba(0,0,0,.7);display: none;}
.am-dialog-mask-test {display: block;}
.price-btns-context-tops{background-color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px;}
.price-btns-context-top .context-top-list{width: 80px;height: 80px;border: none;padding:5px 0;text-align: center;
    box-sizing: border-box;-webkit-box-sizing: border-box;background-color: #fff;border-radius: 50%;margin-bottom: 10px;}
/*.price-btns-context-top .context-top-listb{border: 1px solid #ff5c5c;}*/
.price-btns-context-top .context-top-list img{width: 40px;height: 40px;}
.price-btns-context-top .context-top-list p{color: #999;font-size: 12px;}
.price-btns-context-bot a{display: inline-block;width: 100%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.price-btns-context-top>p{padding: 30px 0;letter-spacing: 1px;}
.detate-btns-context-bot a{display: inline-block;width:50%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;}
.detate-btns-context-bot a:first-of-type{border-bottom-left-radius: 5px;border-right: 1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box;}
.detate-btns-context-bot a:last-of-type{border-bottom-right-radius: 5px;}
.price-btns-contexts{text-align: center; display: none; transform:scale(1);-webkit-transform:scale(1);padding: 0 50px;box-sizing: border-box;position: fixed;top: 35%;z-index: 2001;width: 100%;left: 0;color: #535353;}
.price-btns-context-tops p{font-size: 16px}
.price-btns-contexts_test{animation: myfirst .1s linear ;-webkit-animation: myfirst .1s linear ;display: block;}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}