@charset "utf-8";
/* CSS Document */
.m{margin:0 auto 10px;overflow:hidden;padding:18px 5px 0 0;text-align:center;}
.m a{width: 30%;float: left;height: 84px;margin-bottom: 10px;margin-left: 3%;position: relative;display: inline-block;font-size: 12px;}
.m dt{width:90%;height:39px;border:1px solid #b9b9b9;border-radius:5px 5px 5px 5px; background-color: #F2F2F2;color: #DC181F;  padding-top: 20px;font-size: 30px;}
.m dd{background:#EEE;padding-top:2px;width:90%;height:20px;line-height:20px;}
.info{border-top: 1px solid #b9b9b9;overflow:hidden;margin:0;padding: 15px 0px;background-color: #fff;}
.info ul{display:-webkit-box;}
.info ul li{-webkit-box-flex:1;text-align:center;font-size:0.6rem;}
.info ul li a{display:block;color:#666666;border-right: 1px solid #b9b9b9;}
.info ul li:last-of-type a{border-right: none;}
.info ul li strong{display:block;color:#535353 !important;font-size:0.7rem;font-weight:normal;margin-bottom: 5px;}
.info ul li a.color strong{color:#ff5c5c !important;}
.duser{background:url(../../../image/wap/wap_haitao_usebg.jpg) no-repeat;background-size: cover;overflow:hidden;padding: 1.5rem 0.5rem;text-align: center;}
.duser-user dt{margin:0 auto;position:relative;text-align:center;background:#FFF;border-radius:50%;display: inline-block;}
.duser-user dd{color:#fff;font-size:0.6rem;padding-top:10px;text-align: center;padding-bottom: 6px;}
.duser-user dt img{border-radius: 50%;}
.duser-auth{display: inline-block;padding: 8px;background-color: rgba(255,255,255,.5);border-radius: 15px;}
.duser-auth li{display: inline-block;}
.duser-auth li.duser-auth-line{width: 1px;height: 18px;background-color:#b9b9b9;margin: 0px 10px 0px 8px;vertical-align: bottom;}
.duser-auth li a{color: #f00;display: inline-block;font-size: 12px;letter-spacing: 2px;padding-left: 1.25rem;}
.duser-auth li a.duser-auth-mob{background: url(../../../image/wap/wap_haitao_icon38.png) center left no-repeat;background-size: 29%;padding-left: 0.8rem;}
.duser-auth li a.duser-auth-mob-j{color: #272636;background: url(../../../image/wap/wap_haitao_icon37.png) center left no-repeat;background-size: 29%;}
.duser-auth li a.duser-auth-ema{background: url(../../../image/wap/wap_haitao_icon40.png) center left no-repeat;background-size: 48%;}
.duser-auth li a.duser-auth-ema-j{color: #272636;background: url(../../../image/wap/wap_haitao_icon39.png) center left no-repeat;background-size: 48%;}
.m_fore{padding: 0px 0.5rem 0rem;background-color: #fff;}
.m_fore ul li{height: 2.5rem;line-height: 2.5rem;}
.m_fore ul li.mforder{border-bottom: 1px dashed #b9b9b9;}
.m_fore ul li a span{padding-left: 30px;}
.m_fore ul li a{float: left;font-size: 0.7rem;width: 100%;height: 2.5rem;}
.m_fore ul li a:after{content: "";float: right;background: url(../../../image/wap/wap_haitao_icon18.png) center right no-repeat;background-size: 58%;width: 0.9rem;height: 2.5rem;margin-right: 0.3rem;}
.m_fore ul li a span.fore_a{background: url(../../../image/wap/wap_haitao_icon28.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_b{background: url(../../../image/wap/wap_haitao_icon113.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_d{background: url(../../../image/wap/wap_haitao_icon60.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_c{background: url(../../../image/wap/wap_haitao_icon26.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_e{background: url(../../../image/wap/wap_haitao_icon112.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_f{background: url(../../../image/wap/wap_haitao_icon114.png) left no-repeat;background-size: contain;}
.m_fore ul li a span.fore_g{background: url(../../../image/wap/wap_haitao_icon115.png) left no-repeat;background-size: contain;}
.m_tuichu{text-align: center;padding: 0.75rem 0px;border-bottom: 1px solid #b9b9b9;border-top: 1px solid #b9b9b9;}
.m_tuichu a{font-size: 0.7rem;color: #ff5c5c;width: 100%;}
.m_btn{background-color: #fff;}
.info_top{padding: 0.5rem;font-size: 0.6rem;}
.info_top a{float: right;padding-right: 15px;background: url(../../../image/wap/wap_haitao_icon18.png) right no-repeat;background-size: 0.4rem;}
/*** bruce 2015-01-17 ****/
.v_ul li{clear: both;width: 100%;overflow: hidden;color: #fff;margin-bottom: 3px;}
.v_l{float: left;width: 75%;}
.v_r{float: left;width: 25%;background: #fff;color: #747474;text-align: center;font-size: 12px;line-height: 23px;}
.v_r a{font-size: 14px;color: #747474;}
.v_l p{padding-left: 10%;}
.v_l .price{font-size: 40px}
.line-name{line-height: 28px;}
.line-money{line-height: 35px;}
.for_0{background: #EC1212}
.for_1{background: #8FCE0A}
.for_2{background: #0ACE12}
.for_3{background: #72ABF3}

.v_card{width: 100%;overflow: hidden;font-size: 12px;color: #4E3B3B;margin-bottom: 12px;}
.v_card li {width: 95%;height: auto;margin: 5px auto 0;border-radius: 5px;background: #fff;overflow: hidden;padding: 6px 0;}
.v_card li img {margin-left: 2%;width: 100%;}
.m-logo{width: 25%;margin-right: 5px}
.m-logo,.m-sname{float: left;}
.m-cname{float: right;margin-right: 8%;padding-top: 8px;}
.dprice{font-size: 14px;color:#FF1023;}
.fsname{font-size: 14px;}
.nav-e .cart {
    float: right;
    background: url(../../../image/wap/wap_haitao_icon61.png) no-repeat;
    position: relative;
    width: 24px;
    height: 22.5px;
    background-size: cover;
    margin-top: 14px;
    margin-right: 0.5rem;
}
.cart .cart-num-cont {
    position: absolute;
    top: -2px;
    right: -12px;
    color: #ff5c5c;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    font-size: 12px;
}
i.home_icon {
    background: url(../../../image/wap/wap_haitao_icon116.png) right no-repeat;
    background-size: 50%;
}
i.home_icons {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../../../image/wap/wap_haitao_icon9.png) right no-repeat;
    background-size: 50%;
}
.m_fore ul li a span.mforders {
    padding-left: 0px;
}
.mforder_f{position: absolute;right: 40px;font-size: 0.7rem;color: #ff5c5c;}
.mforder_fs{position: absolute;right: 40px;font-size: 0.7rem;color: #999;}
.duser_left{display: inline-block;margin-right: 15px;vertical-align: top;}
.duser_right{display: inline-block;}
.duser_left .shoplogo{width: 70px;height: 70px;border-radius: 50%;}
.duser_name{font-size: 14px;color: #fff;margin-bottom: 10px;margin-top: 5px;text-align: left;}