@charset "utf-8";
/* CSS Document */
.m{margin:0 auto 10px;overflow:hidden;padding:18px 5px 0 0;text-align:center;}
.m a{width: 30%;float: left;height: 84px;margin-bottom: 10px;margin-left: 3%;position: relative;display: inline-block;font-size: 12px;}
.m dt{width:90%;height:39px;border:1px solid #b9b9b9;border-radius:5px 5px 5px 5px; background-color: #F2F2F2;color: #DC181F;  padding-top: 20px;font-size: 30px;}
.m dd{background:#EEE;padding-top:2px;width:90%;height:20px;line-height:20px;}
.info{border-bottom: 1px solid #b9b9b9;overflow:hidden;margin:0;padding: 15px 0px;}
.info ul{display:-webkit-box;}
.info ul li{-webkit-box-flex:1;text-align:center;font-size:12px;}
.info ul li a{display:block;color:#666666;border-right: 1px solid #b9b9b9;}
.info ul li:last-of-type a{border-right: none;}
.info ul li strong{display:block;color:#444 !important;font-size:16px;font-weight:bold;}
.info ul li a.color strong{color:#666 !important;}
.duser{background-color: #f97677;overflow:hidden;text-align: center;padding: 0.8rem 0;}
.duser-user dt{padding:4px;margin:0 auto;position:relative;text-align:center;background:#FFF;border-radius:50%;display: inline-block;}
.duser-user dd{color:#fff;font-size:14px;padding-top:10px;text-align: center;padding-bottom: 6px;}
.duser-user dt img{border-radius: 50%;}
.duser-auth{display: inline-block;padding: 8px 20px;background-color: #fff;border-radius: 15px;}
.duser-auth li{display: inline-block;}
.duser-auth li.duser-auth-line{width: 1px;height: 18px;background-color:#b9b9b9;margin: 0px 10px 0px 8px;vertical-align: bottom;}
.duser-auth li a{color: #ff5c5c;display: inline-block;font-size: 14px;letter-spacing: 2px;padding-left: 35px;}
.duser-auth li a.duser-auth-mob{background: url(../../../image/wap/wap_haitao_icon25.png) left no-repeat;background-size: contain;}
.duser-auth li a.duser-auth-ema{background: url(../../../image/wap/wap_haitao_icon25.png) left no-repeat;background-size: contain;}

/*** bruce 2015-01-17 ****/
.v_ul li{clear: both;width: 100%;overflow: hidden;color: #fff;margin-bottom: 3px;}
.v_l{float: left;width: 75%;}
.v_r{float: left;width: 25%;background: #fff;color: #747474;text-align: center;font-size: 12px;line-height: 23px;}
.v_r a{font-size: 14px;color: #747474;}
.v_l p{padding-left: 10%;}
.v_l .price{font-size: 40px}
.line-name{line-height: 28px;}
.line-money{line-height: 35px;}
.for_0{background: #EC1212}
.for_1{background: #8FCE0A}
.for_2{background: #0ACE12}
.for_3{background: #72ABF3}

.v_card{width: 100%;overflow: hidden;font-size: 12px;color: #4E3B3B;margin-bottom: 12px;}
.v_card li {width: 95%;height: auto;margin: 5px auto 0;border-radius: 5px;background: #fff;overflow: hidden;padding: 6px 0;}
.v_card li img {margin-left: 2%;width: 100%;}
.m-logo{width: 25%;margin-right: 5px}
.m-logo,.m-sname{float: left;}
.m-cname{float: right;margin-right: 8%;padding-top: 8px;}
.dprice{font-size: 14px;color:#FF1023;}
.fsname{font-size: 14px;}