 @charset "utf-8";
/* CSS Document */
input,textarea{outline:0}
html{overflow-y:scroll;color:#535353;background:#f5f5f5;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;-o-text-size-adjust:100%;}
html,body{font-family:microsoft yahei;overflow-x:hidden;}
.fn-hide{display:none;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-text-size-adjust:none;-moz-tap-highlight-color:rgba(0,0,0,0);
	-ms-text-size-adjust:none;-ms-tap-highlight-color:rgba(0,0,0,0);-o-text-size-adjust:none;-o-tap-highlight-color:rgba(0,0,0,0);}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:center;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
a:hover{text-decoration:none;}
ins,a{text-decoration:none;}
.grid{box-sizing:content-box;padding-left:.3rem;padding-right:.3rem;margin-left:-.2rem;}
.grid [class^=col-]{margin-left:.2rem;float:left;}
.grid .col-1{width:1.1rem;}
.grid .col-2{width:2.4rem;}
.grid .col-3{width:3.7rem;}
.grid .col-4{width:5rem;}
.grid .col-5{width:6.3rem;}
.grid .col-6{width:7.6rem;}
.grid .col-7{width:8.9rem;}
.grid .col-8{width:10.2rem;}
.grid .col-9{width:11.5rem;}
.grid .col-10{width:12.8rem;}
.grid .col-11{width:14.1rem;}
.grid .col-12{width:15.4rem;}
.grid-thin{box-sizing:content-box;padding-left:.4rem;padding-right:.4rem;margin-left:-.4rem;}
.clearfix:before,.clearfix:after,.grid:before,.grid:after,.grid-thin:before,.grid-thin:after,.grid-fat:before,.grid-fat:after{
	content:" ";display:table;}
.clearfix:after,.grid:after,.grid-thin:after,.grid-fat:after{clear:both;}
.icontao_n{background:url(../../../image/wap/mm.png) no-repeat;	-webkit-background-size:40px 40px;}
#J_Shade{-ms-transform:translateZ(19px);-webkit-transform:translateZ(19px);}
[data-dpr=\"1\"] #J_Taojia{bottom:68px;}
[data-dpr=\"2\"] #J_Taojia{bottom:136px;}
[data-dpr=\"3\"] #J_Taojia{bottom:204px;}
#J_search,#J_Taojia{-ms-transform:translateZ(29px);-webkit-transform:translateZ(29px);}
.showoff .cc-search-hide,.showoff .c-form-suggest .suggest{display:none!important;}
.cc-search-tab{display:0;font-size:16px;background:0;border-bottom:solid 1px #ccc;padding:16px 0 0 10px;}
.cc-search-tab li{height:33px;width:68px;line-height:33px;text-align:center;border:solid 1px #D8D8D8;margin-right:2px;border-radius:2px;
	color:#999;background-color:#EAEAEA;border-width:1px 1px 0;}
.cc-search-tab li.cur{background-color:#eee;color:#ff4000;height:35px;margin-bottom:-2px;z-index:10;}
.s_left{width:40px;height: 40px;overflow: hidden;background:url(../../../image/wap/mm.png) no-repeat;background-size:contain;
	display:inline-block;margin-top:3px;float: left;}
.main95{margin:0 auto;overflow:hidden;width: 80%;	}
.s_main{width:93%;overflow:hidden;display:inline-block;vertical-align: top;position: relative;}
.s_images{width:0.7rem;height: 0.7rem;overflow: hidden;background:url(../../../image/wap/wap_haitao_icon56.png) no-repeat;
	background-size:contain;display:inline-block;position: absolute;right: 10px;top: 17px;}
.s_main input:-moz-placeholder{color:#555;}
.s_main input::-moz-placeholder{color:#555;}
.s_main input:-ms-input-placeholder{color:#555;}
.s_main input::-webkit-input-placeholder{color:#555;}
.s_main input {color:#555!important;height: 36px;line-height: 36px;width:100%;border:0;background:#fff;font-size: 0.6rem;
	margin: 0 auto;margin-top:-3px;border-radius:5px;text-indent: 0.5rem;outline:0;}
.s-page{display:none;}
/*.s-page{overflow: hidden;z-index: 1000;background-color: #f1f1f1;
	-webkit-transform: translateX(980px);
    -moz-transform: translateX(980px);
    -o-transform: translateX(980px);
	transform: translateX(980px);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;}
.s-page.open {
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
}*/
.cc-search-show{display:block!important}
.cc-search-tab li{float:left}
.cc-search-tab{clear:both;height: 34px;}
.c-form-search .inp-search{width:100%;padding-right:78px;height:34px;-webkit-box-sizing:border-box;border:solid 1px #DDD;border-top-color:#BBB;
	padding-left:9px;color:#333;font-size:16px;-webkit-border-radius:0;-webkit-appearance:none;background:#fff;}
#J_indexform{padding-top:15px;width:95%;margin: auto;}
.cc-back{background:url(../../../image/wap/close.png) no-repeat;width:46px;height:32px;overflow:hidden;text-indent:-100em;position:absolute;
	right:5px;background-size:contain;}
.bton-search {position: relative;float: right;top: -34px;border: 0;width: 40px;height: 34px;background: url(../../../image/wap/find.png) no-repeat;
	background-size: 40px 34px;overflow: hidden;display: inline-block;}
.m_main-v2{background-color: #fff; margin: 1rem 0 1rem;}
.m{width: 100%;max-width:720px;margin: 0 auto;overflow: hidden;box-sizing: border-box;}
.m2{padding: 0 0.5rem;}
.owl-theme .owl-controls{margin-top: 0!important;}
.owl-pagination{position: absolute;bottom: 5px;left: 45%;}
.owl-buttons{display:none;}
.owl-controls span{background:#FFF!important}
.owl-controls .active span{background:#EB791F!important}
.index_view_more{float: right;height: 1.25rem; line-height: 1.25rem;font-size: 0.6rem;color: #999!important;margin-right: 0.5rem;}
/*首页样式新*/
.main_container .main_crousel{width:100%;height: 6.65rem;}
.main_container .main_crousel_inner{overflow: hidden;position: relative;width: 100%;height: 6.65rem;}
.t_slide {position: relative;max-width: 720px;height: 16rem!important;overflow: hidden;text-align: center;line-height: 0;margin: 0px auto;}
.t_slide .slides {position: absolute;width: 100%;top: 0;left: 0;height: 100%;}
.t_slide .slides li {position: absolute;width: 100%;top: 0;left: 0;line-height: 0;z-index: 400;}
.t_slide .slides li img {width:100%;height: auto;width: auto\9;}
.dot {bottom: .2rem;text-align: center;z-index: 400;position: absolute;width: 100%;}
.dot span {display: inline-block;width: 8px;height: 8px;margin: 0 2px;background-color: #ccc; border-radius: 100%;}
.dot .cur {background-color: #ff5c5c;}
.main_container .main_nav{padding: 0.5rem 0;background-color: #fff;}
.main_container .main_nav ul{padding-bottom: 0rem;}
.main_container .main_nav ul li{width: 20%;display: inline-block;text-align: center;}
.main_container .main_nav ul li img{width: 40px;height: 40px;}
.main_container .main_nav p{margin-top: 5px;}
/*** 附近的店铺 ****/
.righdhd ul.mides{list-style:none;margin-left:8px; margin-right:10px;display:block; float:left;}
.righdhd ul li{display:block;height:22px;overflow:hidden;}
.pifesa {display: block;float: left;}
.bgfdb {background: url(../../../image/wap/bg8.png)  no-repeat;}
.lianjiea {float: right;display: block;width: 20px;height: 20px;}
.shoptbot {color: rgb(176,176,176);font-size: 12px;}
.liapo {float: right;display: block;height: 20px;overflow: hidden;}
.zhoushop {background: #fff;overflow: hidden;padding: 3px 6px 3px 2px;border-bottom: 1px dotted #666;}
/*** 更多精彩 ****/
.shop{position: relative;border-bottom:none;}
.shop .mor{float:right;font-size:12px;color:#535353;}
.shop .shoplist{width:100%;border-top: 1px solid #b9b9b9;}
.shop .shopli{position: relative;width:50%;text-align:center;height: auto;overflow: hidden;background: #fff;border:1px solid #b9b9b9;box-sizing:border-box;-webkit-box-sizing:border-box;float: left;
    border-top: none;}
.shop .shopli:nth-of-type(even){border-left:none;}
.shop .shopli:last-of-type(){border-bottom:1px solid #b9b9b9;}
.shop .shopli .shopli_bottom{padding: 0.5rem;}
.shopli_bottom_message{width:100%;font-size: 0.6rem;}
.shopli_top_img{margin-bottom: 1px;margin: 1rem 0.5rem 0;border-bottom: 1px dotted #666;padding-bottom: 0.2rem;}
.shopli_top_imgs{margin-bottom: 1px;margin: 0;border-bottom:1px solid #e1e1e1;}
.select_style li a.shopli_top_as{border-radius: 0px!important;}
.shop .shopli .shopli_bottom_rob{position: relative;}
.shopli_bottom_text{margin-bottom: 0.25rem;}
.shop .shopli .shopli_bottom_rob a.shopli_bottom_zhuanxiang{float: right;width: 3.5rem;padding: 0.2rem 0; text-align: center;background-color: #ff5c5c;color: #fff;margin-top: -33px;font-size: 0.6rem;margin-right: -0.5rem;}
.shop .shopli .shopli_bottom_rob .shopli_bottom_sales{position: absolute;right: 0px;bottom:0px;font-size: 0.5rem;color: #535353;}
.shop .shopli .shopli_bottom_rob .shopli_bottom_sales span{margin-left: 5px;}
.shop .shopli .shopli_bottom_rob .shopli_bottom_money p:first-of-type{margin-bottom: 3px;font-size: 0.7rem;}
.shopli_bottom_message p{width: 100%;overflow: hidden;height: 0.725rem;line-height: 0.725rem;margin-top: 8px;text-overflow: ellipsis;
	white-space: nowrap;}
.shop .shopli a {width: 100%;height: auto;outline: 0; font-size: 0.6rem;overflow: hidden;text-decoration: none;margin: 0 auto;display: block;}
.money{color: #ff5c5c;text-align: left;}
.money_d{color: #535353;font-size: 0.6rem;}
.shop .shopli p{text-align: left;}
.shopli_bottom_money{font-size: 0.5rem;}
.money_del{text-decoration: line-through;color: #999;}
/*.shop .shopli.even{margin-left: 2.5%;}*/
.nearShop {background: #fff;height: auto;text-align: center;}
.nearShop li{text-align: left;}
/*.guanggao_kong{margin-bottom: 6.75rem!important;}*/
.g_wei{width: 100%;position: absolute;left: 0px;margin-top: 0.5rem;}
.g_wei img{width: 100%;}
.m_jiazai{text-align: center;padding: 0px;width: 100%;display: inline-block;height: 40px;line-height:39px;border-radius: 0.25rem;font-size: 0.6rem;color: #535353;margin-bottom: 1px;}
.m_jiazai i{display: inline-block;width: 0.9rem;height: 0.55rem; background: url(../../../image/wap/wap_haitao_icon11.png) no-repeat 0 0;background-size:cover;margin-right: 0.5rem;vertical-align: middle;}
/*** 附近的店铺 ****/
.locate_self{width: 100%;height: auto;overflow: hidden;margin: 10px 0;}
.locate_area{width: 95%;margin: 0 auto;background: #fff;border-radius: 8px;padding: 2px 1%;}
.flag_l {border: 2px solid #1A8527;border-radius: 12;width: 15px;height: 15px;display: inline-block;line-height: 15px;background: #fff;float: left;}
.flag_l s{width: 11px;border: 2px solid #fff;border-radius: 8;height: 11px;margin: 0 auto;display: inline-block;background: #1A8527;}
#wlocate{float: left;}
.reload{float: right;margin-right: 6px;}
.shop_over{width: 3rem;height: 3rem;font-size: 0.7rem; position: absolute;top: 22%;left: 50%;margin-left: -1.5rem; line-height: 3rem;text-align: center;color: #fff;background-color: rgba(0,0,0,0.5);border-radius: 50%;}
.m_main-v9{padding-bottom: 50px;}
@media screen and (min-width: 600px) and (max-width: 800px) { 
    .shop_over{top: 25%;}
}
@media screen and  (height: 960px) {
  	.shop_over{top: 25%;}
}
