@charset "utf-8";
ul{padding:20px 0 15px;}
ul li{border:1px solid #b9b9b9;margin-bottom:10px;position:relative;}
ul li p:first-child{border-bottom:1px solid #ff5c5c;padding:0.5rem;}
ul li p:first-child span{color:#535353;font-size:0.65rem;}
ul li p:first-child span:nth-child(2){color:#ff5c5c;padding-left:10px;}
ul li p:first-child span:last-child{float:right;}
ul li p:last-child{padding:0 0.5rem;clear:both;display:block;overflow:hidden;word-break:break-all;word-wrap:break-word;height:1.8rem;line-height:1.8rem;}
ul li p:last-child span{color:#535353;font-size:0.65rem;}
ul li .del{background:url(../../../image/wap/wap_haitao_icon159.png) center no-repeat #EEE;background-size: 0.9rem;position:absolute;right:0;bottom:0;display:block;height:1.8rem;overflow:hidden;padding:0;text-indent:-9876px;top:auto;width:45px;z-index:100;}
.add{padding:0 0 20px;}
.add a{height:1.8rem;font-size:0.6rem;line-height:1.8rem;border-radius:5px 5px 5px 5px;width:100%;display:block;background:#ff5c5c;color:#FFFFFF!important;border:1px solid #ff5c5c;text-align:center;}
dl dt{color:#535353;display:block;font-size:0.7rem;padding:10px 0;}
dl dd{border:1px solid #CCCCCC;display:block;background:#FFFFFF;font-size:0.6rem;line-height:1.5rem;position:relative;}
input[type="text"]{background:#FFFFFF;border:0 none;border-radius:0 0 0 0;color:#999;font-weight:normal;height:1.5rem;line-height:1.5rem;vertical-align:top;width:100%;text-indent:10px;}
#d_1{text-indent:10px;color: #999;}
#d_1 a{color: #ff5353;}
#d_2{padding:0 10px 10px;}
.orderadder{padding:0 0.5rem;}
select{width:100%;margin-top:10px;height:30px;line-height:30px;color: #ff5353;}
input[type="submit"]{height:40px;font-size:0.6rem;line-height:40px;border-radius:5px 5px 5px 5px;width:100%;display:block;background:#ff5c5c;color:#FFFFFF!important;border:1px solid #ff5c5c;text-align:center;margin:15px auto;}
.form-error{color:#F00;padding:0 10px;}
.taoplus{display: none!important}
.price-btns-context-tops{background-color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;padding:25px 15px;}
.price-btns-context-top .context-top-list{width: 80px;height: 80px;border: none;padding:5px 0;text-align: center;
    box-sizing: border-box;-webkit-box-sizing: border-box;background-color: #fff;border-radius: 50%;margin-bottom: 10px;}
/*.price-btns-context-top .context-top-listb{border: 1px solid #ff5c5c;}*/
.price-btns-context-top .context-top-list img{width: 40px;height: 40px;}
.price-btns-context-top .context-top-list p{color: #999;font-size: 12px;}
.price-btns-context-bot a{display: inline-block;width: 100%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.price-btns-context-top>p{padding: 30px 0;letter-spacing: 1px;}
.detate-btns-context-bot a{display: inline-block;width:50%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;}
.detate-btns-context-bot a:first-of-type{border-bottom-left-radius: 5px;border-right: 1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box;}
.detate-btns-context-bot a:last-of-type{border-bottom-right-radius: 5px;background-color: #ddd;}
.price-btns-contexts{text-align: center; display: none; transform:scale(1);-webkit-transform:scale(1);box-sizing: border-box;position: fixed;top: 35%;z-index: 2001;width: 80%;margin-left: 10%;left: 0;color: #535353;}
.price-btns-context-tops p{font-size: 16px}
.price-btns-contexts_test{animation: myfirst .1s linear ;-webkit-animation: myfirst .1s linear ;display: block;}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}
.am-dialog-mask{position: fixed;top: 0;left: 0;z-index: 2000;width: 100%;height: 100%;background-color: rgba(0,0,0,.7);display: none;}
.am-dialog-mask-test {display: block;}
