@charset "utf-8";
ul{padding:20px 0 15px;}
ul li{border:1px solid #b9b9b9;margin-bottom:10px;position:relative;}
ul li p:first-child{border-bottom:1px solid #ff5c5c;padding:0.5rem;}
ul li p:first-child span{color:#6E6E6E;font-size:0.65rem;}
ul li p:first-child span:nth-child(2){color:#ff5c5c;padding-left:10px;}
ul li p:first-child span:last-child{float:right;}
ul li p:last-child{padding:0 0.6rem;clear:both;display:block;overflow:hidden;word-break:break-all;word-wrap:break-word;height:1.8rem;line-height:1.8rem;}
ul li p:last-child span{color:#6E6E6E;font-size:0.65rem;}
ul li .del{background:url(../../../image/wap/del.png) center no-repeat #EEE;position:absolute;right:0;bottom:0;display:block;height:1.8rem;overflow:hidden;padding:0;text-indent:-9876px;top:auto;width:45px;z-index:100;}
.add{padding:0 0 20px;}
.add a{height:1.8rem;font-size:0.6rem;line-height:1.8rem;border-radius:5px 5px 5px 5px;width:100%;display:block;background:#ff5c5c;color:#FFFFFF!important;border:1px solid #ff5c5c;text-align:center;}
dl dt{color:#535353;display:block;font-size:0.7rem;padding:10px 0;}
dl dd{border:1px solid #CCCCCC;display:block;background:#FFFFFF;font-size:0.6rem;line-height:1.5rem;position:relative;}
input[type="text"]{background:#FFFFFF;border:0 none;border-radius:0 0 0 0;color:#999;font-weight:normal;height:1.5rem;line-height:1.5rem;vertical-align:top;width:100%;text-indent:10px;}
#d_1{text-indent:10px;color: #999;}
#d_1 a{color: #ff5353;}
#d_2{padding:0 10px 10px;}
.orderadder{padding:0 0.5rem;}
select{width:100%;margin-top:10px;height:30px;line-height:30px;color: #ff5353;}
input[type="submit"]{height:40px;font-size:0.6rem;line-height:40px;border-radius:5px 5px 5px 5px;width:100%;display:block;background:#ff5c5c;color:#FFFFFF!important;border:1px solid #ff5c5c;text-align:center;margin:15px auto;}
.form-error{color:#F00;padding:0 10px;}
.taoplus{display: none!important}
