@charset "utf-8";
*{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
img{border:0;}
input,img{vertical-align:middle;}
body{color:#000;font:400 14px/18px arial;background:#EEE;}
a,a:visited{color:#000;text-decoration:none;}
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}
.hidden{display:none;}
.red{color:#F00;}
.org{color:#FF6600;}
.m30{margin:30px auto;text-align:center;}
/*********Lemons 20141226 字体*******/
@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";font-size:22px;font-style:normal;color:#fff}
.iconfont_min{font-family:"iconfont";font-size:1.4em;font-style:normal}

/*头部样式*/
.head{width: 100%;margin: 0px auto;text-align: center;height: 50px;line-height: 50px;background-color: #f5f5f5;padding: 0px 0.5rem;box-sizing: border-box;}
.head a.logo_haitao{vertical-align: middle;display: inline-block; width: 120px;height: 23px;background: url(../../../image/wap/wap_haitao_logo1.png) center no-repeat;background-size: contain;margin-top: 13px;}
.head a.user_icon{vertical-align: middle; float:left; width: 25px; height: 25px; background-repeat: no-repeat; background-image: url(../../../image/wap/wap_haitao_icon2.png);margin-top: 13px;background-size: contain;}
#y_menu_icon{vertical-align: middle; float: right; width: 25px; height: 18.33px; background-repeat: no-repeat; background-image: url(../../../image/wap/wap_haitao_icon3.png);margin-top: 16px;background-size: contain;}
.head{}
header{width:100%;}
.nav-w{background-color:#ff5c5c;border-bottom:1px #d9d9d9 solid;width:100%;font-size:12px;/*padding:5px 0 10px;*/height:50px;line-height:50px;display:-webkit-box;left:0;position:fixed;top:0;z-index:1999;}
.nav-w a{color:#666;}
.nav-s{min-width:50px;padding-left:0.75rem;}
.nav-c{text-align:center;-webkit-box-flex:1;-ms-box-flex:1;-moz-box-flex:1;-o-box-flex:1;}
.nav-e{min-width:50px;padding-right: 15px;}
i.home_icon{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon9.png) right no-repeat;background-size: 50%;}
i.home_icon2{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon9.png) left no-repeat;background-size: 50%;}
i.fanhui_icon{display: inline-block;height: 50px;width: 50px;background: url(../../../image/wap/wap_haitao_icon10.png) 5.8% no-repeat;background-size: 50%;}
.nav-s a{display:inline-block;width:50px;height:34px;line-height:34px;}
.nav-s a nav{color:#666666;display:inline-block;height:34px;line-height:34px;padding-left:15px;text-align:center;text-decoration:none;width:62px;}
.nav-s font{color:#FD0D0D;font-size: 25px;padding-left: 15px;}
.nav-c span{display:block;height:50px;line-height:50px;padding:0 10px;font-size:18px;/*font-weight:bold;*/color:#fff;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.nav-e a{color:#666666;display:inline-block;width:75px;height: 50px;
    text-align: right;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;}
.nav-e a nav{color:#fff;display:inline-block;height:50px;line-height:50px;text-align:right;text-decoration:none;width:75px;}
.nav-e a.list nav{color:#666;}
.select em{/*background:url(../../../image/wap/down.png);background-position:center center;background-repeat:no-repeat;background-size:contain;*/display:inline-block;height:10px;width:10px;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);-moz-transform:rotate(-135deg);border-top: 2px solid #fff;border-left: 2px solid #fff;background: inherit;vertical-align: 4px;  }
.select em.up{background-image:url(../../../image/wap/up.png);}
.i-select{width:150px;position:absolute;top:50px;left:50%;margin-left:-75px;text-align:center;-webkit-transform:translateZ(0);}
.i-select:after{content:' ';position:absolute;left:50%;top:-8px;margin-left:-1px;width:0;height:0;border:transparent 4px solid;border-bottom-color:#333;}
.i-select ul{background-color:#333333;border-radius:8px 8px 8px 8px;overflow:hidden;}
.i-select li{color:#FFFFFF;height:40px;padding:0 5px;cursor:pointer;}
.i-select a{color:#FFFFFF;padding:5px 0;display:block;height:30px;line-height:30px;}

footer{font-size:14px;text-align:center;margin: 0 auto 0px;background-color: #fff;padding-bottom: 20px;}
footer section{height:40px;line-height:41px;border-bottom:1px solid #ff5c5c;border-top:1px solid #ccc;padding:0 1rem;}
footer section .fl{float:left;width:70%;text-align:left;}
footer section .fl a{color:#ff5c5c;}
footer section .fl a.footer_denglu{color: #333;}
footer section .fl a.footer_denglu_user{padding-left: 25px;background: url(../../../image/wap/mayi_icon_45.png) no-repeat;background-size: contain;}
footer section .fr{float:right;width:30%;text-align:right;}
footer section .fr a{position:relative;padding-right:20px;}
footer section .fr b{position:absolute;width:0;height:0;top:0px;right:0;width: 16px;height: 20px;background: url(../../../image/wap/wap_haitao_icon5.png) no-repeat 0px 0px;background-size: cover;margin-top: -1px;}
footer nav{padding:12px 0 9px;border-bottom:1px solid #ccc;}
footer nav a{margin:0 8px;}
footer p,footer p a{color:#A6A6A6;font-size:12px;line-height:16px;margin-top: 15px;}
.footer_diannao{padding-left: 25px;background: url(../../../image/wap/wap_haitao_icon13.png) no-repeat 0px 0px;background-size: contain; }
.footer_maijia{padding-left: 25px;background: url(../../../image/wap/wap_haitao_icon15.png) no-repeat 0px 0px;background-size: contain;margin-left: 20px;}
.footer_bangzhu{padding-left: 25px;background: url(../../../image/wap/wap_haitao_icon16.png) no-repeat 0px 0px;background-size: contain;}


.p-img,.p-name,.p-price,.p-detail{overflow:hidden;}
.p-name,.p-detail{word-break:break-all;word-wrap:break-word;}
.p-price{color:#eb5211;font-size: 16px;font-weight: normal;}
.p-price strong,.p-market strong{color:#FF5c5c;}
.p-commissin{ font-family:"微软雅黑"; margin-bottom:5px;}
.p-commissin strong{color:#FF0000;}

.page{color:#999999;height:32px;line-height:32px;margin:16px 0 20px;text-align:center;}
.page div{background:#F9F9F9;border:1px solid #E0E1E1;min-width:88px;}
.page .pre{border-right:1px solid #E0E1E1;width:88px;float:left;border-radius:4px 0 0 4px;}
.page .next{border-left:1px solid #E0E1E1;width:88px;float:right;border-radius:0 4px 4px 0;}
.page .cur{background:none;z-index: -1;}
.page .grey{background:#E6E6E6;color:#C2C2C2;}


.mc{width: 95%;margin: 0 auto;clear: both;}
.voucher{background-color: #fffbf3;border: 1px dotted #ffcfbf;display: block;height: 162px;position: relative;z-index: 1;}
.voucher .cut{background: url("../../../image/default/points/point_bg.png") no-repeat scroll -140px 0 rgba(0, 0, 0, 0);height: 18px;left: 5px;position: absolute;top: -9px;width: 20px;z-index: 2;}
.m .mc .voucher-list li{margin: 20px 0 20px 20px;width: 100%;clear: both;}
.voucher .info { background: url(../images/point_voucher_bg.png) repeat-y right 0; width: 120px; height: 192px; padding: 10px 30px 0 15px; position: absolute; z-index: 1; top: 0; left: 0;}
.voucher .store { font-weight: 600; text-align: center; display: block; height: 20px;overflow:hidden}
.m .mc .voucher-list  li p.pline { text-align: left; height: 25px; margin-bottom: 2px;background:none;padding:0px;overflow:hidden}
.voucher .pic { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden;}
.voucher .pic img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); }
.voucher .value,
.voucher .point,
.voucher .button { display: block; padding-left: 145px;}
.voucher .value { padding-top: 5px; }
.voucher .value dt {  color: #D93600; }
.voucher .value dt em { font-size: 20px;}
.voucher .value dd { color: #D83500; margin-bottom: 4px;}
.voucher .value dd.time { color: #999;}
.voucher .point { padding-bottom: 5px;}
.voucher .point p { line-height: 20px; display: block; color: #777; height: 20px;}
.voucher .point p.required { font: 14px;color: #D93600; height: 24px;}
a.ncp-btn-red{background-color: #da4f49;line-height: 29px;border-color: #c44742 #c44742 #a33b37;display: block; padding-left: 8px 12px; width:80px;text-align:center;color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1)}
.voucher .point p.w120{width:auto;}
.mt.mt-voucher{background:url("../../../image/default/points/all01.png") no-repeat scroll 2px center rgba(0, 0, 0, 0)}
.m .mc .voucher-list li.fl_left{margin-left: 0;}
.m .mc .voucher-list li.fl_middle{margin-left: 42px;}
#fwin_buy{width: 70%!important;left: 15%!important;top: 45%!important;}

.m-tags{width: 15px;height: 15px;border: 1px solid rgb(19,208,179);border-radius: 13px; float: left;}
.m-tags div{border-radius: 13px; width: 90%;height: 90%;background: rgb(19,208,179)}

.m-position{width: 60%;float: left;}
.m-bp{width: 95%;height: auto;overflow: hidden;border-radius:5px;background: #fff;margin: 10px auto;}
.m-reload{float: right;}
.itemsNull{margin: 20px 0 15px;padding-left: 15px;}





/*自己加的分销尾部*/
.footer_centent{width: 100%;min-height: 65px;background: #fff;  position: fixed; bottom: 0px;margin-top:30px;}
.footer_num{width: 33%;height: 65px;padding: 2px 0px;text-align: center;float: left;position: relative;}
.footer_num img{max-width: 30px;max-height: 25px;margin-top:10px;}
.footer_num a dd{color: #878787;font-family: "微软雅黑";}




.chat_icon {
    position: absolute;

    right: 0; bottom: 0;
    background: url(../../../image/chat_icon.png);
    background-size:100% 100%;
    background-color: transparent;

    width:60px;
    height:60px;

    z-index: 10000;
}

.chat_header
{
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 10000;
}

.msg_notice_icon {
    position:fixed;
    bottom:10px;
    right:55px;

    tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom:.3em;

    background-size:100% 100%;
    background-color: transparent;

    z-index: 10000;
}

.chat_box_icon {
    position:fixed;
    bottom:20px;
    right:15px;

    tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom:.3em;

    background-size:100% 100%;
    background-color: transparent;

    z-index: 90000;
}

.msg_notice_icon dt{float:right;margin-left:.65em}
.msg_notice_icon dd{background-color:#ed1c23; border:1px #e8e8e8 solid;color:#fff;border-radius:.5em;padding:.65em;font-size:.8em;float:right;max-width:60%}
.msg_notice_icon img{width:3em;height:3em;-webkit-border-radius: 2.8125em;border-radius: 2.8125em;}

.badge {
    position: absolute;
    top: 4px;
    left: 14px;
}







