@charset "utf-8";
/* CSS Document */
.cart-button{height:50px;font-size:0.8rem;width: 5rem;margin-top: -1px; line-height:50px;display:inline-block;background:#ff5c5c;color:#FFFFFF!important;text-align:center;float: right;}
.order{padding:0px 0px;font-size:14px;}
.p-price-he{color: #666;padding-left: 1rem;}
.choose_btn{line-height: 50px;height: 50px;position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;z-index: 99;}
.choose_btn_inner{border-top: 1px solid #666;}
.order h2{margin-top:10px;}
.cem_num{margin-top: 0.9rem;font-size: 0.7rem;border: none;-webkit-appearance: none;color: #535353;padding-right: 15px;background: url(../../../image/wap/wap_haitao_icon71.png) no-repeat right center;}
.address{background-color:#FFFFFF;position:relative;word-break:break-all;padding: 15px 10px;}
.address_user_img{float: left;text-align: center;width: 20%;margin-top: 1rem;}
.address_user_img img{vertical-align: middle;}
.address_content{font-size: 0.7rem; padding-right: 40px;display: inline-block;width: 80%;box-sizing:border-box;background:url(../../../image/wap/wap_haitao_icon18.png) right center no-repeat;background-size: 0.8rem;}
.address_mobile{float: right;}
.address p{overflow:hidden;margin-top:5px;color: #666;}
.address p:first-of-type{margin-bottom: 10px;font-weight: 600;}
.p-price-num-z{font-size: 0.9rem;}
.address_line{width: 100%;margin-bottom: 10px;}
.inventory{padding: 0px 10px 60px;}
.p-name-gunge{font-size: 0.6rem;color: #666;}
.item {background:#FFF;border:1px solid #b9b9b9;min-height:80px;;position:relative;margin-bottom:15px;}
.item:first-child{margin-top:10px;} 
.item dl{padding:15px 10px;border-top:1px solid #b9b9b9;position:relative;}
.item dl:first-child{border-top:none;}
.item dt{width:90px;height:90px;float:left;margin-right: 20px;border: 1px solid #e1e1e1;}
.item dd{margin-left:90px;line-height:18px;font-size:14px;}
.item dd .p-name{max-height:36px;margin-bottom:8px;font-size: 0.7rem;}
.item dd .p-price{position:relative;overflow:inherit;margin-top: 8px;}
.item dd .p-price strong{font-size: 0.8rem;}
.item .top{background-color:#fff;border-bottom:1px solid #ff5c5c ;padding:0.3rem 0;font-weight: 600;}
.item .top a{color:#535353;padding-left:10px;font-size: 0.6rem;}
.item .top input[type="checkbox"]{margin:-1px 0 0 20px }
.item .bottom{line-height:30px;background-color:#fff;border-top:1px solid #b9b9b9;text-align:right;font-size:0.7rem;} 
.item .bottom .p-detail{color:#666;float:left;height: 2.5rem;line-height: 2.5rem;font-size: 0.7rem;width: 100%;padding: 0px 10px;border-bottom: 1px dotted #666;box-sizing:border-box;-webkit-box-sizing:border-box;}
.item .bottom strong{color:#ff5c5c;font-size:0.9rem;}
.replenish{color:#666;float:left;height: 2.5rem;line-height: 2.5rem;font-size: 0.7rem;width: 100%;padding: 0px 10px;border-bottom: 1px dotted #666;box-sizing:border-box;-webkit-box-sizing:border-box;}
.replenish-btn{border:none;outline: none;width: 9rem;
    font-size: 0.6rem;}
.item .bottom .fr{float:right;height: 2.5rem;line-height: 2.5rem;font-size: 0.7rem;width: 100%;padding: 0px 10px;box-sizing:border-box;-webkit-box-sizing:border-box;}
span.p-price strong{font-size:20px;}
.p-price-num{color: #666;float: right;font-size:0.7rem; }
.form-error label{background-color:rgba(51, 51, 51, 0.9);border-radius:4px 4px 4px 4px;box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);color:#FFF;font-size:12px;font-weight:600;line-height:20px;padding:10px 30px;position:absolute;text-align:center;z-index:999;top:38%;left:25%;}
.noaddr{text-align:center;margin-bottom:35px;}
.noaddr a{color:#005EA7;}
.noaddr div{background:url(../../../image/wap/msg-bg.png) top center no-repeat;height:151px;margin:40px auto 25px;}
.p-detail-user{float: right;color: #535353;}
.p-detail-test{float: left;color: #535353;}
/*** bruce 2015.01.16 修改 ****/
.d_select{float: right;margin-top: 0.9rem;font-size: 0.7rem;color: #535353; border: none;-webkit-appearance: none;padding-right: 15px;
    background: url(../../../image/wap/wap_haitao_icon71.png) no-repeat right center;line-height: 1.2;}
.replenish_buchong{color: #535353;margin-right: 5px;}
.v_order_juan{float: left;}
.fr-gong{margin-right: 10px;}
.v_order{display: block;clear: both;overflow: hidden;;height: 2.5rem;line-height: 2.5rem;font-size: 0.7rem;width: 100%;padding: 0px 10px;border-bottom: 1px dotted #666;box-sizing:border-box;-webkit-box-sizing:border-box;}
.am-dialog-mask{position: fixed;top: 0;left: 0;z-index: 2000;width: 100%;height: 100%;background: rgba(0,0,0,.5);display: none;}
.am-dialog-mask-test {display: block;}
.price-btns-context{text-align: center; opacity: 0;transform:scale(1);-webkit-transform:scale(1);padding: 0 20px;box-sizing: border-box;position: fixed;top: 35%;z-index: 2001;width: 100%;left: 0;color: #535353;}
.price-btns-context_test{animation: myfirst .1s linear ;-webkit-animation: myfirst .1s linear ;opacity: 1;}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes myfirst {
    0%   {-webkit-transform:scale(2);}
    25%  {-webkit-transform:scale(1.8);}
    50%  {-webkit-transform:scale(1.6);}
    75%  {-webkit-transform:scale(1.3);}
    100% {-webkit-transform:scale(1);}
}
.price-btns-context-top{background-color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.price-btns-context-top .context-top-list{width: 50%;float: left;border: none;padding: 0;text-align: center;padding: 20px 0;}
.price-btns-context-top .context-top-list img{margin-bottom: 10px;}
.price-btns-context-top .context-top-list p{color: #999;font-size: 14px;}
.price-btns-context-bot a{display: inline-block;width: 100%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.price-btns-context-top>p{padding: 10px 0;letter-spacing: 1px;font-size: 0.6rem;}
.detate-btns-context-bot a{display: inline-block;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;width:100%;font-size: 16px;background-color: #ff5c5c;height: 50px;line-height: 50px;color: #fff;letter-spacing: 1px;}