@charset "utf-8";
/* CSS Document */
.register{margin:auto;text-align:center;position:relative;}
table{text-align:center;margin:20px auto;}
/*td{padding:10px;}
table div{padding-top:4px;font-size:12px;color:#F00;width:280px;margin:auto;text-align:left;position:relative;}
table div img{position:absolute;top:-25px;right:5%;}
input[type="text"],input[type="password"],input[type="email"]{height:40px;width:280px;border:solid 1px #DDD;border-top-color:#BBB;padding-left:9px;color:#333;font-size:16px;-webkit-border-radius:0;-webkit-appearance:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd));}
tr:first-child input{background:url(../../../image/wap/user.png) 5px no-repeat #FFF;background-size:12px;padding-left:22px;}
tr:nth-child(2) input{background:url(../../../image/wap/email.png) 5px no-repeat #FFF;background-size:12px;padding-left:22px;}
tr:nth-child(3) input,tr:nth-child(4) input{background:url(../../../image/wap/password.png) 5px no-repeat #FFF;background-size:12px;padding-left:22px;}
tr:nth-child(5) input{width:196px;}*/

.form-error{background-color:rgba(51, 51, 51, 0.9);border-radius:4px 4px 4px 4px;box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);color:#FFF;font-size:12px;font-weight:600;line-height:20px;padding:10px 30px;position:absolute;text-align:center;z-index:999;top:38%;left:28%;}
/*input[type="submit"]{background:#D93438;border:0 none;color:#FFFFFF;display:inline-block;font-size:24px;font-weight:700;height:44px;line-height:44px;min-width:100%;text-align:center;}*/
input[type="submit"]{background:#ff5c5d;border:0 none;color:#FFFFFF;display:inline-block;font-size:.7rem;height: 2rem;line-height: 2rem;margin-top: .8rem;border: none;border-radius: .2rem;min-width:100%;text-align:center;-webkit-appearance: none;}

.item .msg-box{float:left;}
.item .msg-box div{padding:6px 0 6px 10px;line-height:26px;}
#regist{display: inline-block; width: 100%;height: 2rem;line-height: 2rem;font-size: .7rem;padding: 0;margin-top: .8rem;border: none;border-radius: .2rem;color: #fff;text-align: center;-webkit-appearance: none;background-color: #ffa23e;}
.form_z ul{padding: 5%;}
.form_z li input{}
.form_z li input[name="user"]{box-shadow: 0px 0px 3px #b9b9b9; background-color: #fff!important;width: 100%;font-size: .7rem;padding-left: 18%;padding-right: 5%;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;background: url(../../../image/wap/wap_haitao_icon6.png) 5.8% no-repeat;background-size: .85rem;border: none;border-radius: .2rem;}
.form_z li input[name="mobile"]{box-shadow: 0px 0px 3px #b9b9b9;background-color: #fff!important;width: 100%;font-size: .7rem;padding-left: 18%;padding-right: 5%;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;background: url(../../../image/wap/wap_haitao_icon7.png) 5.8% no-repeat;background-size: .65rem;border: none;border-radius: .2rem;margin-top: .8rem;}    
.form_z li input[name="password"]{box-shadow: 0px 0px 3px #b9b9b9;background-color: #fff!important; width: 100%;font-size: .7rem;padding-left: 18%;padding-right: 5%;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;background:url(../../../image/wap/wap_haitao_icon8.png) 5.8% no-repeat;background-size: .75rem;border: none;border-radius: .2rem;margin-top: .8rem;}
.form_z li input[name="yzm"]{box-shadow: 0px 0px 3px #b9b9b9;float: left; background-color: #fff!important; width: 55%;font-size: .7rem;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;border: none;border-radius: .2rem;margin-top: .8rem;padding-left: 9%;}
.spe_del{margin-top: .5rem;line-height: 1rem;font-size: .6rem;overflow: hidden;text-align: center;}
.gain_ma{box-shadow: 0px 0px 3px #b9b9b9;width: 40%;float: right;font-size: .7rem;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;border: none;background-color: #ff5c5c;border-radius: .2rem;margin-top: .8rem;color: #fff;}
.gain_ma_test{background-color: #ff5c5d;color: #fff;}
a.spe_del_xieyi{color:#ff5c5d;text-decoration: underline;}
.user_names{position: relative;}
.inp_close {width: 1rem;height: 1rem;background: url(../../../image/wap/wap_haitao_icon1.png) no-repeat;position: absolute;right: 3%;top:24%;background-size: contain;}
#yzm{box-shadow: 0px 0px 3px #b9b9b9;background-color: #ddd;width: 55%;float: left;font-size: .7rem;padding-top: .6rem;padding-bottom: .6rem;vertical-align: middle;
	background: 0 0;border: none;border-radius: .2rem;margin-top: .8rem;padding-left:20px;padding-right: 20px;}