@charset "utf-8";
.shopinfo-banner{background-color: #e65c5c;}
.shopinfo-banner .ulev-app2{padding-top: 3rem;padding-bottom:0.4rem;color: #fff;font-size: 0.7rem;padding-left: 6rem;}
.shopinfo-banner-content{padding: 0.5rem 0;background-color: #fff;border-bottom:1px solid #b9b9b9;margin-bottom: 15px;}
.shopinfo-banner-content .typ{padding-left: 6rem;font-size: 0.6rem;}
.shopinfo-banner-content .typ span{color: #ff5c5c;}
.shopinfo-banner-content .header_topleft {width: 4rem;height: 4rem;position: absolute;left: 1rem;top: -2.2rem;}
.col {background-color: #fff;color: #535353;top: 0.5rem;right: 0;position: absolute;border-left: 1px solid #b9b9b9;text-align: center;}
.iconfont_min{color: #999;}
.shopinfo-banner-content .header_topleft img {width: 4rem;height: 4rem;border-radius: 50%;}
.pname_img{position: absolute;top: 0;left: 1.2rem;width: 1.5rem;height: 0.75rem;}
.pname_img img{width: 100%;height: 100%!important;}
.shoplist .shopli a.shopli_bottom_zhuanxiang {float: right;width: 3.5rem;padding: 0.2rem 0;text-align: center;background-color: #ff5c5c;color: #fff;margin-top: -1.4rem;font-size: 0.6rem;margin-right: -0.5rem;}
.shoplist .shopli a.shopli_bottom_zhuanxiangs {float: right;width: 3.5rem;padding: 0.2rem 0;text-align: center;background-color: #ff5c5c;color: #fff;margin-top: -1.75rem;font-size: 0.6rem;margin-right: -0.5rem;}
.shopinfo{margin:20px auto;}
.shoplist{padding: 0 0.5rem;box-sizing:border-box;-webkit-box-sizing:border-box;}
.shoplist .shopli a {width: 100%;height: auto;outline: 0;font-size: 0.6rem;overflow: hidden;text-decoration: none;margin: 0 auto;display: block;}
.shoplist .shopli {position: relative;float: left;width: 50%;height: auto;overflow: hidden;background: #fff;border: 1px solid #b9b9b9;box-sizing: border-box;-webkit-box-sizing: border-box;}
.shoplist .shopli:nth-of-type(even) {border-left: none;}
.shoplist .shopli:nth-of-type(n+3) {border-top: none;}
.shopli_top_img {border: none;margin-bottom: 1px;margin: 1rem 0.5rem 0;padding-bottom: 10px;border-bottom: 1px dashed #b9b9b9;}
.shopinfo dl{margin:0 auto 20px;width:300px;position:relative;overflow:hidden;}
.shopinfo dt{background-color:#FFFFFF;float:left;height:80px;margin-right:15px;width:80px;}
.shopli_bottom{padding-bottom: 10px;}
.shopinfo dd{display:inline-block;overflow:hidden;vertical-align:top;}
.shopinfo dd li{display:block;position:relative;margin-bottom:10px;padding-right:16px;}
.shopinfo dd li:last-child{margin-bottom:0px;}
.shopinfo dd ul li h1{display:block;color:#333;font-weight:normal;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;margin-top:4px;}
.search{text-align:center;height:38px;} 
.search input[type="text"]{border:solid 1px #E4E4E4;border-radius:5px 0 0 5px;width:265px;color:#333;font-size:16px;height:36px;background:#FFF;padding-left:8px;line-height:30px;}
.search input[type="submit"]{border:solid 1px #DB181E;border-radius:0 5px 5px 0;margin-left:-5px;background:url(../../../image/wap/submit.png) no-repeat;width:34px;height:36px;}
.plist ul li p.shopli_bottom_text{padding: 10px 0;}
.plist ul li p{width: 100%;overflow: hidden;height: 0.725rem;line-height: 0.725rem;}
.plist ul li p.money_del{color: #999;text-decoration: line-through;}
.plist ul li p.al-one{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.plist ul li p.al{padding-bottom: 15px;}
.plist ul li div.p-pic{background-color:#FFFFFF;background-repeat:no-repeat;overflow:hidden;margin: 1rem 0.5rem 0;text-align: center;}
.plist ul li div.p-name{line-height:14px;max-height:28px;margin-top:10px;padding-left: 10px;padding-right: 10px;overflow: hidden;
    height: 0.725rem;
    line-height: 0.725rem;}
.plist ul li div.p-price{color:#ff5353;font-size:0.6rem;line-height:1;margin-top:8px;overflow:hidden;padding:0px 10px;margin-bottom: 10px;}
.plist h2{color:#333333;font-size:20px;font-weight:normal;line-height:1;position:relative;}
.plist h3 a{margin:20px auto 20px;height:32px;line-height:32px;border-radius:5px 5px 5px 5px;width:100%;display:inline-block;background:-webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#DCDCDC)) #DCDCDC;text-align:center;font-weight:normal;font-size:12px;}
.filter{margin:10px auto 0;padding:0 10px;}
.filter-ul{border-top: 2px solid #7753ff}
.filter li{width:25%;float:left;text-align:center;height:40px;line-height:40px;}
.filter li a{display:inline-block;width:100%;border-right:none;}
.filter li.current a{background:#7753ff;color:#FFF;border-color:#7753ff;}
.nav-c{margin-left: 0;}
.leftcate{position:absolute;right:0;top:0;width:100%;z-index:999;background:#FFF;}
.leftcate h2{background:#F5F5F5;border-bottom:1px solid #BCBFC6;color:#AAAAAA;font-size:12px;height:32px;line-height:32px;padding:10px 16px;font-size:14px;}
.leftcate h2 a{border:1px solid #D93438;border-radius:5px 5px 5px 5px;width:60px;height:32px;float:right;background:#D93438;color:#FFF;text-align:center;font-weight:normal;font-size:12px;}
.leftcate ul li{display:block;line-height:39px;position:relative;}
.leftcate ul li a{display:block;border-bottom:1px solid #D0D0D0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-indent:16px;width:100%;height:39px;}
.leftcate ul li a.current{background:#F5F5F5;border-left:3px solid #EB5211;color:#EB5211;}
#leftmask{position:absolute;width:100%;height:100%;background:#EEE;z-index:199;top:0;}
@media screen and (min-width: 600px) and (max-width: 800px) { 
 	.plist ul li{margin-bottom: 0.7rem;}
}
@media screen and  (height: 960px) {
 	.plist ul li{margin-bottom: 0.5rem;}
}