<div class="path">
    <div>
    	<a href="main.php?action=main">我的商城</a> <span>&gt;</span>	已买到的商品 
    </div>
</div>
<div class="main">
<div class="wrap">
    <div class="hd">
        <ul class="tabs">
            <li class="active"><a href="main.php?m=product&s=admin_orderdetail&id=<{$de.order_id}>">订单信息</a></li>
        </ul>
    </div>
    <div class="order-detail">
    <{if $de.is_virtual neq 1}>
    <{if $de.status==1}>
    <div class="order">
        <{if $de.sellerinfo}>
        <a class="button button-pay" target="_blank" href="<{$config.pay_url}>?m=payment&s=pay&tradeNo=<{$de.order_id}>">立刻付款</a>
        <{else}>
        <a class="button button-pay" href="<{$config.weburl}>/main.php?m=product&s=admin_sellorder&id=<{$de.order_id}>&flag=0">取消订单</a>
        <{/if}>
    </div>
    <{/if}>
    <dl class="clearfix">
    	<dt>收货地址：</dt>
        <dd>
            <{$de.consignee}> ,
            <{$de.consignee_mobile}> ,
            <{if $de.consignee_tel}><{$de.consignee_tel}> ,<{/if}>
            <{$de.consignee_address}>
		</dd>
    </dl>
    
    <{if $de.invoice_title}>
    <dl class="clearfix">
    	<dt>发票信息：</dt>
        <dd><{$de.invoice_title}></dd>
    </dl>
    <{/if}>
    
    <{if $de.des}>
    <dl class="clearfix">
    	<dt>买家留言：</dt>
        <dd><{$de.des}></dd>
    </dl>
    <{/if}>
    <{else}>
 
    <dl class="clearfix">
        <dt>使用者号码：</dt>
        <dd>
            <{$de.consignee_mobile}>
        </dd>
        <dt>序　列　号：</dt>
        <dd>
            <{$de.serial}>
        </dd>
        <dt>有　效　期：</dt>
        <dd>
            <{$de.start_time|date_format}> - <{$de.end_time|date_format}>
        </dd>
        <dt>短信已发送：</dt>
        <dd>
            <{if $de.serial}>已发送<{else}>未发送<{/if}>
        </dd>
    </dl>
    
    <{if $de.invoice_title}>
    <dl class="clearfix">
        <dt>发票信息：</dt>
        <dd><{$de.invoice_title}></dd>
    </dl>
    <{/if}>
    
    <{if $de.des}>
    <dl class="clearfix">
        <dt>买家留言：</dt>
        <dd><{$de.des}></dd>
    </dl>
    <{/if}>
    <{/if}>
    <hr />
    
    <{if $de.buyerinfo}>
    <dl class="dl clearfix">
    	<dt>买家信息</dt>
        <{if $de.buyerinfo.user}><dd><a href="<{$config.weburl}>/home.php?uid=<{$de.buyerinfo.userid}>" target="_blank">用户名： <{$de.buyerinfo.user}></a></dd><{/if}>
        <{if $de.buyerinfo.name}><dd><a href="<{$config.weburl}>/home.php?uid=<{$de.buyerinfo.userid}>" target="_blank">昵称： <{$de.buyerinfo.name}></a></dd><{/if}>
        <{if $de.buyerinfo.mobile}><dd>手机号： <{$de.buyerinfo.mobile}></dd><{/if}>
        <{if $de.buyerinfo.email}><dd>邮箱： <{$de.buyerinfo.email}></dd><{/if}>
        <{if $de.buyerinfo.qq}><dd>QQ： <{$de.buyerinfo.qq}></dd><{/if}>
        <{if $de.buyerinfo.ww}><dd>旺旺： <{$de.buyerinfo.ww}></dd><{/if}>
    </dl>
    <{/if}>
    
    <{if $de.sellerinfo}>
    <dl class="dl clearfix">
    	<dt>卖家信息</dt>
        <{if $de.sellerinfo.user}><dd><a href="<{$config.weburl}>/home.php?uid=<{$de.sellerinfo.userid}>" target="_blank">用户名：<{$de.sellerinfo.user}></a></dd><{/if}>
        <dd><a href="<{$config.weburl}>/shop.php?uid=<{$de.sellerinfo.userid}>" target="_blank">店铺名： <{$de.sellerinfo.company}></a></dd>
        <{if $de.sellerinfo.tel}><dd>联系电话：<{$de.sellerinfo.tel}></dd><{/if}>
        <{if $de.sellerinfo.area}><dd>店铺地址：<{$de.sellerinfo.area}></dd><{/if}>
    </dl>
    <{/if}>
    
    <hr />
    
    <dl class="dl clearfix">
    	<dt>订单信息</dt>
        <dd>订单编号：<{$de.order_id}></dd>
        <dd>创建时间：<{$de.create_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></dd>
        <{if $de.status>=2}>
        <dd>付款时间：<{$de.payment_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></dd>
        <{/if}>
        <{if $de.status>=3}>
        <dd>发货时间：<{$de.deliver_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></dd>
        <{/if}>
        <{if $de.status>=4}>
        <dd>确认时间：<{$de.uptime|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></dd>
        <{/if}>
    </dl>

    <hr />

    <{if $de.is_virtual neq 1 && $de.logistics_name}>
        <dl class="dl clearfix">
            <dt>物流信息</dt>
            <dd>物流名称：<{$de.logistics_name}></dd>
            <{if $de.invoice_no}>
            <dd>物流单号：<{$de.invoice_no}></dd>
            <{/if}>
        </dl>
        <{if $de.logistics_name&&$de.invoice_no&&$logistics_config.logistics_connect==1}>
        <dl><script src="<{$config.weburl}>/api/logistic.php?com=<{$de.logistics_name}>&nu=<{$de.invoice_no}>&sigin=<{$logistics_sigin}>"></script></dl>
        <{/if}>
    <{/if}>

    <{if $de.commission_product_price_0}>
        <{if $de.buyerinfo}>
        <hr />
        <dl class="dl clearfix">
            <dt>分佣详情</dt>
            <dd>一级分佣：<{$de.commission_product_price_0|number_format:2}></dd>
            <dd>二级分佣：<{$de.commission_product_price_1|number_format:2}></dd>
            <dd>三级分佣：<{$de.commission_product_price_2|number_format:2}></dd>
            <dd>平台分佣：<{$de.commission_product_price_plantform|number_format:2}></dd>
        </dl>
        <{/if}>
    <{/if}>

    <table width="100%">
        <tr>
            <th class="first">商品</th>
            <th width="13%">状态</th>
            <th width="13%">单价(元)</th>
            <th width="10%">数量</th>
            <th width="13%" class="last">商品总价(元)</th>
        </tr>
        <{foreach item=plist from=$de.product}>
        <tr>
            <td class="item">
            <div class="pic-info"><img src="<{$plist.pic}>" width="70" /></div>
            <div class="txt-info">
            <a href="<{$config.weburl}>/?m=product&s=detail&order_id=<{$de.order_id}>&pid=<{$plist.id}>&id=<{$plist.pid}>" target="_blank" ><{$plist.name}></a>
            <{if $plist.spec}>
            <p>
            <{foreach item= v from = $plist.spec}>
            <{$v}>&nbsp;
            <{/foreach}>
            </p>
            <{/if}>
            </div>
            </td>
            <td><{$plist.product_status}></td>
            <td><{$plist.price|number_format:2}></td>
            <td><{$plist.num}></td>
            <td class="last"><{$plist.num*$plist.price|number_format:2}><{if $de.deduction gt 0}><br /><b>-<{$plist.deduction}></b><{/if}></td>
        </tr>
        <{/foreach}>
    </table>
  	<div class="money">
    	<{if $de.status==1}> 应付款 <{else}> 实付款 <{/if}> <b><{$de.product_price+$de.logistics_price-$de.deduction|number_format:2}></b> 元
    </div>
    </div>
</div>
</div>