<div class="path">
    <div>
        <span class="shop"></span>
        <a href="main.php?cg_u_type=1">我的商城</a> <span>&gt;</span>已买到的商品
        <span class="tel">海淘客服热线：400-010-1977</span>
    </div>
</div>
<div class="main">
<div class="wrap">
<div class="apply_detail">
    <{if $type == 'buyer'}>
    <div class="apply_left">
        <h1>等待商家处理退款申请</h1>
        <table>
            <tr>
                <td>①</td>
                <td>
                您已选择“收到商品有破损”此项退款原因，请确保已按要求提供了有效物流凭证。<br/>
                如未提供，请及时通过“ 发表留言凭证”补提。
                </td>
            </tr>
            <tr>
                <td>②</td>
                <td>
                    如果商家同意，退款申请将达成并退款至您的蚂蚁钱包中。
                </td>
            </tr>
            <tr>
                <td>③</td>
                <td>
                    如果商家拒绝，将需要您修改退款申请。
                </td>
            </tr>
        </table>
        <div class="button">
            您还可以：<a href="main.php?m=product&s=admin_apply&order_id=<{$de.order_id}>&id=<{$de.product_id}>">修改退款申请</a><a href="main.php?m=product&s=admin_apply_detail&act=close&id=<{$de.refund_id}>">取消退款申请</a>
        </div>
        <!--<div class="problem">
            <h1>常见问题</h1>
            <ul>
                <li><a href=""><span>·</span>我确认收货了，还可以收货吗？</a></li>
                <li><a href=""><span>·</span>申请售后，我使用的积分会退回吗？</a></li>
                <li><a href=""><span>·</span>商家拒绝售后申请，我要怎么办？</a></li>
                <li><a href=""><span>·</span>收到货出现破损少货怎么办？</a></li>
                <li><a href=""><span>·</span>卖家同意承担退货邮费但一直没有退还怎么办？</a></li>
            </ul>
        </div>-->
    </div>
    <{/if}>
    <{if $type == 'seller'}>
    <div class="apply_left">
        <div class="main-box">
            <h2>请处理退款申请</h2>
            <ul>
                <li><i>·</i>如果未发货，请点击同意来退款给买家。</li>
                <li><i>·</i>如果已发货，请主动与买家联系确认后再点击发货。</li>
            </ul>
            <form id="form" method="post">
                <input type="hidden" name="act" value="agree" />
                <input type="hidden" name="refund_id" value="<{$de.refund_id}>" />
                <a class="btn mt20" id="agree" href="#">同意</a>
                <a class="btn mt20 white" href="main.php?m=product&s=admin_deliver&order_id=<{$de.order_id}>">发货</a>
            </form>
            <script type="text/javascript">
                $("#agree").click(function(){
                    $("#form").submit();
                })
            </script>
            </form>
        </div>

        <div class="review-panel">
            <div class="mt"><h2>留言板</h2></div>
            <{if $de.status!=0&&$de.status!=5}>
            <div class="mc">
                <form method="post">
                    <input type="hidden" name="act" value="review" />
                    <p><textarea name="msg"></textarea></p>
                    <ul><li><img class="hidden" width="60" id="pic_img" /></li></ul>
                    <div class="control-bar">
                    <span>
                        <input type="hidden" name="pic" id="pic" value="" />
                        <a href="javascript:uploadfile('上传凭证','pic',600,600,'apply')">上传凭证</a>
                    </span>
                        <em>单张不超过<{$image_config.image_size}>M，支持<{$image_config.image_extension}>格式</em>
                        <p><input type="submit" class="btn" value="发表留言" /></p>
                    </div>
                </form>
            </div>
            <{/if}>
            <div class="mb">
                <{foreach item=list from=$talk}>
                <div class="reivew-item clearfix">
                    <p><img width="38"  src="<{$list.logo}>" /></p>
                    <dl>
                        <dt><em><{$list.user}></em> (<{$list.create_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}>)</dt>
                        <dd><{$list.content}></dd>
                    </dl>
                    <{if $list.pic}>
                    <ul>
                        <li><a target="_blank" href="<{$list.pic}>"><img width="80" src="<{$list.pic}>" /></a></li>
                    </ul>
                    <{/if}>
                </div>
                <{/foreach}>
            </div>
        </div>
    </div>
    <{/if}>
    <div class="apply_right">
        <h1>退款申请</h1>
        <table>
            <tr>
                <td>退款类型：</th>
                <td><em>仅退款</em></td>
            </tr>
            <tr>
                <td>退款金额：</th>
                <td><em><{$de.refund_price}></em>元</td>
            </tr>
            <tr>
                <td>退款原因：</th>
                <{if $de.reason_type == 1}>
                <td>物流中损坏的商品</td>
                <{else}>
                <td>商品有质量问题</td>
                <{/if}>
            </tr>
            <tr>
                <td>退款单号：</th>
                <td><{$de.refund_id}></td>
            </tr>
            <tr>
                <td>退款时间：</th>
                <td><{$de.create_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></td>
            </tr>
        </table>
        <hr />
            <p class="clear">
                <img src="<{$de.pic}>" />
                <a target="_blank" href="<{$config.weburl}>/product-detail-<{$de.pid}>.html"><{$de.name}></a>
            </p>
        <table>
            <tr>
                <td>商　　家：</th>
                <td><em><{$de.company}></em></td>
            </tr>
            <tr>
                <td>订单编号：</th>
                <td><a target="_blank" href=""><{$de.order_id}></a></td>
            </tr>
            <!--<tr>
                <td>物流状态：</th>
                <td>未收到货</td>
            </tr>-->
        </table>
    </div>
</div>
</div>
</div>