<script src="script/uplode.js" language="javascript"></script>
<div class="path">
    <div>
        <span class="shop"></span>
        <a href="main.php?cg_u_type=1">我的商城</a> <span>&gt;</span>已买到的商品
        <span class="tel">海淘客服热线：400-010-1977</span>
    </div>
</div>
<div class="main">
<div class="wrap">
<div class="apply">
    <div class="apply_left">
        <h1>我要退款（无需退货）</h1>
        <form action="" method="post">
        <input type="hidden" value="<{if $de.refund_id}>edit<{else}>add<{/if}>" name="act" />
        <input type="hidden" value="<{$smarty.get.order_id}>" name="order_id" />
        <input type="hidden" value="<{$smarty.get.id}>" name="id" />
        <input type="hidden" value="<{$de.seller_id}>" name="seller_id" />
        <table>
            <tr>
                <td width="80"><em>*</em>退款原因：<{$de.}></td>
                <td>
                    <select name="reason_type">
                        <{if $de.reason_type == 1}>
                            <option value="1" selected="selected">物流中损坏的商品</option>
                        <{elseif $de.reason_type == 2}>
                            <option value="2" selected="selected">商品有质量问题</option>
                        <{/if}>
                        <option value="0" >请选择退款原因</option>
                        <option value="1">物流中损坏的商品</option>
                        <option value="2">商品有质量问题</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><em>*</em>退款金额：</td>
                <td>
                    <em><{$de.refund_price|number_format:2}>元</em>
                    <input type="hidden" name="price" value="<{$de.refund_price|number_format:2}>" />
                </td>
            </tr>
            <tr>
                <td><em>*</em>退款原因：</td>
                <td>
                    <textarea name="reason"><{$de.reason}></textarea>
                </td>
            </tr>
            <tr>
                <td><em>*</em>上传凭证：</td>
                <td>
                    <ul class="clear">
                    <li>
                    <input type="hidden" data-id="1" name="pic[]" value="">
                    <img data-id="1" class="drag" src="<{$config.weburl}>/image/default/user_admin/mayi_icon12.png" height="70" width="70">
                    <input class="input" stype="33" multiple="multiple" type="file" rename="3" style="visibility: hidden;">
                    </li>
                     <li>
                    <input type="hidden" data-id="2" name="pic[]" value="">
                    <img data-id="2" class="drag" src="<{$config.weburl}>/image/default/user_admin/mayi_icon12.png" height="70" width="70">
                    <input class="input" stype="33" multiple="multiple" type="file" rename="3" style="visibility: hidden;">
                    </li>
                     <li>
                    <input type="hidden" data-id="3" name="pic[]" value="">
                    <img data-id="3" class="drag" src="<{$config.weburl}>/image/default/user_admin/mayi_icon12.png" height="70" width="70">
                    <input class="input" stype="33" multiple="multiple" type="file" rename="3" style="visibility: hidden;">
                    </li>
                    </ul>
                    <p style="color: #999;margin: 5px 0 20px 0;">每张图片大小不得超过5M，最多三张，支持GIF，JPG，PNG，BMP格式</p>
                </td>
            </tr>
            <tr>
                <td width="80"></td>
                <td>
                <input type="submit" value="提交退款申请" onclick="return checkValue();"/>
                </td>
            </tr>
        </table>
        </form>
        <div class="problem">
            <h1>常见问题</h1>
            <ul>
                <li><a href=""><span>·</span>我确认收货了，还可以收货吗？</a></li>
                <li><a href=""><span>·</span>申请售后，我使用的积分会退回吗？</a></li>
                <li><a href=""><span>·</span>商家拒绝售后申请，我要怎么办？</a></li>
                <li><a href=""><span>·</span>收到货出现破损少货怎么办？</a></li>
                <li><a href=""><span>·</span>卖家同意承担退货邮费但一直没有退还怎么办？</a></li>
            </ul>
        </div>
    </div>
    <div class="apply_right">
        <h1>商品详情</h1>
            <p class="clear">
                <img src="<{$de.pic}>_60X60.jpg" />
                <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$de.pid}>"><{$de.name}></a>
            </p>
        <table>
            <tr>
                <td>单　　价：</td>
                <td><em><{$de.price}></em>元 * <em><{$de.num}></em>（数量）</td>
            </tr>
            <tr>
                <td>商品优惠：</td>
                <td><{$de.refund_voucher}></td>
            </tr>
            <tr>
                <td>商品实付：</td>
                <td><{($de.price*$de.num-$de.refund_voucher)|number_format:2}>元</td>
            </tr>
            <tr>
                <td>运　　费：</td>
                <td><{if $de.status==4}><{$de.logistics_price|number_format:2}><{else}>0.00<{/if}>元</td>
            </tr>
            <tr>
                <td>关　　税：</td>
                <td>10.00元</td>
            </tr>
            <tr>
                <td>商　　家：</td>
                <td><em>蚂蚁海淘</em></td>
            </tr>
            <tr>
                <td>订单编号：</td>
                <td><a target="_blank" href=""><{$de.order_id}></a></td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
<script src="<{$config.weburl}>/script/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" href="<{$config.weburl}>/script/layer/skin/layer.ext.css" id="layui_layer_skinlayerextcss">
<script type="text/javascript">
    function checkValue () {
        var num = 0;
        if($("textarea[name='reason']").val() ==""){
            layer.msg("请填写退货原因!");
            return false;
        }
        $("input[name='pic[]']").each(function () {
            if ($(this).val() !== "") {
                num = num+1;
            }
        })
        if(num == 0){
            layer.msg("请上传凭证!");
            return false;
        }
        return true;
    }
</script>
