@charset "utf-8";
table{border-collapse:collapse;}
.cart{margin:20px auto 50px;border:1px solid #ccc;width: 1212px;}
.cart h2{height:20px;padding: 20px 0;margin: 0 25px 10px;border-bottom:1px solid #e0e0e0;}
.cart form{padding: 0 25px;}
.cart form thead{border:1px solid #e0e0e0;background: #f5f5f5;}
.cart .seg-entry{height:15px;}
.cart .event-entry{border:1px solid #e0e0e0;}
/*满300减20*/
.cart .reduce td{padding-bottom: 0}
.cart .reduce p{text-align: left;}
.cart .reduce span{background: #ff5c5c;color: #fff;padding: 2px 5px;margin-right: 10px;}
.cart .reduce a{color: #ff5c5c;text-decoration: underline;margin-left: 10px;}
/*购物车中间信息*/
.cart .item-entry{border:1px solid #D8D8D8;border-top: 0;}
.cart tbody td.first{padding: 16px 42px;}
.cart .submit-btn{display:inline-block;width:55px;color:#fff;background:#f40;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;text-align:center;cursor:pointer;text-decoration:none;}
.cart .submit-btn:hover{background:#f22d00;text-decoration:none;color:#FFF;}
.cart .submit-btn-disabled,.cart .submit-btn-disabled:hover{background:#e5e5e5;color:#9c9c9c;cursor:not-allowed;}
.cart .Price{color:#f40;font-family:Arial,Verdana;font-weight:700;margin:0 8px 0 2px;}
.cart .Price em{font-weight:700;padding-left:3px;}
.cart-checkbox{position:relative;display:inline-block;height:15px;line-height:15px;overflow:hidden;_overflow:;}
.cart-checkbox input{position:absolute;z-index:0;left:0px;_left:0;top:1px;_top:0;}
.cart-checkbox em{position:relative;z-index:1;float:left;height:15px;background:url(../../../image/default/cart/checkbox.png) 0 1px no-repeat;_background:none;overflow:hidden;cursor:pointer;padding-left:25px;}
.cart-checkbox-checked em{background-position:0 -19px;}
.cart-con thead th{position:relative;font-weight:normal;line-height:40px;color:#666;}
.cart-con thead th .cart-checkbox{position:absolute;left:10px;top:12px;width:80px;}
.cart-con tbody th,.cart-con td{padding:16px 0;text-align:center;}
.cart-con tbody th{text-align:left;font-weight:normal;}
.cart-con tbody th a{margin:0 5px;}
.cart-con tbody th .cart-checkbox{float:left;margin:2px 0 0 10px;}
.cart-con tbody .checked td{background:#fff8e1;}
.cart-con tbody td .cart-checkbox em{padding-left:15px;}
.cart-con .pro-img{float:left;height:80px;margin-right:20px;padding:0;width:80px;overflow:hidden;border:1px solid #CCC;}
.cart-con .pro-name{line-height:20px;word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;}
.cart-con .pro-name span{background:#ff4400;color:#fff;height:12px;line-height:12px;padding:4px 5px;display:inline-block;margin-right:5px;}
.cart-con .pro-name p{color:#666;margin-top:5px;line-height:16px;}
.cart-con .price{color:#000;font-weight:bold;font-family:Verdana,Arial;}
.cart-con .org{color:#FF4400;}
.cart-con .promo-content{background-color:#1dc2b4;color:#FFF;height:25px;line-height:25px;margin:3px auto;text-align:center;display:inline-block;cursor:pointer;}
/*底部全选*/
.toolbar{margin:20px 0 40px 0;height:50px;line-height:50px;position:relative;overflow:hidden;}
.toolbar .select-all{float:left;width:50px;height:50px;padding-left:10px;} 
.toolbar .select-all label{margin:18px 0 17px;}
.toolbar .operations{float:left;height:50px;}
.toolbar .operations a{margin-left:25px;}
.toolbar .cart-count{float:right;height:50px;margin-right:25px;}
.toolbar .cart-count em{padding:0 5px;color:#f40;font-family:tohoma,arial;font-size:18px;font-weight:700;}
.toolbar .cart-sum{float:right;height:50px;}
.toolbar .cart-sum span{float:left;margin-right:3px;}
.toolbar .cart-sum strong{font-size:18px;font-weight:400;}
.toolbar .cart-sum em{font-size:22px;}
.toolbar .submit-btn{float:right;display:inline-block;width:130px;height:40px;line-height:40px;background:#ff5c5c;text-align:center;font-size:20px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;text-decoration:none;cursor:pointer;color:#FFF;}
.toolbar .submit-btn-disabled{background:#e5e5e5;color:#9c9c9c;cursor:not-allowed;}
/*购物车为空*/
.cart-empty{border-top:1px solid #DDDDDD;height:98px;}
.cart-empty .message{background:url(../../../image/default/cart/cart-empty-bg.png) no-repeat 250px 22px #F3F3F3;height:98px;padding-left:341px;line-height:98px;}
.cart-empty .message a{color:#005EA7;}
/*加减*/
.computing{width:80px;margin:auto;}
.computing_item{float:left;_position:relative;z-index:50;border:1px solid #c8c7cc;}
.computing_num{float:left;height:37px;width:56px;}
.computing_num input{display:block;width:55px;height:35px;color:#333;text-align:center;font-weight:bold;font-size:18px;font-family:Tahoma;line-height:35px;border:0;}
.computing_act{float:left;*margin-top:1px;*zoom:1;_display:inline;}
.computing_act input{display:block;width:20px;height:19px;border:0;cursor:pointer;background:url(../../../image/default/cart/computing.png) no-repeat;overflow:hidden;}
.computing_act .add{background-position:0 0;}
.computing_act .no_reduce{background-position:0 -19px;cursor:default;height:18px;}
.computing_act .no_add{background-position:-20px 0px;cursor:default;}
.computing_act .reduce{background-position:-20px -19px;height:18px;}