<{include file="../../../templates/default/site_nav.htm"}>
<link type="text/css" rel="stylesheet" href="<{$config.weburl}>/module/product/templates/cart.css">
<{include file="../../../templates/default/header_nonav.htm"}>
<!-- <div class="header">
	<div class="w fn-clear">
        <div class="logo">
            <a title="<{$config.company}>" href="<{$config.weburl}>">
                <img src="<{if $config.logo}><{$config.logo}><{else}><{$config.weburl}>/image/logo.gif<{/if}>" />
                <span></span>
            </a>
        </div>
		<div class="search">
            <form action="" class="form" method="get">
            <div class="i-search">
                <input type="hidden" value="product" name="m" id="m">
                <input type="hidden" value="list" name="s" id="s">
                <input type="text" class="text" name="key" id="key" value="<{$smarty.get.key}>" autocomplete="off">
			</div>
            <input type="submit" value="搜&nbsp;索" class="button">
            </form>
        </div>
    </div>  
</div> -->
<div class="cart-wrap">
<div class="cart w">
    <div class="cart-hd">
        <h2>我的购物车</h2><{$smarty.get.dist_user_id}>
        <!-- <{if $cart.cart}>
        <span>已选商品(不含运费)：<strong class="Price"><{$config.money}><em class="subtotal">0.00</em></strong><a class="submit-btn submit-btn-disabled" href="javascript:void(0);">结算</a></span>
        <{/if}> -->
    </div>
    <{if $smarty.get.type=="clear" || $cart.cart|@count<1}>
        <div class="cart-empty w">
            <div class="message">
            购物车内暂时没有产品，您可以<a href="<{$config.weburl}>">去首页</a>挑选喜欢的
            </div>
        </div>
    <{else}>  
    <{if $smarty.get.type=="numf"}>
        <div align="center"><font color="#FF0000">库存数量不够(已经为定订购产品的最大值)</font></div>
    <{elseif $smarty.get.type=="pronull"}>
        <div align="center"> <font color="#FF0000">产品不存在或订购销完或已经删除</font></div>
    <{elseif $smarty.get.type=="del"}>
        <div align="center"><font color="#FF0000">购物车不存在该产品已经删除</font></div>
    <{/if}>
    <form id="form" method="post" action="">
    <input type="hidden" id="act" name="act" />
    <table width="100%" cellpadding="0" cellspacing="0" class="cart-con">
    	<thead>
            <tr>
                <th width="45">
                <label class="cart-checkbox"><input data-type="all" type="checkbox"><em>全选</em></label>
                </th>
                <th>商品信息</th>
                <th width="128">单价（元）</th>
                <th width="115">数量</th>
                <th width="115">金额（元）</th>
                <th width="80">操作</th>
            </tr>
        </thead>
        <tbody>
        <tr class="seg-entry"></tr>
        <{foreach item=list from=$cart.cart}>

        <{if $list.dist_user_id}>
        <tr>
            <th colspan="6">
                <label class="cart-checkbox"><input type="checkbox" data-type="shop" data-value="<{$list.dist_user_id}>" name="checkbox" value="<{$pro.id}>"><em></em></label>
                店铺:
                <a target="_blank" href="shop.php?uid=<{$list.dist_user_id}>"><{$list.company}></a>
                <!--<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes" target="_blank"><img align="absmiddle" src="<{$config.weburl}>/image/default/cart/qq.gif"></a>-->
            </th>
        </tr>
        <{foreach item=pro key=n from=$list.prolist}>
        <tr>
            <td class="first">
                <label class="cart-checkbox"><input type="checkbox" data-value="<{$list.dist_user_id}>" name="product_id[]" value="<{$pro.id}>"><em></em></label>
            </td>
            <td>
                <div class="pro-img">
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>&shop_id=<{$list.dist_user_id}>">
                        <img height="80" alt="<{$pro.name}>" src="<{$pro.pic}>_220X220.jpg">
                    </a>
                </div>
                <div class="pro-name">
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>&shop_id=<{$list.dist_user_id}>">
                        <{if $pro.is_tg=='true'}><span>团购</span><{/if}>
                        <{$pro.pname}>
                    </a>
                    <{foreach item = lists from = $pro.spec}>
                    <p><{$lists}></p>
                    <{/foreach}>
                </div>
            </td>
            <td>
                <{if $pro.market_price>0}>
                <p><s><{$pro.market_price}></s></p>
                <{/if}>
                <p class="price"><{$pro.price}></p>
                <{if $pro.market_price>0}>
                <div class="promo-content">卖家促销</div>
                <{/if}>
            </td>
            <td>
                <div class="computing fn-clear">
                    <div class="computing_item">
                        <div class="computing_num">
                            <input maxlength="4" data-id='<{$pro.id}>' data-max="<{$pro.stock}>" name="nums" id="nums" type="text" value="<{$pro.num}>" />
                        </div>
                        <div class="computing_act">
                            <input type="button" class="<{if $pro.stock<=1}>no_<{/if}>add">
                            <input type="button" class="<{if $pro.num==1}>no_<{/if}>reduce">
                        </div>
                    </div>
                </div>
            </td>
            <td id="cell<{$pro.id}>">
                <span id="price" class="price org"><{$pro.sumprice}></span>
            </td>
            <td class="last">
                <a href="<{$config.weburl}>/?m=product&s=cart&deid=<{$pro.id}>">删除</a>
            </td>
        </tr>
        <{/foreach}>
        <{else}>
        <tr class="event-entry">
            <th colspan="6">
                <label class="cart-checkbox"><input type="checkbox" data-type="shop" data-value="<{$list.seller_id}>" name="checkbox" value="<{$pro.id}>"><em></em></label>
                店铺:
                <a target="_blank" href="shop.php?uid=<{$list.seller_id}>"><{$list.company}></a>
                <!--<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes" target="_blank"><img align="absmiddle" src="<{$config.weburl}>/image/default/cart/qq.gif"></a>-->
            </th>
        </tr>
        <{foreach item=pro key=n from=$list.prolist}>
        <tr class="item-entry">
            <td class="first">
                <label class="cart-checkbox"><input type="checkbox" data-value="<{$list.seller_id}>" name="product_id[]" value="<{$pro.id}>"><em></em></label>
            </td>
            <td>
                <div class="pro-img">
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>">
                        <img height="80" alt="<{$pro.name}>" src="<{$pro.pic}>_220X220.jpg">
                    </a>
                </div>
                <div class="pro-name">
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.product_id}>">
                        <{if $pro.is_tg=='true'}><span>团购</span><{/if}>
                        <{$pro.pname}>
                    </a>
                    <{foreach item = lists from = $pro.spec}>
                    <p><{$lists}></p>
                    <{/foreach}>
                </div>
            </td>
            <td>
                <{if $pro.market_price>0}>
                <p><s><{$pro.market_price}></s></p>
                <{/if}>
                <p class="price"><{$pro.price}></p>
                <{if $pro.market_price>0}>
                <div class="promo-content">卖家促销</div>
                <{/if}>
            </td>
            <td>
                <div class="computing fn-clear">
                    <div class="computing_item">
                        <div class="computing_num">
                            <input maxlength="4" data-id='<{$pro.id}>' data-max="<{$pro.stock}>" name="nums" id="nums" type="text" value="<{$pro.num}>" />
                        </div>
                        <div class="computing_act">
                            <input type="button" class="<{if $pro.stock<=1}>no_<{/if}>add">
                            <input type="button" class="<{if $pro.num==1}>no_<{/if}>reduce">
                        </div>
                    </div>
                </div>
            </td>
            <td id="cell<{$pro.id}>">
                <span id="price" class="price org"><{$pro.sumprice}></span>
            </td>
            <td class="last">
                <a href="<{$config.weburl}>/?m=product&s=cart&deid=<{$pro.id}>">删除</a>
            </td>
        </tr>
        <{/foreach}>
        <tr class="seg-entry"></tr>
        <{/if}>
        <{/foreach}>
        </tbody>
    </table>
    
	<div class="toolbar fn-clear">
    	<div class="select-all">
            <label class="cart-checkbox"><input type="checkbox" data-type="all"><em>全选</em></label>
        </div>
        <div class="operations">
            <a class="delete" href="javascript:void(0);">删除</a>
        </div>
        <a class="submit-btn submit-btn-disabled" href="javascript:void(0);">确认订单</a>
        <div class="cart-sum">
            <span>合计(不含运费)：</span>
            <strong class="Price"><{$config.money}><em class="subtotal">0.00</em></strong>
        </div>
        <div class="cart-count">
            <span>共有</span>
            <em>0</em>
            <span>件商品</span>
        </div>
    </div>
    </form>
    <{/if}>
</div>
</div>
<script type="text/javascript">
$(".operations a").bind("click",function(){
	$("#act").val($(this).attr("class"));
	$("#form").submit();
});
$(".submit-btn").bind("click",function(){
	if(!$(this).hasClass("submit-btn-disabled"))
	{
		$("#form").attr("action","<{$config.weburl}>/?m=product&s=confirm_order");
		$("#form").submit();
	}
});
$(".cart-checkbox input[type='checkbox']").click(function(){
	var flag = $(this).prop("checked");
	var data_type = $(this).attr("data-type");
	if(flag == true)
	{
		if(data_type == 'all')
		{
			ckeckbox("input[type='checkbox']",true);
		}
		else if(data_type == 'shop')
		{
			var data_value = $(this).attr("data-value");
			ckeckbox("input[data-value='"+data_value+"']",true);
		}	
		$(this).parent().addClass("cart-checkbox-checked");
	}
	else
	{
		if(data_type == 'all')
		{
			ckeckbox("input[type='checkbox']",false);
		}
		else if(data_type == 'shop')
		{
			var data_value = $(this).attr("data-value");
			ckeckbox("input[data-value='"+data_value+"']",false);
		}
		$(this).parent().removeClass("cart-checkbox-checked");
		$(this).parent().parent().parent().removeClass("checked");
	}
	count();
});
function ckeckbox(obj,flag)
{
	$(".cart-checkbox").find(obj).each(function(){
		if(flag == true)
		{
			$(this).parent().addClass("cart-checkbox-checked");
			$(this).prop("checked","checked");
		}
		else
		{
			$(this).parent().parent().parent().removeClass("checked");
			$(this).parent().removeClass("cart-checkbox-checked");
			$(this).prop("checked","");	
		}
	});
}
function count()
{
	var count = 0;
	var num = 0;
	$(".cart-checkbox").find("input[name='product_id[]']:checked").each(function(){
		var value = $(this).val();
		var price = $(this).parent().parent().parent().find("#cell"+value+" span").html();
		price = price.replace(/,/g, "")
		price = Number(price);
		count = count + price;
		num ++;
		$(this).parent().parent().parent().addClass("checked");
	});
	$(".subtotal").html(count.toFixed(2));
	$(".cart-count em").html(num);
	if(num>0) 
		$(".submit-btn").removeClass("submit-btn-disabled");
	else
		$(".submit-btn").addClass("submit-btn-disabled");	
}
var c=$(".computing_item");
var e=null;
c.each(function(){
	var g=$(this).find(".computing_act input");		
	var h=$(this).find("input#nums");
	var o=this;
	var f=h.attr("data-max");
	var i=1;
	var id=h.attr("data-id");
	h.bind("input propertychange",function(){
		var j=this;
		var k=$(j).val();
		e&&clearTimeout(e);
		e=setTimeout(function(){
			var l=Math.max(Math.min(f,k.replace(/\D/gi,"").replace(/(^0*)/,"")||1),i);
			$(j).val(l);
			edit_num(id,l,o);
			if(l==f){
				g.eq(0).attr("class","no_add");
				if(l==i)
					g.eq(1).attr("class","no_reduce")
				else
					g.eq(1).attr("class","reduce")
			}else{
				if(l<=i){
					g.eq(1).attr("class","no_reduce");
					g.eq(0).attr("class","add")
				}else{
					g.eq(1).attr("class","reduce");
					g.eq(0).attr("class","add")
				}
			}
		},50)
	}).trigger("input propertychange").blur(function(){$(this).trigger("input propertychange")}).keydown(function(l){
		if(l.keyCode==38||l.keyCode==40)
		{
			var j=0;
			l.keyCode==40&&(j=1);g.eq(j).trigger("click")
		}
	});
	g.bind("click",function(l){
		if(!$(this).hasClass("no_reduce")){
			var j=parseInt(h.val(),10)||1;
			if($(this).hasClass("add")&&!$(this).hasClass("no_add")){
				$(this).next().attr("class","reduce");
				if(f>i&&j>=f){
					$(this).attr("class","no_add")
				}
				else
				{
					j++;
					edit_num(id,j,o);
				}
			}else{
				if($(this).hasClass("reduce")&&!$(this).hasClass("no_reduce")){
					j--;
					edit_num(id,j,o);
					$(this).prev().attr("class","add");
					j<=i&&$(this).attr("class","no_reduce")
				}
			}
			h.val(j)
		}
	})
})
function edit_num(id,num,obj){
	var url = "?m=product&s=cart";
	var pars = 'id='+id+'&num='+num;
	$.post(url, pars,showResponse);
	function showResponse(originalRequest)
	{
		$('#cell'+id+' span').html((Number(originalRequest).toFixed(2)));	
		count()
	}
}
</script>
<{include file="../../../templates/default/footer.htm"}>