<div class="cartbg"></div>
<div class="cartinfo">
	<a id="close_box" class="cart-shut" href="#" onclick="$('#cart_show').fadeOut(500);return false;"></a>
    <div class="cart-head">添加成功！</div>
	<div class="cart-text">
    	<p class="cart-stats">购物车共有<strong><{$nums}></strong>件</p>
        <a title="去购物车结算" class="cart-checkout" href="<{$config.weburl}>/?m=product&s=cart">去购物车结算</a>
        <a class="close-page" onclick="$('#cart_show').fadeOut(500);return false;" href="#">再逛逛</a>
    </div>
</div>