@charset "utf-8";
.w{width:1212px;}
.header{padding:15px 0 10px;}
.header .w{padding-right:0;width:990px;}
.header .search{margin:15px 0 10px;height:45px;}

.step{margin:20px auto 20px;}
.step h3{border-bottom:1px solid #e0e0e0;padding:0 5px 10px;margin-bottom:20px;color: #666;}
/*.step h3 a{float:right;font-size:12px;font-weight:400;}
.step li{border:1px solid #FFFFFF;position:relative;line-height:36px;padding:0 0 0 96px;}
.step li s{background:url(../../../image/default/order/icon.gif) no-repeat;height:25px;left:10px;position:absolute;top:8px;width:15px;display:none;}
.step li span{display:none;position:absolute;left:30px;color:#F50;font-weight:700;display:none;height:36px;line-height:36px;margin-left:4px;}
.step li label{padding-left:10px;word-break:break-all;word-wrap:break-word;}
.step li input{position:absolute;left:78px;top:9px;}
.step li em{color:#808080;margin-left:5px;}
.step li.selected{background-color:#fff5cc;border:1px solid #ffe580;-webkit-box-shadow:5px 5px 0 #f3f3f3;-moz-box-shadow:5px 5px 0 #f3f3f3;box-shadow:5px 5px 0 #f3f3f3;line-height:36px;}
.step li.selected s{display:block;}
.step li.selected span{display:block;}
.step li.selected label{font-size:12px;font-weight:700;}
.step th{height:24px;line-height:24px;text-align:center;border-bottom:2px solid #B2D1FF;border-left:3px solid #FFF;}
.step th.first{border-left:none;}
.step .shop td{line-height:30px;padding:20px 0 5px;border-bottom:1px dotted #B2D1FF;}
.step .item td{border-bottom:1px dotted #B2D1FF;height:70px;overflow:hidden;padding:10px 0;text-align:center;}*/
.step .item td.name{text-align:left;border-left:1px solid #d8d8d8; }
.step .item td img{border:1px solid #CCCCCC;margin:2px 10px 0 0;}
.step .other td{padding:10px 0;text-align:right;background:#F2F7FF;}
.step .other td.msg{text-align:left;padding-left:10px;text-align:left;}
.step .other td.msg p{padding:3px 0;}
.step .other td.msg input{border:1px solid #CCCCCC;padding:5px 3px;width:360px;margin-left:5px;font-size:12px;}
.step .other td select{font-family:Tahoma;}
.step .total td{padding:0 0 10px;text-align:right;background:#F2F7FF;}
.step .sum td{text-align:right;padding:20px 0 20px;}
.step .sum .price b{font-size:18px!important;}
/*.step td.price{text-align:right;padding-right:15px;}*/
.step td b{color:#FF5500;font:700 12px tahoma;}
.step .tg{background-color:#ff4400;border-radius:4px;color:#fff;height:16px;line-height:16px;padding:4px 5px;display:inline-block;margin-top:4px;}

.step li{width: 275px;height: 135px;display: inline-block;border: 1px solid #e4e4e4;position: relative;margin: 6px;overflow: hidden;}

.order_submit{background:url(../../../image/default/btn-updata.png) no-repeat;height:36px;line-height:100px;overflow:hidden;width:135px;border:0 none;cursor:pointer;float:right;}

.loading{text-align:center;height:72px;padding-top:40px;+position:relative;}
.loading p{height:32px;line-height:32px;padding-left:42px;background:url(../../../image/default/loading.gif) no-repeat 0 50%;color:#f50;display:inline-block;_display:inline;_height:14px;_line-height:14px;_padding:9px 0 9px 42px;_background-position-y:0;+position:absolute;+left:50%;+margin-left:-55px;}

/*.footer{width:990px;padding:0;margin:30px auto 30px;border-top:2px solid #FF4400;color:#6C6C6C;}*/
.footer .helps{display:none;}
.footer .link{margin-bottom:10px;padding:15px 0;border-bottom:1px solid #DDDDDD;}
.footer .link dd{width:850px;}
.footer .links a{margin-left:0;color:#6C6C6C;}
.footer .links em{margin-right:10px;}
.footer .copyright{line-height:24px;}

.mall-receipt-info { color: #777; padding: 9px 19px; border: solid 1px #EEE;}
.mall-receipt-info-title { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; height: 22px; padding: 4px 0;}
.mall-receipt-info-title h3,
.mall-receipt-info-title a { font: 16px/20px arial,"microsoft yahei"; color: #333; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.mall-receipt-info-title a { font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #27A9E3; margin-left: 10px;}
.mall-receipt-info-title h3, .ncc-receipt-info-title a { *display: inline/*IE6,7*/;}
.mall-receipt-info-title h3 strong { font: bold 18px/20px Verdana; color: #F30; margin-left: 4px;}
.mall-receipt-info.current_box { color: #534535; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3FFFF5CC', endColorstr='#3FFFF5CC');background:rgba(255,245,204,0.25); padding: 7px 17px; border: solid 3px #D93600;}
#invoice_list{border-top: 1px dotted #ccc;margin-top: 5px;padding-top: 8px;}
#buyer_phone{padding: 3px;border: 1px solid #ccc}
#buyer_phone:focus{border:1px solid  #ADADFF;}
.step table{font-size: 12px; border-collapse:collapse;}
/*.step a{font-size: 12px;}*/
.v-t-price{font:700 12px tahoma;line-height: 38px;}
.step td.v-t-price b{font-size: 18px;}
.v-o-tips{line-height: 26px;}

.order_wrap{background: #f5f5f5;overflow:hidden;}
.order_wrap .order{border: 1px solid #ccc;margin:20px auto 50px;background-color: #fff;}
.order_wrap .order .step{margin: 20px;}
.order_wrap .order .selectadd{height: 40px;border-bottom: 1px solid #e0e0e0;line-height: 40px;font-size: 16px;}
.order_wrap .order .selectadd span{display: inline-block;padding: 0 15px;background-color: #f5f5f5;color: #ff5c5c;margin-right: 30px;border-bottom:2px solid #ff5c5c }
.step ul{padding: 20px 0;color: #666;font-size: 14px;padding-bottom:0;}
.step .modify{visibility:hidden;line-height: 30px;}
.step .selected .modify{visibility:visible;}
.step .modify a{color: #999;margin-right: 8px;}
.step .addressee{margin: 0 20px;line-height: 40px;}
.step .addressee .name{font-size: 18px;color: #ff5c5c;}
.step .addressee .name{font-size: 18px;color: #ff5c5c;}
.step .address{margin: 0 20px;}
.step li.selected{border: 2px solid #ff5c5c;}
.step li .check{display: none;}
.step li:hover{cursor: pointer;}
.step li.selected .check{display:block;position: absolute;bottom: 0;right: 0;border-top: 40px solid transparent;border-right: 40px solid #ff5c5c; width: 0;height: 0;transition: 0.3s}
.step li.selected .check .iconfont{font-family:iconfont;font-size: 17px;position: absolute;top: -26px;left: 19px;color: #fff;font-weight:bold;}
.step .addAddr{text-align: center;margin: 60px;}
.order_wrap #cart{margin-top: -10px;}
.order_wrap #cart .thead{border: 1px solid #ccc;line-height: 40px;background-color: #f5f5f5;}
.order_wrap #cart .thead .last{border-right: 1px solid #ccc;}
.order_wrap #cart .item{height: 115px;}
.step .shop td{line-height:40px;padding-left:20px;border:1px solid #D8D8D8;}
.step td.price{text-align:right;padding-right:15px;border-right: 1px solid #d8d8d8;}
.step .item td{border-bottom:1px solid #d8d8d8;height:70px;overflow:hidden;padding:10px 0;text-align:center;}
.step .item td.name div{margin-left: 15px;}
.step .seg-entry{height:15px;}
.step .other td{background-color: #f5f5f5;}
.step .total td{background-color: #f5f5f5;}
.step tr.other{border-top: 1px solid #d8d8d8;border-left: 1px solid #d8d8d8;}
.step tr.total{border-left:1px solid #d8d8d8;}
.step tr.total:nth-child(even){border-bottom:1px solid #d8d8d8;}
.step .order_sum{float: right;display: inline-block;line-height: 40px;margin-right: 20px;}
.step .order_sum b{color: #ff5c5c;font-size: 24px;}

.waitpay{display:none;text-align: center;z-index: 200001;background-clip: padding-box;background-color: #FFFFFF;border: 1px solid rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;margin: -150px 0 0 -250px;overflow: hidden;position: fixed;top: 50%;width: 500px; height: 300px;overflow: hidden;}
.waitpay .head{text-align: left;padding:0 20px;font-size: 16px; background: #f2f2f2;line-height: 35px;border-bottom: 1px solid #ccc;}
.waitpay .head a{float: right;font-size: 20px;cursor: pointer;}
.waitpay .content{font-size: 16px;width: 360px;padding: 35px 0;}
.waitpay .content h2{color: #333;font-weight:500;margin-bottom: 20px;}
.waitpay ul{margin-top: 20px;}
.waitpay ul li{float: left;width: 158px;margin: 0 10px;line-height: 30px;border:1px solid #ccc;border-radius: 5px;background-color: #f2f2f2;}
.waitpay ul li.cur{background-color: #ff5c5c;border: none;}
.waitpay .cur a,.waitpay .cur a:hover{color: #fff;}
.waitpay .repay{margin-top: 10px;}
.waitpay .repay a{color: #ff5c5c;}
#overlay{opacity: 0.7;position: fixed;top: 0;left: 0;background-color: black;width: 100%; height:100%;z-index: 20000;}