<form action="" method="post" id="saveorder" onsubmit="return saveorder();">
    <div id="step-2" class="step clearfix">
        <h3>确认商品信息<span style="float:right;color:#ff5c5c;font-weight:normal;" >全场满300包邮，部分单品除外</span></h3>
        <table width="100%">
            <tr class="thead">
                <th>商品信息</th>
                <th width="150">单价(元)</th>
                <th width="120">数量</th>
                <th width="190">优惠方式(元)</th>
                <th class="last" width="140">小计(元)</th>
            </tr> 
            <{foreach item=list from=$cart}>
			<{if $list.invalid_count != $list.prolist|@count}>
            <tr class="seg-entry"></tr>
            <tr class="shop">
                <td colspan="8">
                店铺:&nbsp;<a target="_blank" href="shop.php?uid=<{$list.seller_id}>"><{$list.company}></a>
                </td>
            </tr>
            <{foreach item=pro from=$list.prolist}>
            <{if !$pro.invalid}>
            <tr class="item">
                <td class="name">
                    <div class="fl">
                    <a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.pids}><{if $pro.dist_user_id}>&shop_id=<{$pro.dist_user_id}><{/if}>"><img height="60" alt="<{$pro.pname}>" src="<{php}>if(strpos($this->_tpl_vars['pro']['pic'],'haitao.com'))echo $this->_tpl_vars['pro']['pic'].'_60X60.jpg';else echo $this->_tpl_vars['pro']['pic'].'!/fw/60/quality/60';<{/php}>"></a>
                    </div>
                    <p><a target="_blank" href="<{$config.weburl}>/?m=product&s=detail&id=<{$pro.pids}><{if $pro.dist_user_id}>&shop_id=<{$pro.dist_user_id}><{/if}>"><{$pro.pname}></a></p>
				</td>
                <td><{$pro.price|number_format:2}></td>
                <td class="num"><{$pro.num}></td>
                <td>
                	<{if $pro.market_price>0}>
                    省 <{$pro.market_price-$pro.price|number_format:2}> 元
                    <{else}>
                    无
                    <{/if}>
                </td>
                <td class="price"><b><{$pro.sumprice|number_format:2}></b></td>
            </tr>
            <{/if}>
            <{/foreach}>
            <tr class="seg-entry"></tr>
            <tr class="total">
            	<td></td>
            	<td></td>
            	<td></td>
                <td valign="top">
                <p>代金券</p>
                店铺合计(不含运费)
                <input name="logistics_type_<{$list.seller_id}>" id="logistics_type_<{$list.seller_id}>" type="hidden" value="快递" />
                <input name="logistics_price_<{$list.seller_id}>" id="logistics_price_<{$list.seller_id}>" type="hidden" value="<{$m_price}>" />
                </td>
                <td class="price">
                <p>
                    <select name="voucher_<{$list.seller_id}>" uid="<{$list.seller_id}>">
                    <option value="" item=0>不使用代金券</option>
                     <{foreach from=$list.voucher item=vo}>
                    <option item="<{$vo.price}>" value="<{$vo.id}>"><{$vo.name}></option>
                    <{/foreach}>
                    </select>
                </p>
                    <{if $list.voucher}><b class="vouchers" id="voucher_<{$list.seller_id}>">0.00</b>
                    <br/><{/if}>
                    <b class="shop_total_price" id="s_csumprice_<{$list.seller_id}>" org="<{$list.sumprice+$m_price|number_format:2}>">
                    <{$list.sumprice+$m_price|number_format:2}>
                    </b>
                </td>
            </tr>
			<{/if}>
            <{/foreach}>
            <input type="hidden" name="act" value="order" />
            <input type="hidden" name="hidden_consignee_id" id="hidden_consignee_id" value="<{if $consignee_id}><{$consignee_id}><{else}><{$consignee.0.id}><{/if}>" />
            <tr class="seg-entry"></tr>
		</table>
        <div class="money">
            <!--<p><span>满减</span>全场满300减20,还差98元</p>-->
            <p><var class="pro">7</var>件商品，总商品金额<span>¥<b class="sumprice"></b></span></p>
            <p><i>运费</i><span class="fare">¥<b><{$logisticsCost}></b></span></p>
            <p>应付总额<span>¥<b class="s_sumprice"></b></span></p>
            <{if $logisticsCost <= 128}>
            <div class="freight hidden"><p>免日本境内运费</p><p>商品重量：<{$weights}>g</p><p>首重：88.00元/500.00g</p><p>续重：8.00元/100g</p><p>(500g起运，不足500g按500g运费收取)</p><p>物流对比参考：</p><p>此商品官网直邮中国运费价格为人民币</p></div>
            <{/if}>
            <{if $logisticsCost > 128}>
            <div class="freight hidden"><p>免日本境内运费</p><p>商品重量：<{$weights}>g</p><p>首重：128.00元/1000g</p><p>续重：22.00元/500g</p><p>物流对比参考：</p><p>此商品官网直邮中国运费价格为人民币</p></div>
            <{/if}>
        </div>
        <p class="tip">*因商品都是由海外仓库直接发货，所以您在不同商铺购买的商品会统一发您一个包裹，收到包裹后请查收您的商品是否齐全。<br/>*若在清关中产生的税费及手续费需要收件人缴纳，请知悉。</p>
   		<input type="submit" value="" class="order_submit">
        <div class="order_sum">实付款&nbsp&nbsp<b><{$config.money}> <span><b class="s_sumprice"></b></span></b></div>
   </div>
</form>
<script>
 $("select[name^='voucher_']").change(function(){
     uid = $(this).attr("uid")
     num = $(this).find("option:selected").attr("item")*1;
     $('#voucher_'+uid).html("-"+roundAmount(num));
     var price_s =$('#s_csumprice_'+uid).attr("org").replace(',','')*1
     $('#s_csumprice_'+uid).html(roundAmount(price_s-num))
     count_all_price()
 })
var cid = $("#hidden_consignee_id").val();
if(!cid)
{   
	layer.msg("请先添加收货地址!");
	setTimeout(function() {
        window.location="main.php?m=member&s=admin_orderadder&type=add&cg_u_type=1&act=return";
    },3000);
}
function count_all_price()
{	//计算本次购物总价,购物总价+所有物流价格
	var total=0;
	var stotal=$('.shop_total_price');
	for (var i=0;i<stotal.length;i++)
	{
		total+=stotal[i].innerHTML.replace(',','')*1;
	}
	$('.sumprice').html(roundAmount(total));
    total+=Number($(".fare b").text());
	$('.s_sumprice').html(roundAmount(total-<{$firstvou}>));
}
count_all_price();
function setMoney(){
    var sum = 0;
    $('.num').each(function(index, item) {
        sum += parseInt($(item).text()) || 0;
    });
    $(".money var.pro")[0].innerHTML=sum;
    $(".money i").hover(function(){
        $(".freight").removeClass("hidden");
    },function(){
        $(".freight").addClass("hidden");
    });
}
setMoney();
function roundAmount(n)
{  
  var   s   =   ""   +   Math.round(n*100)/100  
  var   i   =   s.indexOf('.')  
  if(i<0)   return   s   +   ".00"  
  var   t=s.substring(0,   i   +   1)   +    
		  s.substring(i   +   1,   i   +   3)  
  if(i   +   2   ==   s.length)   t   +=   "0"  
  return   t  
}
</script>