<link href="<{$config.weburl}>/module/product/templates/pro.css" rel="stylesheet" type="text/css" />
<div class="bgcolor">
<div style="position: relative;top: 0;left: 50%;margin-left: -960px;">
    <{if $gid}>
    <script src='<{$config.weburl}>/api/ad.php?id=<{$gid}>'></script>
    <!--<img src="image/default/banner_list.jpg">-->
    <{/if}>
</div>
<!--  <div class="w">
    <div class="detailnav">
    	<{if $smarty.get.key}>
        <strong><a href="<{$config.weburl}>?m=product&s=list">全部结果</a></strong><span>
        <{/if}>

        <{foreach item=list key=key from=$catname}>

        <{if $key==0 && !$smarty.get.key}>
        <strong><a href="<{$config.weburl}>?m=product&s=list&id=<{$list.id}>"><{$list.id|getName}></a></strong><span>
        <{else}><b></b><a href="<{$config.weburl}>?m=product&s=list&id=<{$list.id}>"><{$list.id|getName}>&nbsp</a><a
            style="border-left:none;" href="<{$config.weburl}>?m=product&s=list&id=<{$list.oid}>">×</a>
        <{/if}>

        <{foreachelse}>

        <{if !$smarty.get.key}>
        <strong><a href="index.php">首页</a></strong><span>
         > <a href="<{$config.weburl}>?m=product&s=list">全部商品</a>
        <{/if}>
        <{/foreach}>

        <{if $smarty.get.key}>
         > "<{$smarty.get.key}>"
        <{/if}>

        <{if $smarty.get.brand}>
         <b></b> <a href="<{$config.weburl}>?m=product&s=list&<{$url}>"><{$smarty.get.brand}></a><a
            href="<{$config.weburl}>?m=product&s=list&id=<{$smarty.get.id}>">×</a>
        <{/if}>
        </span>
    </div>
</div> -->

<div class="w pd20" style="padding-top: 20px;">
    <{if $brand || $catfile || $cat}>
    <div id="select">
    	<{if $cat }>
        <dl class="first">
            <dt>分类：</dt>
            <dd>
                <{assign var=id value=$smarty.get.id}>
                <{foreach item=list from=$cat}>
                <div>
                    <a <{if $id==$list.catid}>class="curr"<{/if}> href="<{$config.weburl}>/?m=product&s=list&id=<{$list.catid}>"><{$list.cat}></a>
                </div>
                <{/foreach}>
            </dd>
        </dl>
        <{/if}> 
        <{if $brand }>
        <dl <{if !$cat }>class="first"<{/if}> >
            <dt>品牌：</dt>
            <dd>
                <{assign var=b value=$smarty.get.brand}>
                <div><a <{if $b==""}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&brand=$b":""}>">不限</a></div>
                <{foreach item=list from=$brand}>
                <div>
                <a <{if $b==$list.name}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&brand=$b":""}>&brand=<{$list.name}>"><{$list.name}></a>
                </div>
                <{/foreach}>
            </dd>
        </dl>
        <{/if}>
        <dl>
            <dt>筛选：</dt>
            <{if $smarty.get.key}>
            <strong><a href="<{$config.weburl}>?m=product&s=list">全部结果</a></strong><span>
            <{/if}>

            <{foreach item=list key=key from=$catname}>

            <{if $key==0 && !$smarty.get.key}>
            <!-- <strong><a href="<{$config.weburl}>?m=product&s=list&id=<{$list.id}>"><{$list.id|getName}></a></strong> --><span style="display: block;padding-top: 8px;">
            <{else}><b></b><a style="border:1px solid #ccc;padding: 0 5px;" href="<{$config.weburl}>?m=product&s=list&id=<{$list.id}>"><{$list.id|getName}>&nbsp</a><a
                style="border:1px solid #ccc;border-left:none;padding: 0 3px; margin-right: 10px;" href="<{$config.weburl}>?m=product&s=list&id=<{$list.oid}>">×</a>
            <{/if}>

            <{foreachelse}>

            <{if !$smarty.get.key}>
            <strong><a href="index.php">首页</a></strong><span>
             > <a href="<{$config.weburl}>?m=product&s=list">全部商品</a>
            <{/if}>
            <{/foreach}>

            <{if $smarty.get.key}>
             > "<{$smarty.get.key}>"
            <{/if}>

            <{if $smarty.get.brand}>
             <b></b> <a style="border:1px solid #ccc;padding: 0 5px;" href="<{$config.weburl}>?m=product&s=list&<{$url}>"><{$smarty.get.brand}></a><a style="border:1px solid #ccc;border-left:none;padding: 0 3px;margin-right: 10px;"
                href="<{$config.weburl}>?m=product&s=list&id=<{$smarty.get.id}>">×</a>
            <{/if}>
            </span>
        </dl>
        <{foreach item=list key=num from=$catfile}>
        <{assign var=fieldName value=$list.field}>
        <{assign var=s value=$smarty.get.$fieldName}>
        <dl <{if !$brand && !$cat && $num==0 }>class="first"<{/if}> >
            <dt><{$list.name}>：</dt>
            <dd>
                <div><a <{if $smarty.get.$fieldName==""}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&$fieldName=$s":""}>">不限</a></div>
                
                <{foreach item=slist from=$list.catItem}>
                    <div><a <{if $smarty.get.$fieldName==$slist.id}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&$fieldName=$s":""}>&<{$list.field}>=<{$slist.id}>"><{$slist.name}></a></div>
                <{/foreach}>
            </dd>
        </dl>
        <{/foreach}>
    </div>
    <{/if}>
    <div class="itemSearchList clearfix">
    	<{if $info.list}>
        <div class="itemSearchResult clearfix">
        <div class="filter clearfix">
            <div class="fore1 clearfix">
                <div class="order">
                    <{assign var=s value=$smarty.get.orderby}>
                    <a <{if !$s}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>"><span>综合</span></a>
                    <a <{if $s==1}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=1"><span>销量</span></a>
                    <a <{if $s==4}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=4"><span>新品</span></a>
                    <a <{if $s==5 || $s==6}>class="current <{if $s==5}>up<{/if}>"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=<{if $s==6 }>5<{else $s==5 }>6<{/if}>"><span>价格</span><b></b></a>
                    <a <{if $s==2}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=2"><span>人气</span></a>
                </div>
                <div class="sendadd">发货地</div>
                <div class="area"><span><{if $smarty.get.province|getdistrictname}><{$smarty.get.province|getdistrictname}><{else}><{/if}></span><b></b></div>
                <div style="display:none;" class="i-area">
                    <ul>
                        <{foreach item=list from=$province}>
                        <li key="<{$list.id}>"><{$list.name}></li>
                        <{/foreach}>
                    </ul>
                </div>
                <{assign var=p value=$smarty.get.province}>
                <script>
                    $(function(){
                        $(".area").click(function(){
                            var obj=$(this);
                            $(this).next().slideToggle("fast",function(){
                                if($(obj).next().is(":visible")){
                                    $(document).one('click',function(){
                                        $(".area").next().slideUp("fast");
                                    });
                                }});
                        });
                        $(".i-area li").click(function(){
                            var str=$(this).html();
                            $(this).parent().parent().prev().children("span").html(str);
                            $(this).parent().parent().slideToggle();
                            var id=$(this).attr("key");
                            <{assign var=p value=$smarty.get.province|urlencode}>
                            window.location='<{$config.weburl}>/?<{$url|replace:"&province=$p":""}>&province='+id;
                        });
                    });
                </script>
            </div>
        </div>
            <ul class="clearfix border_left">
                <{foreach item=list key=num from=$info.list}>
                <li <{if ($num+1)%5==0}>class="mr0 w242"<{/if}> >
                    <div class="p-info">
                        <a class="p-img" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">  <img height="200" width="200" alt="<{$list.pname}>" src="<{$list.pic}>_220X220.jpg"> </a>
                        <p class="p-country"><span>
                            <{if $list.nat}>
                                <img src="<{$list.nat.img}>">
                            <{/if}>
                        </span><a class="p-name" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><{$list.pname}></a></p>
                        <p class="p-price"><strong><{$config.money}><{$list.price}></strong><s>¥<{$list.market_price}></s></p>
                        <p class="p-option clearfix"><a class="fl" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><{$list.con.num}></a><a href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" class="fr">加入购物车</a></p>
                        <!-- <div class="p-shop"><a href="shop.php?uid=<{$list.userid}>"><{$list.company}></a></div> -->
                    </div>
                    <div class="fix">免税包邮</div>
                </li>
                <{/foreach}>
            </ul>
            <{if $info.page}>
            <div class="flpage clearfix">
                <div class="page clearfix"><{$info.page}></div>
            </div>
            <{/if}>
        </div>
       <!--  <div class="hotProduct">
        	<div class="m">
                <div class="mt"><h3>为您推荐</h3></div>
                <div class="mc">
                 <{insert name="label" type="product" catid=$smarty.get.id o='1' temp="product_list_li" limit=6}>
                </div>
            </div>
        </div> -->
        <{else}>
        <div class="itemsNull clearfix">
            <div class="left"><img src="image/default/null.png"></div>
            <div class="right">
                <h3>很抱歉，没有找到符合条件的宝贝</h3>
                <p>
                    <em>建议您：</em>
                    <span>1、适当减少筛选条件，可以获得更多结果</span>
                    <span>2、尝试其他关键字</span>
                </p>
            </div>
        </div>
        <{/if}>
    </div>
</div>
</div>