<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/page2.css" rel="stylesheet" type="text/css"/>
<!--列表页内容start-->
  <div class="pro_list">
    <div class="w">
        <!--banner start-->
        <div class="pro_ban">
            <{if $gid}>
            <script src='<{$config.weburl}>/api/ad.php?id=<{$gid}>'></script>
            <{/if}>
        </div>
        <!--banner end-->
        <!--筛选条件 start-->
        <div class="pro_select">
        <{if $cat }>
          <dl>
            <dt>分类：</dt>
            <dd>
            <{assign var=id value=$smarty.get.id}>
            <{foreach item=list from=$cat}>
              <a href="<{$config.weburl}>/?m=product&s=list&id=<{$list.catid}>"><{$list.cat}></a>
            <{/foreach}>
            </dd>
          </dl>
        <{/if}>
        <{if $brand }>
          <dl>
            <dt>品牌：</dt>
            <dd>
            <{assign var=b value=$smarty.get.brand}>
                <div class="brand clear">
                <{foreach item=list from=$brand}>
                <a <{if $b==$list.name}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&brand=$b":""}>&brand=<{$list.name}>"><img src="<{$list.logo}>"><{$list.name}></a>
                <{/foreach}>
                </div>
            </dd>
          </dl>
        <{/if}>
          <dl class="pro_selected">
            <dt>筛选：</dt>
            <dd>
            <{if $smarty.get.key}>
            <a href="<{$config.weburl}>?m=product&s=list">全部结果</a>
            <{/if}>

            <{foreach item=list key=key from=$catname}>
            <{if $key==0 && !$smarty.get.key}>
            <{else}>
              <a href="<{$config.weburl}>?m=product&s=list&id=<{$list.oid}>"><{$list.id|getName}>&nbsp×</a>
            <{/if}>

            <{foreachelse}>
            <{if !$smarty.get.key}>
            <a href="index.php">首页</a>
             > <a href="<{$config.weburl}>?m=product&s=list">全部商品</a>
            <{/if}>
            <{/foreach}>

            <{if $smarty.get.key}>
             > "<{$smarty.get.key}>"
            <{/if}>

            <{if $smarty.get.brand}>
                <a href="<{$config.weburl}>?m=product&s=list&id=<{$smarty.get.id}>"><{$smarty.get.brand}></a>
            <{/if}>
            </dd>
          </dl>
        </div>
        <!--筛选条件 end-->
        <!--排序 start-->
        <div class="pro_filter">
          <div class="order">
            <{assign var=s value=$smarty.get.orderby}>
            <a <{if !$s}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>">综合</a>
            <a <{if $s==1}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=1">销量</a>
            <a <{if $s==4}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=4">新品</a>
            <a <{if $s==5 || $s==6}>class="current <{if $s==5}>up<{/if}>"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=<{if $s==6 }>5<{else $s==5 }>6<{/if}>">价格<b></b></a>
            <a <{if $s==2}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=2">人气</a>
          </div>
          <!-- 发货地
          <div class="area"><span>海外</span></div> -->
        </div>
        <!--排序 end-->
          
        <{if $info.list}>
        <div class="pro_itemlist">
            <ul class="clear">
                <{foreach item=list key=num from=$info.list}>
                <{if $list.trade eq 2}>
                <li <{if ($num+1)%5==0}>class="mr0 w242"<{/if}> >
                    <div class="p-info">
                        <a class="p-img" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">  <img height="200" width="200" alt="<{$list.pname}>" title="<{$list.pname}>" src="<{$list.pic}>_220X220.jpg"> </a>
                        <p class="p-country">
                            <{if $list.nat}>
                                <img src="<{$list.nat.img}>"><{$list.nat.title}>
                            <{/if}>
                            <span>海外直采</span>
                        </p>
                        <a class="p-name" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" title="<{$list.pname}>"><{$list.pname}></a>
                        <p class="p-price"><span>店头价</span><var><{$config.money}><{$list.price}></var></p>
                    </div>
                </li>
                <{/if}>
                <{if $list.trade eq 0}>
                <li>
                    <div class="p-info">
                        <a class="p-img" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">  <img height="200" width="200" alt="<{$list.pname}>" title="<{$list.pname}>" src="<{$list.pic}>_220X220.jpg"> </a>
                        <p class="p-text" title="<{$list.subhead}>"><{$list.subhead|truncate:20}></p>
                        <a class="p-name" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>" title="<{$list.pname}>"><{$list.pname}></a>
                        <p class="p-price"><span class="tm">特卖价</span><var><{$config.money}><{$list.price}></var></p>
                    </div>
                </li>
                <{/if}>
                <{/foreach}>
            </ul>
            <{if $info.page}>
            <div class="flpage clear">
                <div class="page clear"><{$info.page}></div>
            </div>
            <{/if}>
        </div>
        <{else}>
        <div class="itemsNull clear">
            <div class="left"><img src="image/default/haitao_icon19.png"></div>
            <div class="right">
                <h3>很抱歉，没有找到符合条件的宝贝</h3>
                <p>
                    <em>建议您：</em>
                    <span>1、适当减少筛选条件，可以获得更多结果</span>
                    <span>2、尝试其他关键字</span>
                </p>
            </div>
        </div>
        <div>
            <!--<img src="image/default/haitao_gift.jpg">-->
            <p class="itemsNull-like">你可能还喜欢</p>
        </div>
        <div class="pro_itemlist">
            <ul class="clear">
                <{foreach item=list key=num from=$relationcat}>
                <li <{if ($num+1)%5==0}>class="mr0 w242"<{/if}> >
                <div class="p-info">
                    <a class="p-img" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">  <img height="200" width="200" alt="<{$list.name}>" src="<{$list.pic}>_220X220.jpg"> </a>
                    <p class="p-country">
                        <{if $list.img}>
                        <img src="<{$list.img}>"><{$list.title}>
                        <{/if}>
                    </p>
                    <a class="p-name" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><{$list.name}></a>
                    <p class="p-price"><span>店头价</span><var><{$config.money}><{$list.price}></var></p>
                </div>
                <div class="fix"></div>
                </li>
                <{/foreach}>
            </ul>
        </div>
        <{/if}>
    </div>
    </div>
</div>