<link href="<{$config.weburl}>/templates/<{$config.temp}>/css/page2.css" rel="stylesheet" type="text/css" />
<!--banner start-->
<div class="banner-slide clear">
    <script src='<{$config.weburl}>/api/ad.php?id=1&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
    <div class="extend"><script src='https://www.mayihaitao.com/api/ad.php?id=31'></script></div>
</div>
<!--banner end-->
<!--海淘国家 start-->
<div class="m_country_list">
  <div class="country_goods_list">
    <ul class="m_tab_con pos_re" id="country_tab_con">
      <li>
        <div class="m_list m_list_01 clear">
          <div class="fl m_img_box w_202"><a href="<{$config.weburl}>/?m=product&s=list&dist_id=31&national=7"><img src="../image/default/haitao_icon11.jpg"></a></div>
          <div class="fl pos_re list_box">
            <ul class="clear">
              <{insert name="label" national=1 type="product"  o=6 temp="product_list_li_3" limit=6}>
            </ul>
            <div class="m_img_box pos_ab"><script src='<{$config.weburl}>/api/ad.php?id=29'></script></div>
          </div>
          <div class="fl m_img_box w_202"><script src='<{$config.weburl}>/api/ad.php?id=30'></script></div>
        </div>
        <div class="c_l_img"><img src="../image/default/haitao_icon12.png" alt=""></div>
        <div class="c_r_img"><img src="../image/default/haitao_icon13.png" alt=""></div>
      </li>
    </ul>
  </div>
</div>
<!--海淘111国家 end-->
<!--商品分类 start-->
<div class="m_goods_category">
    <{insert name="label" type="cat" temp="pro_index_01"}>
</div>
<!--商品分类 end-->
<{if $buidAd eq 1}>
<div class="am-dialog-mask"></div>
<section>
    <div class="main-bomb bomb-in"><img src="../../../image/default/haitao_icon17.png"><a href="javascript:void(0);" class="close"></a><a href="<{$logoAd}>" class="receive"></a></div>
</section>
<{/if}>
<script type="text/javascript" src="<{$config.weburl}>/script/jquery.flexslider-min.js"></script>
<script type="text/javascript">
function setCookie(objName,objValue){
    var str = objName + "=" + escape(objValue); 
    document.cookie = str; 
}
function getCookie(name){
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
    if(arr=document.cookie.match(reg))
    return unescape(arr[2]);
    else
    return null;
}
function bombanimate(){
    setCookie("mayi_bomb","mayi_delate");
    $(".main-bomb").removeClass("bomb-in")
    $(".main-bomb").addClass("bomb-out")
    $(".am-dialog-mask").hide();
}
if(getCookie("mayi_bomb")!="mayi_delate"){
    $(".main-bomb").show();
    $(".am-dialog-mask").show();
}else{
    $(".main-bomb").hide();
    $(".am-dialog-mask").hide();
}
$(".main-bomb a.close").bind("click",function(){
    bombanimate();
});
$(".m_menu dd").css("display","block");
$(window).load(function(){
    $(".flexslider").flexslider({slideshowSpeed: 4000,animationSpeed: 400,touch: true,pauseOnHover:true});
});
</script>