 <{include file="header.htm"}>
<style>.matchCon{width:280px;}</style>
<body class="body">
	<div class="wrapper">
		<div class="mod-search cf">
			<div class="fl">
				<ul class="ul-inline">
					<li>
						<span id="catorage"></span>
					</li>
					<li>
						<input type="text" id="matchCon" class="ui-input ui-input-ph matchCon" value="输入客户编号/ 名称/ 联系人/ 电话查询">
					</li>
					<li><a class="ui-btn mrb" id="search">查询</a></li>
				</ul>
			</div>
			<div class="fr">
				<!-- <a href="#" class="ui-btn ui-btn-sp mrb" id="btn-add">新增</a> -->
				<!-- <a class="ui-btn ui-btn-sp mrb" id="btn-disable">退货</a> -->
				<!-- <a class="ui-btn mrb" id="btn-enable">启用</a> -->
				<!--<a href="#" class="ui-btn mrb" id="btn-print">打印</a>-->
				<!-- <a href="#" class="ui-btn mrb" id="btn-import">导入</a>
				<a href="#" class="ui-btn mrb" id="btn-export">导出</a>
				<a href="#" class="ui-btn" id="btn-batchDel">删除</a> -->
			</div>
		</div>
		
		<div class="grid-wrap">
			<table id="grid"></table>
			<div id="page"></div>
		</div>
	</div>
	<script src="js/return_list.js?ver=201508241556"></script>
</body>
</html>