<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>广告管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../script/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../script/jquery.validation.min.js"></script>
<script src="../script/my_lightbox.js" language="javascript"></script>
<script language="javascript" src="../script/Calendar.js"></script>
<script language="javascript">
var weburl="<{$config.weburl}>";
</script>
</head>
<body>
	<div class="container">
        <div class="flow">
            <div class="itemtitle">
                <h3>广告</h3>
                <ul>
					<li <{if $smarty.get.operation==''}>class="current"<{/if}>><a href="?m=comactivity&s=comactivity.php"><span>活动商品列表</span></a></li>

					<li <{if $smarty.get.operation=='add_ads'}>class="current"<{/if}>><a href="?m=comactivity&s=comactivity.php&operation=add_ads"><span>新增商品</span></a></li>

                </ul>
            </div>
        </div>

        <div class="h35"></div>

        <{if $smarty.get.operation=='add' or $smarty.get.operation=='edit' }>
        	<script language="javascript">
			var cdr = new Calendar("cdr");
			document.write(cdr);
			cdr.showMoreDay = true;

			$(function(){
				$('#form').validate({
					errorPlacement: function(error, element){
						element.nextAll('.form-error').append(error);
					},
					rules : {
						name:{
							required:true
						},
						stime:{
							required:true
						},
						etime:{
							required:true
						},

					},
					messages : {
						name:{
							required:'请填写广告名称',
						},
						etime:{
							required:'请填写开始时间',
						},
						stime:{
							required:'请填写结束时间',
						},

					}
				});
			});
			</script>
            <form name="form" id="form" method="post">
            <input name="id" type="hidden" id="id" value="<{$de.ID}>">
            <table class="table table1">
            	<thead>
                    <tr>
                        <th class="partition" colspan="99">新增广告</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
					<td width="100">广告名称</td>
                    <td>
                    <input name="name" id="name" type="text" class="w350" value="<{$de.name}>"><div id="form-error" class="form-error"></div>
                    </td>
                </tr>

                <tr>
                	<td>广告位</td>
                    <td>
                    <select id="group_id" name="group_id">
                    	<{foreach item=list from=$re}>
                        	<option data-param="{'type':'<{$list.ad_type}>'}" value="<{$list.ID}>" <{if $list.ID==$de.group_id}>selected="selected"<{/if}> ><{$list.name}></option>
                        <{/foreach}>
                    </select>
                    <input type="hidden" name="ad_type" id="ad_type" value="<{if $de.ad_type}><{$de.ad_type}><{else}><{$re.0.ad_type}><{/if}>" />
                 	</td>
                </tr>

                <tr>
                	<td>类别</td>
                    <td><span id="cat"><{foreach item=slist key=key from=$type}><{if $de.ad_type}><{if $key==$de.ad_type}><{$slist}><{/if}><{else}><{if $key==$re.0.ad_type}><{$slist}><{/if}><{/if}><{/foreach}></span></td>
                </tr>

                <tr>
                	<td>投入类别ＩＤ</td>
                    <td>
                    <input name="catid" id="catid" type="text" class="w350" value="<{if $de.catid}><{$de.catid}><{else}>0<{/if}>">
                 	</td>
                </tr>

                <tr>
                	<td>链接网址</td>
                    <td>
                    <input name="url" id="url" type="text" class="w350" value="<{$de.url}>">
                 	</td>
                </tr>

                <tr>
                	<td>起止时间</td>
                    <td>
                    <script language="javascript">
                    var cdr = new Calendar("cdr");
                    document.write(cdr);
                    cdr.showMoreDay = true;
                    </script>
                    <input onFocus="cdr.show(this);" class="w160" type="text" name="stime" id="stime" value="<{if $de.stime}><{$de.stime|date_format}><{else}><{$time|date_format}><{/if}>">
                    <s>-</s>
                    <input onFocus="cdr.show(this);" class="w160" type="text" name="etime" id="etime" value="<{if $de.stime}><{$de.etime|date_format}><{else}><{$time1|date_format}><{/if}>">
                    <div id="form-error" class="form-error"></div>

                </tr>
                <tr id="tr1" <{if $de.ad_type==3}>class="hidden"<{/if}>>
                	<td>图片</td>
                    <td>
					<input name="pic" class="w350" type="text" id="pic" value="<{$de.picName}>" />
                    [<a href="javascript:uploadfile('上传LOGO','pic','','','adv')">上传</a>]
                    [<a href="javascript:preview('pic');">预览</a>]
                    [<a onclick="javascript:$('#pic').val('');" href="#">删除</a>]
                    <div id="form-error" class="form-error"></div>
                    </td>
                </tr>
                <tr id="tr2" <{if $de.ad_type!=3}>class="hidden"<{/if}>>
                	<td>文本</td>
                    <td>
					<textarea class="w343" name="con"><{$de.con}></textarea>
                    </td>
                </tr>
                <tr>
                	<td>是否开启</td>
                    <td>
                    <input name="isopen" type="checkbox" class="checkbox" id="isopen" value="1" <{if $de.isopen==1}>checked="checked"<{/if}> />
                    <label for="isopen">开启</label>
                    </td>
                </tr>
                <tr>
                	<td></td>
                    <td>
                    <input class="submit" type="submit" value="提交">
                    <input name="act" type="hidden" id="action" value="<{if !$smarty.get.editid}>save<{else}>edit<{/if}>">
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
            <script>

			$("#group_id").change(function(){

				var arr = new Array();
				<{foreach item=list key=num from=$type}>
				arr.push('<{$list}>');
				<{foreachelse}>
				arr.push('');
				<{/foreach}>

				var val=$(this).val();
				$.each($('option[value="'+val+'"]'),function(i){
					var data = $(this).attr('data-param');
					eval("data = "+data);
					$('#cat').html(arr[data.type]);
					$('#ad_type').val(data.type);
					if(data.type==3)
					{
						$('#tr1').addClass('hidden');
						$('#tr2').removeClass('hidden');
					}
					else
					{
						$('#tr2').addClass('hidden');
						$('#tr1').removeClass('hidden');
					}
				})


			})
            </script>
		<{elseif $smarty.get.operation=='add_ads' or $smarty.get.operation=='edit_ads' }>
       		<script language="javascript">
			$(function(){
				$('#form').validate({
					errorPlacement: function(error, element){
						element.nextAll('.form-error').append(error);
					},
					rules : {
						name:{
							required:true
						},
						width:{
							required:true
						},
						height:{
							required:true
						},

					},
					messages : {
						name:{
							required:'请填写广告名称',
						},
						width:{
							required:'请填写宽',
						},
						height:{
							required:'请填写高',
						},

					}
				});
			});
			</script>
            <form name="form" id="form" method="post">
            <input name="id" type="hidden" id="id" value="<{$de.ID}>">
            <table class="table table1">
            	<thead>
                    <tr>
                        <th class="partition" colspan="99">新增商品</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
					<td width="100">商品sku码</td>
                    <td>
                    <input name="sku" id="sku" type="text" class="w350" value="<{if $de.sku}><{$de.sku}><{else}><{$smarty.get.sku}><{/if}>"><div id="form-error" class="form-error"><{if $smarty.get.err == -1}>sku码中存在未知商品，请仔细核对sku码<{/if}></div>
                    </td>
                </tr>

                <tr>
                	<td>开始时间</td>
                    <td>
                    <!--<input name="begintime" id="begintime" type="text" class="w350" value="<{$de.group}>">-->
                        <script language="javascript">
                            var cdr = new Calendar("cdr");
                            document.write(cdr);
                            cdr.showMoreDay = true;
                        </script>
                        <input onFocus="cdr.show(this);" class="w160" type="text" name="begintime" id="stime" value="<{if $de.begintime}><{$de.begintime|date_format}><{/if}>">
                    </td>
                </tr>

                <tr>
                	<td>开始结束</td>
                    <td>
                    <!--<input name="endtime" id="endtime" type="text" class="w350" value="<{$de.group}>">-->
                        <input onFocus="cdr.show(this);" class="w160" type="text" name="endtime" id="etime" value="<{if $de.endtime}><{$de.endtime|date_format}><{/if}>">
                 	</td>
                </tr>

                <tr>
                	<td>平台选择</td>
                    <td>
                    <input type="radio" name="platform"  value="1" <{if $de.platform == 1 }>checked<{elseif $de.platform == '' }>checked<{/if}>> PC <br/>
                    <input  type="radio" name="platform"  value="2" <{if $de.platform == 2 }>checked<{/if}>> WAP
                    <div id="form-error" class="form-error"></div>
                </tr>

                <tr>
                	<td>展示位置</td>
                    <td>
                    <!--<input type="radio" name="position"  value="1" <{if $de.position == 1 }>checked<{/if}>> 首页 <br/>
                    <input  type="radio" name="position"  value="2"  <{if $de.position == 2 }>checked<{/if}>> 一级分类-->
                        <select class="ws350" name='position' >
                            <option value='0000'>首页</option>
                            <{foreach item=list from=$des}>
                            <option <{if $de.position==$list.catid }> selected="selected" <{/if}> value="<{$list.catid}>"><{$list.cat}></option>
                            <{foreach item=slist from=$list.scat}>
                            <option <{if $de.position==$slist.catid }> selected="selected" <{/if}> value="<{$slist.catid}>">|__<{$slist.cat}></option>
                            <{foreach item=lists from=$slist.scat}>
                            <option <{if $de.position==$lists.catid }> selected="selected" <{/if}> value="<{$lists.catid}>">|____<{$lists.cat}></option>
                            <{/foreach}>
                            <{/foreach}>
                            <{/foreach}>
                        </select>
                    <div id="form-error" class="form-error"></div>
                    </td>
                </tr> <tr>
                	<td>状态</td>
                    <td>
                    <input type="radio" name="status"  value="1" <{if $de.status == 1 }>checked<{elseif $de.status == '' }>checked<{/if}>> 开启 <br/>
                    <input  type="radio" name="status"  value="2" <{if $de.status == 2 }>checked<{/if}>> 关闭
                    <div id="form-error" class="form-error"></div></td>
                </tr>

                <tr>
                	<td></td>
                    <td>
                    <input class="submit" type="submit" value="提交">
                    <{if $smarty.get.operation == 'add_ads' }>
                    <input name="act" type="hidden"  value="add"/>
                    <{elseif $smarty.get.operation == 'edit_ads' }>
                    <input name="operation" type="hidden"  value="edit_ads"/>
                    <{/if}>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        <{elseif $smarty.get.operation=='ads'}>
        <script type="text/javascript">
        $(function(){
            /* 全选 */
             $('.checkall').click(function(){
                var _self = this;
                $('.checkitem').each(function(){
                    if (!this.disabled)
                    {
                        $(this).attr('checked', _self.checked);
                    }
                });
                $('.checkall').attr('checked', this.checked);
            });
        });
        </script>
        <form action="" method="get">
        <input type="hidden" name="m" value="adv">
        <input type="hidden" name="s" value="adv.php">
        <input type="hidden" name="operation" value="ads">
        <table class="select_table">
            <tbody>
                <tr>
                    <td width="70">广告名称:</td>
                    <td width="260"><input type="text" name="name" class="w250" value="<{$smarty.get.name}>" /></td>
               		<td width="70">广告位类别:</td>
                    <td width="70">
                    <select name="ad_type">
                    <option value="">请选择</option>
                  	<{foreach item=list key=key from=$type}>
                    	<option value="<{$key+1}>" <{if ($key+1)==$smarty.get.ad_type}>selected="selected"<{/if}>><{$list}></option>
                    <{/foreach}>
                    </select>
                    </td>
					<td width="70">所属广告位:</td>
                    <td width="70">
                    <select name="group">
                    <option value="">请选择</option>
                  	<{foreach item=list key=key from=$re}>
                    	<option value="<{$list.ID}>" <{if $list.ID==$smarty.get.group}>selected="selected"<{/if}>><{$list.name}></option>
                    <{/foreach}>
                    </select></td>
                    <td><input type="image" src="../image/admin/search.gif" /></td>
                </tr>
            </tbody>
        </table>
        </form>
        <form action="" method="post">
        <input name="type" type="hidden" id="type" value="<{$smarty.get.type}>">
        <table class="table">
            <tbody>
                <tr class="header partition">
                    <th width="30"></th>
                    <th class="al">广告名称</th>
                    <th>所属广告位</th>
                    <th width="70">类别</th>
                    <th width="70">投入类别</th>
                    <th width="50">地区</th>
                    <th width="90">开始时间</th>
                    <th width="90">结束时间</th>
                    <th width="70">点击率</th>
                    <th width="100">广告主</th>
                    <th width="50">状态</th>
                    <th width="50"></th>
                </tr>
                <{foreach item=list from=$de.list}>
                <tr>
                    <td><input type="checkbox" value="<{$list.ID}>" class="checkitem" name="chk[]"></td>
                    <td class="al"><{$list.name}></td>
                    <td><{$list.title}></td>
                    <td><{foreach item=slist key=key from=$type}><{if $key==$list.ad_type}><{$slist}><{/if}><{/foreach}></td>
                    <td><{$list.catid}></td>
                    <td><{if $list.province||$list.city||$list.area}><a title="<{$list.province}><{$list.city}><{$list.area}>">分站</a><{else}>总站<{/if}></td>
                    <td><{$list.stime|date_format}></td>
                    <td><{$list.etime|date_format}></td>
                    <td><{$list.shownum}></td>
                    <td><{if $list.user}><a href="<{$config.weburl}>/shop.php?uid=<{$list.userid}>" target="_break" ><{$list.user}></a><{else}>管理员<{/if}></td>
                    <td><{if $list.isopen==1}>开启<{else}>关闭<{/if}></td>
					<td>
                    <a href="?m=adv&s=adv.php&operation=edit&editid=<{$list.ID}>&<{$getstr}>"><{$editimg}></a>
					<a onclick="return confirm('确定删除吗');" href="?m=adv&s=adv.php&operation=ads&delid=<{$list.ID}>&<{$getstr}>"><{$delimg}></a>
                    </td>
                </tr>
                <{foreachelse}>
                <tr>
                    <td class="norecord" colspan="99"><i></i><span>暂无符合条件的数据记录</span></td>
                </tr>
                <{/foreach}>
            </tbody>
            <tfoot>
                <tr>
                	<td colspan="3">
                        <input type="checkbox" class="checkall" id="del">
                        <input type="hidden" name="act" value="op" />
                        <input type="submit" name="submit" value="删除" />
                    </td>
                    <td colspan="99"><div class="page"><{$de.page}></div></td>
                </tr>
            </tfoot>
        </table>
        </form>
        <{else}>
		<script type="text/javascript">
        $(function(){
            /* 全选 */
             $('.checkall').click(function(){
                var _self = this;
                $('.checkitem').each(function(){
                    if (!this.disabled)
                    {
                        $(this).attr('checked', _self.checked);
                    }
                });
                $('.checkall').attr('checked', this.checked);
            });
        });
        </script>
        <form action="" method="get">
        <input type="hidden" name="m" value="comactivity">
        <input type="hidden" name="s" value="comactivity.php">
        <table>
            <tbody>
                <tr>
                    <td width="70">商品sku码:</td>
                    <td width="260"><input type="text" name="name" class="w250" value="<{$smarty.get.name}>" /></td>
                    <td><input type="image" src="../image/admin/search.gif" /></td>
                </tr>
            </tbody>
        </table>
        </form>
        <form action="" method="post">
        <input name="type" type="hidden" id="type" value="<{$smarty.get.type}>">
        <table class="table">
            <tbody>
                <tr class="header partition">
                    <th ></th>
                    <th >活动商品</th>
                    <th >开始时间</th>
                    <th >结束时间</th>
                    <th >平台</th>
                    <th >展示位置</th>
                    <th >状态</th>
                    <th >操作</th>
                </tr>
                <{foreach item=list from=$de}>
                <tr align="center">
                    <td><input type="checkbox" value="<{$list.cid}>" class="checkitem" name="chk[]"></td>
                    <!--<td >
                        <{foreach item=lists from=list.product}>
                           <{$lists.name}>
                        <{/foreach}>
                    </td>-->
                    <td ><{$list.sku}></td>
                    <td ><{$list.begintime|date_format:"%Y-%m-%d %H:%M:%S"}></td>
                    <td><{$list.endtime|date_format:"%Y-%m-%d %H:%M:%S"}></td>
                    <td><{if $list.platform == 1 }>PC<{elseif $list.platform ==2 }>WAP<{/if}></td>
                    <td><{if $list.position == 0000 }>首页<{/if}>

                    <{foreach item=res from=$des}>
                        <{if $list.position==$res.catid }> <{$res.cat}> <{/if}>
                        <{foreach item=slist from=$res.scat}>
                        <{if $list.position==$slist.catid }> <{$slist.cat}> <{/if}>
                        <{foreach item=lists from=$slist.scat}>
                        <{if $list.position==$lists.catid }> <{$lists.cat}> <{/if}>
                        <{/foreach}>
                        <{/foreach}>
                    <{/foreach}>
                    </td>
                    <td><{if $list.status == 1 }>开启<{elseif $list.status == 2 }>关闭<{/if}></td>
					<td>
                        <a href="?m=comactivity&s=comactivity.php&operation=edit_ads&editid=<{$list.cid}>&<{$getstr}>"><{$editimg}></a>
                        <a onclick="return confirm('确定删除吗');" href="?m=comactivity&s=comactivity.php&operation=del_ads&chk=<{$list.cid}>&<{$getstr}>"><{$delimg}></a>
                    </td>
                </tr>
                <{foreachelse}>
                <tr>
                    <td class="norecord" colspan="99"><i></i><span>暂无符合条件的数据记录</span></td>
                </tr>
                <{/foreach}>
            </tbody>
            <tfoot>
                <tr>
                	<td colspan="3">
                        <input type="checkbox" class="checkall" id="del">
                        <input type="hidden" name="operation" value="del_ads" />
                        <input type="submit" name="submit" value="删除" />
                    </td>
                    <td colspan="99"><div class="page"><{$page}></div></td>
                </tr>
            </tfoot>
        </table>
        </form>
        <{/if}>
    </div>
</body>
</html>