<style type="text/css">
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
	.altair-container{background-color: #fff;}
	.altair-container img{width: 100%;vertical-align: top;font-size: 0;display: block;}
	.clearfix:after{height: 0;content: "";clear: both;visibility: hidden;display: block;overflow: hidden;}
	.clearfix{*zoom:1;}
	.altair-container i.altair-icon{
		display: inline-block;height: 35px;width: 35px;border-radius: 50%;
	    background: url(image/wap/wap_haitao_icon9.png) center 3px no-repeat;
	    background-size: 75%;background-color: rgba(0,0,0,.5);
	    position: fixed;top: 2%;left: 4%;}
	.mains{height: 0;}
</style>
<div class="altair-container">
	<a href="<{$config.weburl}>"><i class="altair-icon"></i></a>
	<div class="altair-banner">
		<img src="<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-banner.jpg" alt="本期推荐 井田五色腮红系列">
	</div>
	<div class="altair-content"></div>
</div>
<div class="addtop">
	<a class="top" href="javascript:void(0);"></a>
</div>
<script type="text/javascript" src="script/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(function(){
	var list_link=["767","763","773","768","765","770","771"];
	var list_numi=list_link.length;
	for(i=0;i<list_numi;i++){
		$(".altair-content").append("<div>"+
			"<a href='<{$config.weburl}>/?m=product&s=detail&id="+list_link[i]+"'><img src='<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-h"+i+".jpg' alt=''></a>"+
            "<img src='<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-img"+i+".jpg' alt=''>"+
			"</div>");
	}
	$(window).scroll(function(){
		var h = $(document).scrollTop();
		var wHeight=$(window).height();
		if(h>wHeight){
			$(".addtop").show()
			$(".addtop").click(function(){
				$(window).scrollTop(0);
			})
		}else{
			$(".addtop").hide()
		}
	})
})
</script>
<{if $is_wechat}>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var cnf = {
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<{$wechat_share.appId}>',       // 必填，公众号的唯一标识
        timestamp: '<{$wechat_share.timestamp}>', // 必填，生成签名的时间戳
        nonceStr: '<{$wechat_share.nonceStr}>', // 必填，生成签名的随机串
        signature: '<{$wechat_share.signature}>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareQQ','onMenuShareTimeline','onMenuShareWeibo','onMenuShareAppMessage','downloadImage','checkJsApi'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    };
    wx.config(cnf);
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: "蚂蚁海淘全站满300免运费 本期推荐之腮红篇", // 分享标题
            link: location.href, // 分享链接
            imgUrl: "<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-share.jpg", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title:"蚂蚁海淘全站满300免运费", // 分享标题
            desc: "本期推荐之腮红篇", // 分享描述
            link: location.href, // 分享链接
            imgUrl: "<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-share.jpg", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        })

        wx.onMenuShareQQ({
            title: '蚂蚁海淘全站满300免运费', // 分享标题
            desc: '本期推荐之腮红篇', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-share.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '蚂蚁海淘全站满300免运费', // 分享标题
            desc: '本期推荐之腮红篇', // 分享描述
            link: location.href, // 分享链接
            imgUrl: '<{$config.weburl}>/module/act/templates/hd810/wap/image/altair-share.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                /*
                var url = "<{$config.weburl}>/ajax_back_end.php";
                $.post(url,{"uid":'<{$buid}>',"shopid":'<{$smarty.get.uid}>',"type":'1'},function(data){
                })
                */
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })
</script>
<{/if}>