<script type="text/javascript">
function ref(id,type,v)
{	
	var url = 'module/product/ajax_update.php';
	var sj = new Date();
	var pars = 'shuiji=' + sj+'&'+v;
	$.get(url, pars,showResponse);
	function showResponse(originalRequest)
	{
		var tempStr = originalRequest;
		if(tempStr!=''&&type=='rec')
		{
			if(tempStr==1)
			{
				$('#rec2_'+id).hide();
				$('#rec1_'+id).show();
			}
		}
		if(tempStr!=''&&type=='unrec')
		{
			if(tempStr==1)
			{
				$('#rec2_'+id).show();
				$('#rec1_'+id).hide();
			}
		}
	}
}

$(function(){
    /* 全选 */
	 $('.checkall').click(function(){
        var _self = this;
        $('.checkitem').each(function(){
            if (!this.disabled)
            {
                $(this).attr('checked', _self.checked);
            }
        });
        $('.checkall').attr('checked', this.checked);
    });
	$('#del').click(function(){
		if($('.checkitem:checked').length == 0){
			return false;
		}
		var url = "main.php?m=tg&s=admin_tg_list";
		var items = '';
			$('.checkitem:checked').each(function(){
				items += this.value + ',';
		});
		items = items.substr(0, (items.length - 1));
		$.get(url, 'pid=' + items,showResponse);
		function showResponse(originalRequest)
		{
			document.location.reload();
		}
		return false;
	});
});
</script>
<div class="path">
    <div>
    	<a href="main.php?cg_u_type=2">卖家中心</a> <span>&gt;</span> 
        出售中的商品
    </div>
</div>
<div class="main">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="<{if !$smarty.get.statu}>active<{else}>normal<{/if}>"><a href="main.php?m=tg&s=admin_tg_list">出售中的团购商品</a></li>
                <li class="<{if $smarty.get.statu=="3"}>active<{else}>normal<{/if}>"><a href="main.php?m=tg&s=admin_tg_list&statu=3">仓库中的商品</a></li>
                <li class="<{if $smarty.get.statu=='2'}>active<{else}>normal<{/if}>"><a href="main.php?m=tg&s=admin_tg_list&statu=2">违规的商品</a></li>
                <li class="<{if $smarty.get.statu=='1'}>active<{else}>normal<{/if}>"><a href="main.php?m=tg&s=admin_tg_list&statu=1">待审核商品</a></li>
                <li class="normal"><a href="main.php?m=tg&s=admin_tg">团购发布</a></li>
                <li class="search-box">
                    <form method="get">
						<input type="hidden" name="m" value="tg" />
						<input type="hidden" name="s" value="admin_tg_list" />
                        <input type="text" class="w200" placeholder="请输入商品关键字或商家编码" name="key" value="<{$smarty.get.key}>" />
                        <input type="submit" class="btn2" value="搜索" />
                    </form>
                </li>
            </ul>
        </div>
        <table class="table-list-style">
        	<thead>
            <tr>
            	<th width="30"></th>
            	<th width="70"></th>
            	<th>商品名称</th>
                <th width="100">价格</th>
            	<th width="100">库存</th>
            	<th width="100">发布时间</th>
            	<th width="90">操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach item=list from=$re.list}>
            <tr>
            	<th class="tc"><input type="checkbox" value="<{$list.id}>" class="checkitem" name="chk[]"></th>
            	<th colspan="6">商品货号: <{$list.code}> </th>
            </tr>
            <tr> 
                <td></td>
                <td>
                <div class="pic-small">
                    <a target="_blank" href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>">
                    	<img width=60 height=60 src="<{if !$list.pic }><{$config.weburl}>/image/default/nopic.gif<{else}><{$list.pic}>_60X60.jpg<{/if}>" alt="<{$list.pname}>" />
                    </a>
                </div>
                </td>
                <td class="tl" valign="top"><a target="_blank" href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>"><{$list.pname}></a></td>
                <td><{$list.price|number_format:2}></td>
                <td><{$list.amount}></td>
                <td><{$list.uptime|date_format}></td>
                <td>
                
                <{if !$smarty.get.statu}>
                <p><a href="?m=tg&s=admin_tg_list&cstatu=0&pid=<{$list.id}>">下架</a></p>
                <{elseif $smarty.get.statu==3}>
                <p><a href="?m=tg&s=admin_tg_list&cstatu=1&pid=<{$list.id}>">上架</a></p>
                <{/if}>
                
                
                <p><a href="?edit=<{$list.id}>&m=tg&s=admin_tg">编辑</a></p>
                <p><a href="?deid=<{$list.id}>&m=tg&s=admin_tg_list" onClick="return confirm('<{$lang.sure_del}>');">删除</a></p>
                </td>
            </tr>
            <{foreachelse}>
            <tr>
            	<td colspan="20" class="norecord">
                	<i></i><span>暂无符合条件的数据记录</span>	
                </td>
            </tr>
            <{/foreach}>
            </tbody>
            <tfoot>
            <tr>
                <td class="tc"><input type="checkbox" id="delete" class="checkall"></td>
                <td colspan="20">
                <label for="delete" class="btn2">全选</label>
                <a id="del" confirm="您确定要删除吗?" class="btn2" href="javascript:void(0);">删除</a>
                <div class="pagination"><{$re.page}></div>
                </td>
            </tr>
            </tfoot>
        </table>
        
    </div>    
</div>