<link type="text/css" rel="stylesheet" href="<{$config.weburl}>/module/tg/templates/tg.css">
<div class="w">
    <div class="detailnav">
        <{if $smarty.get.key}>
        <strong><a href="?m=product&s=list">全部结果</a></strong><span>
        <{/if}>
        
        <{foreach item=list key=key from=$catname}>
        
        <{if $key==0 && !$smarty.get.key}>
        <strong><a href="?m=tg&id=<{$list}>"><{$list|getName}></a></strong><span>
        <{else}>
         > <a href="?m=tg&id=<{$list}>"><{$list|getName}></a>
        <{/if}>
        
        <{foreachelse}>
        
        <{if !$smarty.get.key}>
        <strong><a href="index.php">首页</a></strong><span>
         > <a href="?m=tg">团购</a>
        <{/if}>
        
        <{/foreach}>
        
        <{if $smarty.get.key}>
         > "<{$smarty.get.key}>"
        <{/if}>
        
        <{if $smarty.get.brand}>
         > <a href="?m=tg&<{$url}>"><{$smarty.get.brand}></a>
        <{/if}>
    </div>
</div>
<div class="w">
	<{if $catfile || $brand || $cat}>
    <div id="select">
    	<{if $cat }>
        <dl class="first">
            <dt>分类：</dt>
            <dd>
                <{assign var=id value=$smarty.get.id}>
                <{foreach item=list from=$cat}>
                <div>
                <a <{if $id==$list.catid}>class="curr"<{/if}> href="<{$config.weburl}>/?m=tg&id=<{$list.catid}>"><{$list.cat}></a>
                </div>
                <{/foreach}>
            </dd>
        </dl>
        <{/if}> 
        <{if $brand }>
        <dl <{if !$cat }>class="first"<{/if}> >
            <dt>品牌：</dt>
            <dd>
                <{assign var=b value=$smarty.get.brand}>
                <div><a <{if $b==""}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&brand=$b":""}>">不限</a></div>
                <{foreach item=list from=$brand}>
                <div>
                <a <{if $b==$list.name}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&brand=$b":""}>&brand=<{$list.name}>"><{$list.name}></a>
                </div>
                <{/foreach}>
            </dd>
        </dl>
        <{/if}>           
        <{foreach item=list key=num from=$catfile}>
        <{assign var=fieldName value=$list.field}>
        <{assign var=s value=$smarty.get.$fieldName}>
        <dl <{if !$brand && !$cat && $num==0 }>class="first"<{/if}> >
            <dt><{$list.field_name}>：</dt>
            <dd>
                <div><a <{if $smarty.get.$fieldName==""}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&$fieldName=$s":""}>">不限</a></div>
                
                <{foreach item=slist from=$list.catItem}>
                    <div><a <{if $smarty.get.$fieldName==$slist.id}>class="curr"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&$fieldName=$s":""}>&<{$list.field}>=<{$slist.id}>"><{$slist.name}></a></div>
                <{/foreach}>
            </dd>
        </dl>
        <{/foreach}>
    </div>
    <{/if}>

    <div class="filter clearfix">
        <div class="fore1 clearfix">
            <div class="order">
                <{assign var=s value=$smarty.get.orderby}>
                <a <{if !$s}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>"><span>默认排序</span></a>
				<a <{if $s==1}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=1"><span>销量</span><b></b></a>
                <a <{if $s==2}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=2"><span>人气</span><b></b></a>
                <a <{if $s==3}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=3"><span>信用</span><b></b></a>
                <a <{if $s==4}>class="current"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=4"><span>最新</span><b></b></a>
                <a <{if $s==5 || $s==6}>class="current <{if $s==5}>up<{/if}>"<{/if}> href="<{$config.weburl}>/?<{$url|replace:"&orderby=$s":""}>&orderby=<{if $s==6 }>5<{else $s==5 }>6<{/if}>"><span>价格</span><b></b></a>
            </div>
            <div class="i-search">
            <form action="<{$config.weburl}>">
            <input name="m" id="m" type="hidden" value="<{$smarty.get.m}>" />
            <input name="s" id="s" type="hidden" value="<{$smarty.get.s}>" />
            <input class="text" type="text" value="<{$smarty.get.keys}>" size="20" name="keys" />
            <input type="submit" value="搜索" />
            </form>
            </div>
            <div class="pages"><{$tg.pages}></div>
            <div class="total">共<strong><{$tg.count}></strong>个商品</div>
        </div>
    </div>
    <div class="itemSearchList">
        <{if $tg.list}>
        <div class="itemSearchResult clearfix">
            <ul class="clearfix">
                <{foreach item=list key=num from=$tg.list}>
                <li <{if ($num+1)%3==0}>class="mr0"<{/if}> >
                    <div class="p-info">
                        <a class="p-img" href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>">  <img height="230" width="280" alt="<{$list.name}>" src="<{$list.pic}>"> </a>
                        <a class="p-name" href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>"><{$list.pname}></a>
                        <p class="p-price">
                        <strong><{$config.money}><{$list.price}></strong>
                        <span>门店价：<{$config.money}><{$list.market_price}></span>
                        </p>
                      <div class="p-shop">
					  <span class="last">已购买<strong><{$list.sales}></strong>件</span>
                      <a href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>">去看看</a>
                      </div>
                    </div>
                </li>
                <{/foreach}>
            </ul>
			<div class="page"><{$tg.page}></div>
        </div>
        <div class="hotTg">
        	<div class="m">
                <div class="mt"><h3>团购排行榜</h3></div>
                <div class="mc">
                 <{insert name="label" type="product" tg='true' temp="tg_list_1" limit=9}>
                </div>
            </div>
        </div>
        <div class="hotTg">
            <script src="<{$config.weburl}>/api/ad.php?id=12"></script>
        </div>
        <{else}>
            <div class="itemsNull">
                <h3>很抱歉，没有找到符合条件的宝贝</h3>
                <p>
                    <em>建议您：</em>
                    <span>1、适当减少筛选条件，可以获得更多结果</span>
                    <span>2、尝试其他关键字</span>
                </p>
            </div>
        <{/if}>
    </div>
</div>
<script>
    $(function(){
        $("#m").val("tg");
        $("#s").val("");
    });
</script>