<table style="background-color:#F3F3F2;font-size:12px;margin:auto;" cellpadding="0" cellspacing="0" width="650">
	<tbody>
		<tr>
			<td>
				<div style="text-align:center;color:#8c8b8b;font-family:Arial, Helvetica, sans-serif;">
					为了您能够正常收到来自[weburl_name]邮件，请将<a href="mailto:[weburl_email]" target="_blank">[weburl_email]</a>添加进您的通讯录
				</div>
				<table style="width:630px;background-color:#FFF;margin:0 10px;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td valign="middle">
								[logo]
							</td>
						</tr>
					</tbody>
				</table>
				<table style="background-color:#CC0B0B;color:#FFF;" cellpadding="0" cellspacing="0" height="33" width="650">
					<tbody>
						<tr>
							<td>
								<img src="[weburl_url]/image/default/message/l.jpg" border="0" height="33" width="28" />
							</td>
							<td style="font-size:14px;font-family:Microsoft YaHei;font-weight:bold;" align="center">
								[menu]
							</td>
							<td>
								<img src="[weburl_url]/image/default/message/r.jpg" border="0" height="33" width="28" />
							</td>
						</tr>
					</tbody>
				</table>
				<table style="margin:0 auto 0;background-color:#FFF;font-family:Verdana;" cellpadding="0" cellspacing="0" width="630">
					<tbody>
						<tr>
							<td style="font-weight:bold;font-size:14px;color:#5b5b5b;">
								尊敬的 <span>[member_name]</span> 您好：
							</td>
						</tr>
						<tr>
							<td style="color:#5B5B5B;font-size:12px;">
								您于 [time] &nbsp;申请验证邮箱。<br />
将链接复制到浏览器地址栏访问:<br />
[link]<br />
若您没有申请过验证邮箱 ，请发邮件至：<a target="_blank" href="mailto:[weburl_email]">[weburl_email]</a> 或致电：[weburl_tel] 。
							</td>
						</tr>
						<tr>
							<td style="color:#5B5B5B;font-size:12px;font-family:Verdana;">
								您之所以收到这封邮件，是因为您曾经注册成为[weburl_name]的用户。<br />
本邮件由[weburl_name]系统自动发出，请勿直接回复！<br />
在购物中遇到任何问题，请点击 <a href="[weburl_url]/help.php" target="_blank">帮助中心</a>。<br />
如果您有任何疑问或建议，请 <a target="_blank" href="[weburl_url]/aboutus.php?msg=1">联系我们</a>。<br />
[weburl_desc]
							</td>
						</tr>
						<tr>
							<td style="font-size:12px;color:#5B5B5B;" align="center" valign="middle">
								Copyright &copy; 2004-2014 [weburl_name] 版权所有
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>