<?xml version="1.0" encoding="utf-8"?>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta charset="utf-8" />
<title><{$shopconfig.hometitle}>触屏版-<{$config.company}></title>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="viewport" media="(device-height: 568px)" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta property="wb:webmaster" content="c51923015ca19eb1">
<link href="<{$config.weburl}>/templates/wap_app/css/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">