<link href="<{$config.weburl}>/templates/wap_app/css/shop.css" rel="stylesheet" type="text/css" />

<{if !$smarty.get.noheader}>
<header>
	<div class="nav-w">
        <section class="nav-s iconfont"><a href="javascript:history.back();"><nav>&#xe60d</nav></a></section>
        <section class="nav-c"><span>所有产品</span></section>
        <section class="nav-e"><{if $custom_cat}><a class="list" id="list" href="javascript:void(0)"><nav>分类</nav></a><{/if}></section>
	</div>
</header>
<{/if}>

<section class="filter clearfix">
	<ul class="clearfix">
    	<{assign var=s value=$smarty.get.orderby}>
        <li <{if !$smarty.get.sort}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product"><span>默认</span></a></li>
        <li <{if $smarty.get.sort=='sell_amount'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=sell_amount"><span>销量</span></a></li>
        <li <{if $smarty.get.sort=='read_nums'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=read_nums"><span>人气</span></a></li>
        <li <{if $smarty.get.sort=='price'}>class="current"<{/if}>><a href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&m=product&sort=price"><span>总价</span></a></li>
    </ul>
</section>
<section class="clearfix">
    <div class="itemSearchResult plist">
    <ul class="list clearfix">
        <{foreach item=list key=key from=$info.list}>
            <li>
                <a title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>">
                <div class="p-pic"><img src="<{$list.pic}>_220X220.jpg" width="98%" alt="<{$list.pname}>" /></div>
                <div class="p-name"><{$list.pname}></div> 
                </a>
                <div class="p-price"><strong><{$config.money}> <{$list.price}></strong></div>
            </li>
        <{/foreach}>
    </ul>
    <div class="page"><{$info.page}></div>
    </div>
    <div class="leftcate hidden">
        <{if $custom_cat }>
        <h2>分类 <a class="remove" href="javascript:void(0)"><nav>取消</nav></a></h2>
        <ul>
        <{foreach item=list from=$custom_cat}>
            <li>
            <a <{if $smarty.get.cat==$list.id}>class="current"<{/if}> class="<{if $list.con}>block_ico<{else}>none_ico<{/if}>" href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$list.id}>" title="<{$list.name}>"><{$list.name}></a>
            <{if $list.con}>
            <{foreach item=lists from=$list.con}>
                <li><a <{if $smarty.get.cat==$lists.id}>class="current"<{/if}> href="shop.php?uid=<{$smarty.get.uid}>&action=product_list&m=product&cat=<{$lists.id}>" title="<{$lists.name}>">&nbsp;<{$lists.name}></a></li>
            <{/foreach}>
            <{/if}>
            </li>
        <{/foreach}>
        </ul>
		<{/if}>
    </div>
</section>
<script src="<{$config.weburl}>/script/jquery-1.4.4.min.js" type="text/javascript"></script>
<script>
$("#list").click(function(){
	window.scroll(0,0);
 	$('.leftcate').show();
	$('.itemSearchResult').hide();
	$('.main').append('<div id="leftmask"></div>')
	$('#leftmask')[0].style.height =$(".main").height()+20;
});
$('.remove').click(function(){
 	$('.leftcate').hide();
 	$('.itemSearchResult').show();
	$('#leftmask').remove();
});
</script>
