<link href="<{$config.weburl}>/templates/wap_app/css/orderdetail.css" rel="stylesheet" type="text/css" />
<{if !$smarty.get.noheader}>
<header>
    <div class="nav-w">
        <section class="nav-s"><a href="<{$config.weburl}>/main.php?m=product&s=admin_buyorder"><nav>全部订单</nav></a></section>
        <section class="nav-c"><span>订单详情</span></section>
        <section class="nav-e"><a href="<{$config.weburl}>/main.php"><nav>我的商城</nav></a></section>
    </div>
</header>
<{/if}>

<div class="order clearfix">
    <div class="list">
        <p>订单状态：<b class="org"><{$de.statu_text}></b></p>
    	<p>订单编号：<{$de.order_id}></p>
        <p>下单时间：<{$de.create_time|date_format:"%Y-%m-%d&nbsp;%H:%M:%S"}></p>
    </div>
	<h2>商品清单</h2>
    
    <div class="item">
   		<div>
        <{foreach item=plist from=$de.product}>
            <dl class="clearfix">
                <dt>
                    <a href="<{$config.weburl}>/?m=product&s=detail&id=<{$plist.pid}><{if $smarty.get.noheader}>&noheader=<{$smarty.get.noheader}><{/if}>">
                        <img height="80" width="80" src="<{if $plist.pic}><{$plist.pic}><{else}>image/default/nopic.gif<{/if}>" />
                    </a>
                </dt>
                <dd>
                    <p class="p-name"><a href="<{$config.weburl}>/?m=product&s=detail&id=<{$plist.pid}>"<{if $smarty.get.noheader}>&noheader=<{$smarty.get.noheader}><{/if}>><{$plist.name}></a></p>
                    <p class="p-price"><strong><{$config.money}><{$plist.price}></strong> X <{$plist.num}></p>
                </dd>
            </dl>
            <{/foreach}>
        </div>
        <div class="bottom">
            <{$lang.logistics}>
            <{if $de.logistics_price==''&&$de.logistics_type==''}>
                <{$lang.spayfee}>
            <{else}>
                <{if $de.logistics_type}>(<{$de.logistics_type}>)<{/if}>:&nbsp;
                <span class="p-price"><strong><{$config.money}> <{$de.logistics_price|number_format:2}></strong></span> 
            <{/if}>
        	<br />
        	<{$lang.pallprice}>:&nbsp;<span class="p-price"><strong><{$config.money}> <{$de.product_price+$de.logistics_price|number_format:2}></strong></span>
        </div>
    </div>
    
    <h2>收货地址</h2>
    <div class="list">
		<p>收货人：<{$de.consignee}></p>
        <p>联系电话：<{$de.consignee_mobile}> <{$de.consignee_tel}></p>
        <p>收货地址：<{$de.consignee_address}></p>
    </div>
    <{if $de.status>=3}>
	<h2>物流信息</h2>
    <div class="list">
		<p>物流名称：<{$de.logistics_name}></p>
        <p>物流单号：<{$de.invoice_no}></p>
    </div>
	<{/if}>
</div>